<style>
    a {
    cursor:pointer
    }
    .description {
        font-size: 8pt;
    }
</style>
<div id="download">
    <table style="margin-top:40px;" border="1" rules="all" cellspacing="0" cellpadding="3">
        <thead>
            <tr style="color: #000066;background-color: #f1f1f1;font-size: 9pt;font-weight: bold;height: 35px;">
                <td style="width:11%">名称</td>
                <td style="width:71%">描述</td>
                <td>免费下载</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ZXing.Net</td>
                <td>ISO8859-1编码DLL<div class="description">ZXing.Net是一个开源.Net类库用于解析多种格式的1D/2D条形码。目标是能够对QR编码、Data Matrix、UPC的1D条形码进行解码。</div></td>
                <td><a>ZXING.NET_ISO8859-1.ZIP</a></td>
            </tr>
            <tr>
                <td>ZXing.Net</td>
                <td>UTF-8编码DLL</td>
                <td><a>ZXING.NET_UTF-8.ZIP</a></td>
            </tr>
            <tr>
                <td>ZXing.Net</td>
                <td>GB2312编码DLL</td>
                <td><a>ZXING.NET_GB2312.ZIP</a></td>
            </tr>
        </tbody>
    </table>
  
</div>