@{
    ViewBag.KeyWords = "电子元器件，元器件采购，电阻，电容，芯片，开发版，仿真器，单孔万能板单面，设备诊断仪器，实验工具及配件，仿真器ST-LINK简介";
    ViewBag.Description = "仿真器ST-LINK（emulator）以某一系统复现另一系统的功能。与计算机模拟系统（Computer Simulation）的区别在于，仿真器致力于模仿系统的外在表现、行为，而不是模拟系统的抽象模型。</div><div>概述</div><div>&nbsp; &nbsp; 仿真器ST-LINK可以替代你的目标系统中的MCU，仿真其运行。 仿真器运行起来和实际的目标处理器一样，但是增加了其它功能，使你能够通过桌面计算机或其它调试界面来观察MCU中的程序和数据，并控制MCU的运行。随着IC和软件集成平台的飞速发展，仿真器也不断赋予新的内容和新的挑战，因为它的发展必须与CPU同步，要想在总线速度为150Mhz 64bit的情况下实现TRACE已经成为不可能。订购热线：13121882225         010-80741878 ";
}
<div class="InnerMainTitle title"><i></i><h2>技术文章</h2></div>
<div class="InnerMainContent">
    <div class="commontext ariSubCon" id="ariSubCon">
        <div class="ariSubCon_2" id="spanNewsTitle">
            <span class=" yzeditor" id="ctl00_ariSubCon_ArticleTitleLabel"><h1>仿真器ST-LINK简介</h1></span>
        </div>
        <div class="ariSubCon_3">
            <span id="ctl00_ariSubCon_ArticleInfoLabel" style="-ms-word-break: normal;"><div class="yizbdshare"><div class="bdsharebuttonbox"><a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a></div></div><div>仿真器ST-LINK简介<br>&nbsp; &nbsp; 仿真器ST-LINK（emulator）以某一系统复现另一系统的功能。与计算机模拟系统（Computer Simulation）的区别在于，仿真器致力于模仿系统的外在表现、行为，而不是模拟系统的抽象模型。</div><div>概述</div><div>&nbsp; &nbsp; 仿真器ST-LINK可以替代你的目标系统中的MCU，仿真其运行。 仿真器运行起来和实际的目标处理器一样，但是增加了其它功能，使你能够通过桌面计算机或其它调试界面来观察MCU中的程序和数据，并控制MCU的运行。随着IC和软件集成平台的飞速发展，仿真器也不断赋予新的内容和新的挑战，因为它的发展必须与CPU同步，要想在总线速度为150Mhz 64bit的情况下实现TRACE已经成为不可能。</div><div>单片机仿真器的作用</div><div>&nbsp; &nbsp; 单片机仿真器是一种在电子产品开发阶段代替单片机芯片进行软硬件调试的开发工具。配合集成开发环境使用仿真器可以对单片机程序进行单步跟踪调试，也可以使用断点、全速等调试手段，并可观察各种变量、RAM及寄存器的实时数据，跟踪程序的执行情况。同时还可以对硬件电路进行实时的调试。利用单片机仿真器可以迅速找到并排除程序中的逻辑错误，大大缩短单片机开发的周期。在现场只利用烧录器反复烧写单片机，通过肉眼观察结果进行开发的方法大大增加了调试的难度，延长了整个开发周期，并且不容易发现程序中许多隐含的错误，特别对于单片机开发经验不丰富的初学者来说更加困难，由此可见，单片机仿真器单片机系统开发中发挥着重要的作用。<br><br><div>尊敬的客户：</div><div><br></div><div>　　本公司有友邦活性焊锡丝、TNY255PN芯片、红外测温仪FLUK产品，您可以通过网页拨打本公司的服务**了解更多产品的详细信息，至善至美的服务是我们永无止境的追求，欢迎新老客户放心选购自己心仪产品，我们将竭诚为您服务！</div></div><div class="datumrelate">上一篇：<a href="@Url.Action("Technology",new { ID= "红外测温仪FLUK的产品特点" })">红外测温仪FLUK的产品特点</a><br>下一篇：<a href="@Url.Action("Technology",new { ID= "红外测温仪技术参数" })">红外测温仪技术参数</a></div></span>
        </div>
    </div>
</div>