
<div class="InnerMainTitle title"><i></i><h2>技术文章</h2></div>
<div class="InnerMainContent">
    <div class="commontext ariSubCon" id="ariSubCon">
        <div class="ariSubCon_2" id="spanNewsTitle">
            <span class=" yzeditor" id="ctl00_ariSubCon_ArticleTitleLabel"><h1>工业4.0与互联网:4.0时代IT技术厂商大</h1></span>
        </div>
        <div class="ariSubCon_3">
            <span id="ctl00_ariSubCon_ArticleInfoLabel" style="-ms-word-break: normal;">
                <div class="yizbdshare"><div class="bdsharebuttonbox"><a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a></div></div><p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    3月22日消息，2015中国(深圳)IT领袖峰会于今日在深圳正式开幕。今日下午，德国科学院院士张建伟，汉能投资集团创始人陈宏，IBM全球高级副总裁王阳，摩托罗拉系统(中国)有限公司董事长兼总裁蒋浩，世纪互联宽带数据中心有限公司总裁孟璞，库卡机器人(上海)有限公司首席执行官孔兵，A8新媒体集团董事局主席刘晓松进行“工业4.0与互联网”主题论坛。
                </p>
                <span style="font: 14px/normal Verdana, Arial, 微软雅黑, 宋体; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; float: none; display: inline !important; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">本文引用地址：</span>http://www.eepw.com.cn/article/271471.htm<span style="font: 14px/normal Verdana, Arial, 微软雅黑, 宋体; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; float: none; display: inline !important; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;"></span>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    吴鹰：什么是工业4.0?它的核心是什么?
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    张建伟：在德国知道工业4.0还不如中国的多
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    德国科学院院士张建伟表示，工业4.0在全世界不是一个众所周知的概念。工业4.0概念在德国政府支持下，由德国工程院和德国几家公司提出来的。在德国知道工业4.0的可能还不如中国知道工业4.0的多。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    张建伟表示，1.0就是用蒸汽机、机械装置进行生产。2.0就是用电气、流水线，以福特公司为代表的2.0生产。3.0实际上是属于我们每个生产单元都可以来编程，现在4.0实际上就是我们现在到了一个时代，来把工业互联网、人人的互联网、云计算、机器人、3D打印技术融合在一块，然后运用最新的算法来整合整个的生产过程，或者改变整个生产流程。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    主持人数字中国联合会主吴鹰总结，工业4.0牵扯到很多东西，核心是智能化、数据化、去人工化，提高效率、降低成本。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    吴鹰：谈移动互联网、大数据都过时了?现在进入工业4.0时代?
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    张建伟：媒体寻找风口推吸引眼球概念
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    张建伟分析，这个可能是从媒体方面要寻找风口，说一些使大家吸引眼球的概念。但是实际上如果把工业4.0分解起来，我们需要很多很多新的技术，工业4.0是整个非常重要的概念，是一个里程碑，如果实现这个里程碑还需要很多很多技术。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    他谈到硬件软件化、软件硬件化，对IT来讲，加上生产、加上机器人实际上往硬方向走，从生产角度我们就是把硬件再综合智能、综合通讯、综合人工智能，使得生产更前沿化，实际上IT、生产在碰撞之间可以产生很多商业的机会。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    吴鹰：有机器人替代工人是趋势，以后完全不用人了吗?
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    孔兵：今天所谓自动化还是硬自动化柔性不足
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    库卡机器人(上海)有限公司首席执行官孔兵认为，这要从几个方面来看。第一个，我们讲到工业4.0，实际上是一个发展的概念。今天所谓自动化还是硬自动化，柔性不是很足。车型可以选，但是就几款，今后可以有几百款、上千款。产品质量、跟踪这是一个纵向的，从这一点来讲，希望越自动化越好。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    中国从IT来讲，整个发展现状中国世界排名第二位，我们有可能结合工业4.0，整个智能化生产，实现弯道超车，这个是对IT行业来讲是一个很大的机遇。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    吴鹰：现在世纪互联宽带数据中心有限公司总裁孟璞之先生谈谈对工业4.0的看法。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    孟璞：相比于工业4.0 更喜欢互联网+
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    世纪互联宽带数据中心有限公司总裁孟璞表示，还是比较喜欢总理提出的互联网+。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    他表示，服务行业做IT的能够结合工厂，从工厂制造、从模块化、精细化管理投放到服务行业，这样软硬结合起来，作为软的互联网服务行业，能够学习到工业制造行业好的东西，另外一方面也把现代互联网行业、互联网公司对制造业一些需求也能够更直接带给制造企业，这个是他的想法，也是目前世纪互联做的一点尝试。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    吴鹰：谢谢孟璞。蒋浩，孟璞是你摩托罗拉的同事。你觉得他讲的东西靠谱吗?
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    蒋浩：工业4.0时代IT的技术厂商大有所为
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    摩托罗拉系统(中国)有限公司董事长兼总裁蒋浩认为，不管是工业几点零，都离不开IT。同时他觉得互联网还需要不断升级、不断提高，特别是对于企业级的应用。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    据他观察，工业4.0实际上包括了智能工厂、智能制造包括智能物流这方面需求，而这方面需求恰恰是我们IT的技术能够大有所为的，比如我们在企业级专网里面，要保证各种机器人、智能化生产流程、生产设备。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    吴鹰：刘晓松是做音乐的，你对工业4.0是什么样的认识，你是研究过还是来凑热闹?
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    刘晓松：4.0后最显著的意义是用户可以参与到制造环节
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    A8新媒体集团董事局主席刘晓松笑称，他基本上就是打酱油，我也不知道为什么分到这个论坛来。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    刘晓松表示，没有足够的智能化、信息化，无人工厂是没有办法做的。到了现在这个时间点，是可以真正把制造和服务更多融合起来。4.0后，用户可以参与到制造环节，这个意义就非常大。4.0第一次能够看到很明显效果一定是个性化定制这件事情。互联网已经发展到用户权力很大，用户可以选择要什么产品。可能今天是made in china，未来是made by 吴鹰。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    吴鹰：IBM王阳先生，你对工业4.0有什么看法?
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    王阳：工业4.0所有产品都必须要模块化并自动组装
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    IBM全球高级副总裁王阳表示，工业4.0并不是说什么人假想出来的。工业4.0与互联网，因为互联网的发生，才有这么多的B2C，我们零售在电子商务的发生。电子商务平台出现后，消费者需求得到非常大的触发，每个人都希望有个性化的服务。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    王阳觉得，工业4.0的话，所有产品都必须要模块化后面然后进行自动组装，这在软件行业是非常容易理解的。将来网上API复杂的多得多，要组装一个应用，只要在后面用流程把它动态串联起来就可以了，而且根据大数据来转弯，根据需求是很早就提出来。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    吴鹰：如果投资部门想投的话，汉能有没有已经想投的地方?
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    陈宏：工业4.0跟互联网距离还很远在小领域投资
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    汉能投资集团创始人陈宏表示，今天互联网跟工业接触其实蛮难的，第一，我们做工业这拔人，对互联网这个技术还不是太理解，还在学习。第二，做互联网这拔人正在做第一件事，走向O2O、产业互联网跟消费服务相关的这一段，这部分市场巨大。他在忙这些。工业4.0跟互联网有可以聊到一起的，但是肯定不是主流，肯定是刚刚开始。
                </p>
                <p style="font: 16px/30px Verdana, Arial, 微软雅黑, 宋体; margin: 0px; padding: 12px 0px; border: 0px currentColor; text-align: left; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                    从投资和创业角度来讲，我有一些想法。可能意见跟各位不一样。工业4.0跟互联网稍微距离还是蛮远。在小领域肯定有投资的，但是要宏观的，还有一段路要走。
                </p><div class="datumrelate">上一篇：<a href="@Url.Action("Technology",new { ID= "电子元器件的识别(图)" })">电子元器件的识别(图)</a><br>下一篇：<a href="@Url.Action("Technology",new { ID= "2015慕尼黑上海电子展" })">2015慕尼黑上海电子展</a></div>
            </span>
        </div>
    </div>
</div>