
<div class="InnerMainTitle title"><i></i><h2>技术文章</h2></div>
<div class="InnerMainContent">
    <div class="commontext ariSubCon" id="ariSubCon">
        <div class="ariSubCon_2" id="spanNewsTitle">
            <span class=" yzeditor" id="ctl00_ariSubCon_ArticleTitleLabel"><h1>红外测温仪FLUK的原理介绍</h1></span>
        </div>
        <div class="ariSubCon_3">
            <span id="ctl00_ariSubCon_ArticleInfoLabel" style="-ms-word-break: normal;">
                <div class="yizbdshare"><div class="bdsharebuttonbox"><a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a></div></div>&nbsp; &nbsp; 红外测温仪FLUK由光学系统、光电探测器、信号放大器及信号处理、显示输出等部分组成。光学系统汇聚其视场内的目标红外辐射能量，视场的大小由测温仪的光学零件及其位置确定。红外能量聚焦在光电探测器上并转变为相应的电信号。该信号经过放大器和信号处理电路，并按照仪器内疗的算法和目标发射率校正后转变为被测目标的温度值。<div>&nbsp; &nbsp; 在自然界中，一切温度高于绝对零度的物体都在不停地向周围空间发出红外辐射能量。物体的红外辐射能量的大小及其按波长的分布 —— 与它的表面温度有着十分密切的关系。因此，通过对物体自身辐射的红外能量的测量，便能准确地测定它的表面温度，这就是红外辐射测温所依据的客观基础。</div><div>&nbsp; &nbsp; 红外测温仪FLUK的原理黑体是一种理想化的辐射体，它吸收所有波长的辐射能量，没有能量的反射和透过，其表面的发射率为 1。但是，自然界中存在的实际物体，几乎都不是黑体，为了弄清和获得红外辐射分布规律，在理论研究中必须选择合适的模型，这就是普朗克提出的体腔辐射的量子化振子模型，从而导出了普朗克黑体辐射的定律，即以波长表示的黑体光谱辐射度，这是一切红外辐射理论的出发点，故称 黑体辐射定律。所有实际物体的辐射量除依赖于辐射波长及物体的温度之外，还与构成物体的材料种类、制备方法、热过程以及表面状态和环境条件等因素有关。</div><div>&nbsp; &nbsp; 因此，为使黑体辐射定律适用于所有实际物体，必须引入一个与材料性质及表面状态有关的比例系数，即发射率。该系数表示实际物体的热辐射与黑体辐射的接近程度，其值在零和小于1的数值之间。</div><div>
                    &nbsp; &nbsp; 根据辐射定律，只要知道了材料的发射率，就知道了任何物体的红外辐射特性。影响发射率的主要因素在：材料种类、表面粗糙度、理化结构和材料厚度等。当用红外辐射测温仪测量目标的温度时首先要测量出目标在其波段范围内的红外辐射量，然后由测温仪计算出被测目标的温度。单色测温仪与波段内的辐射量成比例；双色测温仪与两个波段的辐射量之比成比例。<br><p class="MsoNormal"><span style="font-family: 宋体; mso-ascii-theme-font: minor-fareast; mso-fareast-font-family: 宋体; mso-fareast-theme-font: minor-fareast; mso-hansi-theme-font: minor-fareast;">尊敬的客户：<br><span lang="EN-US"><o:p></o:p></span></span><span style="font-family: 宋体;">&nbsp; &nbsp; 感谢您关注我们的产品，</span><font face="宋体">本公司除了有此产品介绍以外，还有仿真器ST-LINK，雷泰ST20，混合域示波器MDO3000等等的介绍，您如果对我们的产品有兴趣，欢迎来电咨询。谢谢</font><span lang="EN-US" style="font-family: 宋体;">!<o:p></o:p></span></p>
                    <br type="_moz"><br>
                </div><div class="datumrelate">上一篇：<a href="@Url.Action("Technology",new { ID= "红外测温仪在设备故障诊断时的使用" })"> 红外测温仪在设备故障诊断时的使用</a><br>下一篇：<a href="@Url.Action("Technology",new { ID= "电子元器件的识别(图)" })">电子元器件的识别(图)</a></div>
            </span>
        </div>
    </div>
</div>