
<div class="InnerMainTitle title"><i></i><h2>技术文章</h2></div>
<div class="InnerMainContent">
    <div class="commontext ariSubCon" id="ariSubCon">
        <div class="ariSubCon_2" id="spanNewsTitle">
            <span class=" yzeditor" id="ctl00_ariSubCon_ArticleTitleLabel"><h1>红外测温仪技术参数</h1></span>
        </div>
        <div class="ariSubCon_3">
            <span id="ctl00_ariSubCon_ArticleInfoLabel" style="-ms-word-break: normal;"><div class="yizbdshare"><div class="bdsharebuttonbox"><a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a></div></div>&nbsp; &nbsp; &nbsp;红外测温仪的测温原理是将物体（如钢水）发射的红外线具有的辐射能转变成电信号，红外线辐射能的大小与物体（如钢水）本身的温度相对应，根据转变成电信号大小，可以确定物体（如钢水）的温度。<div><br></div><div>红外测温仪技术参数：</div><div><br></div><div>（一）红外测温仪正常工作条件：</div><div><br></div><div>1、环境温度： 10~40摄氏度</div><div><br></div><div>2、相对温度： 小于等于85%</div><div><br></div><div>3、电 源： DC3V(2节AA电池）</div><div><br></div><div>（二）基本尺寸： 159mmX89mmX38mm(长x宽x高）</div><div><br></div><div>（三）重 量： 220g</div><div><br></div><div>（四）显示分辩率： 0.1摄氏度</div><div><br></div><div>（五）测量范围： 额温 30.0~42.0摄氏度</div><div><br></div><div>体温0~110摄氏度</div><div><br></div><div>（六）消耗功率： 小于等于50mw</div><div><br></div><div>（七）测温误差： 0.3摄氏度</div><div><br></div><div>（八）测量时间： 小于等于0.5秒</div><div><br></div><div>（九）测量距离： 50—100mm</div><div><br></div><div>（十）自动关机时间：6秒</div><div><br></div><div>&nbsp; &nbsp; &nbsp;除了以上产品外，公司同时还供应有仿真器ST-LINK、混合域示波器MDO3000等产品，我们公司具备有最实战的技术,专业的运营团队,为您创造以用户体验为前提的服务，服务的至善至美是我们永无止境的追求。因为以民为本，所以值得信赖；因为专业专职，所以值得选择.以上信息仅供参考，详情请致电相关工作人员为您解答。</div><div class="datumrelate">上一篇：<a href="@Url.Action("Technology",new { ID= "仿真器ST-LINK简介" })">仿真器ST-LINK简介</a><br>下一篇：<a href="@Url.Action("Technology",new { ID= "磁性传感器的发展趋势" })">磁性传感器的发展趋势</a></div></span>
        </div>
    </div>
</div>