@{
    ViewBag.KeyWords = "电子元器件，元器件采购，电阻，电容，芯片，开发版，仿真器，单孔万能板单面，设备诊断仪器，实验工具及配件，红外测温仪FLUK的结构与原理";
    ViewBag.Description = "红外测温仪FLUK由光学系统、光电探测器、信号放大器及信号处理、显示输出等部分组成。光学系统汇聚其视场内的目标红外辐射能量，视场的大小由测温仪的光学零件及其位置确定。红外能量聚焦在光电探测器上并转变为相应的电信号。该信号经过放大器和信号处理电路，并按照仪器内疗的算法和目标发射率校正后转变为被测目标的温度值。订购热线：13121882225         010-80741878 ";
}
<div class="InnerMainTitle title"><i></i><h2>技术文章</h2></div>
<div class="InnerMainContent">
    <div class="commontext ariSubCon" id="ariSubCon">
        <div class="ariSubCon_2" id="spanNewsTitle">
            <span class=" yzeditor" id="ctl00_ariSubCon_ArticleTitleLabel"><h1>红外测温仪FLUK的结构与原理</h1></span>
        </div>
        <div class="ariSubCon_3">
            <span id="ctl00_ariSubCon_ArticleInfoLabel" style="-ms-word-break: normal;"><div class="yizbdshare"><div class="bdsharebuttonbox"><a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a></div></div><span style="font-size: 12pt;">&nbsp;　　<strong>红外测温仪FLUK</strong>由光学系统、光电探测器、信号放大器及信号处理、显示输出等部分组成。光学系统汇聚其视场内的目标红外辐射能量，视场的大小由测温仪的光学零件及其位置确定。红外能量聚焦在光电探测器上并转变为相应的电信号。该信号经过放大器和信号处理电路，并按照仪器内疗的算法和目标发射率校正后转变为被测目标的温度值。</span><div><span style="font-size: 12pt;">　　红外测温仪FLUK是利用红外探测器、光学成像物镜和光机扫描系统（先进的焦平面技术则省去了光机扫描系统）接受被测目标的红外辐射能量分布图形反映到红外探测器的光敏元上，在光学系统和红外探测器之间，有一个光机扫描机构（焦平面热像仪无此机构）对被测物体的红外热像进行扫描，并聚焦在单元或分光探测器上，由探测器将红外辐射能转换成电信号，经放大处理、转换或标准视频信号通过电视屏或监测器显示红外热像图。这种热像图与物体表面的热分布场相对应；实质上是被测目标物体各部分红外辐射的热像分布图由于信号非常弱，与可见光图像相比，缺少层次和立体感，因此，在实际动作过程中为更有效地判断被测目标的红外热分布场，常采用一些辅助措施来增加仪器的实用功能，如图像亮度、对比度的控制，实标校正，伪色彩描绘等技术。</span></div><div><span style="font-size: 12pt;"><br></span></div><div><span style="font-size: 12pt;"><br></span></div><div><span style="font-size: 12pt;">尊敬的客户：</span></div><div><span style="font-size: 12pt;">　　您好，我司致力为广大用户提供高品质产品、完整的解决方案和优质的技术服务。主要产品有ok335xd，友邦活性焊锡丝，红外测温仪FLUK，仿真器ST-LINK，黑金开发板，混合域示波器MDO3000，TNY255PN芯片，飞思卡尔MAPS，磁性传感器，雷泰ST20等等。您可以通过网页拨打本公司的服务**了解更多产品的详细信息，至善至美的服务是我们永无止境的追求，欢迎新老客户放心选购自己心仪产品，我们将竭诚为您服务！</span></div><div><br></div><div class="datumrelate">上一篇：<a href="javascript:void(0)">暂无</a><br>下一篇：<a href="@Url.Action("Technology",new { ID= "红外测温仪FLUK的结构与原理" })">混合域示波器MDO3000仪器分类</a></div></span>
        </div>
    </div>
</div>