################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/nzw/Views/Home/硬件配置.cshtml
/.vs/nzw/v15/Server/sqlite3/db.lock
/.vs/nzw/v15/sqlite3/db.lock
