@{
    Layout = null;
    string keyword = ViewBag.keyword;
}
<html>
<head>
    <title>电子产品检索—北京中泰祥和科技有限公司</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="中泰祥和，电子产品，电子元器件，机房，网线，水晶头，插座" />
    <meta name="description" content="电子产品检索是北京中泰祥和科技有限公司旗下囊括各大电子商城机器自家旗下各类元器件综合检索网站，立足于为用户提供高性价比产品！" />
</head>
<body>


    @if (string.IsNullOrEmpty(keyword))
    {
        <div style="text-align:center;padding-top:10%;">
            <img src="~/Images/logo/zgztxh_small.png" style="height:110px" />
            <form method="get" action="">
                <input style="width:480px!important;height:50px;margin:auto;" placeholder="请输入电子元器件/产品名称" name="keyword" type="text" />
                <input style="height:50px;background-color:#771818;color:white;font-weight:300;border:0;width: 120px;" type="submit"  value="中 泰 检 索" />
            </form>
        </div>
    }
    else
    {
        <div style="width:100%;height:100%;border:0;">@Html.Raw(ViewBag.content)</div>
    }
        <footer style="bottom:0px;position:absolute;margin:auto;width:99%;">
            <p style="text-align:center">
                Copyright@("@") 2003 -  @DateTime.Now.Year   &nbsp;&nbsp;&reg; 北京中泰祥和科技有限公司 &nbsp; &nbsp;
                京ICP备17056601号 &nbsp;&nbsp;
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11011202000895" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                    <img src="~/Images/logo/备案图标.png" style="float:left;" />
                    京公网安备 11011202000895号
                </a>
            </p>
        </footer>
</body>
</html>