@{
    ViewBag.KeyWords = "电子元器件，元器件采购，电阻，电容，芯片，开发版，仿真器，单孔万能板单面，设备诊断仪器，实验工具及配件，中泰祥和商城";
    ViewBag.Description = "中泰祥和商城自创立以来，中泰祥和商城就一直坚守着“为科研，教育提供物美价廉”的理念，在服务上，中泰祥和商城以“1片起卖，产品与价格都绝对透明”为目标，首次突破行业的传统底线，真正做到1片起卖、送货上门，争取做到从厂家直接到客户。。订购热线：13121882225         010-80741878 ";
}
<div class="InnerMainTitle title"><i></i><h2>公司新闻</h2></div>
<div class="InnerMainContent">
    <div class="commontext aiSubCon" id="aiSubCon">
        <div class="aiSubCon_2" id="spanNewsTitle">
            <span id="ctl00_aiSubCon_AfficheTitleLabel"><h1>中泰祥和商城（www.buy.zgztxh.com）</h1></span>
        </div>
        <div class="aiSubCon_3">
            <span class=" yzeditor" id="ctl00_aiSubCon_AfficheInfoLabel" style="-ms-word-break: normal;">
                <div class="yizbdshare"><div class="bdsharebuttonbox"><a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a></div></div>&nbsp;
                <h1 id="artibodyTitle" style="border-width: 0px 0px 1px; font: 20px/35px 黑体; margin: 0px; padding: 0px; height: 35px; text-align: center; color: rgb(3, 0, 92); text-transform: none; text-indent: 0px; letter-spacing: normal; overflow: hidden; word-spacing: 0px; border-bottom-color: rgb(200, 216, 242); border-bottom-style: solid; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(245, 248, 253); -webkit-text-stroke-width: 0px;">
                    一个顽童机器人背后的高科技
                </h1>
                <div class="artInfo" style="font: 12px/14px Arial, Helvetica, sans-serif; margin: 0px; padding: 10px 0px 0px; border: 0px currentColor; text-align: center; color: rgb(0, 0, 0); text-transform: none; text-indent: 0px; letter-spacing: normal; overflow: hidden; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(245, 248, 253); -webkit-text-stroke-width: 0px;">
                    <span id="art_source">http://www.sina.com.cn</span>&nbsp;&nbsp;<span id="pub_date">2008年08月27日08:06</span>&nbsp;&nbsp;<span class="linkRed02">长沙晚报</span>
                </div>
                <div class="blkContainerSblkCon" id="artibody" style="font: 14px/23px Simsun; margin: 15px 0px 0px; padding: 0px; border: 0px currentColor; color: rgb(0, 0, 0); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(245, 248, 253); -webkit-text-stroke-width: 0px;">
                    <p style="margin: 15px 0px; padding: 0px; border: 0px currentColor; line-height: 23px; font-size: 14px;">

                    </p>
                    <center style="font-size: 12px;">
                        <span class="f12">
                            <table align="center" class="ke-zeroborder" style="margin: 0px; padding: 0px;" border="0" cellspacing="4" cellpadding="1">
                                <tbody>
                                    <tr>
                                        <td align="middle" valign="top" style="margin: 0px; padding: 0px; font-size: 12px;">
                                            <img style="margin: 0px; padding: 0px; border: 1px solid rgb(0, 0, 0);" alt="一个顽童机器人背后的高科技" src="http://i2.sinaimg.cn/dy/o/2008-08-27/052bb0ebcd706e785df24a9bdd79aa63.jpg" border="1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="middle" valign="top" style="margin: 0px; padding: 0px; font-size: 12px;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </span>
                    </center>
                    <p style="margin: 15px 0px; padding: 0px; border: 0px currentColor; line-height: 23px; font-size: 14px;">
                        机器人展示电子元器件的神奇魅力，这个秘密就在白色背包里。刘守军 摄
                    </p>
                    <p style="margin: 15px 0px; padding: 0px; border: 0px currentColor; line-height: 23px; font-size: 14px;">
                        个人电脑、移动电话、消费电子产品……装配我们日常生活的电子用品正在发生日新月异的变化。而支撑这些变化的就是隐藏在电子用品中、在其电路基板上不断自我变革的电子元器件。日前，一个从日本来到长沙的村田顽童机器人就向大家展示了电子元器件的神奇魅力。
                    </p>
                    <p style="margin: 15px 0px; padding: 0px; border: 0px currentColor; line-height: 23px; font-size: 14px;">
                        <strong>骑车技术堪比奥运自行车冠军</strong>
                    </p>
                    <p style="margin: 15px 0px; padding: 0px; border: 0px currentColor; line-height: 23px; font-size: 14px;">
                        机器人可以干什么，走路？来一段简短的交流？做几个简单动作？远不止这些。日新月异的高新技术的发展，赋予了机器人更多技能。日前，在日本村田制作所联手上海庆翌电子有限公司在长沙举办的“电子元件技术交流会”上，机器人村田顽童就带着他的自行车表演了一番高超的自行车技术。
                    </p>
                    <p style="margin: 15px 0px; padding: 0px; border: 0px currentColor; line-height: 23px; font-size: 14px;">
                        村田顽童是村田制作所自主开发的世界惟一自行车型机器人，一个50厘米高、背着长方形背包、脚踏自行车的白色机器人。它的出现引起了现场人员的极大兴趣。技术人员通过电脑发出了一系列指令，村田顽童便脚踩自行车，开始了缓慢前行，动作娴熟、姿势优美，丝毫不亚于一个普通人的骑车水平。不仅如此，村田顽童还能进行倒退行驶，车身把持得稳稳当当，慢悠悠地向后行驶。随后，村田顽童又被放置在一个几乎与自行车轮胎等宽的平衡木上，大秀它的高超车技：从平衡木上轻松驶过；在最难的“S”型轨道上，通过眼部道路自动识别系统，灵巧地绕着轨道驶向弯道终点。技术人员说，它的骑车水平可能比奥运会上自行车比赛冠军还“牛”。
                    </p>
                    <p style="margin: 15px 0px; padding: 0px; border: 0px currentColor; line-height: 23px; font-size: 14px;">
                        是什么技术让村田顽童能做到这些一般人难以做到的事情呢？村田制作所工程师纵连喜揭露了它背后的秘密。他说，村田顽童之所以能在两轮自行车上保持平衡，得益于他们公司研发的可保证在停止时不摔倒的陀螺传感器。此外，村田顽童身上还集中了不少村田制作所研制的高新技术与电子元器件，如传送、接受命令的蓝牙模块，用于探路的眼部摄像机、超声波传感器，以及独石陶瓷电容器、陶瓷振荡子、负温度系数热敏电阻、微调电位器等多种电子元器件。村田制作所先进的传感器和控制技术不但让村田顽童梦想成真，也将帮助我们在自动化控制、通信、车载电子、线路设计等领域实现无限可能。
                    </p>
                    <p style="margin: 15px 0px; padding: 0px; border: 0px currentColor; line-height: 23px; font-size: 14px;">
                        <strong>电子产品离不开电子元器件</strong>
                    </p>
                    <p style="margin: 15px 0px; padding: 0px; border: 0px currentColor; line-height: 23px; font-size: 14px;">
                        据纵连喜透露，电子元器件的应用前景广泛。移动、汽车电子、计算机、数字家电等都是他们非常看好的领域。
                    </p>
                    <p style="margin: 15px 0px; padding: 0px; border: 0px currentColor; line-height: 23px; font-size: 14px;">
                        “手机越来越成为时尚消费品。你发现最近未附带鞭状天线的移动电话越来越多了吗？并不是说天线消失了，而是内置的小型陶瓷块担负了天线的作用。”纵连喜表示，移动领域的增长空间很大，全球的移动电话用户已经突破10亿人大关，目前仍在急速地持续增长。除了面向电话、电子邮件外，移动技术还面向能够接收导航系统及地面数字广播电视的多功能通讯工具，村田制作所正致力于抢占这一技术开发的最前端。另外，高速化、大容量化、多功能化、小型化、低耗电的电子元器件，不断加入到计算机内部，推动着计算机的发展。而数码相机等广泛使用的数码产品也日益向方便、高品位发展，电子元器件在其中发挥着关键作用。
                    </p>
                    <p style="margin: 15px 0px; padding: 0px; border: 0px currentColor; line-height: 23px; font-size: 14px;">
                        <strong>湖南电子制造前景喜人</strong>
                    </p>
                    <p style="margin: 15px 0px; padding: 0px; border: 0px currentColor; line-height: 23px; font-size: 14px;">
                        作为一家世界领先的综合电子元器件制造商，创立于日本的村田制作所旗下的电子元器件产品涵盖了个人电脑、移动电话、汽车、家电产品等众多电子科技领域，通过不断提供新的技术与解决方案，带来了电子产品的一次次变革。
                    </p>
                    <p style="margin: 15px 0px; padding: 0px; border: 0px currentColor; line-height: 23px; font-size: 14px;">
                        为什么选择湖南举行“电子元件技术交流会”？对记者的疑问，纵连喜表示，湖南的电子制造发展较快，规模正逐步壮大。2007年，湖南规模以上电子信息设备制造业实现增加值49.65亿元，比2000年增长3.65倍；2007年，全省电子信息设备制造业完成主营业务收入188.8亿元，比上年增长27.5%，比2000年增长2.22倍。此外，电子信息设备制造业开始由沿海向内地缓慢转移。此次“电子元件技术交流会”主要目的是在湖南地区搭建一个新的交流平台，共同推进湖南电子制造业的发展。
                    </p>
                </div>
                <p>
                    <span style="color: black; font-size: 10.5pt;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </p>
                <h1 id="artibodyTitle" style="border-width: 0px 0px 1px; font: 20px/35px 黑体; margin: 0px; padding: 0px; height: 35px; text-align: center; color: rgb(3, 0, 92); text-transform: none; text-indent: 0px; letter-spacing: normal; overflow: hidden; word-spacing: 0px; border-bottom-color: rgb(200, 216, 242); border-bottom-style: solid; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(245, 248, 253); -webkit-text-stroke-width: 0px;">
                    一个顽童机器人背后的高科技
                </h1>
            </span><div class="datumrelate">上一篇：<a href="@Url.Action("News",new { ID="儒卓力在中国、香港和台湾设立分公司"})">儒卓力在中国、香港和台湾设立分公司</a><br>下一篇：<a href="@Url.Action("News",new { ID="变革企业IT市场10大趋势 云计算居首位"})">变革企业IT市场10大趋势 云计算居首位</a></div>
        </div>
    </div>
</div>
