@{
    ViewBag.KeyWords = "电子元器件，元器件采购，电阻，电容，芯片，开发版，仿真器，单孔万能板单面，设备诊断仪器，实验工具及配件，全国大学生电子设计竞赛";
    ViewBag.Description = "2015年全国大学生电子设计竞赛 ";
}
<div class="InnerMainTitle title"><i></i><h2>公司新闻</h2></div>
<div class="InnerMainContent">
    <div class="commontext aiSubCon" id="aiSubCon">
        <div class="aiSubCon_2" id="spanNewsTitle">
            <span id="ctl00_aiSubCon_AfficheTitleLabel"><h1>2015年全国大学生电子设计竞赛</h1></span>
        </div>
        <div class="aiSubCon_3">
            <span class=" yzeditor" id="ctl00_aiSubCon_AfficheInfoLabel" style="-ms-word-break: normal;">
                <div class="yizbdshare"><div class="bdsharebuttonbox"><a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a></div></div>




                <p class="MsoNormal">
                    <b><span></span></b><b><span style="font-size: 12pt;"><span></span></span></b><b><span lang="EN-US" style="font-family: 华文中宋; font-size: 16pt;">2015</span></b><b><span style="font-family: 华文中宋; font-size: 16pt;">年全国大学生电子设计竞赛</span></b><b><span lang="EN-US" style="font-family: 华文中宋; font-size: 16pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span lang="EN-US" style="font-family: 华文中宋; font-size: 16pt;"><span></span><span></span></span></b><b><span style="font-family: 华文中宋; font-size: 16pt;">仪器和主要元器件清单</span></b><b><span lang="EN-US" style="font-family: 华文中宋; font-size: 16pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">【本科组】</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span lang="EN-US" style="font-size: 12pt;">1.<span class="Apple-converted-space">&nbsp;</span></span></b><b><span style="font-family: 宋体; font-size: 12pt;">仪器清单</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span lang="EN-US" style="font-size: 12pt;">60MHz</span></b><b><span style="font-family: 宋体; font-size: 12pt;">双通道数字示波器</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span lang="EN-US" style="font-size: 12pt;">100MHz</span></b><b><span style="font-family: 宋体; font-size: 12pt;">双通道数字示波器</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span lang="EN-US" style="font-size: 12pt;">500MHz</span></b><b><span style="font-family: 宋体; font-size: 12pt;">双通道数字示波器</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　</span></b><b><span lang="EN-US" style="font-size: 12pt;"><span><span class="Apple-converted-space">&nbsp;</span></span></span></b><b><span style="font-family: 宋体; font-size: 12pt;">低频信号发生器（</span></b><b><span lang="EN-US" style="font-size: 12pt;">1Hz~1MHz</span></b><b><span style="font-family: 宋体; font-size: 12pt;">）</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　　高频信号发生器（</span></b><b><span lang="EN-US" style="font-size: 12pt;">1MHz~120MHz</span></b><b><span style="font-family: 宋体; font-size: 12pt;">）</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span lang="EN-US" style="font-size: 12pt;">300MHz</span></b><b><span style="font-family: 宋体; font-size: 12pt;">信号源</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">双通道函数信号发生器（</span></b><b><span lang="EN-US" style="font-size: 12pt;">100MHz</span></b><b><span style="font-family: 宋体; font-size: 12pt;">，</span></b><b><span lang="EN-US" style="font-size: 12pt;">DDS</span></b><b><span style="font-family: 宋体; font-size: 12pt;">）</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">函数发生器（</span></b><b><span lang="EN-US" style="font-size: 12pt;">10 MHz</span></b><b><span style="font-family: 宋体; font-size: 12pt;">，</span></b><b><span lang="EN-US" style="font-size: 12pt;">DDS</span></b><b><span style="font-family: 宋体; font-size: 12pt;">）</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　　低频毫伏表</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　　高频毫伏表</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span lang="EN-US" style="font-size: 12pt;">150 MHz</span></b><b><span style="font-family: 宋体; font-size: 12pt;">频率计</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">数字风速仪</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">电子称（最大称重</span></b><b><span lang="EN-US" style="font-size: 12pt;">5kg</span></b><b><span style="font-family: 宋体; font-size: 12pt;">）</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.75pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">五位半数字万用表</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">秒表</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　　量角器</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.75pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">单片机开发系统</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span lang="EN-US" style="font-size: 12pt;">PLD</span></b><b><span style="font-family: 宋体; font-size: 12pt;">开发系统</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 21pt;">
                    <b><span lang="EN-US"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span lang="EN-US" style="font-size: 12pt;">2.<span class="Apple-converted-space">&nbsp;</span></span></b><b><span style="font-family: 宋体; font-size: 12pt;">主要元器件清单</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　　</span></b><b><span lang="EN-US" style="font-size: 12pt;">RL78/G13 MCU</span></b><b><span style="font-family: 宋体; font-size: 12pt;">板（芯片型号</span></b><b><span lang="EN-US" style="font-size: 12pt;">R5F100LEA</span></b><b><span style="font-family: 宋体; font-size: 12pt;">），</span></b><b><span style="font-family: 宋体; font-size: 12pt;">已下发到赛区组委会</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　　</span></b><b><span style="font-family: 宋体; font-size: 12pt;">带防撞圈的多旋翼飞行器，外形尺寸：长度</span></b><b><span lang="EN-US" style="font-size: 12pt;">≤50cm</span></b><b><span style="font-family: 宋体; font-size: 12pt;">，宽度</span></b><b><span lang="EN-US" style="font-size: 12pt;">≤50cm</span></b><b><span style="font-family: 宋体; font-size: 12pt;">；续航时间大于</span></b><b><span lang="EN-US" style="font-size: 12pt;">10</span></b><b><span style="font-family: 宋体; font-size: 12pt;">分钟</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">带保护板的</span></b><b><span lang="EN-US" style="font-size: 12pt;">18650</span></b><b><span style="font-family: 宋体; font-size: 12pt;">型、容量</span></b><b><span lang="EN-US" style="font-size: 12pt;">2000~3000mAh</span></b><b><span style="font-family: 宋体; font-size: 12pt;">的锂离子电池</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　　滑线变阻器（</span></b><b><span lang="EN-US" style="font-size: 12pt;">10Ω/3A</span></b><b><span style="font-family: 宋体; font-size: 12pt;">）</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　　光电传感器</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　　</span></b><b><span lang="EN-US" style="font-size: 12pt;">100MHz</span></b><b><span style="font-family: 宋体; font-size: 12pt;">晶体振荡器</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">无线收发模块</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">具有</span></b><b><span lang="EN-US" style="font-size: 12pt;">AV</span></b><b><span style="font-family: 宋体; font-size: 12pt;">端子输出的彩色摄像头（彩色制式不限）</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">大功率电阻（</span></b><b><span lang="EN-US" style="font-size: 12pt;">30Ω/50W, 5Ω/25W</span></b><b><span style="font-family: 宋体; font-size: 12pt;">）</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">大功率开关管、大功率二极管</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">小型轴流风机（直径</span></b><b><span lang="EN-US" style="font-size: 12pt;">5~10cm</span></b><b><span style="font-family: 宋体; font-size: 12pt;">，</span></b><b><span lang="EN-US" style="font-size: 12pt;">5~12V DC</span></b><b><span style="font-family: 宋体; font-size: 12pt;">）</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">万向节（连接杆直径</span></b><b><span lang="EN-US" style="font-size: 12pt;">10mm</span></b><b><span style="font-family: 宋体; font-size: 12pt;">以下）</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">三维角度传感器或电子陀螺仪</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">变容二极管（</span></b><b><span lang="EN-US" style="font-size: 12pt;">2~20pF</span></b><b><span style="font-family: 宋体; font-size: 12pt;">）</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">【高职高专组】</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span lang="EN-US" style="font-size: 12pt;">1.<span class="Apple-converted-space">&nbsp;</span></span></b><b><span style="font-family: 宋体; font-size: 12pt;">仪器清单</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span lang="EN-US" style="font-size: 12pt;">60MHz</span></b><b><span style="font-family: 宋体; font-size: 12pt;">双通道数字示波器</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　</span></b><b><span lang="EN-US" style="font-size: 12pt;"><span><span class="Apple-converted-space">&nbsp;</span></span></span></b><b><span style="font-family: 宋体; font-size: 12pt;">低频信号发生器</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　　函数发生器（</span></b><b><span lang="EN-US" style="font-size: 12pt;">10 MHz</span></b><b><span style="font-family: 宋体; font-size: 12pt;">，</span></b><b><span lang="EN-US" style="font-size: 12pt;">DDS</span></b><b><span style="font-family: 宋体; font-size: 12pt;">）</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　　低频毫伏表</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　　三位半数字万用表</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">秒表</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　　量角器</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.75pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">单片机开发系统</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span lang="EN-US" style="font-size: 12pt;">PLD</span></b><b><span style="font-family: 宋体; font-size: 12pt;">开发系统</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 21pt;">
                    <b><span lang="EN-US"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span lang="EN-US" style="font-size: 12pt;">2.<span class="Apple-converted-space">&nbsp;</span></span></b><b><span style="font-family: 宋体; font-size: 12pt;">主要元器件清单</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　　单片机最小系统板</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">小型继电器</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">光电传感器</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　　角度传感器</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal">
                    <b><span style="font-family: 宋体; font-size: 12pt;">　</span></b><b><span lang="EN-US" style="font-size: 12pt;"><span><span class="Apple-converted-space">&nbsp;</span></span></span></b><b><span style="font-family: 宋体; font-size: 12pt;">大功率开关管、大功率二极管</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">电动机（</span></b><b><span lang="EN-US" style="font-size: 12pt;">20W</span></b><b><span style="font-family: 宋体; font-size: 12pt;">以内，步进电机或带减速器直流电机）</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span style="font-family: 宋体; font-size: 12pt;">小型直流风机</span></b><b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>
                <p class="MsoNormal" style="text-indent: 24.1pt;">
                    <b><span lang="EN-US" style="font-size: 12pt;"><o:p></o:p></span></b>
                </p>

                <div class="datumrelate">上一篇：<a href="javascript:void(0)">暂无</a><br>下一篇：<a href="@Url.Action("News",new { ID="儒卓力在中国、香港和台湾设立分公司"})">儒卓力在中国、香港和台湾设立分公司</a></div>
            </span>
        </div>
    </div>
</div>
