body { font-size: 12px; text-align: center; margin: 0; }
a { color: #000000; text-decoration: none; }
	a:hover { text-decoration: underline; }
/*common css begin*/ h1, h2 { font-size: 14px; }
#ProductIn2 h2, h3 { font-size: 12px; font-weight: normal; }
ul, dl { list-style: none; padding: 0; margin: 0; }
.InnerMainContent li { overflow: hiddea:visitedn; line-height: 22px; }
.commontext { width: 100%; margin: 0 auto; text-align: left; padding: 0 0 18px; overflow-x: auto; line-height: 22px; }
.page { float: right; }
.img { text-align: center; line-height: 100%; background: #ffffff; }
	.img img { vertical-align: middle; }
/*common css end*/ .share_PageTemplateControl_0_1 { width: 960px; height: 227px; overflow: hidden; }
.cSubCon { padding: 10px 15px 0 5px; overflow: hidden; color: #575757; text-align: left; line-height: 25px; }
	.cSubCon a { color: #ff3508; }
	.cSubCon b { font-size: 14px; color: #5d5d5d; }
	.cSubCon span { margin: 0 5px; color: #e1e1e1; }
	.cSubCon font { color: #ff3508; }
.scSubCon { padding: 15px 0px 15px 5px; overflow: hidden; }
	.scSubCon a { width: 78px; height: 28px; display: inline-block; margin: auto 2px 2px auto; background-color: #FFA800; color: #FFFFFF; font-size: 12px; font-weight: normal; text-align: center; text-decoration: none; line-height: 28px; float: left; }
	.scSubCon span { width: 2px; height: 100%; display: none; background-color: #F0F0F0; float: left; }
	.scSubCon a:hover { color: #FFFF00 !important; }
	.scSubCon a:visited { color: #FFFFFF!important; }
	.scSubCon .curr { color: #FFFF00; font-size: 14px; font-weight: bold; }
.pcSubCon { padding: 5px 0 0 5px; border-width: 1px 0 0 0; border-style: solid; border-color: #E6E6E6; overflow: hidden; }
.title { padding-bottom: 5px; margin-bottom: 10px; border-bottom: 1px dashed #ccc; text-indent: 0; position: relative; }
	.title .more { font-size: 12px; position: absolute; top: 5px; right: 0; color: #666; }
.pcSubCon .title { margin-bottom: 0; border-bottom: 0; }
.title h2,.title span { font-size: 14px; line-height: 25px; color: #373737; display: inline; }
.title i { width: 3px; height: 12px; display: inline-block; background: #373737; margin-right: 5px; }
.pcSubCon ul { width: 100%; list-style-type: none; }
.pcSubCon li { width: 100%; height: 25px; background-image: url(images/bg_20140226140833.png); background-repeat: no-repeat; background-position: -5px center; text-align: left; text-indent: 11px; line-height: 25px; }
.pcSubCon .maxLen { width: 235px; }
	.pcSubCon .maxLen a { color: #737373; text-decoration: none; }
		.pcSubCon .maxLen a:hover { color: #FF6600; text-decoration: underline; }
#id_PageTemplateControl_1_0_container { overflow: hidden; }
#id_PageTemplateControl_1_1_container { overflow: hidden; }
#id_PageTemplateControl_1_2_container { overflow: hidden; }
.share_PageTemplateControl_1_1 { width: 255px; height: auto; overflow: hidden; }
.bSubCon { padding: 10px 20px 0 20px; overflow: hidden; color: #666666; text-align: center; line-height: 22px; }
	.bSubCon a { color: #333333; }
		.bSubCon a:hover { color: #333333; text-decoration: underline; }
.rSubCon { padding: 0 0 10px 0; overflow: hidden; color: #666666; text-align: center; line-height: 22px; }
	.rSubCon a { color: #333333; }
		.rSubCon a:hover { color: #333333; text-decoration: underline; }
#id_PageTemplateControl_2_0_container { overflow: hidden; }
#id_PageTemplateControl_2_1_container { overflow: hidden; }
.share_PageTemplateControl_2_1 { width: 960px; height: auto; overflow: hidden; text-align: left; }
.siSubCon { margin: 18px; padding: 0px; overflow: hidden; color: #575757; text-align: left; text-indent: 20px; line-height: 25px; }
.pilSubCon { margin: auto 18px 0 18px; padding: 10px 0 0; overflow: hidden; }
	.pilSubCon ul { width: 100%; list-style-type: none; }
	.pilSubCon li { width: 25%; height: 200px; text-align: center; float: left; }
	.pilSubCon .img { width: 148px; height: 148px; display: inline-block; margin: 0 auto; border-width: 1px; border-style: solid; border-color: #C0C0C0; overflow: hidden; }
	.pilSubCon .maxLen { width: 150px; display: inline-block; margin: 0px auto; text-align: center; }
        .pilSubCon .maxLen a {
            color: #890038;
            text-decoration: none;
            line-height: 20px;
        }
			.pilSubCon .maxLen a:hover { color: #FF6600; text-decoration: underline; }
.alitSubCon { margin: auto 18px 18px 18px; overflow: hidden; }
	.alitSubCon ul { width: 100%; list-style-type: none; }
	.alitSubCon li { width: 100%; height: 25px; background-image: url(images/bg_20140226141803.png); background-repeat: no-repeat; background-position: center left; text-align: left; text-decoration: none; text-indent: 16px; line-height: 25px; }
	.alitSubCon .maxLen { width: 530px; float: left; }
		.alitSubCon .maxLen a { color: #575757; text-decoration: none; }
			.alitSubCon .maxLen a:hover { color: #FF6600; text-decoration: underline; }
	.alitSubCon .time { color: #666666; float: right; }
.arlitSubCon { margin: auto 18px 18px 18px; overflow: hidden; }
	.arlitSubCon ul { width: 100%; list-style-type: none; }
	.arlitSubCon li { width: 100%; height: 25px; background-image: url(images/bg_20140226142000.png); background-repeat: no-repeat; background-position: center left; text-align: left; text-indent: 16px; line-height: 25px; }
	.arlitSubCon .maxLen { width: 530px; float: left; }
		.arlitSubCon .maxLen a { color: #575757; text-decoration: none; }
			.arlitSubCon .maxLen a:hover { color: #FF6600; text-decoration: underline; }
	.arlitSubCon .time { color: #666666; float: right; }
#id_PageTemplateControl_0_container { overflow: visible; width: 100%; }
#id_PageTemplateControl_1_container { overflow: hidden; }
#mainright { border-width: 0 0 0 1px; border-style: solid; border-color: #E3E3E3; overflow: hidden; min-height: 650px; }
#id_PageTemplateControl_3_0_container { overflow: hidden; }
#id_PageTemplateControl_3_1_container { overflow: hidden; }
#id_PageTemplateControl_3_2_container { overflow: hidden; }
#id_PageTemplateControl_3_3_container { overflow: hidden; }
#id_PageTemplateControl_2_container { border-width: 1px 0 0 0; border-style: solid; border-color: #E3E3E3; overflow: hidden; }
.PageTemplateControl_1 { width: 704px; float: left; overflow: hidden; }
.PageTemplateControl_2 { margin: 0px auto; width: 960px; overflow: hidden; text-align: left; }
.PageTemplateControl_3 { width: 255px; float: left; overflow: hidden; }
.PageTemplateControl_4 { width: 100%; height: auto; overflow: hidden; }
.iSubCon1 { font-size: 14px; text-align: left; line-height: 22px; }
.IntroControl_1 { margin: 0px auto; width: 960px; overflow: hidden; text-align: left; }
.IntroControl_2 { width: 668px; padding: 10px 18px 0 18px; float: right; overflow: hidden; }
.IntroControl_3 { width: 255px; float: left; overflow: hidden; }
.pscSubCon { overflow: hidden; }
	.pscSubCon dl { width: 100%; margin: 0; overflow: hidden; list-style-type: none; }
	.pscSubCon dt { width: 100%; margin: 0; line-height: 29px; }
		.pscSubCon dt .maxLen a { color: #333333; font-weight: bold; }
			.pscSubCon dt .maxLen a:hover { color: #FF6600; text-decoration: underline; }
	.pscSubCon dd { width: 100%; margin: 0; line-height: 22px; float: left; }
		.pscSubCon dd .maxLen a:hover { color: #FF6600; text-decoration: underline; }
.ClassControl_1 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.ClassControl_2 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.ClassControl_3 { width: 255px; overflow: hidden; float: left; }
.ClassControl_4 { width: 668px; padding: 10px 18px 0 18px; overflow: hidden; float: right; }
.ccsSubCon_1 { padding: 10px 0 0 0; overflow: hidden; }
.ccsSubCon_2 { padding: 0; clear: both; overflow: hidden; }
.ccsSubCon { text-align: left; line-height: 22px; color: #999; }
	.ccsSubCon .link:hover { color: #FF6600; text-decoration: underline; }
	.ccsSubCon span { margin: 0 5px; color: #999; }
.plSubCon_1 { clear: both; overflow: hidden; }
.plSubCon { overflow: hidden; }
	.plSubCon ul { width: 100%; list-style-type: none; }
	.plSubCon li { width: 150px; height: 170px; float: left; }
	.plSubCon .img { width: 120px; height: 120px; display: inline-block; margin: 0 auto; border-width: 1px; border-style: solid; border-color: #C0C0C0; overflow: hidden; }
	.plSubCon .maxLen { width: 122px; }
		.plSubCon .maxLen a { color: #333333; line-height: 22px; }
			.plSubCon .maxLen a:hover { color: #FF6600; text-decoration: underline; }
.CateListControl_1 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.CateListControl_2 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.CateListControl_3 { width: 255px; overflow: hidden; float: left; }
.CateListControl_4 { width: 668px; padding: 10px 18px 0 18px; overflow: hidden; float: right; }
.prSubCon { text-align: left; line-height: 22px; }
	.prSubCon .title { height: 24px; margin: 0 0 9px 0; padding: 4px 0 0 20px; border-width: 1px; border-style: solid; border-color: #CCCCCC; overflow: hidden; background-color: #F2F2F2; color: #AC1514; font-size: 12px; font-weight: bold; }
	.prSubCon .list { margin: 8px 0; line-height: 19px; }
	.prSubCon a { font-size: 12px; }
		.prSubCon a:hover { color: #FF6600; text-decoration: underline; }
.ProductControl_1 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.ProductControl_2 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.ProductControl_3 { width: 255px; overflow: hidden; float: left; }
.ProductControl_4 { width: 668px; padding: 10px 18px 0 18px; overflow: hidden; float: right; }
.alSubCon_1 { clear: both; overflow: hidden; }
.alSubCon .maxLen { width: 70%; float: left; }
	.alSubCon .maxLen a { color: #666; }
		.alSubCon .maxLen a:hover { color: #FF6600; text-decoration: underline; }
.AfficheControl_1 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.AfficheControl_2 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.AfficheControl_3 { width: 255px; overflow: hidden; float: left; }
.AfficheControl_4 { width: 668px; padding: 10px 18px 0 18px; overflow: hidden; float: right; }
.aiSubCon_1 { padding: 10px 0 0 0; overflow: hidden; }
.aiSubCon_2 { text-align: center; overflow: hidden; }
.aiSubCon_3 { padding: 0 10px 0 10px; overflow: hidden; }
.aiSubCon { text-align: left; line-height: 22px; }
.AfficheInfoControl_1 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.AfficheInfoControl_2 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.AfficheInfoControl_3 { width: 255px; overflow: hidden; float: left; }
.AfficheInfoControl_4 { width: 668px; padding: 10px 18px 0 18px; overflow: hidden; float: right; }
.arlSubCon_1 { clear: both; overflow: hidden; }
.arlSubCon ul, .alSubCon ul { width: 100%; list-style-type: none; margin-bottom: 10px; }
.arlSubCon li, .alSubCon li { width: 100%; height: 32px; padding: 0; overflow: hidden; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: #CCCCCC; text-align: left; line-height: 32px; }
.arlSubCon .maxLen { width: 70%; float: left; }
	.arlSubCon .maxLen a { color: #666; }
		.arlSubCon .maxLen a:hover { color: #FF6600; text-decoration: underline; }
.arlSubCon .time, .alSubCon .time { width: 80px; text-align: right; float: right; color: #999; }
.ArticleControl_1 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.ArticleControl_2 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.ArticleControl_3 { width: 255px; overflow: hidden; float: left; }
.ArticleControl_4 { width: 668px; padding: 10px 18px 0 18px; overflow: hidden; float: right; }
.ariSubCon_1 { padding: 10px 0 0 0; overflow: hidden; }
.ariSubCon_2 { text-align: center; overflow: hidden; }
.ariSubCon_3 { padding: 0 10px 0 10px; overflow: hidden; }
.ariSubCon { text-align: left; line-height: 22px; }
.ArticleInfoControl_1 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.ArticleInfoControl_2 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.ArticleInfoControl_3 { width: 255px; overflow: hidden; float: left; }
.ArticleInfoControl_4 { width: 668px; padding: 10px 18px 0 18px; overflow: hidden; float: right; }
.flSubCon_1 { height: 25px; }
.flSubCon_2 { clear: both; overflow: hidden; padding: 10px 0; }
.flSubCon_3 { width: 100%; border-color: #b8b8b8; border-width: 1px; border-style: solid; border-collapse: collapse; font-size: 12px; line-height: 30px; }
.flSubCon_4 { color: #000066; background-color: #f1f1f1; font-size: 9pt; font-weight: bold; height: 25px; }
.flSubCon_5 { text-indent: 10px; border-color: #b8b8b8; border-width: 1px; border-style: solid; }
.flSubCon_6 { border-color: #b8b8b8; border-width: 1px; border-style: solid; width: 360px; text-indent: 10px; }
.flSubCon_7 { border-color: #b8b8b8; border-width: 1px; border-style: solid; text-indent: 10px; }
.flSubCon { text-align: left; line-height: 22px; }
.FileControl_1 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.FileControl_2 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.FileControl_3 { width: 255px; overflow: hidden; float: left; }
.FileControl_4 { width: 668px; padding: 10px 18px 0 18px; overflow: hidden; float: right; }
.sclSubCon_1 { clear: both; overflow: hidden; }
.sclSubCon ul { width: 100%; list-style-type: none; }
.sclSubCon li { width: 100%; height: 82px; padding: 10px 0; color: #808080; text-align: left; line-height: 22px; }
.sclSubCon .img { width: 90px; height: 80px; margin: 0 10px 0 0; border-width: 1px; border-style: solid; border-color: #C0C0C0; overflow: hidden; float: left; }
.sclSubCon .link { color: #333333; font-weight: bold; }
	.sclSubCon .link:hover { color: #FF6600; text-decoration: underline; }
.SuccCaseControl_1 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.SuccCaseControl_2 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.SuccCaseControl_3 { width: 255px; overflow: hidden; float: left; }
.SuccCaseControl_4 { width: 668px; padding: 10px 18px 0 18px; overflow: hidden; float: right; }
.sciSubCon_1 { padding: 10px 0 0 0; overflow: hidden; }
.sciSubCon_2 { text-align: center; overflow: hidden; }
.sciSubCon_3 { padding: 0 10px 0 10px; overflow: hidden; }
.sciSubCon { text-align: left; line-height: 22px; }
.SuccCaseInfoControl_1 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.SuccCaseInfoControl_2 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.SuccCaseInfoControl_3 { width: 255px; overflow: hidden; float: left; }
.SuccCaseInfoControl_4 { width: 668px; padding: 10px 18px 0 18px; overflow: hidden; float: right; }
.clSubCon_1 { clear: both; overflow: hidden; }
.clSubCon ul { width: 100%; list-style-type: none; }
.clSubCon li { width: 100%; height: 82px; padding: 10px 0; color: #808080; text-align: left; line-height: 22px; }
.clSubCon .img { width: 90px; height: 80px; margin: 0 10px 0 0; border-width: 1px; border-style: solid; border-color: #C0C0C0; overflow: hidden; float: left; }
.clSubCon .link { color: #333333; font-weight: bold; }
	.clSubCon .link:hover { color: #FF6600; text-decoration: underline; }
.CredentialControl_1 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.CredentialControl_2 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.CredentialControl_3 { width: 255px; overflow: hidden; float: left; }
.CredentialControl_4 { width: 668px; padding: 10px 18px 0 18px; overflow: hidden; float: right; }
.ciSubCon_1 { padding: 10px 0 0 0; overflow: hidden; }
.ciSubCon_2 { text-align: center; overflow: hidden; }
.ciSubCon_3 { padding: 0 10px 0 10px; overflow: hidden; }
.ciSubCon { text-align: left; line-height: 22px; }
.CredentialInfoControl_1 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.CredentialInfoControl_2 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.CredentialInfoControl_3 { width: 255px; overflow: hidden; float: left; }
.CredentialInfoControl_4 { width: 668px; padding: 10px 18px 0 18px; overflow: hidden; float: right; }
.jlSubCon_1 { height: 25px; }
.jlSubCon_2 { clear: both; overflow: hidden; }
.jlSubCon_3 { width: 100%; border-color: #b8b8b8; border-width: 1px; border-style: solid; border-collapse: collapse; font-size: 12px; line-height: 30px; }
.jlSubCon_4 { color: #000066; background-color: #f1f1f1; font-size: 9pt; font-weight: bold; height: 25px; }
.jlSubCon_5 { text-indent: 10px; border-color: #b8b8b8; border-width: 1px; border-style: solid; }
.jlSubCon_6 { border-color: #b8b8b8; border-width: 1px; border-style: solid; width: 360px; text-indent: 10px; }
.jlSubCon_7 { border-color: #b8b8b8; border-width: 1px; border-style: solid; text-indent: 10px; }
.jlSubCon { text-align: left; line-height: 22px; }
.JobControl_1 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.JobControl_2 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.JobControl_3 { width: 255px; overflow: hidden; float: left; }
.JobControl_4 { width: 668px; padding: 10px 18px 0 18px; overflow: hidden; float: right; }
.jiSubCon_1 { padding: 10px 0 0 0; overflow: hidden; }
.JobInfoControl_1 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.JobInfoControl_2 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.JobInfoControl_3 { width: 255px; overflow: hidden; float: left; }
.JobInfoControl_4 { width: 668px; padding: 10px 18px 0 18px; overflow: hidden; float: right; }
.cSubCon1 { text-align: left; line-height: 22px; }
.ContractControl_1 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.ContractControl_2 { width: 960px; overflow: hidden; margin: 0 auto; text-align: left; }
.ContractControl_3 { width: 255px; overflow: hidden; float: left; }
.ContractControl_4 { width: 668px; padding: 10px 18px 0 18px; overflow: hidden; float: right; }
.mbxSubCon { padding-bottom: 10px; line-height: 22px; }
	.mbxSubCon label { font-weight: normal; float: left; color: #626262; }
	.mbxSubCon div { margin-left: 60px; }
span.bds_more, .bds_tools a { line-height: normal; }
.piSubCon { overflow: hidden; text-align: left; padding: 10px; }
	.piSubCon h1 { margin: 0px 0px 16px 0px; font-size: 20px; font-weight: normal; line-height: 35px; }
	.piSubCon .img { width: 240px; height: 240px; margin: 0px 0px 16px 0px; border-width: 1px; border-style: solid; border-color: #CCCCCC; overflow: hidden; font-size: 20px; font-weight: normal; text-align: center; line-height: 35px; float: left; clear: right; }
	.piSubCon .info { margin: 0px 0px 0px 10px; float: left; clear: right; }
		.piSubCon .info li { padding: 0px 0px 10px 0px; color: #333333; font-size: 12px; height:22px }
	.piSubCon .intro { margin: 0px 0px 16px 0px; padding: 10px; overflow: hidden; background-color: #F4F4F4; color: #666666; font-size: 12px; line-height: 28px; clear: both; }
	.piSubCon .detail { margin: 0px 0px 16px 0px; overflow: hidden; font-size: 12px; line-height: 28px; clear: both; }
.msSubCon { overflow: hidden; text-align: left; clear: both; padding: 10px; border: 0; }
	.msSubCon .h { width: 100%; height: 45px; margin: 0px 0px 10px 0px; border-width: 0 0 1px 0; border-style: solid; border-color: #D9D9D9; }
		.msSubCon .h b { width: 70px; height: 45px; display: inline-block; border-width: 0 0 1px 0; border-style: solid; border-color: #353535; font-size: 14px; line-height: 45px; }
	.msSubCon .item { width: 100%; padding: 5px 0px 5px 0px; overflow: hidden; }
	.msSubCon .actions { width: 100%; padding: 20px 0px 20px 0px; overflow: hidden; color: #999999; font-size: 12px; }
		.msSubCon .actions input { width: 99px; height: 45px; margin: 0px 20px 0px 0px; border-width: 0; overflow: hidden; background-color: #FA824E; color: #FFFFFF; font-size: 12px; float: left; cursor: pointer; }
			.msSubCon .actions input.button { width: 99px; height: 45px; margin: 0px 20px 0px 0px; border-width: 0; overflow: hidden; background-color: #A0A0A0; color: #FFFFFF; font-size: 12px; float: left; }
	.msSubCon .tips { width: 100%; padding: 5px 0px 20px 0px; overflow: hidden; color: #999999; font-size: 12px; }
	.msSubCon .item span { display: block; color: #333333; font-size: 12px; line-height: 30px; text-align: left; width: 100%; }
	.msSubCon .item div { padding: 5px; border-width: 1px; border-style: solid; border-color: #DBDBDB; width: 98%; }
	.msSubCon .item .checkcode { width: 100px; float: left; }
	.msSubCon .item img { margin: 10px; float: left; }
	.msSubCon a { margin: 10px 0; font-size: 12px; line-height: 20px; float: left; }
	.msSubCon .txt { width: 100%; height: 28px; border-width: 0; line-height: 28px; }
	.msSubCon .textarea { width: 100%; height: 80px; border-width: 0; line-height: 20px; }
	.msSubCon .item1 { width: 48%; clear: none; }
	.msSubCon .item2 { width: 48%; float: right; clear: none; }
	.msSubCon .item3 { width: 100%; }
		.msSubCon .item1 div,
		.msSubCon .item2 div,
		.msSubCon .item3 div { width: 96%; }



.topwrap { background: #F5F3F3; }
.topnav { width: 958px; height: 25px; overflow: visible; color: #616161; position: relative; margin: 0 auto; }
	.topnav ul { padding: 6px 0 0 0; margin: 0; /*width:482px;增加【个人空间】前的宽度*/ width: 390px; height: 16px; float: right; list-style-type: none; }
	.topnav li { float: left; margin: 0 0 0 6px; }
		.topnav li span { background: url(http://www.18show.cn/ShowSkins/18show/images/public/head_handle.PNG) 0 -34px; width: 13px; height: 13px; overflow: hidden; display: block; float: left; cursor: pointer; margin-left: 5px; }
		.topnav li a { color: #616161; float: left; }
		.topnav li font a { color: #616161; font-size: 12px; }
		.topnav li div { float: left; margin: 0 0 0 6px; }
	.topnav #bdshare { position: absolute; left: 380px; top: 0; }
.toptips { float: left; /*width:443px;增加【个人空间】前的宽度*/ width: 453px; height: 15px; padding: 6px 0 0 10px; text-align: left; }
	.toptips span { color: #186B96; margin: 0 0 0 2px; }
	.toptips a { color: #186B96; }
.topnavdl { padding: 8px 0 0 0; margin: 0; width: 225px; border: 1px solid #C6C6C6; background: #fff; text-align: left; overflow: hidden; position: absolute; z-index: 1000; display: none; top: 21px; left: 526px; }
	.topnavdl dt, .topnavdl dt a { color: #FF0000; }
		.topnavdl dt .maxLen { height: 20px; margin-left: 10px; }
	.topnavdl dd { padding: 0; margin: 0; }
		.topnavdl dd .maxLen { float: left; width: 100px; height: 20px; margin: 5px 0 0 10px; }

.content-wrap { margin: 0px auto; width: 960px; border-bottom: 1px solid #E2E2E2; }

.mbxSubCon * { color: #626262; }

.item-ccs { display: inline-block; width: 16px; height: 16px; color: #FFF !important; background: #ff4a27; font-weight: bold; text-align: center; line-height: 16px; }
.login-share .m, .logo-search .m { width: 960px !important; }
	.logo-search .m .search .search-border { width: 500px !important; }

.menu-ad-text { min-width: 960px !important; }
	.menu-ad-text .m { width: 960px !important; }
    .menu-ad-text .m .menu a{padding: 0 13px!important;}


    .pscSubCon1 {
    line-height: 22px;
    text-align: left;
    margin: auto auto 0 auto;
    padding: 5px 10px 5px 3px;

}

    .pscSubCon1 dl {
        margin: 0 0 0 0;
        width: 100%;
    }

    .pscSubCon1 dt {
        width: 100%;
        height: 25px; background-image: url(images/bg_20140226140833.png); background-repeat: no-repeat; background-position: -5px center; text-align: left; text-indent: 11px; line-height: 25px;
    }

        .pscSubCon1 dt a {
          font-size: 12px;
  line-height: 26px;
  margin: 0 0 0 5px;

        }

    .pscSubCon1 dd {
        width: 235px;
        display: none;
        overflow: hidden;
    }
     
     	.pscSubCon1 dd a { color: #737373; text-decoration: none; }
            .pscSubCon1 dd a:hover {
                color: #FF6600;
                text-decoration: underline;
            }
            .pscSubCon1 .title { margin-bottom: 0; border-bottom: 0; }