
<div class="InnerMainTitle title">
    <i></i>
    <h2>产品资料</h2>
</div>
<div class="InnerMainContent">
    <div class="piSubCon" id="piSubCon">
        <h1>
            MDO3000 混合域示波器<div class="yizbdshare"><div class="bdsharebuttonbox"><a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a></div></div>
            <span id="ctl00_piSubCon_Label1"></span>
        </h1>
        <div class="content" id="imgProductInfo">
            <div id="ProductSimpleIntro">
                <div class="img"><img onload="ResizeImage_Special(this,240,240)" alt="MDO3000 混合域示波器" src="@Url.Content("~/images/product/2015041516463950.jpg")"></div>
            </div>
            <div class="info">
                <ul>
                    <li><span style="padding-top: 3px; float: left;">如果您对该产品感兴趣的话，可以拨打热线：010-80741878或QQ：371003817进行咨询</span><a href="#SendMessage"></a></li>
                    <li>
                        产品名称：<span id="ctl00_piSubCon_ProductNameLabel">MDO3000 混合域示波器</span>
                    </li>
                    <li>产品型号：<span id="ctl00_piSubCon_ProductModelLabel">MDO3000 混合域示波器</span></li>
                    <li>产品展商：<span id="ctl00_piSubCon_ProductFacNameLabel">Tektronix</span></li>



                    <li>产品文档：<span id="ctl00_piSubCon_ProductDocLabel">无相关文档</span></li>
                </ul>
            </div>
            <div class="intro">
                <b>简单介绍</b>
                <div>
                    <span id="ctl00_piSubCon_ProductSimpleIntroLabel">
                        <h2>
                            MDO3000 混合域示波器


                            六种仪器，一台示波器，无限多功能。

                            MDO3000 混合域示波器拥有六种仪器，包括频谱分析仪、函数发生器、等等，让您通过一台示波器就能捕获模拟信号、数字信号和 RF 信号。随着设计挑战不断变化，您甚至可以添加仪器、分析功能并升级带宽。
                        </h2>
                    </span>
                </div>
            </div>
            <div class="detail">
                <b>产品描述</b>
                <div>
                    <span class=" yzeditor" id="ctl00_piSubCon_ProductDetailIntroLabel" style="-ms-word-break: break-all;">
                        <h3 class="product-series-model-title" style="font: 14px/1.3em Arial, Helvetica, sans-serif; margin: 0.5em 0px 0pt; padding: 0px; color: rgb(77, 77, 77); text-transform: none; text-indent: 0px; letter-spacing: normal; clear: right; text-decoration: none; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; -webkit-text-stroke-width: 0px;">
                            型号属于 MDO3000 混合域示波器 系列：
                        </h3>
                        <div class="view view-product-series-models view-id-product_series_models view-display-id-block_1 product-series-models-listin***iew-dom-id-product-series-models-block-1-1" style="font: 12px/15px Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(77, 77, 77); text-transform: none; text-indent: 0px; letter-spacing: normal; text-decoration: none; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; -webkit-text-stroke-width: 0px;">
                            <div class="view-content" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(77, 77, 77); text-decoration: none; font-size-adjust: none; font-stretch: normal;">
                                <table class="views-table cols-6" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 1em 0px 20px; padding: 0px; width: 949px; color: rgb(77, 77, 77); clear: both; text-decoration: none; border-collapse: collapse; font-size-adjust: none; font-stretch: normal;">
                                    <thead style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(77, 77, 77); text-decoration: none; font-size-adjust: none; font-stretch: normal;">
                                        <tr style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(77, 77, 77); text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal;">
                                            <th class="views-field views-field-php-4" style="font: bold 11px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 3px 10px; width: 30px; text-align: left; color: rgb(255, 255, 255); text-decoration: none; vertical-align: bottom; border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-bottom-width: 0px; border-right-style: solid; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(142, 153, 159);">
                                                型号
                                            </th>
                                            <th class="views-field views-field-field-analog-bandwidth" style="font: bold 11px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 3px 10px; width: 30px; text-align: left; color: rgb(255, 255, 255); text-decoration: none; vertical-align: bottom; border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-bottom-width: 0px; border-right-style: solid; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(142, 153, 159);">
                                                模拟带宽
                                            </th>
                                            <th class="views-field views-field-field-sample-rate" style="font: bold 11px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 3px 10px; width: 30px; text-align: left; color: rgb(255, 255, 255); text-decoration: none; vertical-align: bottom; border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-bottom-width: 0px; border-right-style: solid; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(142, 153, 159);">
                                                采样率
                                            </th>
                                            <th class="views-field views-field-field-record-length" style="font: bold 11px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 3px 10px; width: 30px; text-align: left; color: rgb(255, 255, 255); text-decoration: none; vertical-align: bottom; border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-bottom-width: 0px; border-right-style: solid; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(142, 153, 159);">
                                                记录长度
                                            </th>
                                            <th class="views-field views-field-field-analog-channel" style="font: bold 11px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 3px 10px; width: 30px; text-align: left; color: rgb(255, 255, 255); text-decoration: none; vertical-align: bottom; border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-bottom-width: 0px; border-right-style: solid; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(142, 153, 159);">
                                                模拟通道
                                            </th>
                                            <th class="views-field views-field-field-digital-channel" style="font: bold 11px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 3px 10px; width: 30px; text-align: left; color: rgb(255, 255, 255); text-decoration: none; vertical-align: bottom; border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-bottom-width: 0px; border-right-style: solid; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(142, 153, 159);">
                                                数字通道
                                            </th>
                                            <th class="views-field views-field-field-rf-channel" style="font: bold 11px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 3px 10px; width: 30px; text-align: left; color: rgb(255, 255, 255); text-decoration: none; vertical-align: bottom; border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-bottom-width: 0px; border-right-style: solid; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(142, 153, 159);">
                                                RF 通道
                                            </th>
                                            <th class="views-field views-field-field-rf-frequency" style="font: bold 11px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 3px 10px; width: 30px; text-align: left; color: rgb(255, 255, 255); text-decoration: none; vertical-align: bottom; border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-bottom-width: 0px; border-right-style: solid; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(142, 153, 159);">
                                                RF 频率范围
                                            </th>
                                            <th class="views-field views-field-field-func-generator-output" style="font: bold 11px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 3px 10px; width: 30px; text-align: left; color: rgb(255, 255, 255); text-decoration: none; vertical-align: bottom; border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-bottom-width: 0px; border-right-style: solid; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(142, 153, 159);">
                                                函数发生器输出
                                            </th>
                                            <th class="views-field views-field-php" style="font: bold 11px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 3px 10px; width: 30px; text-align: center !important; color: rgb(255, 255, 255); text-decoration: none; vertical-align: bottom; border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-bottom-width: 0px; border-right-style: solid; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(142, 153, 159);">
                                                报价
                                            </th>
                                            <th class="views-field views-field-php-1" style="font: bold 11px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 3px 10px; width: 30px; text-align: center !important; color: rgb(255, 255, 255); text-decoration: none; vertical-align: bottom; border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(0, 0, 0); border-right-width: 1px; border-bottom-width: 0px; border-right-style: solid; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(142, 153, 159);">
                                                配置和报价
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(77, 77, 77); text-decoration: none; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid; font-size-adjust: none; font-stretch: normal;">
                                        <tr class="odd views-row-first" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0.1em 0.6em; color: rgb(77, 77, 77); text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(238, 238, 238);">
                                            <td class="views-field views-field-php-4" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                MDO3012
                                            </td>
                                            <td class="views-field views-field-field-analog-bandwidth" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                100 MHz
                                            </td>
                                            <td class="views-field views-field-field-sample-rate" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                2.5 GS/s
                                            </td>
                                            <td class="views-field views-field-field-record-length" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                10 M 点
                                            </td>
                                            <td class="views-field views-field-field-analog-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                2
                                            </td>
                                            <td class="views-field views-field-field-digital-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                16（选配）
                                            </td>
                                            <td class="views-field views-field-field-rf-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1
                                            </td>
                                            <td class="views-field views-field-field-rf-frequency" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                9 kHz - 100 MHz<br style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(77, 77, 77); text-decoration: none; font-size-adjust: none; font-stretch: normal;">
                                                （选配最高可达 3 GHz）
                                            </td>
                                            <td class="views-field views-field-field-func-generator-output" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1（选配）
                                            </td>
                                            <td class="views-field views-field-php" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                $ 3,980
                                            </td>
                                            <td class="views-field views-field-php-1" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                配置并报价
                                            </td>
                                        </tr>
                                        <tr class="even" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0.1em 0.6em; color: rgb(77, 77, 77); text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(238, 238, 238);">
                                            <td class="views-field views-field-php-4" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                MDO3014
                                            </td>
                                            <td class="views-field views-field-field-analog-bandwidth" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                100 MHz
                                            </td>
                                            <td class="views-field views-field-field-sample-rate" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                2.5 GS/s
                                            </td>
                                            <td class="views-field views-field-field-record-length" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                10 M 点
                                            </td>
                                            <td class="views-field views-field-field-analog-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                4
                                            </td>
                                            <td class="views-field views-field-field-digital-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                16（选配）
                                            </td>
                                            <td class="views-field views-field-field-rf-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1
                                            </td>
                                            <td class="views-field views-field-field-rf-frequency" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                9 kHz - 100 MHz<br style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(77, 77, 77); text-decoration: none; font-size-adjust: none; font-stretch: normal;">
                                                （选配最高可达 3 GHz）
                                            </td>
                                            <td class="views-field views-field-field-func-generator-output" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1（选配）
                                            </td>
                                            <td class="views-field views-field-php" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                $ 4,740
                                            </td>
                                            <td class="views-field views-field-php-1" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                配置并报价
                                            </td>
                                        </tr>
                                        <tr class="odd" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0.1em 0.6em; color: rgb(77, 77, 77); text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(238, 238, 238);">
                                            <td class="views-field views-field-php-4" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                MDO3022
                                            </td>
                                            <td class="views-field views-field-field-analog-bandwidth" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                200 MHz
                                            </td>
                                            <td class="views-field views-field-field-sample-rate" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                2.5 GS/s
                                            </td>
                                            <td class="views-field views-field-field-record-length" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                10 M 点
                                            </td>
                                            <td class="views-field views-field-field-analog-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                2
                                            </td>
                                            <td class="views-field views-field-field-digital-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                16（选配）
                                            </td>
                                            <td class="views-field views-field-field-rf-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1
                                            </td>
                                            <td class="views-field views-field-field-rf-frequency" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                9 kHz - 200 MHz<br style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(77, 77, 77); text-decoration: none; font-size-adjust: none; font-stretch: normal;">
                                                （选配最高可达 3 GHz）
                                            </td>
                                            <td class="views-field views-field-field-func-generator-output" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1（选配）
                                            </td>
                                            <td class="views-field views-field-php" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                $ 4,750
                                            </td>
                                            <td class="views-field views-field-php-1" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                配置并报价
                                            </td>
                                        </tr>
                                        <tr class="even" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0.1em 0.6em; color: rgb(77, 77, 77); text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(238, 238, 238);">
                                            <td class="views-field views-field-php-4" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                MDO3024
                                            </td>
                                            <td class="views-field views-field-field-analog-bandwidth" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                200 MHz
                                            </td>
                                            <td class="views-field views-field-field-sample-rate" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                2.5 GS/s
                                            </td>
                                            <td class="views-field views-field-field-record-length" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                10 M 点
                                            </td>
                                            <td class="views-field views-field-field-analog-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                4
                                            </td>
                                            <td class="views-field views-field-field-digital-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                16（选配）
                                            </td>
                                            <td class="views-field views-field-field-rf-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1
                                            </td>
                                            <td class="views-field views-field-field-rf-frequency" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                9 kHz - 200 MHz<br style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(77, 77, 77); text-decoration: none; font-size-adjust: none; font-stretch: normal;">
                                                （选配最高可达 3 GHz）
                                            </td>
                                            <td class="views-field views-field-field-func-generator-output" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1（选配）
                                            </td>
                                            <td class="views-field views-field-php" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                $ 5,290
                                            </td>
                                            <td class="views-field views-field-php-1" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                配置并报价
                                            </td>
                                        </tr>
                                        <tr class="odd" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0.1em 0.6em; color: rgb(77, 77, 77); text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(238, 238, 238);">
                                            <td class="views-field views-field-php-4" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                MDO3032
                                            </td>
                                            <td class="views-field views-field-field-analog-bandwidth" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                350 MHz
                                            </td>
                                            <td class="views-field views-field-field-sample-rate" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                2.5 GS/s
                                            </td>
                                            <td class="views-field views-field-field-record-length" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                10 M 点
                                            </td>
                                            <td class="views-field views-field-field-analog-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                2
                                            </td>
                                            <td class="views-field views-field-field-digital-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                16（选配）
                                            </td>
                                            <td class="views-field views-field-field-rf-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1
                                            </td>
                                            <td class="views-field views-field-field-rf-frequency" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                9 kHz - 350 MHz<br style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(77, 77, 77); text-decoration: none; font-size-adjust: none; font-stretch: normal;">
                                                （选配最高可达 3 GHz）
                                            </td>
                                            <td class="views-field views-field-field-func-generator-output" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1（选配）
                                            </td>
                                            <td class="views-field views-field-php" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                $ 8,200
                                            </td>
                                            <td class="views-field views-field-php-1" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                配置并报价
                                            </td>
                                        </tr>
                                        <tr class="even" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0.1em 0.6em; color: rgb(77, 77, 77); text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(238, 238, 238);">
                                            <td class="views-field views-field-php-4" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                MDO3034
                                            </td>
                                            <td class="views-field views-field-field-analog-bandwidth" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                350 MHz
                                            </td>
                                            <td class="views-field views-field-field-sample-rate" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                2.5 GS/s
                                            </td>
                                            <td class="views-field views-field-field-record-length" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                10 M 点
                                            </td>
                                            <td class="views-field views-field-field-analog-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                4
                                            </td>
                                            <td class="views-field views-field-field-digital-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                16（选配）
                                            </td>
                                            <td class="views-field views-field-field-rf-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1
                                            </td>
                                            <td class="views-field views-field-field-rf-frequency" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                9 kHz - 350 MHz<br style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(77, 77, 77); text-decoration: none; font-size-adjust: none; font-stretch: normal;">
                                                （选配最高可达 3 GHz）
                                            </td>
                                            <td class="views-field views-field-field-func-generator-output" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1（选配）
                                            </td>
                                            <td class="views-field views-field-php" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                $ 9,860
                                            </td>
                                            <td class="views-field views-field-php-1" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                配置并报价
                                            </td>
                                        </tr>
                                        <tr class="odd" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0.1em 0.6em; color: rgb(77, 77, 77); text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(238, 238, 238);">
                                            <td class="views-field views-field-php-4" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                MDO3052
                                            </td>
                                            <td class="views-field views-field-field-analog-bandwidth" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                500 MHz
                                            </td>
                                            <td class="views-field views-field-field-sample-rate" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                2.5 GS/s
                                            </td>
                                            <td class="views-field views-field-field-record-length" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                10 M 点
                                            </td>
                                            <td class="views-field views-field-field-analog-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                2
                                            </td>
                                            <td class="views-field views-field-field-digital-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                16（选配）
                                            </td>
                                            <td class="views-field views-field-field-rf-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1
                                            </td>
                                            <td class="views-field views-field-field-rf-frequency" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                9 kHz - 500 MHz<br style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(77, 77, 77); text-decoration: none; font-size-adjust: none; font-stretch: normal;">
                                                （选配最高可达 3 GHz）
                                            </td>
                                            <td class="views-field views-field-field-func-generator-output" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1（选配）
                                            </td>
                                            <td class="views-field views-field-php" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                $ 10,400
                                            </td>
                                            <td class="views-field views-field-php-1" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                配置并报价
                                            </td>
                                        </tr>
                                        <tr class="even" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0.1em 0.6em; color: rgb(77, 77, 77); text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(238, 238, 238);">
                                            <td class="views-field views-field-php-4" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                MDO3102
                                            </td>
                                            <td class="views-field views-field-field-analog-bandwidth" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1 GHz
                                            </td>
                                            <td class="views-field views-field-field-sample-rate" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                5 GS/s
                                            </td>
                                            <td class="views-field views-field-field-record-length" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                10 M 点
                                            </td>
                                            <td class="views-field views-field-field-analog-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                2
                                            </td>
                                            <td class="views-field views-field-field-digital-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                16（选配）
                                            </td>
                                            <td class="views-field views-field-field-rf-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1
                                            </td>
                                            <td class="views-field views-field-field-rf-frequency" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                9 kHz - 1 GHz<br style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(77, 77, 77); text-decoration: none; font-size-adjust: none; font-stretch: normal;">
                                                （选配最高可达 3 GHz）
                                            </td>
                                            <td class="views-field views-field-field-func-generator-output" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1（选配）
                                            </td>
                                            <td class="views-field views-field-php" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                $ 12,500
                                            </td>
                                            <td class="views-field views-field-php-1" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                配置并报价
                                            </td>
                                        </tr>
                                        <tr class="odd" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0.1em 0.6em; color: rgb(77, 77, 77); text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(238, 238, 238);">
                                            <td class="views-field views-field-php-4" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                MDO3054
                                            </td>
                                            <td class="views-field views-field-field-analog-bandwidth" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                500 MHz
                                            </td>
                                            <td class="views-field views-field-field-sample-rate" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                2.5 GS/s
                                            </td>
                                            <td class="views-field views-field-field-record-length" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                10 M 点
                                            </td>
                                            <td class="views-field views-field-field-analog-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                4
                                            </td>
                                            <td class="views-field views-field-field-digital-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                16（选配）
                                            </td>
                                            <td class="views-field views-field-field-rf-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1
                                            </td>
                                            <td class="views-field views-field-field-rf-frequency" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                9 kHz - 500 MHz<br style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(77, 77, 77); text-decoration: none; font-size-adjust: none; font-stretch: normal;">
                                                （选配最高可达 3 GHz）
                                            </td>
                                            <td class="views-field views-field-field-func-generator-output" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1（选配）
                                            </td>
                                            <td class="views-field views-field-php" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                $ 13,300
                                            </td>
                                            <td class="views-field views-field-php-1" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                配置并报价
                                            </td>
                                        </tr>
                                        <tr class="even views-row-last" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0.1em 0.6em; color: rgb(77, 77, 77); text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(238, 238, 238);">
                                            <td class="views-field views-field-php-4" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                MDO3104
                                            </td>
                                            <td class="views-field views-field-field-analog-bandwidth" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1 GHz
                                            </td>
                                            <td class="views-field views-field-field-sample-rate" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                5 GS/s
                                            </td>
                                            <td class="views-field views-field-field-record-length" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                10 M 点
                                            </td>
                                            <td class="views-field views-field-field-analog-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                4
                                            </td>
                                            <td class="views-field views-field-field-digital-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                16（选配）
                                            </td>
                                            <td class="views-field views-field-field-rf-channel" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1
                                            </td>
                                            <td class="views-field views-field-field-rf-frequency" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                9 kHz - 1 GHz<br style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(77, 77, 77); text-decoration: none; font-size-adjust: none; font-stretch: normal;">
                                                （选配最高可达 3 GHz）
                                            </td>
                                            <td class="views-field views-field-field-func-generator-output" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                1（选配）
                                            </td>
                                            <td class="views-field views-field-php" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                $ 16,500
                                            </td>
                                            <td class="views-field views-field-php-1" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 10px; text-align: center !important; color: rgb(77, 77, 77); text-decoration: none; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);">
                                                配置并
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="view-content" style="font: 12px/1.3em Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(77, 77, 77); text-decoration: none; font-size-adjust: none; font-stretch: normal;">
                                &nbsp;
                            </div>
                        </div>
                        <div class="msSubCon">
                            <div class="h" id="ProductBorder_3">
                                <b style="border-width: 0px 0px 1px;">产品留言</b>
                            </div>
                            <div class="m">
                                <div class="item">
                                    <span>标题</span>
                                    <div>
                                        <input name="txtMsgTitle" class="txt" id="txtMsgTitle" type="text" maxlength="100">
                                    </div>
                                </div>
                                <div class="item item1">
                                    <span>联系人</span>
                                    <div>
                                        <input name="txtClientName" class="txt" id="txtClientName" type="text" maxlength="30">
                                    </div>
                                </div>
                                <div class="item item2">
                                    <span>联系电话</span>
                                    <div>
                                        <input name="txtClientTel" class="txt" id="txtClientTel" type="text" maxlength="60">
                                    </div>
                                </div>

                                <div class="item">
                                    <span>内容</span>
                                    <div>
                                        <textarea name="txtMsgContent" class="textarea" id="txtMsgContent" rows="2" cols="20"></textarea>
                                    </div>
                                </div>
                                <div class="item item3">
                                    <span>验证码</span>
                                    <div class="checkcode">
                                        <input name="txtValidate" class="txt" id="txtValidate" type="text" maxlength="4">
                                    </div>
                                    <img height="37" id="ValidateImage" style="margin-top: 0px;" src="">
                                    <a onclick="YiZMsgImageChanged()" href="javascript:;">点击换一张</a>
                                </div>
                                <div class="actions">
                                    <input onclick="YiZSendMsg(508519, 2003969452, 1, 'zh-cn    ');" type="button" value="发送留言">
                                    <input name="reset" class="button" id="reset" type="reset" value="重置">
                                </div>
                                <div class="tips">
                                    注：1.可以使用快捷键Alt+S或Ctrl+Enter发送信息!<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.如有必要,请您留下您的详细联系方式!
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('mbxSubCon').innerHTML = document.getElementById('mbxSubCon').innerHTML.replace(/>>>/gi, '>').replace(/&gt;&gt;&gt;/gi, '&gt;').replace(/text-decoration: underline;/gi, '');
        var html = document.getElementById('spanProNav').innerHTML;
        if (html.toLowerCase().indexOf('<br') != -1)
            document.getElementById('spanProNav').innerHTML = html.substring(0, html.toLowerCase().indexOf('<br'));
    </script>
</div>