
<div class="InnerMainTitle title">
    <i></i>
    <h2>产品资料</h2>
</div>
<div class="InnerMainContent">
    <div class="piSubCon" id="piSubCon">
        <h1>
            ST-LINK/V2仿真器<div class="yizbdshare"><div class="bdsharebuttonbox"><a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a></div></div>
            <span id="ctl00_piSubCon_Label1"></span>
        </h1>
        <div class="content" id="imgProductInfo">
            <div id="ProductSimpleIntro">
                <div class="img"><img onload="ResizeImage_Special(this,240,240)" alt="ST-LINK/V2仿真器" src="@Url.Content("~/images/product/2015042314520454.jpg")"></div>
            </div>
            <div class="info">
                <ul>
                    <li><span style="padding-top: 3px; float: left;">如果您对该产品感兴趣的话，可以拨打热线：010-80741878或QQ：371003817进行咨询</span><a href="#SendMessage"></a></li>
                    <li>
                        产品名称：<span id="ctl00_piSubCon_ProductNameLabel">ST-LINK/V2仿真器</span>
                    </li>
                    <li>产品型号：<span id="ctl00_piSubCon_ProductModelLabel">ST-LINK/V2</span></li>
                    <li>产品展商：<span id="ctl00_piSubCon_ProductFacNameLabel">STMicroelectronics</span></li>



                    <li>产品文档：<span id="ctl00_piSubCon_ProductDocLabel">无相关文档</span></li>
                </ul>
            </div>
            <div class="intro">
                <b>简单介绍</b>
                <div>
                    <span id="ctl00_piSubCon_ProductSimpleIntroLabel">
                        <h2>
                            产品详细信息
                            ST-LINK
                            由 USB 连接器提供 5V 电源
                            兼容 USB 2.0 全速接口
                            提供 USB 标准 A 到 Mini-B 电缆
                        </h2>
                    </span>
                </div>
            </div>
            <div class="detail">
                <b>产品描述</b>
                <div>
                    <span class=" yzeditor" id="ctl00_piSubCon_ProductDetailIntroLabel" style="-ms-word-break: break-all;">
                        <h3 class="dt-title " style="margin: 0px 0px 25px; padding: 0px; color: rgb(0, 0, 0); text-transform: none; text-indent: 0px; letter-spacing: normal; font-family: 微软雅黑, 宋体, arial; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; word-spacing: 0px; white-space: normal; -webkit-text-stroke-width: 0px;">
                            规格参数
                        </h3>
                        <table class="info-tb J_change-tab" style="font: 12px/18px 微软雅黑, 宋体, arial; width: 862px; color: rgb(153, 153, 153); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; border-collapse: collapse; border-spacing: 0px; font-size-adjust: none; font-stretch: normal; -webkit-text-stroke-width: 0px;">
                            <tbody>
                                <tr>
                                    <td class="param-item" style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); width: 227px; color: rgb(153, 153, 153); vertical-align: inherit; display: table-cell; white-space: nowrap;">
                                        产品型号
                                    </td>
                                    <td style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(51, 51, 51); vertical-align: inherit; display: table-cell;">
                                        ST-LINK/V2
                                    </td>
                                </tr>
                                <tr>
                                    <td class="param-item" style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(153, 153, 153); vertical-align: inherit; display: table-cell; white-space: nowrap;">
                                        制造商编号
                                    </td>
                                    <td style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(51, 51, 51); vertical-align: inherit; display: table-cell;">
                                        63
                                    </td>
                                </tr>
                                <tr>
                                    <td class="param-item" style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(153, 153, 153); vertical-align: inherit; display: table-cell; white-space: nowrap;">
                                        描述
                                    </td>
                                    <td style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(51, 51, 51); vertical-align: inherit; display: table-cell;">
                                        DEBUGGER/PROGRAMMER STM8 STM32
                                    </td>
                                </tr>
                                <tr>
                                    <td class="param-item" style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(153, 153, 153); vertical-align: inherit; display: table-cell; white-space: nowrap;">
                                        数据列表
                                    </td>
                                    <td style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(51, 51, 51); vertical-align: inherit; display: table-cell;">
                                        ST-LINK User Manual Rev7
                                    </td>
                                </tr>
                                <tr>
                                    <td class="param-item" style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(153, 153, 153); vertical-align: inherit; display: table-cell; white-space: nowrap;">
                                        产品相片
                                    </td>
                                    <td style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(51, 51, 51); vertical-align: inherit; display: table-cell;">
                                        ST-LINK/V2
                                    </td>
                                </tr>
                                <tr>
                                    <td class="param-item" style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(153, 153, 153); vertical-align: inherit; display: table-cell; white-space: nowrap;">
                                        其它有关文件
                                    </td>
                                    <td style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(51, 51, 51); vertical-align: inherit; display: table-cell;">
                                        ST-LINK/V2 View All Specifications
                                    </td>
                                </tr>
                                <tr>
                                    <td class="param-item" style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(153, 153, 153); vertical-align: inherit; display: table-cell; white-space: nowrap;">
                                        特色产品
                                    </td>
                                    <td style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(51, 51, 51); vertical-align: inherit; display: table-cell;">
                                        STM32 32-bit Cortex MCUs
                                    </td>
                                </tr>
                                <tr>
                                    <td class="param-item" style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(153, 153, 153); vertical-align: inherit; display: table-cell; white-space: nowrap;">
                                        标准包装
                                    </td>
                                    <td style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(51, 51, 51); vertical-align: inherit; display: table-cell;">
                                        1
                                    </td>
                                </tr>
                                <tr>
                                    <td class="param-item" style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(153, 153, 153); vertical-align: inherit; display: table-cell; white-space: nowrap;">
                                        类型
                                    </td>
                                    <td style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(51, 51, 51); vertical-align: inherit; display: table-cell;">
                                        在线调试器/编程器
                                    </td>
                                </tr>
                                <tr>
                                    <td class="param-item" style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(153, 153, 153); vertical-align: inherit; display: table-cell; white-space: nowrap;">
                                        配套使用产品/相关产品
                                    </td>
                                    <td style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(51, 51, 51); vertical-align: inherit; display: table-cell;">
                                        STM8，STM32
                                    </td>
                                </tr>
                                <tr>
                                    <td class="param-item" style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(153, 153, 153); vertical-align: inherit; display: table-cell; white-space: nowrap;">
                                        内容
                                    </td>
                                    <td style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(51, 51, 51); vertical-align: inherit; display: table-cell;">
                                        模块，线缆
                                    </td>
                                </tr>
                                <tr>
                                    <td class="param-item" style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(153, 153, 153); vertical-align: inherit; display: table-cell; white-space: nowrap;">
                                        产品目录页面
                                    </td>
                                    <td style="margin: 0px; padding: 10px 15px; border: 1px solid rgb(239, 239, 239); color: rgb(51, 51, 51); vertical-align: inherit; display: table-cell;">
                                        720 (CN2011-ZH PDF)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            T-LINK/V2是一款用于STM8和STM32微控制器系列的在线调试器/编程器。单线接口模块（SWIM）和JTAG/串行线调试（SWD）接口用于与应用板上的STM8或STM32微控制器通信。
                        </p>
                        <p>
                            特性：
                        </p>
                        <p>
                            5 V电源，通过USB连接器供电<br>
                            与USB 2.0全速兼容的接口<br>
                            USB标准A转mini B电缆<br>
                            SWIM的特定性能：<br>
                            SWIM接口支持1.65 V至5.5 V的应用电压<br>
                            支持SWIM低速和高速模式<br>
                            SWIM编程速率：低速9.7 KB、高速12.8 KB<br>
                            SWIM电缆，用于通过排针或2.54 mm间距的连接器连接至应用板<br>
                            JTAG的特定性能：<br>
                            JTAG接口支持1.65 V至3.6 V的应用电压，并能承受5 V输入<br>
                            JTAG电缆，用于连接至标准JTAG 20针2.54 mm间距的连接器<br>
                            支持直接固件升级功能（DFU）<br>
                            状态LED，可在与PC通信的过程中闪烁<br>
                            工作温度为0至50 °C
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <div class="msSubCon">
                            <div class="h" id="ProductBorder_3">
                                <b style="border-width: 0px 0px 1px;">产品留言</b>
                            </div>
                            <div class="m">
                                <div class="item">
                                    <span>标题</span>
                                    <div>
                                        <input name="txtMsgTitle" class="txt" id="txtMsgTitle" type="text" maxlength="100">
                                    </div>
                                </div>
                                <div class="item item1">
                                    <span>联系人</span>
                                    <div>
                                        <input name="txtClientName" class="txt" id="txtClientName" type="text" maxlength="30">
                                    </div>
                                </div>
                                <div class="item item2">
                                    <span>联系电话</span>
                                    <div>
                                        <input name="txtClientTel" class="txt" id="txtClientTel" type="text" maxlength="60">
                                    </div>
                                </div>

                                <div class="item">
                                    <span>内容</span>
                                    <div>
                                        <textarea name="txtMsgContent" class="textarea" id="txtMsgContent" rows="2" cols="20"></textarea>
                                    </div>
                                </div>
                                <div class="item item3">
                                    <span>验证码</span>
                                    <div class="checkcode">
                                        <input name="txtValidate" class="txt" id="txtValidate" type="text" maxlength="4">
                                    </div>
                                    <img height="37" id="ValidateImage" style="margin-top: 0px;" src="">
                                    <a onclick="YiZMsgImageChanged()" href="javascript:;">点击换一张</a>
                                </div>
                                <div class="actions">
                                    <input onclick="YiZSendMsg(508519, 2004165618, 1, 'zh-cn    ');" type="button" value="发送留言">
                                    <input name="reset" class="button" id="reset" type="reset" value="重置">
                                </div>
                                <div class="tips">
                                    注：1.可以使用快捷键Alt+S或Ctrl+Enter发送信息!<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.如有必要,请您留下您的详细联系方式!
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('mbxSubCon').innerHTML = document.getElementById('mbxSubCon').innerHTML.replace(/>>>/gi, '>').replace(/&gt;&gt;&gt;/gi, '&gt;').replace(/text-decoration: underline;/gi, '');
        var html = document.getElementById('spanProNav').innerHTML;
        if (html.toLowerCase().indexOf('<br') != -1)
            document.getElementById('spanProNav').innerHTML = html.substring(0, html.toLowerCase().indexOf('<br'));
    </script>
</div>