
<div class="InnerMainTitle title">
    <i></i>
    <h2>产品资料</h2>
</div>
<div class="InnerMainContent">
    <div class="piSubCon" id="piSubCon">
        <h1>
            Tektronix MDO3104 + MDO3SA 混合信号示波器<div class="yizbdshare"><div class="bdsharebuttonbox"><a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a></div></div>
            <span id="ctl00_piSubCon_Label1"></span>
        </h1>
        <div class="content" id="imgProductInfo">
            <div id="ProductSimpleIntro">
                <div class="img"><img onload="ResizeImage_Special(this,240,240)" alt="Tektronix MDO3104 + MDO3SA 混合信号示波器" src="http://i02.yizimg.com/uploads/470255/2015041517034172.jpg"></div>
            </div>
            <div class="info">
                <ul>
                    <li><span style="padding-top: 3px; float: left;">如果您对该产品感兴趣的话，可以拨打热线：010-80741878或QQ：371003817进行咨询</span><a href="#SendMessage"></a></li>
                    <li>
                        产品名称：<span id="ctl00_piSubCon_ProductNameLabel">Tektronix MDO3104 + MDO3SA 混合信号示波器</span>
                    </li>
                    <li>产品型号：<span id="ctl00_piSubCon_ProductModelLabel">Tektronix MDO3104 + MDO3SA 混合信号示波器</span></li>
                    <li>产品展商：<span id="ctl00_piSubCon_ProductFacNameLabel">Tektronix</span></li>



                    <li>产品文档：<span id="ctl00_piSubCon_ProductDocLabel">无相关文档</span></li>
                </ul>
            </div>
            <div class="intro">
                <b>简单介绍</b>
                <div>
                    <span id="ctl00_piSubCon_ProductSimpleIntroLabel">
                        <h2>
                            产品详细信息
                            Tektronix 混合域示波器 MDO3000 系列，带频谱分析仪模块 MDO3SA
                            MDO3000 示波器 为多功能，集成了频谱分析仪、波检测器导航、MSO、串行和并行总线触发和分析以及数字电压表。 示波器的标准整体型频谱分析仪使用户可以分析最高达到示波器额定带宽的射频信号。 模块 MDO3SA 是永久升级，可将频谱分析仪频率覆盖扩展至 3GHz。
                        </h2>
                    </span>
                </div>
            </div>
            <div class="detail">
                <b>产品描述</b>
                <div>
                    <span class=" yzeditor" id="ctl00_piSubCon_ProductDetailIntroLabel" style="-ms-word-break: break-all;">
                        <div class="prodDetailsContainer top20" style="font: 12px/normal Arial, Verdana, Helvetica, sans-serif; margin: 20px 0px 0px; padding: 30px 0px 0px; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                            <div class="heading" style="margin: 0px 0px 15px; padding: 0px; font-size: 24px; font-weight: bold;">
                                产品详细信息
                            </div>
                            <div class="rangeOverview" style="margin: 15px 0px 0px; padding: 0px;">
                                <h3 style="margin: 5px 0px 5px 5px; padding: 0px; clear: both; font-size: 12px; font-weight: bold;">
                                    Tektronix 混合域示波器 MDO3000 系列，带频谱分析仪模块 MDO3SA
                                </h3>
                                <p style="margin: 5px 0px 5px 5px; padding: 0px;">
                                    MDO3000 示波器 为多功能，集成了频谱分析仪、波检测器导航、MSO、串行和并行总线触发和分析以及数字电压表。 示波器的标准整体型频谱分析仪使用户可以分析最高达到示波器额定带宽的射频信号。 模块 MDO3SA 是永久升级，可将频谱分析仪频率覆盖扩展至 3GHz。
                                </p>
                                <h3 style="margin: 5px 0px 5px 5px; padding: 0px; clear: both; font-size: 12px; font-weight: bold;">
                                    注
                                </h3>
                                <p style="margin: 5px 0px 5px 5px; padding: 0px;">
                                    推荐与 MDO3000 系列示波器一起使用的探头包括：无源 - TPP0250 (<span class="inlineLink" style="margin: 0px; padding: 0px;">797-3396</span>)、TPP0500B (<span class="inlineLink" style="margin: 0px; padding: 0px;">797-3390</span>)、TPP0502 (<span class="inlineLink" style="margin: 0px; padding: 0px;">734-5016</span>)、TPP0850 (<span class="inlineLink" style="margin: 0px; padding: 0px;">734-5010</span>)、TPP1000 (<span class="inlineLink" style="margin: 0px; padding: 0px;">728-6759</span>)；有源 - TAP1500 (<span class="inlineLink" style="margin: 0px; padding: 0px;">661-3286</span>)、TAP2500 (<span class="inlineLink" style="margin: 0px; padding: 0px;">232-288</span>)、TAP3500 (<span class="inlineLink" style="margin: 0px; padding: 0px;">668-7155</span>)；差分 - TDP0500 (<span class="inlineLink" style="margin: 0px; padding: 0px;">661-3292</span>)、TDP1000 (<span class="inlineLink" style="margin: 0px; padding: 0px;">668-7167</span>)、TDP1500 (<span class="inlineLink" style="margin: 0px; padding: 0px;">668-7161</span>)、THDP0100 (<span class="inlineLink" style="margin: 0px; padding: 0px;">752-7353</span>)、THDP0200 (<span class="inlineLink" style="margin: 0px; padding: 0px;">752-7357</span>)、TMDP0200 (<span class="inlineLink" style="margin: 0px; padding: 0px;">752-7366</span>)；电流 - TCP0030A (<span class="inlineLink" style="margin: 0px; padding: 0px;">781-0807</span>)、TCP0150 (<span class="inlineLink" style="margin: 0px; padding: 0px;">661-3283</span>)。
                                </p>
                            </div>
                            <div class="rangeOverview" style="margin: 15px 0px 0px; padding: 0px;">
                                <h3 style="margin: 5px 0px 5px 5px; padding: 0px; clear: both; font-size: 12px; font-weight: bold;">
                                    混合域示波器
                                </h3>
                            </div>
                        </div>
                        <div class="divider" style="font: 12px/normal Arial, Verdana, Helvetica, sans-serif; margin: 20px 0px 30px; padding: 0px; height: 0px; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(255, 255, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; display: block; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                        </div>
                        <div class="compareProductContainer" id="j_id2621:comparedProduct" style="margin: 5px 0px 0px; padding: 0px;">
                            <div class="compareInput floatLeft" style="margin: 0px 5px 0px 0px; padding: 0px; width: 12px; float: left;">
                                <input name="j_id2621:compare" id="j_id2621:compare" style="margin: 0px; padding: 0px; width: 12px; height: 12px;" onclick="A4J.AJAX.Submit('j_id2620','j_id2621',event,{'oncomplete':function(request,event,data){Richfaces.showModalPanel('compareProductsModalLayer');},'similarityGroupingId':'j_id2621:j_id2623','parameters':{'j_id2621:j_id2623':'j_id2621:j_id2623'} ,'actionUrl':'/web/p/mixed\x2Dsignal\x2Doscilloscopes/8315410/'} )" type="checkbox">
                            </div>
                            <div class="compareLabel floatLeft" style="margin: 0px; padding: 0px; width: 130px; color: rgb(51, 51, 51); font-size: 11px; float: left;">
                                <label style="margin: 0px; padding: 0px;" for="j_id2621:compare">添加产品进行比较</label>
                            </div>
                            <div class="clearBoth" style="margin: 0px; padding: 0px; height: 0px; overflow: hidden; clear: both;">
                            </div>
                        </div>
                        <div style="font: 12px/normal Arial, Verdana, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                            <div class="divider" style="margin: 20px 0px 30px; padding: 0px; height: 0px; border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(255, 255, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; display: block;">
                            </div>
                            <div style="margin: 0px; padding: 0px;">
                                <div class="floatLeft heading" style="margin: 0px 0px 15px; padding: 0px; font-size: 24px; font-weight: bold; float: left;">
                                    产品技术参数
                                </div>
                                <div class="floatRight prodSpecButton" style="margin: -20px 0px 0px; padding: 0px; float: right; cursor: pointer;">
                                    <span style="margin: 0px; padding: 7px 20px; color: rgb(255, 255, 255); font-size: 12px; border-top-color: rgb(6, 206, 73); border-top-width: 1px; border-top-style: solid; display: block; text-shadow: 0px 1px 2px #01591e;">查看可替代产品</span>
                                </div>
                                <div class="clearBoth" style="margin: 0px; padding: 0px; height: 0px; overflow: hidden; clear: both;">
                                </div>
                                <div class="text" style="margin: 0px; padding: 0px; color: rgb(51, 51, 51); letter-spacing: 0px; font-size: 12px;">
                                    点击右侧绿色按钮，选择相关属性来查找可替代产品
                                </div>
                            </div>
                            <div class="specTableContainer" style="margin: 0px; padding: 0px;">
                                <table class="dr-table rich-table specificationTable ke-zeroborder" id="j_id2677" style="margin: 20px 0px 0px; padding: 0px; width: 620px;" border="0" cellspacing="0" cellpadding="0">
                                    <colgroup style="margin: 0px; padding: 0px;" span="3"></colgroup>
                                    <tbody id="j_id2677:tb" style="margin: 0px; padding: 0px;">
                                        <tr class="dr-table-row rich-table-row dr-table-firstrow rich-table-firstrow oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:0:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:0:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                CAN 接口
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:0:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                是
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:1:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:1:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                IIC 接口
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:1:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                是
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:2:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:2:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                LIN 接口
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:2:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                是
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:3:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:3:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                RS232 接口
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:3:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                是
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:4:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:4:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                RS422 接口
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:4:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                是
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:5:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:5:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                RS485 接口
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:5:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                是
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:6:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:6:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                SPI 接口
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:6:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                是
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:7:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:7:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                UART 接口
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:7:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                是
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:8:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:8:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                USB 接口
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:8:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                是
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:9:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:9:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                上升时间
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:9:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                400ps
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:10:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:10:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                垂直分辨率
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:10:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                8（11 位带高清）位
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:11:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:11:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                型号（P）
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:11:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                MDO3104
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:12:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:12:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                安全类别
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:12:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                CAT II 300 V
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:13:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:13:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                安全类别电压
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:13:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                300V
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:14:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:14:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                安全类别等级
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:14:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                CAT II
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:15:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:15:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                宽度
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:15:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                416.6mm
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:16:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:16:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                尺寸
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:16:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                147.4 x 416.6 x 203.2mm
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:17:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:17:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                屏幕尺寸
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:17:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                229mm
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:18:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:18:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                带宽
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:18:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                1GHz
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:19:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:19:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                数字通道数目
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:19:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                16
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:20:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:20:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                显示器类型
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:20:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                彩色
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:21:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:21:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                最低工作温度
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:21:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                -10°C
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:22:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:22:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                最低时基
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:22:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                400ps/div
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:23:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:23:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                最大垂直灵敏度
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:23:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                10V/div
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:24:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:24:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                最大时基
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:24:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                1000s/div
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:25:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:25:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                最小垂直灵敏度
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:25:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                1mV/div
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:26:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:26:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                最高工作温度
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:26:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                +55°C
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:27:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:27:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                模拟通道数目
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:27:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                4
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:28:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:28:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                电源
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:28:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                市电
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:29:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:29:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                系列
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:29:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                MDO3000
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:30:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:30:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                记录长度
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:30:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                10M points/ch
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:31:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:31:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                输入阻抗
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:31:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                1 MΩ, 50 Ω
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:32:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:32:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                采样率随机
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:32:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                2.5 G 采样/秒
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:33:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:33:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                重量
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:33:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                4.2kg
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row oddRow" style="margin: 0px; padding: 0px; background-color: rgb(238, 238, 238);">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:34:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:34:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                长度
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:34:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                147.4mm
                                            </td>
                                        </tr>
                                        <tr class="dr-table-row rich-table-row evenRow" style="margin: 0px; padding: 0px;">
                                            <td class="dr-table-cell rich-table-cell column1" id="j_id2677:35:j_id2678" style="margin: 0px; padding: 8px; width: 15px; color: rgb(51, 51, 51);"></td>
                                            <td class="dr-table-cell rich-table-cell column2" id="j_id2677:35:j_id2680" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51);">
                                                高度
                                            </td>
                                            <td class="dr-table-cell rich-table-cell column3" id="j_id2677:35:j_id2682" style="margin: 0px; padding: 8px; color: rgb(51, 51, 51); border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;">
                                                203.2mm
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="clearBoth" style="margin: 0px; padding: 0px; height: 0px; overflow: hidden; clear: both;">
                                </div>
                            </div>
                            <div style="font: 12px/normal Arial, Verdana, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                                <div class="rightSideContainer floatLeft" style="margin: 0px; padding: 0px; width: 340px; float: left;">
                                    <div class="top20 essentialExtraBlockContainer" style="margin: 20px 0px 0px; padding: 0px 20px;">
                                        <div class="accPanel rsGARealEstate" style="margin: 0px; padding: 0px; width: 340px; float: left;" rs_ga_zone="PRODUCT LINKS" rs_ga_region="BODY" rs_ga_page="NAV_LL">
                                            <div class="subHeading" style="margin: 0px 0px 10px; padding: 0px; font-size: 16px; font-weight: bold;">
                                                配套附件
                                            </div>
                                            <ul class="prodList" style="margin: 0px; padding: 0px; width: 340px; float: left; list-style-type: none;">
                                                <li style="margin: 0px 5px 15px 0px; padding: 0px 0px 15px; width: 306px; float: left;">
                                                    <div class="floatLeft" style="margin: 0px; padding: 0px; float: left;">
                                                        <div class="floatLeft imageContainer" style="margin: 0px; padding: 0px; width: 72px; float: left;">
                                                            <div class="prodThumbnail" style="margin: 0px; padding: 0px; width: 72px; height: 72px; text-align: center; float: left; cursor: pointer;">
                                                                <table class="prodThumbnailTbl ke-zeroborder" style="margin: 0px; padding: 0px; width: 72px; height: 72px;" border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody style="margin: 0px; padding: 0px;">
                                                                        <tr style="margin: 0px; padding: 0px;">
                                                                            <td align="middle" valign="top" style="margin: 0px; padding: 0px; text-align: center;">
                                                                                <img class="img" style="margin: 0px; padding: 0px; border: currentColor;" src="http://china.rs-online.com/catimages/R7973356-01.jpg">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <span class="quickViewLink" style="margin: 0px; padding: 0px; text-align: center; text-decoration: underline; display: block;">快速查看</span>
                                                        </div>
                                                        <div class="floatLeft" style="margin: 0px; padding: 0px; float: left;">
                                                            <div class="prodDetails" style="margin: 0px 0px 0px 10px; padding: 0px; width: 218px; float: left;">
                                                                Tektronix MDO3AFG 示波器 分析模块, 使用于MDO3000 系列<span class="Apple-converted-space">&nbsp;</span><br style="margin: 0px; padding: 0px;">
                                                                <span class="linkedPrice" style="margin: 5px 0px 0px; padding: 0px; font-size: 16px; font-weight: bold; float: left;">RMB5,552.98</span>
                                                            </div>
                                                        </div>
                                                        <div class="clearBoth" style="margin: 0px; padding: 0px; height: 0px; overflow: hidden; clear: both;">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li style="margin: 0px 5px 15px 0px; padding: 0px 0px 15px; width: 306px; float: left;">
                                                    <div class="floatLeft" style="margin: 0px; padding: 0px; float: left;">
                                                        <div class="floatLeft imageContainer" style="margin: 0px; padding: 0px; width: 72px; float: left;">
                                                            <div class="prodThumbnail" style="margin: 0px; padding: 0px; width: 72px; height: 72px; text-align: center; float: left; cursor: pointer;">
                                                                <table class="prodThumbnailTbl ke-zeroborder" style="margin: 0px; padding: 0px; width: 72px; height: 72px;" border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody style="margin: 0px; padding: 0px;">
                                                                        <tr style="margin: 0px; padding: 0px;">
                                                                            <td align="middle" valign="top" style="margin: 0px; padding: 0px; text-align: center;">
                                                                                <img class="img" style="margin: 0px; padding: 0px; border: currentColor;" src="http://china.rs-online.com/catimages/R7973387-01.jpg">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <span class="quickViewLink" style="margin: 0px; padding: 0px; text-align: center; text-decoration: underline; display: block;">快速查看</span>
                                                        </div>
                                                        <div class="floatLeft" style="margin: 0px; padding: 0px; float: left;">
                                                            <div class="prodDetails" style="margin: 0px 0px 0px 10px; padding: 0px; width: 218px; float: left;">
                                                                Tektronix MDO3COMP 示波器 分析模块, 使用于MDO3000 系列<span class="Apple-converted-space">&nbsp;</span><br style="margin: 0px; padding: 0px;">
                                                                <span class="linkedPrice" style="margin: 5px 0px 0px; padding: 0px; font-size: 16px; font-weight: bold; float: left;">RMB8,138.58</span>
                                                            </div>
                                                        </div>
                                                        <div class="clearBoth" style="margin: 0px; padding: 0px; height: 0px; overflow: hidden; clear: both;">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li style="margin: 0px 5px 15px 0px; padding: 0px 0px 15px; width: 306px; float: left;">
                                                    <div class="floatLeft" style="margin: 0px; padding: 0px; float: left;">
                                                        <div class="floatLeft imageContainer" style="margin: 0px; padding: 0px; width: 72px; float: left;">
                                                            <div class="prodThumbnail" style="margin: 0px; padding: 0px; width: 72px; height: 72px; text-align: center; float: left; cursor: pointer;">
                                                                <table class="prodThumbnailTbl ke-zeroborder" style="margin: 0px; padding: 0px; width: 72px; height: 72px;" border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody style="margin: 0px; padding: 0px;">
                                                                        <tr style="margin: 0px; padding: 0px;">
                                                                            <td align="middle" valign="top" style="margin: 0px; padding: 0px; text-align: center;">
                                                                                <img class="img" style="margin: 0px; padding: 0px; border: currentColor;" src="http://china.rs-online.com/catimages/R7973352-01.jpg">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <span class="quickViewLink" style="margin: 0px; padding: 0px; text-align: center; text-decoration: underline; display: block;">快速查看</span>
                                                        </div>
                                                        <div class="floatLeft" style="margin: 0px; padding: 0px; float: left;">
                                                            <div class="prodDetails" style="margin: 0px 0px 0px 10px; padding: 0px; width: 218px; float: left;">
                                                                Tektronix MDO3MSO 示波器 分析模块, 使用于MDO3000 系列<span class="Apple-converted-space">&nbsp;</span><br style="margin: 0px; padding: 0px;">
                                                                <span class="linkedPrice" style="margin: 5px 0px 0px; padding: 0px; font-size: 16px; font-weight: bold; float: left;">RMB11,138.28</span>
                                                            </div>
                                                        </div>
                                                        <div class="clearBoth" style="margin: 0px; padding: 0px; height: 0px; overflow: hidden; clear: both;">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li style="margin: 0px 5px 15px 0px; padding: 0px 0px 15px; width: 306px; float: left;">
                                                    <div class="floatLeft" style="margin: 0px; padding: 0px; float: left;">
                                                        <div class="floatLeft imageContainer" style="margin: 0px; padding: 0px; width: 72px; float: left;">
                                                            <div class="prodThumbnail" style="margin: 0px; padding: 0px; width: 72px; height: 72px; text-align: center; float: left; cursor: pointer;">
                                                                <table class="prodThumbnailTbl ke-zeroborder" style="margin: 0px; padding: 0px; width: 72px; height: 72px;" border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody style="margin: 0px; padding: 0px;">
                                                                        <tr style="margin: 0px; padding: 0px;">
                                                                            <td align="middle" valign="top" style="margin: 0px; padding: 0px; text-align: center;">
                                                                                <img class="img" style="margin: 0px; padding: 0px; border: currentColor;" src="http://china.rs-online.com/catimages/R7973384-01.jpg">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <span class="quickViewLink" style="margin: 0px; padding: 0px; text-align: center; text-decoration: underline; display: block;">快速查看</span>
                                                        </div>
                                                        <div class="floatLeft" style="margin: 0px; padding: 0px; float: left;">
                                                            <div class="prodDetails" style="margin: 0px 0px 0px 10px; padding: 0px; width: 218px; float: left;">
                                                                Tektronix MDO3FLEX 示波器 分析模块, 使用于MDO3000 系列<span class="Apple-converted-space">&nbsp;</span><br style="margin: 0px; padding: 0px;">
                                                                <span class="linkedPrice" style="margin: 5px 0px 0px; padding: 0px; font-size: 16px; font-weight: bold; float: left;">RMB8,138.58</span>
                                                            </div>
                                                        </div>
                                                        <div class="clearBoth" style="margin: 0px; padding: 0px; height: 0px; overflow: hidden; clear: both;">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li style="margin: 0px 5px 15px 0px; padding: 0px 0px 15px; width: 306px; float: left;">
                                                    <div class="floatLeft" style="margin: 0px; padding: 0px; float: left;">
                                                        <div class="floatLeft imageContainer" style="margin: 0px; padding: 0px; width: 72px; float: left;">
                                                            <div class="prodThumbnail" style="margin: 0px; padding: 0px; width: 72px; height: 72px; text-align: center; float: left; cursor: pointer;">
                                                                <table class="prodThumbnailTbl ke-zeroborder" style="margin: 0px; padding: 0px; width: 72px; height: 72px;" border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody style="margin: 0px; padding: 0px;">
                                                                        <tr style="margin: 0px; padding: 0px;">
                                                                            <td align="middle" valign="top" style="margin: 0px; padding: 0px; text-align: center;">
                                                                                <img class="img" style="margin: 0px; padding: 0px; border: currentColor;" src="http://china.rs-online.com/catimages/R7973380-01.jpg">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <span class="quickViewLink" style="margin: 0px; padding: 0px; text-align: center; text-decoration: underline; display: block;">快速查看</span>
                                                        </div>
                                                        <div class="floatLeft" style="margin: 0px; padding: 0px; float: left;">
                                                            <div class="prodDetails" style="margin: 0px 0px 0px 10px; padding: 0px; width: 218px; float: left;">
                                                                Tektronix MDO3EMBD 示波器 分析模块, 使用于MDO3000 系列<span class="Apple-converted-space">&nbsp;</span><br style="margin: 0px; padding: 0px;">
                                                                <span class="linkedPrice" style="margin: 5px 0px 0px; padding: 0px; font-size: 16px; font-weight: bold; float: left;">RMB8,138.58</span>
                                                            </div>
                                                        </div>
                                                        <div class="clearBoth" style="margin: 0px; padding: 0px; height: 0px; overflow: hidden; clear: both;">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li style="margin: 0px 5px 15px 0px; padding: 0px 0px 15px; width: 306px; float: left;">
                                                    <div class="floatLeft" style="margin: 0px; padding: 0px; float: left;">
                                                        <div class="floatLeft imageContainer" style="margin: 0px; padding: 0px; width: 72px; float: left;">
                                                            <div class="prodThumbnail" style="margin: 0px; padding: 0px; width: 72px; height: 72px; text-align: center; float: left; cursor: pointer;">
                                                                <table class="prodThumbnailTbl ke-zeroborder" style="margin: 0px; padding: 0px; width: 72px; height: 72px;" border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody style="margin: 0px; padding: 0px;">
                                                                        <tr style="margin: 0px; padding: 0px;">
                                                                            <td align="middle" valign="top" style="margin: 0px; padding: 0px; text-align: center;">
                                                                                <img class="img" style="margin: 0px; padding: 0px; border: currentColor;" src="http://china.rs-online.com/catimages/R7973378-01.jpg">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <span class="quickViewLink" style="margin: 0px; padding: 0px; text-align: center; text-decoration: underline; display: block;">快速查看</span>
                                                        </div>
                                                        <div class="floatLeft" style="margin: 0px; padding: 0px; float: left;">
                                                            <div class="prodDetails" style="margin: 0px 0px 0px 10px; padding: 0px; width: 218px; float: left;">
                                                                Tektronix MDO3AUTO 示波器 分析模块, 使用于MDO3000 系列<span class="Apple-converted-space">&nbsp;</span><br style="margin: 0px; padding: 0px;">
                                                                <span class="linkedPrice" style="margin: 5px 0px 0px; padding: 0px; font-size: 16px; font-weight: bold; float: left;">RMB8,138.58</span>
                                                            </div>
                                                        </div>
                                                        <div class="clearBoth" style="margin: 0px; padding: 0px; height: 0px; overflow: hidden; clear: both;">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li style="margin: 0px 5px 15px 0px; padding: 0px 0px 15px; width: 306px; float: left;">
                                                    <div class="floatLeft" style="margin: 0px; padding: 0px; float: left;">
                                                        <div class="floatLeft imageContainer" style="margin: 0px; padding: 0px; width: 72px; float: left;">
                                                            <div class="prodThumbnail" style="margin: 0px; padding: 0px; width: 72px; height: 72px; text-align: center; float: left; cursor: pointer;">
                                                                <table class="prodThumbnailTbl ke-zeroborder" style="margin: 0px; padding: 0px; width: 72px; height: 72px;" border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody style="margin: 0px; padding: 0px;">
                                                                        <tr style="margin: 0px; padding: 0px;">
                                                                            <td align="middle" valign="top" style="margin: 0px; padding: 0px; text-align: center;">
                                                                                <img class="img" style="margin: 0px; padding: 0px; border: currentColor;" src="http://china.rs-online.com/catimages/R7973374-01.jpg">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <span class="quickViewLink" style="margin: 0px; padding: 0px; text-align: center; text-decoration: underline; display: block;">快速查看</span>
                                                        </div>
                                                        <div class="floatLeft" style="margin: 0px; padding: 0px; float: left;">
                                                            <div class="prodDetails" style="margin: 0px 0px 0px 10px; padding: 0px; width: 218px; float: left;">
                                                                Tektronix MDO3AUDIO 示波器 分析模块, 使用于MDO3000 系列<span class="Apple-converted-space">&nbsp;</span><br style="margin: 0px; padding: 0px;">
                                                                <span class="linkedPrice" style="margin: 5px 0px 0px; padding: 0px; font-size: 16px; font-weight: bold; float: left;">RMB8,138.58</span>
                                                            </div>
                                                        </div>
                                                        <div class="clearBoth" style="margin: 0px; padding: 0px; height: 0px; overflow: hidden; clear: both;">
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearBoth" style="margin: 0px; padding: 0px; height: 0px; overflow: hidden; clear: both;">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearBoth" style="margin: 0px; padding: 0px; height: 0px; overflow: hidden; clear: both;">
                                </div>
                            </div>
                            <div style="font: 12px/normal Arial, Verdana, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(51, 51, 51); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255); -webkit-text-stroke-width: 0px;">
                                <br class="Apple-interchange-newline">
                            </div>
                            <div class="clearBoth" style="margin: 0px; padding: 0px; height: 0px; overflow: hidden; clear: both;">
                            </div>
                        </div>
                        <br class="Apple-interchange-newline">
                        <div class="msSubCon">
                            <div class="h" id="ProductBorder_3">
                                <b style="border-width: 0px 0px 1px;">产品留言</b>
                            </div>
                            <div class="m">
                                <div class="item">
                                    <span>标题</span>
                                    <div>
                                        <input name="txtMsgTitle" class="txt" id="txtMsgTitle" type="text" maxlength="100">
                                    </div>
                                </div>
                                <div class="item item1">
                                    <span>联系人</span>
                                    <div>
                                        <input name="txtClientName" class="txt" id="txtClientName" type="text" maxlength="30">
                                    </div>
                                </div>
                                <div class="item item2">
                                    <span>联系电话</span>
                                    <div>
                                        <input name="txtClientTel" class="txt" id="txtClientTel" type="text" maxlength="60">
                                    </div>
                                </div>

                                <div class="item">
                                    <span>内容</span>
                                    <div>
                                        <textarea name="txtMsgContent" class="textarea" id="txtMsgContent" rows="2" cols="20"></textarea>
                                    </div>
                                </div>
                                <div class="item item3">
                                    <span>验证码</span>
                                    <div class="checkcode">
                                        <input name="txtValidate" class="txt" id="txtValidate" type="text" maxlength="4">
                                    </div>
                                    <img height="37" id="ValidateImage" style="margin-top: 0px;" src="http://www.superstat.cn/ODDEmbed.aspx">
                                    <a onclick="YiZMsgImageChanged()" href="javascript:;">点击换一张</a>
                                </div>
                                <div class="actions">
                                    <input onclick="YiZSendMsg(508519, 2003969884, 1, 'zh-cn    ');" type="button" value="发送留言">
                                    <input name="reset" class="button" id="reset" type="reset" value="重置">
                                </div>
                                <div class="tips">
                                    注：1.可以使用快捷键Alt+S或Ctrl+Enter发送信息!<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.如有必要,请您留下您的详细联系方式!
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('mbxSubCon').innerHTML = document.getElementById('mbxSubCon').innerHTML.replace(/>>>/gi, '>').replace(/&gt;&gt;&gt;/gi, '&gt;').replace(/text-decoration: underline;/gi, '');
        var html = document.getElementById('spanProNav').innerHTML;
        if (html.toLowerCase().indexOf('<br') != -1)
            document.getElementById('spanProNav').innerHTML = html.substring(0, html.toLowerCase().indexOf('<br'));
    </script>
</div>