
<div class="InnerMainTitle title">
    <i></i>
    <h2>产品资料</h2>
</div>
<div class="InnerMainContent">
    <div class="piSubCon" id="piSubCon">
        <h1>
            开发板OK 6410<div class="yizbdshare"><div class="bdsharebuttonbox"><a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a></div></div>
            <span id="ctl00_piSubCon_Label1"></span>
        </h1>
        <div class="content" id="imgProductInfo">
            <div id="ProductSimpleIntro">
                <div class="img"><img onload="ResizeImage_Special(this,240,240)" alt="开发板OK 6410" src="@Url.Content("~/images/product/2015041513520502.jpg")"></div>
            </div>
            <div class="info">
                <ul>
                    <li><span style="padding-top: 3px; float: left;">如果您对该产品感兴趣的话，可以拨打热线：010-80741878或QQ：371003817进行咨询</span><a href="#SendMessage"></a></li>
                    <li>
                        产品名称：<span id="ctl00_piSubCon_ProductNameLabel">开发板OK 6410</span>
                    </li>
                    <li>产品型号：<span id="ctl00_piSubCon_ProductModelLabel">OK 6410</span></li>
                    <li>产品展商：<span id="ctl00_piSubCon_ProductFacNameLabel">其它品牌</span></li>



                    <li>产品文档：<span id="ctl00_piSubCon_ProductDocLabel">无相关文档</span></li>
                </ul>
            </div>
            <div class="intro">
                <b>简单介绍</b>
                <div><span id="ctl00_piSubCon_ProductSimpleIntroLabel"><h2>经过飞凌工程师的不懈努力，OK6410已经成为当今资料最详实、功能最完善、创新点最多、用户群体最大的ARM11开发板。</h2></span></div>
            </div>
            <div class="detail">
                <b>产品描述</b>
                <div>
                    <span class=" yzeditor" id="ctl00_piSubCon_ProductDetailIntroLabel" style="-ms-word-break: break-all;">
                        &nbsp;
                        <p class="MsoPlainText" style="text-indent: 15.8pt;">
                            <b><span style="color: black;">飞凌<span>S3C6410</span>开发板品质保证<span></span></span></b>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">开发板采用“核心板<span>+</span>底板”结构，比整板结构更易于产品应用；<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">板对板之间选用精良连接器，镀金工艺可保证其常年运行不氧化；<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">整个核心板全部机器贴片，杜绝手工焊接造成的众多隐患；<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">为保证用户自行设计的产品品质，采用<span>6410</span>核心板用户可免费得到底板插座。<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">飞凌<span>S3C6410</span>开发板性能保证<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">独家推出<span>8 Bit</span>硬件纠错算法，很好的保证了用户产品运行的可靠性；<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">出色的电源管理：线性电源<span>+</span>开关电源相组合，在降低功耗的同时保证系统稳定性；<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">支持<span>SLC 1G Nand Flash </span>，快速、稳定的工业级芯片，<span>10</span>万次写入（<span>10</span>倍于<span>MLC</span>）；<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">专业的高速<span>PCB</span>设计：充分考虑信号完整性，合理运用盲埋孔，做到关键信号隔离、等长机制以及串扰与反射考量，军工制板工艺；<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">通过强粉尘、震动、高低温（<span>-20</span>°至<span> +70</span>°）等工业环境考验；<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">超强的扩展能力：核心板引出绝大部分<span>CPU</span>资源，包括<span>8*8</span>矩阵键盘及各种总线、<span>GPIO</span>等。<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21.1pt;">
                            <b><span style="color: black;">飞凌<span>S3C6410</span>开发板应用保证<span></span></span></b>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">支持<span>WinCE</span>、<span>Linux</span>、<span>Android</span>等系统的一键烧写，宿主机可完美支持<span>Windows 2000</span>、<span>Windows XP</span>、<span>Windows7</span>等主流操作系统；<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">配件最丰富：支持<span>WIFI</span>、<span>GPS</span>、<span>GPRS</span>、<span>3G</span>、<span>VGA/TV</span>、摄像头、液晶屏、<span>HDMI</span>数字高清模块等常用配件，独家支持<span>CAN</span>、<span>RS485</span>、矩阵键盘、电源管理等选配模块，并提供相应驱动及应用程序；<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">持续的软件更新：包括<span>linux</span>、<span>WinCE</span>、<span>Android</span>在内的操作系统会不断升级，我们将提供给用户最稳定的软件版本，以及最丰富的应用例程，并开放源码，用户可自由下载；<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">配套资料是由飞凌工程师精心准备的学习教程和操作手册。首创全图形化引导和视频讲解形式，力图层次清晰、内容丰富、生动易懂；<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">飞凌为客户提供完善快捷的售后服务，包括开发板技术解答和产品质量保证。<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">应用领域<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">　　 适用于高端消费类电子产品、工业控制、车载导航、多媒体终端、电子付费终端、行业<span>PDA</span>、嵌入式教育培训、个人学习等。<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21.1pt;">
                            <b><span style="color: black;">硬件参数<span></span></span></b>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">核心板资源<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">Samsung S3C6410</span><span style="color: black;">处理器，<span>ARM1176JZF-S</span>内核，主频<span>533MHz/667MHz</span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">长宽尺寸仅<span>5CM*6CM</span>，现为业内最小<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">引出脚多达<span>320</span>个，完全满足用户的各种扩展需求<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">128M</span><span style="color: black;">字节<span>DDR</span>内存，<span>256M Byte Nand Flash</span>，独家推出<span>8Bit</span>硬件纠错算法，存储安全可靠<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">256M</span><span style="color: black;">字节<span>DDR</span>内存，<span>SLC 1G Byte Nand Flash</span>，快速、稳定的工业级芯片，<span>10</span>万次写入（<span>10</span>倍于<span>MLC</span>）<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">12MHz</span><span style="color: black;">、<span>48MHz</span>、<span>27MHz</span>、<span>32.768KHz</span>时钟源<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">采用进口高质量板对板接插件，确保长期运行可靠性<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">支持<span>5V</span>电压供电<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">底板资源<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">一个复位按键，采用专用芯片进行复位，稳定可靠<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">采用<span>8</span>位拨码开关设置系统启动方式<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">共<span>4</span>个串口，包括<span>1</span>个五线<span>RS 232</span>电平串口（<span>DB9</span>母座）和<span>3</span>个三线<span>TTL</span>电平串口（<span>20pin 2.0mm</span>间距插头座）<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">1</span><span style="color: black;">个<span>100M</span>网口，采用<span>DM9000AE</span>，带连接和传输指示灯<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">1</span><span style="color: black;">个<span>USB HOST</span>插口，支持<span>USB1.1</span>协议，可插鼠标、<span>U</span>盘等<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">1</span><span style="color: black;">个<span>USB Slave</span>接口，支持<span>USB2.0</span>协议，使用<span>Mini-USB</span>插座，可与<span>PC</span>连接<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">1</span><span style="color: black;">个高速<span>SD</span>卡座。可以实现<span>SD Memory</span>功能和<span>SDIO</span>功能<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">1</span><span style="color: black;">个无线网卡接口（<span>WIFI</span>）<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">3</span><span style="color: black;">个<span>3.5mm</span>标准立体声音频插座。其中包括<span>1</span>个音频输出插座，可与耳机连接；<span>1</span>个话筒输入插座；<span>1</span>个线路输入插座<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">触摸板接口支持<span>4</span>线电阻式触摸板<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">1</span><span style="color: black;">路<span>CVBS</span>输出接口（<span>PAL / NTSC</span>）<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">1</span><span style="color: black;">个<span>CMOS</span>摄像头接口，支持<span>ITU-RBT601/656 8</span>位模式，使用<span>10*2</span>插针连接器<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">内部实时时钟，带有后备锂电池座，断电后系统时间不丢失<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">1</span><span style="color: black;">个<span>JTAG</span>接口，使用<span>10*2</span>插针连接器<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">1</span><span style="color: black;">个红外模块<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">4</span><span style="color: black;">个<span>LED</span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">2</span><span style="color: black;">路<span> IIC</span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">1</span><span style="color: black;">个蜂鸣器<span></span></span>
                        </p>
                        <p class="MsoPlainText" style="text-indent: 21pt;">
                            <span style="color: black;">3</span><span style="color: black;">个<span>10</span>×<span>2</span>插针扩展口。一个 包括<span>1</span>路<span>GND</span>、<span>1</span>路<span>DA</span>、<span>8</span>路<span>AD</span>、<span>10</span>路<span>IO</span>、<span>1</span>路<span>SPI</span>。 一个用来扩展<span>8</span>×<span>8</span>矩阵键盘，另一个可连接<span>3</span>个<span>TTL</span>电平的串口和<span>6</span>路<span>IO</span>口，这<span>3</span>个串口中，包括<span>1</span>个五线串口和<span>2</span>个三线串口<span></span></span>
                        </p>
                        <div class="msSubCon">
                            <div class="h" id="ProductBorder_3">
                                <b style="border-width: 0px 0px 1px;">产品留言</b>
                            </div>
                            <div class="m">
                                <div class="item">
                                    <span>标题</span>
                                    <div>
                                        <input name="txtMsgTitle" class="txt" id="txtMsgTitle" type="text" maxlength="100">
                                    </div>
                                </div>
                                <div class="item item1">
                                    <span>联系人</span>
                                    <div>
                                        <input name="txtClientName" class="txt" id="txtClientName" type="text" maxlength="30">
                                    </div>
                                </div>
                                <div class="item item2">
                                    <span>联系电话</span>
                                    <div>
                                        <input name="txtClientTel" class="txt" id="txtClientTel" type="text" maxlength="60">
                                    </div>
                                </div>

                                <div class="item">
                                    <span>内容</span>
                                    <div>
                                        <textarea name="txtMsgContent" class="textarea" id="txtMsgContent" rows="2" cols="20"></textarea>
                                    </div>
                                </div>
                                <div class="item item3">
                                    <span>验证码</span>
                                    <div class="checkcode">
                                        <input name="txtValidate" class="txt" id="txtValidate" type="text" maxlength="4">
                                    </div>
                                    <img height="37" id="ValidateImage" style="margin-top: 0px;" src="">
                                    <a onclick="YiZMsgImageChanged()" href="javascript:;">点击换一张</a>
                                </div>
                                <div class="actions">
                                    <input onclick="YiZSendMsg(508519, 2003601402, 1, 'zh-cn    ');" type="button" value="发送留言">
                                    <input name="reset" class="button" id="reset" type="reset" value="重置">
                                </div>
                                <div class="tips">
                                    注：1.可以使用快捷键Alt+S或Ctrl+Enter发送信息!<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.如有必要,请您留下您的详细联系方式!
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('mbxSubCon').innerHTML = document.getElementById('mbxSubCon').innerHTML.replace(/>>>/gi, '>').replace(/&gt;&gt;&gt;/gi, '&gt;').replace(/text-decoration: underline;/gi, '');
        var html = document.getElementById('spanProNav').innerHTML;
        if (html.toLowerCase().indexOf('<br') != -1)
            document.getElementById('spanProNav').innerHTML = html.substring(0, html.toLowerCase().indexOf('<br'));
    </script>
</div>