@{
    ViewBag.KeyWords = "电子元器件，元器件采购，电阻，电容，芯片，开发版，仿真器，单孔万能板单面，设备诊断仪器，实验工具及配件，精密电位器/500Ω (501)";
    ViewBag.Description = "精密电位器/500Ω (501)。订购热线：13121882225         010-80741878 ";
}
<div class="InnerMainTitle title">
    <i></i>
    <h2>产品资料</h2>
</div>
<div class="InnerMainContent">
    <div class="piSubCon" id="piSubCon">
        <h1>
            精密电位器/500Ω (501)<div class="yizbdshare"><div class="bdsharebuttonbox"><a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a></div></div>
            <span id="ctl00_piSubCon_Label1"></span>
        </h1>
        <div class="content" id="imgProductInfo">
            <div id="ProductSimpleIntro">
                <div class="img"><img onload="ResizeImage_Special(this,240,240)" alt="精密电位器/500Ω (501)" src="@Url.Content("~/images/product/2015070813495135.jpg")"></div>
            </div>
            <div class="info">
                <ul>
                    <li><span style="padding-top: 3px; float: left;">如果您对该产品感兴趣的话，可以拨打热线：010-80741878或QQ：371003817进行咨询</span><a href="#SendMessage"></a></li>
                    <li>
                        产品名称：<span id="ctl00_piSubCon_ProductNameLabel">精密电位器/500Ω (501)</span>
                    </li>
                    <li>产品型号：<span id="ctl00_piSubCon_ProductModelLabel">3362P-1-501</span></li>
                    <li>产品展商：<span id="ctl00_piSubCon_ProductFacNameLabel">YXD(友兴达)</span></li>



                    <li>产品文档：<span id="ctl00_piSubCon_ProductDocLabel">无相关文档</span></li>
                </ul>
            </div>
            <div class="intro">
                <b>简单介绍</b>
                <div>
                    <span id="ctl00_piSubCon_ProductSimpleIntroLabel">
                        <h2>
                            商品名称：500Ω (501)
                            商品类别：精密电位器
                            商品型号：3362P-1-501
                            商品编号：D0083086
                            封装规格：3362P
                            生产批号：
                            商品毛重：0.000001KG
                        </h2>
                    </span>
                </div>
            </div>
            <div class="detail">
                <b>产品描述</b>
                <div>
                    <span class=" yzeditor" id="ctl00_piSubCon_ProductDetailIntroLabel" style="-ms-word-break: break-all;">
                        <table width="100%" class="ke-zeroborder" id="tab1" style="font: 12px/normal Simsun; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(102, 102, 102); text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; font-size-adjust: none; font-stretch: normal; -webkit-text-stroke-width: 0px;" border="0" cellspacing="0" cellpadding="0">
                            <tbody style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(89, 89, 89); font-size: 12px;">
                                <tr style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(89, 89, 89); font-size: 12px;">
                                    <td style="margin: 0px; padding: 0px 0px 0px 36px; outline: 0px; border: 0px currentColor; color: rgb(102, 102, 102); line-height: 30px; font-size: 12px;">
                                        商品名称：500Ω (501)
                                    </td>
                                    <td style="margin: 0px; padding: 0px 0px 0px 36px; outline: 0px; border: 0px currentColor; color: rgb(102, 102, 102); line-height: 30px; font-size: 12px;">
                                        商品类别：精密电位器
                                    </td>
                                    <td style="margin: 0px; padding: 0px 0px 0px 36px; outline: 0px; border: 0px currentColor; color: rgb(102, 102, 102); line-height: 30px; font-size: 12px;">
                                        商品型号：3362P-1-501
                                    </td>
                                </tr>
                                <tr style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(89, 89, 89); font-size: 12px;">
                                    <td style="margin: 0px; padding: 0px 0px 0px 36px; outline: 0px; border: 0px currentColor; color: rgb(102, 102, 102); line-height: 30px; font-size: 12px;">
                                        商品编号：D0083086
                                    </td>
                                    <td style="margin: 0px; padding: 0px 0px 0px 36px; outline: 0px; border: 0px currentColor; color: rgb(102, 102, 102); line-height: 30px; font-size: 12px;">
                                        封装规格：3362P
                                    </td>
                                    <td style="margin: 0px; padding: 0px 0px 0px 36px; outline: 0px; border: 0px currentColor; color: rgb(102, 102, 102); line-height: 30px; font-size: 12px;">
                                        生产批号：
                                    </td>
                                </tr>
                                <tr style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(89, 89, 89); font-size: 12px;">
                                    <td style="margin: 0px; padding: 0px 0px 0px 36px; outline: 0px; border: 0px currentColor; color: rgb(102, 102, 102); line-height: 30px; font-size: 12px;">
                                        商品毛重：0.000001KG
                                    </td>
                                    <td style="margin: 0px; padding: 0px 0px 0px 36px; outline: 0px; border: 0px currentColor; color: rgb(102, 102, 102); line-height: 30px; font-size: 12px;"></td>
                                    <td style="margin: 0px; padding: 0px 0px 0px 36px; outline: 0px; border: 0px currentColor; color: rgb(102, 102, 102); line-height: 30px; font-size: 12px;"></td>
                                </tr>
                                <tr style="margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(89, 89, 89); font-size: 12px;">
                                    <td style="margin: 0px; padding: 0px 0px 0px 36px; outline: 0px; border: 0px currentColor; color: rgb(102, 102, 102); line-height: 30px; font-size: 12px;" colspan="3">
                                        价格举报：如果您发现有比万联芯城价格更低的，请联系我们（4000-306-326）！
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="msSubCon">
                            <div class="h" id="ProductBorder_3">
                                <b style="border-width: 0px 0px 1px;">产品留言</b>
                            </div>
                            <div class="m">
                                <div class="item">
                                    <span>标题</span>
                                    <div>
                                        <input name="txtMsgTitle" class="txt" id="txtMsgTitle" type="text" maxlength="100">
                                    </div>
                                </div>
                                <div class="item item1">
                                    <span>联系人</span>
                                    <div>
                                        <input name="txtClientName" class="txt" id="txtClientName" type="text" maxlength="30">
                                    </div>
                                </div>
                                <div class="item item2">
                                    <span>联系电话</span>
                                    <div>
                                        <input name="txtClientTel" class="txt" id="txtClientTel" type="text" maxlength="60">
                                    </div>
                                </div>

                                <div class="item">
                                    <span>内容</span>
                                    <div>
                                        <textarea name="txtMsgContent" class="textarea" id="txtMsgContent" rows="2" cols="20"></textarea>
                                    </div>
                                </div>
                                <div class="item item3">
                                    <span>验证码</span>
                                    <div class="checkcode">
                                        <input name="txtValidate" class="txt" id="txtValidate" type="text" maxlength="4">
                                    </div>
                                    <img height="37" id="ValidateImage" style="margin-top: 0px;" src="">
                                    <a onclick="YiZMsgImageChanged()" href="javascript:;">点击换一张</a>
                                </div>
                                <div class="actions">
                                    <input onclick="YiZSendMsg(508519, 2003077080, 1, 'zh-cn    ');" type="button" value="发送留言">
                                    <input name="reset" class="button" id="reset" type="reset" value="重置">
                                </div>
                                <div class="tips">
                                    注：1.可以使用快捷键Alt+S或Ctrl+Enter发送信息!<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.如有必要,请您留下您的详细联系方式!
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('mbxSubCon').innerHTML = document.getElementById('mbxSubCon').innerHTML.replace(/>>>/gi, '>').replace(/&gt;&gt;&gt;/gi, '&gt;').replace(/text-decoration: underline;/gi, '');
        var html = document.getElementById('spanProNav').innerHTML;
        if (html.toLowerCase().indexOf('<br') != -1)
            document.getElementById('spanProNav').innerHTML = html.substring(0, html.toLowerCase().indexOf('<br'));
    </script>
</div>