@{
    ViewBag.KeyWords = "电子元器件，元器件采购，电阻，电容，芯片，开发版，仿真器，单孔万能板单面，设备诊断仪器，实验工具及配件";
    ViewBag.Description = "中泰祥和商城成立于2015年1月2日，隶属于北京中泰祥和科技有限公司，是中国首批尝试开发电子元器件小批量采购的垂直电商之一。订购热线：13121882225         010-80741878 ";

}
<div class="InnerMainTitle title"><i></i><h2>公司新闻</h2></div>
<div class="InnerMainContent">

    <div class="commontext alSubCon" id="alSubCon">
        <ul>

            <li>
                <div class="maxLen">
                    <a title="2015年全国大学生电子设计竞赛" class="link" id="ctl00_alSubCon_rptDatumList_ctl00_hlkTitle" href="@Url.Action("News",new { ID="全国大学生电子设计竞赛"})" target="_blank">2015年全国大学生电子设计竞赛</a>
                </div>
                <span class="time" id="ctl00_alSubCon_rptDatumList_ctl00_lblTime">2015-08-08</span>
            </li>

            <li>
                <div class="maxLen">
                    <a title="儒卓力在中国、香港和台湾设立分公司" class="link" id="ctl00_alSubCon_rptDatumList_ctl01_hlkTitle" href="@Url.Action("News",new { ID="儒卓力在中国、香港和台湾设立分公司"})" target="_blank">儒卓力在中国、香港和台湾设立分公司</a>
                </div>
                <span class="time" id="ctl00_alSubCon_rptDatumList_ctl01_lblTime">2015-04-11</span>
            </li>

            <li>
                <div class="maxLen">
                    <a title="中泰祥和商城（www.buy.zgztxh.com）" class="link" id="ctl00_alSubCon_rptDatumList_ctl02_hlkTitle" href="@Url.Action("News",new { ID="中泰祥和商城"})" target="_blank">中泰祥和商城（www.ztxhbuy.com）</a>
                </div>
                <span class="time" id="ctl00_alSubCon_rptDatumList_ctl02_lblTime">2015-03-28</span>
            </li>

            <li>
                <div class="maxLen">
                    <a title="变革企业IT市场10大趋势 云计算居首位" class="link" id="ctl00_alSubCon_rptDatumList_ctl03_hlkTitle" href="@Url.Action("News",new { ID="变革企业IT市场10大趋势 云计算居首位"})" target="_blank">变革企业IT市场10大趋势 云计算居首位</a>
                </div>
                <span class="time" id="ctl00_alSubCon_rptDatumList_ctl03_lblTime">2015-03-26</span>
            </li>

        </ul>
        <div class="alSubCon_1 page">
            <span id="ctl00_alSubCon_lblTab"></span>
        </div>
    </div>
</div>