@{
    ViewBag.KeyWords = "电子元器件，元器件采购，电阻，电容，芯片，开发版，仿真器，单孔万能板单面，设备诊断仪器，实验工具及配件";
    ViewBag.Description = "中泰祥和商城成立于2015年1月2日，隶属于北京中泰祥和科技有限公司，是中国首批尝试开发电子元器件小批量采购的垂直电商之一。订购热线：13121882225         010-80741878 ";

}
<div class="InnerMainContent">

    <div class="commontext iSubCon1" id="iSubCon1">
        <span class=" yzeditor" id="ctl00_iSubCon1_Label_Intro">
            &nbsp;
            <p align="center" style="background: white; text-align: center;">
                <b><span style="color: black; font-family: 宋体; font-size: 24pt;">关于中泰祥和<span></span></span></b>
            </p>
            <p align="center" style="background: white; text-align: center; text-indent: 30pt;">
                <span style="color: black; font-family: 宋体; font-size: 15pt;"><span>&nbsp; </span></span><span style="color: black; font-family: 宋体; font-size: 15pt;">电子元器件网上商城<span></span></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="color: black; font-family: 宋体; font-size: 15pt;">

                </span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span><span style="color: black; font-family: 宋体; font-size: 15pt;">
                    <br>
                    <br>
                </span><span style="color: black; font-family: 宋体; font-size: 15pt;">公司简介</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left; text-indent: 21pt;">
                <span style="color: black; font-family: 宋体; font-size: 15pt;">中泰祥和商城成立于<span>2015</span>年<span>1</span>月<span>2</span>日，隶属于北京中泰祥和科技有限公司，是中国首批尝试开发电子元器件小批量采购的垂直电商之一。</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left; text-indent: 21pt;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">自创立以来，</span><span style="color: black; font-family: 宋体; font-size: 15pt;">中泰祥和商城<span style="background: white;">就一直坚守着“为科研，教育提供物美价廉”的理念，<span></span></span></span>
            </p>
            <p align="left" style="background: white; text-align: left; text-indent: 21pt;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">在服务上，中泰祥和商城以“<span>1</span>片起卖，产品与价格都绝对透明”为目标，首次突破行业的传统底线，真正做到<span>1</span>片起卖、送货上门，争取做到从厂家直接到客户。</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left; text-indent: 21pt;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">&nbsp;</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left; text-indent: 21pt;">
                <span style="color: black; font-family: 宋体; font-size: 15pt;">&nbsp;</span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">终身承诺</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">1</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">、为科研，教育提供物美价廉的产品，</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">100%</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">原装</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">正品</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">；</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">2</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">、<span>7</span>天无条件全额退款；</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">3</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">、价格公开透明，在保证质量的前提下做到全网最低；</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">4</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">、<span>1</span>片起卖，不设任何购买量下限。</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">服务创新</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">1</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">、简化行业传统“东挑西拣”的繁琐流程，实行元器件配单一站式服务；</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">2</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">、改变行业传统“因人而异”的定价乱象，采用客观固定的定价模式；</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">&nbsp;</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">企业信条</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="color: black; font-family: 宋体; font-size: 15pt;">1</span><span style="color: black; font-family: 宋体; font-size: 15pt;">、诚实守信；</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">2</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">、保证产品质量；</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">3</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">、满足客户需求。</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p style="background: white;">
                <span style="color: black; font-family: 宋体; font-size: 15pt;">用自己的有生之年做一件百年大事。<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
            </p>
            <p style="background: white;">
                <span style="color: black; font-family: 宋体; font-size: 15pt;"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="color: black; font-family: 宋体; font-size: 15pt;">&nbsp;&nbsp;</span><span style="color: black; font-family: 宋体; font-size: 15pt;">——中泰祥和商城</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">企业使命</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">让客户用最少的时间采购到最全最需要的元器件产品，<span></span></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">让最快的速度送到客户手中。</span><span style="color: black; font-family: 宋体; font-size: 15pt;">&nbsp;</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">发展愿景</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">预期<span>2016</span>年销售额突破<span>1000</span>万；</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">2018</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">年销售额突破<span>1</span>亿；</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">2025</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">年</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">登陆港股挂牌上市</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">；</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p align="left" style="background: white; text-align: left;">
                <span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">2034</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">年争取突破</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">100</span><span style="background: white; color: black; font-family: 宋体; font-size: 15pt;">亿，成为行业垂直电商的领头羊！</span><span style="color: black; font-family: 宋体; font-size: 15pt;"></span>
            </p>
            <p>
                <span></span>
            </p>
        </span>
    </div>
</div>