@{
    ViewBag.KeyWords = "电子元器件，元器件采购，电阻，电容，芯片，开发版，仿真器，单孔万能板单面，设备诊断仪器，实验工具及配件";
    ViewBag.Description = "中泰祥和商城成立于2015年1月2日，隶属于北京中泰祥和科技有限公司，是中国首批尝试开发电子元器件小批量采购的垂直电商之一。订购热线：13121882225         010-80741878 ";

}
<div class="InnerMainTitle title"><i></i><h2>资料下载</h2></div>
<div class="InnerMainContent">

    <div class="commontext flSubCon" id="flSubCon">
        <table class="flSubCon_3" border="1" rules="all" cellspacing="0" cellpadding="3">
            <thead>
                <tr class="flSubCon_4">
                    <td class="flSubCon_5">文件名</td>
                    <td class="flSubCon_5">文件大小</td>
                    <td class="flSubCon_5">发布时间</td>
                    <td class="flSubCon_5">下载</td>
                </tr>
            </thead>
            <tbody>

                <tr class="flSubCon_1 repeatItem">
                    <td class="flSubCon_6">
                        飞思卡尔半导体--快速变化市场中的汽车微控制器
                    </td>
                    <td class="flSubCon_7">2MB</td>
                    <td class="flSubCon_7"><span id="ctl00_flSubCon_rptDatumList_ctl00_lblTime">2015-04-04</span></td>
                    <td class="flSubCon_7"><a id="ctl00_flSubCon_rptDatumList_ctl00_hlkDownload" href="~/Files/飞思卡尔半导体--快速变化市场中的汽车微控制器.pdf" target="_blank">查看</a></td>
                </tr>

                <tr class="flSubCon_1 repeatItem">
                    <td class="flSubCon_6">
                        慕尼黑电子展相关资料
                    </td>
                    <td class="flSubCon_7">2MB</td>
                    <td class="flSubCon_7"><span id="ctl00_flSubCon_rptDatumList_ctl01_lblTime">2015-04-04</span></td>
                    <td class="flSubCon_7"><a id="ctl00_flSubCon_rptDatumList_ctl01_hlkDownload" href="~/Files/飞思卡尔半导体--快速变化市场中的汽车微控制器.pdf" target="_blank">查看</a></td>
                </tr>

            </tbody>
        </table>
        <div class="flSubCon_2 page">
            <span id="ctl00_flSubCon_lblTab"></span>
        </div>
    </div>
</div>
