@{ 
    ViewBag.Title = "上海海事大学教育桌面云应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>上海海事大学教育桌面云应用案例<br><small> 云机房崛起，信息化建设取得新的里程碑&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目简述</h2><p>上海海事大学是一所以航运、物流、海洋为特色学科，兼有工、管、经、法、文、理、艺等学科门类的多科性大学。学校一直十分重视教育信息化建设，自2005年起，设立有专门的信息化办公室负责全校的信息化建设工作，几年来，已逐步建立了校园“一卡通”系统，数字化校园平台，办公自动化系统等。随着云计算技术的逐步兴起，学校有意向将云计算引入学校的信息化建设工作中。</p></div><div class="oe-box-item"><h2>应用场景</h2><p>80座的公共机房改造，采用4台物理服务器+80个传统PC（虚实双系统）+噢易教育桌面云软件的部署模式，可满足80个桌面并发运行。创建了2套教学场景，分别安装了Windows7和WindowsXP的操作系统，分别安装了所需的应用软件，以满足不同的上课需要。同时，终端采用 “ 虚实双系统”进行部署，兼备本地系统与虚拟系统，能够很好地保障教学安全。<br>常用软件： Microsoft Office2010、Photoshop CS5、Dreamweaver CS5、Illustrator CS5、Flash CS5.5、红蜘蛛多媒体软件等。</p></div><div class="oe-box-item"><h2>价值体现</h2><p>1、将云计算技术引入传统机房，改变了原有的教学模式和授课模式，提升了硬件设备的投资利用率，推动了学校信息化建设工作的进一步发展。<br>2、噢易教育桌面云提供统一的web管理平台，管理员通过登录web管理平台即可实现对所有资源的统一管理，相较以往的管理模式，管理效率和管理简便度有了大幅度的提升。<br>3、噢易教育桌面云提供本地系统与虚拟桌面的双重设置，既优化了教学管理，又保障了教学连续。</p></div><div class="oe-box-item"><h2>方案配置</h2><p>上海海事大学教育桌面云硬件配置：<br></p><table class="table table-bordered table-hover"><tbody><tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow"><td>设备名称</td><td>详细参数</td><td>数量</td></tr><tr><td rowspan="5" style=" text-align:center; padding-top:85px;">云服务器</td><td>CPU：Intel Xeon 2路6核</td><td rowspan="5" style=" text-align:center;  padding-top:85px;">4</td></tr><tr><td>内存：96G DDR3</td></tr><tr><td>硬盘：1*240G SSD</td></tr><tr><td>6*300G 15K SAS</td></tr><tr><td>网卡：4*1000M</td></tr><tr><td rowspan="5" style=" text-align:center; padding-top:85px;">云终端</td><td>传统PC</td><td rowspan="5" style=" text-align:center; padding-top:85px;">80</td></tr><tr><td>CPU:Intel I5</td></tr><tr><td>内存：8GB DDR3</td></tr><tr><td>硬盘：1T SATA</td></tr><tr><td>网口：1*10/100/1000M自适应网口</td></tr><tr><td style=" text-align:center;">显示器</td><td>19.5寸LED宽屏显示器</td><td style=" text-align:center;">80</td></tr><tr><td style=" text-align:center;">键盘鼠标</td><td>USB键盘鼠标套装</td><td style=" text-align:center;">80</td></tr></tbody></table></div><div class="oe-box-item"><h2>现场实景</h2><p style="text-align: center;"><img src="../../Images/ztxhkj/AnLiDetail/57b2a5922c170.jpg" title="上海海事_01.jpg" alt="上海海事_01.jpg"></p></div><div class="oe-box-item"><h2>用户评价</h2><p>在云机房运行了一段时间以后，现教中心的胡老师说道：“这是我们学校第一次尝试建设云机房，对于云相关的系统，我们老师都是第一次接触，所以，在这之前，我还有点担心新的系统会不会存在问题，结果，用了你们的教育桌面云以后，我才发现我之前的担心都多余了。云机房确实好用，不管是我们的维护老师，还是我们的学生，都说这套系统的使用很直接，容易上手。我们的维护老师也不用一天到晚的往机房跑了。我们今年还打算拿这个机房申报学校的信息化建设示范工程呢，这也算我们学校信息化建设的一个里程碑吧”。</p></div></div> </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="~/home/Anli/高教"><h3>高教 <small>HIGHER EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/西华大学" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/四川师范大学" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/中国计量学院教育桌面云应用案例" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/上海应用技术大学教育桌面云应用案例" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
