@{ 
    ViewBag.Title = "上海应用技术大学教育桌面云应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域-->
    <!--banner区域-->
    <div class="oe-banner-area-style05 swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>上海应用技术大学教育桌面云应用案例<br><small> 多媒体教室+教育桌面云，教学管理更轻松&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1>
                <div class="oe-content-style01"><div class="oe-box-item"><h2>项目简述</h2><p>上海应用技术大学成立于1954年，是一所以应用型、技术型科学研究为导向，以工为主、多科协调发展、特色鲜明的上海市属多科性全日制高校。学校现有180间多媒体教室，分布在两栋教学楼，面向全校1000余名教师开放教学，由学校现代教育技术中心负责全部的日常管理维护工作。在部署噢易教育桌面云之前，多媒体教室所使用的教学终端均为08-10年间采购的传统PC。随着使用时间的不断累积，终端持续损耗，性能下降，只能安装WindowsXP操作系统，且经常会出现一些终端故障导致教学无法持续的教学事故；同时，由于多媒体教室终端设备数量多，地理位置分散，教学环境的部署、日常的管理维护都十分不便，对于现代教育技术中心的老师而言，一直是一个比较大的困扰；此外，部分老师的教材数据量比较大，以往通常是在学期初始，由现代技术教育中心为这些老师将教材拷贝到多媒体教室的传统PC内，十分费时，且累积的数据十分占用终端空间。<br>长期以来，学校都非常关注教学前沿技术的发展，在了解到桌面云的管理便捷性，教学便利性等诸多特点后，有意向将桌面云引入多媒体教室的教学环境，以提升多媒体教室的教学水平。</p></div><div class="oe-box-item"><h2>应用场景</h2><p>上海应用技术大学通过采用原有传统PC+云服务器+噢易教育桌面云软件的方式，将180间多媒体教室改造成了桌面云环境。多媒体教室统一采用“虚实双系统”的部署模式（终端既可以连接虚拟桌面，又具备本地系统，两者相互独立），云终端上统一部署教学桌面，场景统一为windows7操作系统。同时，给部分教材数据量比较大的老师分配了个人桌面，供老师自己备课及教学。<br>常用软件：Microsoft Office 2010，WinRAR，PDF阅读器，chrome浏览器。<br>常用外设：中控系统、音响系统、投影仪、功放设备。</p></div><div class="oe-box-item"><h2>价值体现</h2><p>1、充分利用了原有资源，在提升终端性能的同时节省了大量的采购成本；<br>2、“虚实双系统”保障了在虚拟桌面因网络故障无法访问的时候，直接启用终端的本地桌面，充分保障了教学安全；<br>3、有了个人桌面，老师就可以在办公室里将教材自行拷贝至个人桌面，上课时直接在多媒体教室登录个人桌面进行教学。如此一来，节省了大量部署教学环境的准备时间和教学空间，进而提升了学校多媒体教室的教学效率和教学质量；<br>4、运维老师的工作更加轻松便捷，通过访问桌面云的管理平台，在个人办公室内即可实现对所有多媒体教室的统一管理和维护。</p></div><div class="oe-box-item"><h2>方案配置</h2><p>上海应用技术大学教育桌面云硬件配置：</p><br><table class="table table-bordered table-hover"><tbody><tr style=" text-align: center; background-color: #de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow"><td width="NaN">设备名称</td><td>详细参数</td><td>数量</td></tr><tr><td rowspan="5" style=" text-align:center; padding-top:85px;" width="NaN">云服务器1</td><td>CPU：2路6核</td><td rowspan="5" style=" text-align:center;  padding-top:85px;">4</td></tr><tr><td width="NaN">内存：128G</td></tr><tr><td width="NaN">硬盘：1<em>480G SSD</em></td></tr><tr><td width="NaN">1600G 15K SAS</td></tr><tr><td width="NaN">网卡：4<em>1000M</em></td></tr><tr><td rowspan="5" style=" text-align:center; padding-top:85px;" width="NaN">云服务器2</td><td>CPU：2路4核</td><td rowspan="5" style=" text-align:center;  padding-top:85px;">3</td></tr><tr><td width="NaN">内存：32G</td></tr><tr><td width="NaN">硬盘：1480G SSD</td></tr><tr><td width="NaN">1<em>600G 15K SAS</em></td></tr><tr><td width="NaN">网卡：41000M</td></tr><tr><td style=" text-align:center;" width="NaN">云终端</td><td>利旧原有PC</td><td style=" text-align:center;">180</td></tr></tbody></table></div><div class="oe-box-item"><h2>现场实景</h2><p style="text-align: center;"><img src="../../Images/ztxhkj/AnLiDetail/57a59020d5366.jpg" title="上海应用技术大学.jpg" alt="上海应用技术大学.jpg"></p></div><div class="oe-box-item"><h2>用户评价</h2><p>对于噢易教育桌面云，现代教育技术中心的姚老师说道：“现在市场上的桌面云厂家很多，光我们接触过的就不下5家，各家都有一定的特色，但噢易的特色让我印象特别深刻，我觉得他们很懂教育，功能不繁杂，而且很多功能都非常切合学校的实际应用环境；管理界面也很简洁，不像有的厂商那么复杂，老师能很快上手；而且，一提到案例，大多数厂家都做过机房，仅噢易有多媒体教室方面的案例，我们有去现场看过，现场效果及学校老师的评价，也是促使我们最终选择了噢易的一个重要原因。现在，180间教室已全部升级到桌面云环境，并已在日常教学中投入使用，我们的老师也好，管理员也好，都真切的感受到了新系统使用上的便利性，对我们这次的工作很认可，这都归功于你们的系统啊”。</p></div></div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading">
                        <a href="~/home/Anli/高教"><h3>高教 <small>HIGHER EDUCATION</small></h3></a>
                    </div>
                    <div class="panel-body">
                        <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/西华大学" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/四川师范大学" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/中国计量学院教育桌面云应用案例" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/上海应用技术大学教育桌面云应用案例" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading">
                        <h3>最新案例</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span>
                            <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span>
                            <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span>
                            <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span>
                            <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span>
                            <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
