@{ 
    ViewBag.Title = "中国计量学院教育桌面云应用案例";
    ViewBag.KeyWords = "北京中泰祥和科技有限公司,智慧校园,教育云,云平台,云桌面,桌面云,桌面虚拟化,云课堂,云教室,服务器虚拟化,云计算,虚拟化，中国计量学院教育桌面云应用案例";
    ViewBag.Description = "中国计量学院是我国质量监督检验检疫行业唯一的一所本科院校，是一所计量标准质量检验检疫特色鲜明、多学科协调发展的普通高校。学校教学、生活设施齐全，实验实训设施设备完备，在本次教学机房新建时，学校摒弃了传统PC解决方案，采用了噢易教育桌面云方案，实现了集中化管理、资源动态分配、随时随地的接入桌面办公等功能优势，学校的师生都感受到噢易教育桌面云的双桌面环境、虚实双系统、多教学场景等特色为教育带来的帮助和便利。";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域-->
    <!--banner区域-->
    <div class="oe-banner-area-style05 swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>中国计量学院教育桌面云应用案例<br><small>欲使机房入云端，新建利旧总相宜&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目简述</h2><p><span style="font-family: Simsun; font-size: medium;">中国计量学院是我国质量监督检验检疫行业唯一的一所本科院校，是一所计量标准质量检验检疫特色鲜明、多学科协调发展的普通高校。学校教学、生活设施齐全，实验实训设施设备完备，在本次教学机房新建时，学校摒弃了传统PC解决方案，采用了噢易教育桌面云方案，实现了集中化管理、资源动态分配、随时随地的接入桌面办公等功能优势，学校的师生都感受到噢易教育桌面云的双桌面环境、虚实双系统、多教学场景等特色为教育带来的帮助和便利。</span></p></div><div class="oe-box-item"><h2>应用场景</h2><p><span style="font-family: Simsun; font-size: medium;">本次中国计量学院的教育桌面云项目为两个云机房的建设，终端授权数量为169点，其中一个机房使用盒子+显示器；另一个机房使用旧PC进行改造。&nbsp;</span><br style="font-family: Simsun; font-size: medium; white-space: normal;"><span style="font-family: Simsun; font-size: medium;">两个教室分别安装了winXP和win7_32两种操作系统，又各分为3套教学场景，教学场景的虚拟桌面可根据课程安排功能进行自动切换；在网络不稳定时，可以使用本地真实系统，保证使用桌面云教学或办公的安全性。&nbsp;</span><br style="font-family: Simsun; font-size: medium; white-space: normal;"><span style="font-family: Simsun; font-size: medium;">安装的软件有谷歌浏览器，adobe reader,网页三剑客，PS_CS6,Flash_CS6,CAD2014,MATLAB2012 Ra,office 2010以及其他常用教学软件。</span></p></div><div class="oe-box-item"><h2>价值体现</h2><p><span style="font-family: Simsun; font-size: medium;">与同类产品相比，噢易桌面云无疑更懂教育：&nbsp;</span><br style="font-family: Simsun; font-size: medium; white-space: normal;"><span style="font-family: Simsun; font-size: medium;">1. 本次产品主要用于机房进行教学，而机房面对终端异构导致无法统一管理的问题，在使用噢易教育桌面云后不复存在，而与其他同类产品不同，噢易支持使用旧PC作为终端来连接服务器，大大减少了学校需要投入的资金。&nbsp;</span><br style="font-family: Simsun; font-size: medium; white-space: normal;"><span style="font-family: Simsun; font-size: medium;">2. 中国计量学院时常需要进行等考，在过去每次等考都需要很长时间进行准备，而使用噢易桌面云后，在部署环境时就已经为等考创建了一个独立的纯净场景，且通过噢易为等考设计的计算机名，IP地址快速批量设置，大大减少了老师的工作量，老师再也不会为等考而发愁了。</span></p></div><div class="oe-box-item"><h2>方案配置</h2><p><span style="font-family: Simsun; font-size: medium;">中国计量学院教育桌面云项目的硬件配置如下：</span></p><table class="table table-bordered table-hover"><tbody><tr style=" text-align: center; background-color: #de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow"><td width="30%">设备名称</td><td width="63%">详细参数</td><td width="7%">数量</td></tr><tr><td rowspan="5" style=" text-align:center; padding-top:85px;">云服务器（控制节点）</td><td>CPU:2*Intel Xeon E5-2650 V3 2路10核 双线程</td><td rowspan="5" style=" text-align:center;  padding-top:85px;">1</td></tr><tr><td>内存：128G</td></tr><tr><td>硬盘:2*400G SSD Raid1</td></tr><tr><td>4*600G SAS Raid5</td></tr><tr><td>网卡：4*1000M</td></tr><tr><td rowspan="5" style=" text-align:center; padding-top:85px;">云服务器（计算节点）</td><td>CPU:2*Intel Xeon E5-2650 V3 2路10核 双线程</td><td rowspan="5" style=" text-align:center;  padding-top:85px;">5</td></tr><tr><td>内存：128G</td></tr><tr><td>硬盘:480G SSD Raid0</td></tr><tr><td>4*600G SAS Raid5</td></tr><tr><td>网卡：4*1000M</td></tr><tr><td style=" text-align:center;">云终端</td><td>2G内存，64G SSD硬盘，1000M网卡</td><td style=" text-align:center;">85</td></tr><tr><td style=" text-align:center;">鼠标键盘</td><td>USB鼠标键盘套装</td><td style="text-align: center; word-break: break-all;">85</td></tr></tbody></table></div><div class="oe-box-item"><h2>现场实景</h2><p style="text-align: center;"><img src="../../Images/ztxhkj/AnLiDetail/57a58ff4c41d0.jpg" title="中国计量学院_01.jpg" alt="中国计量学院_01.jpg"></p></div><div class="oe-box-item"><h2>用户评价</h2><p><span style="font-family: Simsun; font-size: medium;">在中国计量学院的客户使用了一段时间后，对噢易教育桌面云表示高度赞扬：“使用没多久，就有一个等级考试，与以往不同的是，使用了噢易的这一款桌面云产品，我们这两个机房等级考试的准备工作比其他传统机房轻松多了，机房老师也没因为等考而加班了，在上课使用时，该产品也完全能够胜任，提供了十分完善的教学环境。”&nbsp;</span><br style="font-family: Simsun; font-size: medium; white-space: normal;"><span style="font-family: Simsun; font-size: medium;">凭借着其对教育行业的深刻理解，噢易获得老师的一次又一次次青睐，为越来越多的学校提供优质的云产品。</span></p></div></div> </div>
            <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading">
                        <a href="~/home/Anli/高教"><h3>高教 <small>HIGHER EDUCATION</small></h3></a>
                    </div>
                    <div class="panel-body">
                        <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/西华大学" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/四川师范大学" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/中国计量学院教育桌面云应用案例" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/上海应用技术大学教育桌面云应用案例" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading">
                        <h3>最新案例</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span>
                            <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span>
                            <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span>
                            <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span>
                            <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span>
                            <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
