@{ 
    ViewBag.Title = "助推泰州市基本公共卫生服务信息系统升级";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>助推泰州市基本公共卫生服务信息系统升级<br><small>泰州市疾控中心自采用OS-Easy vServer对基本公共卫生服务系统IT基础架构升级改造后，不仅日常管理维护更高效便捷，业务系统的可用性和连续性也得到保障，能更好地应对各类基本公共卫生紧急突发事件，业务安全性更高。&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-11-18</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目背景</h2><p style="text-indent: 2em; margin-bottom: 10px; line-height: 1.5em;">泰州市疾病预防控制中心是在市卫生计生委领导下的副处级全民事业单位。主要职能是负责全市传染病、寄生虫病、地方病、非传染性疾病等预防与控制，突发公共卫生事件和灾害疫情应急处置等公共卫生服务。</p><p style="text-indent: 2em; margin-bottom: 10px; line-height: 1.5em;">基本公共卫生服务信息系统平台是泰州市疾控中心最主要的业务系统之一，经过6年的使用出现了设备老化、主要部件发生故障，平台业务复杂程度增加、计算资源枯竭等问题。</p><p style="text-indent: 2em; margin-bottom: 10px; line-height: 1.5em;">为保障基本公共卫生服务信息系统平台的平稳运行就势必要对平台IT基础架构进行升级改造。泰州市疾控中心经过详细的考察，决定采用云数据中心模式改造基本公共卫生服务信息系统平台。</p></div><div class="oe-box-item"><h2>用户需求</h2><p style="line-height: 1.5em;">1、采用云计算模式重打造设基本公共卫生服务信息系统平台IT基础架构，应用虚拟化技术，形成资源化服务模式，简化未来应用上线流程。</p><p style="line-height: 1.5em;">2、增加平台资源总量，采用负载均衡的形式增强平台主要业务的负载能力，以应对日益复杂的基本公共卫生服务需求。</p><p style="line-height: 1.5em;">3、简化管理，实现基本公共卫生服务信息系统平台各业务系统统一管理。</p><p style="line-height: 1.5em;">4、建立网络安全机制，达到网络安全等保要求。</p><p style="line-height: 1.5em;">5、建设虚拟化备份容灾系统，提升基本公共卫生服务信息系统平台安全。</p><p style="line-height: 1.5em;">6、合理保护原有投资、适当利旧。</p></div><div class="oe-box-item"><h2>架构设计</h2><p style="text-align: center;"><img src="../../Images/ztxhkj/AnLiDetail/582e73e44c58c.jpg" title="改造后架构2.jpg" alt="改造后架构2.jpg"></p></div><div class="oe-box-item"><h2>建设内容</h2><p style="line-height: 1.5em;">1、使用OS-Easy vServer服务器虚拟化软件，利用三台高性能的两路服务器组建底层服务器虚拟化平台，将计算资源“池化”。新业务上线时，可简化掉设备采购流程，提升业务上线速度。</p><p style="line-height: 1.5em;">2、通过硬件升级和虚拟化改造，基本公共卫生服务信息系统平台资源总量提升到原来的300%，能够满足未来三到五年的业务增长需求。</p><p style="line-height: 1.5em;">3、采用防火墙、上网行为管理等安全等保设备，强化防御来自internet的攻击，达到等保要求。</p><p style="line-height: 1.5em;">4、采用P2V方式迁移原有基本公共卫生信息平台、数据库系统自虚拟化环境中，利用高可用、动态资源调整、存储多路径、虚拟机故障检测、USB设备动态迁移等功能，解决服务器故障、链路故障、操作系统层面故障，实现应用自我修复，提高应用连续性。</p><p style="line-height: 1.5em;">5、通过虚拟化平台的应用负载均衡技术，设计采用最多4个虚拟机支撑共同一个基本公共卫生业务，计算资源随业务负载情况弹性调配，可从容应对基本公共卫生紧急突发事件对业务负载的要求。</p><p style="line-height: 1.5em;">6、通过虚拟化平台整合基本公共卫生服务信息系统平台业务，实现业务统一运维、监控、管理，实现故障提前预警、自动化恢复，提供合理健全的统计分析，简化操作，提升运维管理效率。</p><p style="line-height: 1.5em;">7、利用一体化虚拟化备份平台实现虚拟化层、应用数据备份，实现业务及数据层面的数据容灾，提升数据安全性。</p><p style="line-height: 1.5em;">8、提供原厂三年金牌服务支持，提供客户需求原厂工程师8小时至现场提供服务。</p></div><div class="oe-box-item"><h2>建设效果</h2><p style="text-align: center;"><img src="../../Images/ztxhkj/AnLiDetail/582e746a397b8.png" title="111_副本.png" alt="111_副本.png"></p><p style="line-height: 1.5em;"><br></p><p style="line-height: 1.5em;"><span style="color: rgb(222, 59, 10);">1.保障业务稳定运行</span>：基本公共卫生服务信息系统平台运行至今健康档案增长至330多万份、健康体检增长至近700万份、慢病随访记录增长至600多万条。期间整个平台未发生业务宕机事件，为泰州广大市民提供了连续稳定的基本公共卫生服务。</p><p style="line-height: 1.5em;"><span style="color: rgb(222, 59, 10);">2.缩短业务上线时间</span>：新业务上线由原来的三天（不包括设备采购流程所需时间）时间<strong>缩短至半天</strong>。</p><p style="line-height: 1.5em;"><span style="color: rgb(222, 59, 10);">3.达到等保要求</span>：通过增加网络安全设备增强了基本公共卫生服务信息系统平台安全防护能力，达到了等保的要求。</p><p style="line-height: 1.5em;"><span style="color: rgb(222, 59, 10);">4.扩容了资源总量</span>：基本公共卫生服务信息系统平台资源总量约为原来的300%，能够支持未来三到五年的业务增长。</p><p style="line-height: 1.5em;"><span style="color: rgb(222, 59, 10);">5.提高了平台资源利用率</span>：采用应用负载机制，弹性调配资源配给，资源利用率提高，平台整体资源占用率保持在35%~40%。</p><p style="line-height: 1.5em;"><span style="color: rgb(222, 59, 10);">6.提高业务负载能力</span>：采用应用负载机制，基本公共卫生负载高峰期业务负载能力提高了400%，高峰期业务相应时间由原来的<strong>3秒左右缩减到1秒内</strong>。</p><p style="line-height: 1.5em;"><span style="color: rgb(222, 59, 10);">7.提升平台数据安全</span>：基本公共卫生服务信息系统平台改造至今未出现业务数据丢失状况。灾难恢复演练中，单台业务虚拟机恢复时间<strong>不超过1小时</strong>。</p><p><span style="color: rgb(222, 59, 10);">8.提升运维管理效率</span>：通过业务管理的整合，运维管理工作量<strong>减少了70%</strong>。</p></div></div> </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/21.html"><h3>医疗/卫生 <small>HEALTH CARE</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-yiliaoweisheng.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/助推泰州市基本公共卫生服务信息系统升级" data-toggle="tooltip" title="助推泰州市基本公共卫生服务信息系统升级">
                                        助推泰州市基本公共卫生服务信息系统升级
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/11/18</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/湖北江陵卫计委虚拟化平台建设" data-toggle="tooltip" title="湖北江陵卫计委虚拟化平台建设">
                                        湖北江陵卫计委虚拟化平台建设
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/湖北荆州卫计委云数据中心案例" data-toggle="tooltip" title="湖北荆州卫计委云数据中心案例">
                                        湖北荆州卫计委云数据中心案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/湖北省孝感市卫生局云数据中心案例" data-toggle="tooltip" title="湖北省孝感市卫生局云数据中心案例">
                                        湖北省孝感市卫生局云数据中心案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/荆州市沙市区卫计局数据中心虚拟化改造" data-toggle="tooltip" title="荆州市沙市区卫计局数据中心虚拟化改造">
                                        荆州市沙市区卫计局数据中心虚拟化改造
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
