@{ 
    ViewBag.Title = "十堰中级人民法院虚拟化平台案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>十堰中级人民法院虚拟化平台案例<br><small> &nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            用户需求
                        </h2> <p>            十堰市中级人民法院作为湖北省重要的执法部门之一，信息安全至关重要，事关国家战略和国家利益。所以在进行信息化系统集成建设时，一是要建设技术领先的、安全稳定的、扩展性和兼容性强的虚拟化服务器集群系统，二是充分体现“科技服务审判”的建设宗旨。<br>而随着信息化技术的发展，信息化应用系统的更新换代和不断增长且集中的业务对 IT 基础设施的要求越来越高，数据中心需要更为快速的提供所需能力。但如果购买新的服务器等设备，不仅会增加采购和运作成本，还会带来更多供电和冷却的开支，并且服务器资源还没有得到充分的利用。<br>而通过分析部署软件资产使用行为和虚拟化资源统计等，服务虚拟化可以帮助信息中心管理团队来控制软件生命周期和制定可预见性的采购计划，从而帮助确保可靠的服务交付过程。<br> </p> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a596b3a24be.jpg" title="问题.jpg" alt="问题.jpg"> </p> <p style="text-align: center;"> <br> </p> <p>
                            采用虚拟化技术，将现有物理服务器资源进行整合，实现数据中心机房应用服务器的后台虚拟化，把一台物理服务器虚拟化成多台虚拟的计算机（虚拟机），部署不同的应用系统和服务，提高资源利用率；<br>提供集中式的虚拟化管理平台，远程随时随地维护数据中心机房服务器、虚拟机、网络、数据存储，管理员远程部署业务，实时监控业务运行情况，资源按需调整，并提供“故障动态迁移”、“负载均衡”等高可用性功能，高弹性计算能力用以支持信息化建设中各项业务的稳定、高效运行。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            解决方案
                        </h2> <p>            利用高性能服务器集群配合OS-Easy vServer虚拟化软件，配置共享高效存储系统将：审判信息综合系统、案件查询系统、数字审委会系统、科技法庭、文书屏蔽系统、文书校对系统、人事管理系统等系统整合到虚拟化云平台中。配置虚拟化群集高级功能，以实现群集计算、统一存储、统一备份、集中管理、资源弹性扩展、易于维护升级等目标。从而达到十堰市中院数据中心高效率、高性价比和信息化管理等要求，为后续5-10年十堰中院信息化发展提供可扩展的硬件支持平台。<br> </p> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a5690f76307.jpg" title="2016080607shiyan.jpg" alt="2016080607shiyan.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案价值
                        </h2> <h3> <span style="font-size: 17px; color: rgb(222, 59, 10);">提高服务器资源利用率</span> </h3> <p>
                            通过将多服务器资源动态划分，合理利用，并结合业务特点按需调配，平均将单台物理服务器利用率从15%-35%提升至65%-90%。
                        </p> <h3> <span style="font-size: 17px; color: rgb(222, 59, 10);">降低数据中心运营成本</span> </h3> <p>
                            从服务器硬件、数据中心空间成本、电力成本、管理人员成本、集成服务等多个方面整体降低了信息中心运营成本，数据中心服务器和业务规模越大，运营时间越长，所节省的成本就越高。参考成本对比分析：
                        </p><br> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr class="firstRow" style="background-color: #de3a0b; color: #fff; text-align:center;">
                                    <th width="15%" scope="col" style="text-align:center;">
                                        对比项
                                    </th>
                                    <th width="42%" scope="col" style="text-align:center;">
                                        虚拟化前
                                    </th>
                                    <th width="43%" scope="col" style="text-align:center;">
                                        虚拟化后
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        服务器数量
                                    </th>
                                    <td class="active">
                                        9台服务器
                                    </td>
                                    <td class="active">
                                        新购3台物理按照1:10的比例可虚拟出30台虚拟服务器
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        资源利用率
                                    </th>
                                    <td class="active">
                                        不同服务器资源利用不均，平均在35%
                                    </td>
                                    <td class="active">
                                        资源整合，按需分配，服务器资源利用率提高到80%
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        应用部署速度性
                                    </th>
                                    <td>
                                        新应用安装上线时，需要采购新服务器、安装操作系统，系统补丁、安装应用、配置服务、进行安全设置，部署周期在3-5工作日。
                                    </td>
                                    <td>
                                        预先制定好的各种操作系统、应用模板和自部署向导或拷贝虚拟机，半个小时完成新应用上线
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        业务连续性
                                    </th>
                                    <td class="active">
                                        服务器硬件故障，数据丢失、停机维护，业务中断
                                    </td>
                                    <td class="active">
                                        在线迁移虚拟机到其他物理服务器，业务正常开展
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        管理维护
                                    </th>
                                    <td>
                                        应用部署、环境搭建、网络配置等，工作量大，需要机房现场维护， 10台服务器/1管理员。
                                    </td>
                                    <td>
                                        远程管理数据中心机房，无需到现场，100服务器/1管理员
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        耗电量
                                    </th>
                                    <td class="active">                        一般服务器（4CPU）650瓦<em>24</em>30=468度电/月，约250元电费；<br>10台=2500元/每年<br> </td>
                                    <td class="active" style="word-break: break-all;">
                                        绿色节能，节省占地空间，机柜数量减少<br>3台=750元/每年
                                    </td>
                                </tr>
                            </tbody>
                        </table> <h3> <span style="font-size: 17px; color: rgb(222, 59, 10);">保证业务的连续性</span> </h3> <p>            通过动态迁移，高可用性、负载均衡等自动化的服务方式，有效保证了终端业务访问的连续性和服务平台运行的稳定性。<br> <span style="font-size: 17px; color: rgb(222, 59, 10);"></span> </p> <h3> <span style="font-size: 17px; color: rgb(222, 59, 10);">弹性扩展的IT架构，适应不断增长变化的业务</span> </h3> <p>            云数据中心硬件设备可无限扩容，更新换代不影响业务运行，适应不断增长变化的业务架构，弹性扩展；虚拟机互相隔离的特点，使得新老业务兼容，消除“一台服务器一个应用程序”模式。<span style="font-size: 17px; color: rgb(222, 59, 10);"><br></span> </p> <h3> <span style="font-size: 17px; color: rgb(222, 59, 10);">简化管理，方便维护</span> </h3> <ul class=" list-paddingleft-2">
                            <li>
                                <p>
                                    <strong>快速部署业务环境</strong>：加快新服务器和应用的部署，大大降低服务器重建和应用加载时间。主动地提前规划资源增长，这样对客户和应用的需求响应快速。
                                </p>
                            </li>
                            <li>
                                <p>
                                    <strong>缩短维护时间</strong>：硬件维护需要数天/周的变更管理准备和1~3小时维护窗口，现在可以进行快速的硬件维护和升级。
                                </p>
                            </li>
                            <li>
                                <p>
                                    <strong>方便搭建试验环境</strong>：企业搭建生产应用环境，提前评估建立环境所需的资源，可在虚拟机环境进行试验，再正式扩展到生产环境，让IT风险降到最低。
                                </p>
                            </li>
                            <li>
                                <p>
                                    <strong>图形化Web界面</strong>：安装配置、管理全中文界面，提供了丰富的远程管理和控制界面，实现足不出户的管理，大幅度的简化了大量服务器的运维管理工作。
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/20.html"><h3>法院 <small>COURT</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('/data/upload//00000000/anli-gongjianfa.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/64.html" data-toggle="tooltip" title="荆门中级人民法院虚拟化平台案例">
                                        荆门中级人民法院虚拟化平台案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/63.html" data-toggle="tooltip" title="十堰中级人民法院虚拟化平台案例">
                                        十堰中级人民法院虚拟化平台案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/62.html" data-toggle="tooltip" title="湖北孝感中级人民法院虚拟化平台建设案例">
                                        湖北孝感中级人民法院虚拟化平台建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/61.html" data-toggle="tooltip" title="随州中级人民法院虚拟化平台案例">
                                        随州中级人民法院虚拟化平台案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/59.html" data-toggle="tooltip" title="江汉中级人民法院虚拟化平台案例">
                                        江汉中级人民法院虚拟化平台案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>