@{ 
    ViewBag.Title = "厦门同安区班班通管理分析系统应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>厦门同安区班班通管理分析系统应用案例<br><small> 运用现代教育技术上好每一堂公开课&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目简述</h2><p>近年来，厦门同安区投入4180多万元，全面装备2000多间教室，全面推动“三通两平台”建设，以教育信息化促进教育均衡跨越发展，形成覆盖全区的区级教育城域网和学校校园网一体的现代教育网络体系，实现了覆盖全区中小学校(包括教学点)的1466套“班班通”，为两岸学生同上一堂课打下了坚实的基础。<br>根据地域广、边远农村较多、教学点多等自身特点，建立名校、城区学校、中心校与教学点及薄弱校的一对一扶持课堂，实行“点对点”远程互动教学，将城区优质的教育资源辐射到边缘的山区薄弱学校，实现优质资源共享、城乡教学一体化。并建立一套完整的教学管理平台，实现教学数据的搜集与反馈，并通过管理平台实现所有终端的统一运维与管理。</p></div><div class="oe-box-item"><h2>价值体现</h2><p><strong>1、加强教师培训</strong><br>通过噢易的校级管理平台，管理员能够直接远程指导学校教师，按照区装备站培训的项目，使全体教师能够了解、认识“班班通”设备性能、功用，熟练掌握和应用，并积极利用网络、空中课堂、教育网站等网络资源用于教学。初步要求全体老师采用电子、电子备课、电子办公。学校、各班、各学科在制定计划时，要注重突显“班班通”元素在教育教学中的应用。全体教师要更新观念，迅速提高应用“班班通”进行教学的能力。<br><strong>2、开展教学研讨</strong><br>通过班班通提炼的一线使用数据，推进“班班通”应用，及时将研究成果运用到教育教学中，提高课堂教学效果。要以活动为载体，组织各年级各学科教师利用“班班通”开展教学观摩课、示范课等教研活动，总结推广好的经验与做法。 <br><strong>3、加强资源库建设</strong><br>积极开发、收集、储备教学资源，定期组织教师对所需资源进行筛选，并以年级、学科、章节或知识点为单位进行归类和整理，形成学校资源库，为“班班通”的教学应用服务。<br><strong>4、强化普及应用</strong><br>将“班班通”设备的普及应用纳入到常规教学管理范畴，根据不同内容，分学科提出课时安排和教学质量评估要求。教师要合理利用“班班通”组织课堂教学活动，开展班、团队会或课外兴趣小组等活动，“班班通”应用覆盖率要达到100%。让学生感受、体验、享用现代教育资源。 <br><strong>5、树立先进典型</strong><br>结合现代教育技术的应用特点，定期召开“班班通”管理和应用研讨会、经验交流会；定期组织班级检查评比，对“班班通”管理和应用成绩突出的教师要进行表彰。</p></div><div class="oe-box-item"><h2>实施效果</h2><p style="text-align: center;"><img src="../../Images/ztxhkj/AnLiDetail/57a585c687c7f.jpg" title="班班通(厦门).jpg" alt="班班通(厦门).jpg"></p></div><div class="oe-box-item"><h2>用户评语</h2><p>噢易班班通根据学校现状，采取集中管控模式。除了对使用数据的搜集外，还能集中对老师个别指导，进行具体的进行操作演示进行远程指导，提升教师电教装备的使用技能。，直观展现示范教育资源在学科教学中的整合应用。 使每一位教师都可以运用现代教育技术上好一堂公开课，并做到坚持使用。</p><p style="text-align: right;">-----厦门市同安区教育局</p></div></div> </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/25.html"><h3>普教 <small>GENERAL EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-pujiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/346.html" data-toggle="tooltip" title="浙江省德清县教育局">
                                        浙江省德清县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/30</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/345.html" data-toggle="tooltip" title="安徽省无为县教育局">
                                        安徽省无为县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/29</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/27.html" data-toggle="tooltip" title="桂林市班班通管理分析系统应用案例">
                                        桂林市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/26.html" data-toggle="tooltip" title="重庆市班班通管理分析系统应用案例">
                                        重庆市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/25.html" data-toggle="tooltip" title="张居正小学教育桌面云应用案例">
                                        张居正小学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
