@{ 
    ViewBag.Title = "咸丰云教室应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>咸丰云教室应用案例<br><small> 35所学校、1295点，噢易云教室落地咸丰&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目简述</h2><p>咸丰县农村义务教育学校“全面改薄”工作从2014年实施，至2018年结束，用5年左右的时间，按照“节俭、安全、实用、够用”，“保基本、兜网底、促公平”和“缺什么补什么”的原则，着力改善基本办学条件，满足全县教育教学和生活基本需要。<br>由于咸丰县机房建设较早，有的学校的计算机教学中还是采用的是纯平显示器，教室整体环境复杂，线路冗余常常会影响学生交流和课堂活动空间。而且，传统PC主机也常会出现应用运行缓慢、使用若干年后导致高故障率、而且软件升级耗时耗力，机房维护工作繁重也是学校机房维护老师头痛的地方。传统PC总是无法避免平均开机时间长、噪音高，学生行为不可控引起的硬件损耗、软件故障，导致学生上课体验差等一系列问题。教育局领导考虑到，即使跟换硬件、或者跟换新的PC机也只能暂时改善，而无法彻底解决。<br>为了从根本上解决必须使用问题，教育局领导考虑使用最新的云教室解决方案。在对国内各大桌面云厂商调研，并考察了相关应用案例后，决定采用目前最先进的桌面虚拟化技术，为35所中小学新建云教室机房。</p></div><div class="oe-box-item"><h2>应用场景</h2><p>咸丰县此次新建35所学校，共计37间云教室，1295个终端。为每个学校建立一套云教室平台，每个教室一朵云。服务器采用噢易针对教育行业特色定制的云主机，使用intel E5系列第三代CPU,配合高速读写的SSD固态硬盘，提供更高的运算与读写性能。终端则采用美观大方的一体机，整个教室布局简单，大方，再无繁琐的走线。教学场景使用WIN7系统，并结合噢易自研的多媒体教学软件，为整体教学提供强有力的保障。<br>常用的软件：Microsoft Office Professional Plus 2010, , WinRAR, 福昕阅读器，风雷影音，搜狗拼音输入法，噢易多媒体网络教学系统。</p></div><div class="oe-box-item"><h2>价值体现</h2><p>1) 在每个教室部署云教室，一个教室一朵云，满足37间教室环境搭建、提供更简单的部署模式与维护方式；<br>2) 整个系统的架构的设计具备良好的扩充能力，能充分利用本次采购硬件平台的前提下，以最小的成本投入，提供最高性价比的体验。并能够支持未来电脑教室的无缝扩容。<br>3) &nbsp;能够将现有教室办公电脑，多媒体教室电脑需要逐步转化成桌面虚拟化环境。为今后校园整体云桌面建设，提供硬件环境整体接入平台支持。<br>4) 使用最新云桌面方式，并不改变学生的使用习惯，除此之外，还可大幅度减少机房管理老师的系统维护和桌面维护工作。<br>5) 系统整体使用噢易云主机、以及低功耗的一体机，相较于传统PC，更问题、更环保；能够充分保障系统的硬件、操作系统、应用环境、数据的安全。<br>6) 支持集群模式，支持教育桌面云环境的可持续性发展。</p></div><div class="oe-box-item"><h2>方案配置</h2><table class="table table-bordered table-hover"><tbody><tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow"><td width="20%">设备名称</td><td width="73%">详细参数</td><td width="7%">数量</td></tr><tr><td rowspan="5" style=" text-align:center; padding-top:85px;">机架式云服务器A</td><td>CPU：2颗Intel X86至强系列CPU，主频2.1或以上，6核或以上</td><td rowspan="5" style=" text-align:center;  padding-top:85px;">15</td></tr><tr><td>内存：≥64GB ECC DDR4内存（速率不低于2133MHz）</td></tr><tr><td>硬盘：1*240GB SSD固态硬盘</td></tr><tr><td>1*1T SATA硬盘</td></tr><tr><td>网卡：2*1000M</td></tr><tr><td rowspan="5" style=" text-align:center; padding-top:85px;">机架式云服务器B</td><td>CPU：2颗Intel X86至强系列CPU，主频2.3或以上，10核或以上</td><td rowspan="5" style=" text-align:center;  padding-top:85px;">22</td></tr><tr><td>内存：≥128GB ECC DDR4内存（速率不低于2133MHz）</td></tr><tr><td>硬盘：1*400GB PCI-E 固态硬盘；固态硬盘随机读不低于27W，随机写不低于25W</td></tr><tr><td>1*1T SATA硬盘</td></tr><tr><td>网卡：2*1000M</td></tr><tr><td rowspan="4" style=" text-align:center; padding-top:85px;">云终端</td><td>CPU: ARM Cortex A9 1.6GHz, 4 Cores</td><td rowspan="4" style=" text-align:center; padding-top:85px;">1295</td></tr><tr><td>内存：1GB DDR3</td></tr><tr><td>NAND Flash： 8GB</td></tr><tr><td>接口：1*HDMI接口，1*VGA接口，1个网口，4*USB 2.0，Audio in/out</td></tr><tr><td style=" text-align:center;">教师管理机</td><td>CPU≥i3，内存≥4G，接口 ≥4个USB接口，标准声卡 集成HD Audio，硬盘 ≥500G，网卡 ≥10/100/1000M以太网卡，显示器 ≥21.5寸液晶显示器，USB键盘、鼠标</td><td style=" text-align:center;">37</td></tr><tr><td style=" text-align:center;">网络机柜</td><td>18U服务器机柜</td><td style=" text-align:center;">37</td></tr><tr><td style=" text-align:center;">24口全千兆口交换机</td><td>千兆口交换机</td><td style=" text-align:center;">80</td></tr><tr><td style=" text-align:center;">云教学管理软件</td><td>虚拟化教学管理软件</td><td style=" text-align:center;">1295</td></tr></tbody></table></div><div class="oe-box-item"><h2>现场实景</h2><p style="text-align: center;"><img src="../../Images/ztxhkj/AnLiDetail/57a56bc16499a.jpg" title="咸丰.jpg" alt="咸丰.jpg"></p></div><div class="oe-box-item"><h2>用户评语</h2><p>噢易云教室在咸丰安装实施后，各个学校的管理人员、机房老师，给出一致好评：<br>噢易云教室部署完成之后，相对于传统PC，更稳定，开机速度更快，并且实现了教学环境真正的集中管理，云终端几乎不存在维护的问题，将老师从以往繁琐的电脑维护工作中解脱，将更多的时间投入到学校信息化建设中。<br>虽然是第一次使用虚拟桌面，但是整体感觉与使用与真实PC中几乎没有差别，整个教室非常安静，再也没有之前所有电脑开机时的嘈杂。云终端的功耗比传统PC大幅减小，仅电费一项就能为学校节省不少钱。总体来说，噢易云教室不仅给我们管理机房提供了方便，还为学校节省很多的资源，体现了我们机房的先进性，确实给学校带来了很大的便利。同时很期望后续使用噢易云教室的办公桌面，真正的实现移动办公与教学。</p></div></div> </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/25.html"><h3>普教 <small>GENERAL EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-pujiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/浙江省德清县教育局" data-toggle="tooltip" title="浙江省德清县教育局">
                                        浙江省德清县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/30</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/安徽省无为县教育局" data-toggle="tooltip" title="安徽省无为县教育局">
                                        安徽省无为县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/29</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/桂林市班班通管理分析系统应用案例" data-toggle="tooltip" title="桂林市班班通管理分析系统应用案例">
                                        桂林市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/重庆市班班通管理分析系统应用案例" data-toggle="tooltip" title="重庆市班班通管理分析系统应用案例">
                                        重庆市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/张居正小学教育桌面云应用案例" data-toggle="tooltip" title="张居正小学教育桌面云应用案例">
                                        张居正小学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
