@{ 
    ViewBag.Title = "咸宁国土不动产业务系统建设案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>咸宁国土不动产业务系统建设案例<br><small>咸宁国土资源局主管全市土地、矿产等自然资源的规划、管理、保护、合理利用和测绘事业。为完成“服务型政府”和“智慧国土”建设的总体目标，咸宁市国土局拟定建设不动产登记管理平台。经过半年的研究、测试、选型，最终采用噢易云的整体解决方案。&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-08-02</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>用户需求</h2><ol class=" list-paddingleft-2" style="list-style-type: decimal;"><li><p>搭建标准统一、功能完善、系统稳定、安全可靠、纵横互通、集中统一的云计算平台，为各部门信息资源共享、数据交换和协同办公提供了良好支撑。</p></li><li><p>采用架构必须是国际上先进主流的技术，确保在未来3-5年内该技术不会被新技术所代替，避免造成多次重复建设</p></li><li><p>考虑安全性，系统与系统之间、系统与网络之间、系统与存储之间在逻辑上需要做到相互独立，单独系统故障不能连带影响剩余系统。</p></li><li><p>构建不动产登记平台，实现良性发证基础设施，保障未来不动产项目资源冗余。</p></li><li><p>迁移原有矿政一张图、地政一张图、门户、电子政务、数据库、综合监管等系统至虚拟化平台，与不动产业务共享HA、负载均衡、DRS等高级功能。</p></li><li><p>基于当前国土资源局技术团队的人员数量、技术储备、运维经费不充足的现状，整个架构、平台的设计需要逻辑足够直观、非云计算专业人士即可上手、人性化图文并茂、自动运维等。</p></li><li><p>服务的保障性要求，交钥匙工程；至少3年的原厂工程师上门服务，按情况严重性需求2小时内到达用户现场。</p></li><li><p>设计必须考虑国土资源部“十三五”规划的顶层设计，考虑未来便民服务平台构建的一致性。</p></li></ol></div><div class="oe-box-item"><h2>规划拓扑</h2><p style="text-align: center;"><img src="/data/upload/ueditor/20160802/57a05c6b2ad04.png" title="国土拓扑.png" alt="国土拓扑.png"></p></div><div class="oe-box-item"><h2>规划设计</h2><p>咸宁市国土资源局的整体项目规划中涉及核心机房建设、DMZ区域建设，就需要按照整体规划、分步实施的整体思路，整体项目可以分为：</p><ol class=" list-paddingleft-2" style="list-style-type: decimal;"><li><p>完成国土核心机房的基础架构搭建服务器虚拟化集群以及国土不动产平台建设</p></li><li><p>安全方面的改造</p></li><li><p>实现对DMZ区域外发布虚拟化集群的扩展</p></li><li><p>备份体系的完善&nbsp;</p></li></ol><p>按设计规划，本期完成国土不动产虚拟化平台以及备份体系完善。</p></div><div class="oe-box-item"><h2>平台建设</h2><ol class=" list-paddingleft-2" style="list-style-type: decimal;"><li><p>采用云计算技术，结合创新建设模式，搭建标准统一、功能完善、系统稳定、安全可靠、纵横互通、集中统一的云计算虚拟化平台，为各部门信息资源共享、数据交换和协同办公提供了良好支撑。</p></li><li><p>新购物理资源扩展虚拟化平台资源池，满足不动产登记需求。</p></li><li><p>迁移原有矿政一张图、地政一张图、门户、电子政务、数据库、综合监管等系统平台至虚拟化下，并部署高可用、负载均衡、DRS等高级功能，提高应用连续性、可用性。</p></li><li><p>新购双活存储，构建虚拟化平台、应用数据存储空间，提高数据安全性。</p></li><li><p>完善原有备份体系，扩容备份授权，满足不动产登记应用的备份需求。</p></li><li><p>构建统一监控、管理、可视化运维平台，简化系统运维难度。</p></li><li><p>提供三年原厂工程师上门售后服务，按情况严重性需求提供2-3小时内到达用户现场。</p></li></ol></div><div class="oe-box-item"><h2>方案价值</h2><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">网络更加合理</span></h3><p>通过内外网物理隔离改造以后，使国土资源局保持了与国土资源单位的网络同步，增加网络安全（防火墙、IPS、负载均衡、审计等），解决了现有数据中心网络安全方面的短板，保障国土业务安全上线。</p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">业务更连续、更可靠</span></h3><p>迁移原有一张图、门户、电子政务、综合监管以及新建的不动产登记业务平台至虚拟化下，通过基础平台虚拟化、高可用、负载均衡、动态资源调度等技术手段，实现单位内部应用更连续、更可靠，同时使业务在故障情况下具备了自我修复能力。</p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">数据更安全</span></h3><p>采用双活存储搭建模式，当一套存储故障后，双活体系中另外一套存储能自动接管应用资源，达到应用备份的目的，同时通过虚拟化一体备份软件，将业务数据、系统数据、管理数据、整体备份，增加硬件故障情况下的数据恢复能力。</p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">降低投资、提高资源利用率</span></h3><p>通过虚拟化技术有效的利用物理硬件的CPU、内存资源，有效的降低了物理硬件的投入，并且从数据中心空间成本、电力成本、管理人员成本、集成服务等多个方面整体降低了信息中心运营成本，降低投资。</p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">简化管理、方便维护</span></h3><p>通过虚拟化技术加快新应用的部署，大大降低服务器重建和应用上线时间。</p><p>通过虚拟化技术使硬件维护从原来数周更成为1 - 3小时，大大简化了维护的难度。</p><p>通过虚拟化管理软件提供了丰富的远程统一管理和控制界面，实现足不出户，大幅度的简化了大量服务器的运维管理工作。</p></div></div> </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/23.html"><h3>更多行业 <small>OTHERS</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('/data/upload//00000000/anli-guotu.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/287.html" data-toggle="tooltip" title="黄冈国土“原有业务”和“不动产业务”完美切换至云端">
                                        黄冈国土“原有业务”和“不动产业务”完美切换至云端
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/09/05</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/236.html" data-toggle="tooltip" title="黄石劳动就业管理局公共就业服务平台建设案例">
                                        黄石劳动就业管理局公共就业服务平台建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/08/02</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/235.html" data-toggle="tooltip" title="咸宁国土不动产业务系统建设案例">
                                        咸宁国土不动产业务系统建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/08/02</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/234.html" data-toggle="tooltip" title="咸宁公积金业务管理系统虚拟化建设案例">
                                        咸宁公积金业务管理系统虚拟化建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/08/02</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/233.html" data-toggle="tooltip" title="湖北荆州社保虚拟化数据中心建设案例">
                                        湖北荆州社保虚拟化数据中心建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
