@{ 
    ViewBag.Title = "天津大学仁爱学院教育桌面云应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>天津大学仁爱学院教育桌面云应用案例<br><small> 建设自由接入、资源共享、弹性分配的云服务平台&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目简述
                        </h2> <p>
                            天津大学仁爱学院充分发挥天津大学的优质教育资源，创新办学机制，实行开放式办学、多样化培养，办学水平和人才培养质量位居同类院校前列。天津大学仁爱学院在2014年进行了云计算技术的尝试，首次将一个教学机房和一批教师办公采用了噢易教育桌面云的方案。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            应用场景
                        </h2> <p>
                            本次天津大学仁爱学院的教育桌面云项目，一共200点的授权，主要完成一个100台终端的教学机房和100个老师移动办公。仁爱学院有一些教师会跨校区上课，所以这100个教师的虚拟桌面要支持互联网的访问；而教学机房内的100个终端，由于日常上课的需要，除了部署噢易教育桌面云外，需要使用多套教学场景上课，使用多媒体教学软件进行屏幕广播和视频教学等。<br>常用软件有：Adobe Flash Player, Microsoft Office Professional Plus 2010, WinRAR, Microsoft Visual C++ 6.0，Dreamweaver，VC/VB/VF6.0，暴风影音，PDF阅读器，搜狗拼音输入法，多媒体网络教学系统。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            价值体现
                        </h2> <p>
                            1、在噢易教育桌面云集中管理平台可为不同专业学生创建不同的教学场景，而且不同教学场景可根据课表计划功能自由切换，机房环境可满足不同专业学生的教学需求；<br>2、除了学生上课使用的每次还原的“教学桌面”，为老师分配的“个人桌面”可保存数据并且可随时随地通过网络登录，避免老师跨学区教学造成的桌面环境变化，可自由接入的桌面环境支持老师随时随处备课、办公；<br>3、使用可动态分配的云端计算资源,虚拟桌面可进行多媒体广播和视频教学，而且多媒体广播和视频教学在虚拟环境中的流畅程度完全可以媲美真实的物理环境。<br>4、通过管理平台远程管理服务器，监测云桌面和云终端，操作简单，节省人力成本，相比其他厂商在易用性、可维护性方面具有明显的优势。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案配置
                        </h2> <p>            天津大学仁爱学院教育桌面云项目的硬件配置如下：<br> </p> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow">
                                    <td>
                                        设备名称
                                    </td>
                                    <td>
                                        详细参数
                                    </td>
                                    <td>
                                        数量
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="4" style=" text-align:center; padding-top:85px;">
                                        云服务器
                                    </td>
                                    <td>
                                        刀片服务器
                                    </td>
                                    <td rowspan="4" style=" text-align:center;  padding-top:85px;">
                                        7
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        CPU：Intel 2路8核
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：128G DDR3
                                    </td>
                                </tr>
                                <tr> <td>                        硬盘：2<em>300G 15K SAS</em> </td> </tr>
                                <tr>
                                    <td rowspan="6" style=" text-align:center; padding-top:85px;">
                                        存储设备
                                    </td>
                                    <td>
                                        ISCSI存储
                                    </td>
                                    <td rowspan="6" style=" text-align:center; padding-top:85px;">
                                        1
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2个存储控制器，单一存储系统支持横向扩展16个存储控制器
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        32GB缓存，每控制器缓存容量16GB，支持扩展到256GB，支持闪存数据保护
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        8个10GbE主机端口
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        7个800GB SSD固态硬盘
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        17个1.2TB 10000转SAS硬盘
                                    </td>
                                </tr>
                                <tr> <td></td> <td></td> <td></td> </tr>
                                <tr>
                                    <td rowspan="6" style=" text-align:center; padding-top:85px;">
                                        云终端
                                    </td>
                                    <td>
                                        CPU: Intel®Celeron赛扬双核1037U/1.8GHz
                                    </td>
                                    <td rowspan="6" style=" text-align:center; padding-top:85px;">
                                        200
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        主芯片：Intel NM70
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：2GB DDR3
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        硬盘：8GB固态盘（可选16GB）
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        集显HD Graphics
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        接口：1HDMI接口，1<em>VGA接口，1个网口，5</em>USB 2.0，Audio in/out
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        鼠标键盘
                                    </td>
                                    <td>
                                        USB鼠标键盘套装
                                    </td>
                                    <td style=" text-align:center;">
                                        200
                                    </td>
                                </tr>
                            </tbody>
                        </table> <p> <br> </p> <p>
                            天津大学仁爱学院网络环境拓扑图：
                        </p> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/579adb96664cf.jpg" title="天津1_副本.jpg" alt="天津1_副本.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            现场实景
                        </h2> <p style="text-align: center;"> <img src="http://w3.os-easy.com../../Images/ztxhkj/AnLiDetail/57a59415095a3.jpg" title="天津大学.jpg" alt="天津大学.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户评价
                        </h2> <p>
                            天津大学仁爱学院的项目负责人对于噢易教育桌面云的使用效果，做如下描述：<br>在噢易教育桌面云的虚拟环境中实现多媒体教学软件的屏幕广播、视频教学非常流畅。不仅如此，学校有一些老师需要跨校区上课，噢易教育桌面云为这些老师分配的个人桌面在不同的校区、办公室或是家里都可以通过网络直接访问，避免了老师在不同的校区给学生上课时用U盘来回拷贝课件、由于软件版本问题或是病毒原因造成的教学环境不可用等情况，个人桌面给老师们的教学和办公提供了极大方便。从技术的先进性和操作使用的便利性考虑，噢易教育桌面云的确是很好的产品，帮助学校解决了很多问题，对于桌面云在学校的运行情况，我们很满意。
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/24.html"><h3>高教 <small>HIGHER EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/343.html" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/342.html" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/335.html" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/57.html" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/56.html" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>