@{ 
    ViewBag.Title = "安徽城市管理职业学院教育桌面云应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>安徽城市管理职业学院教育桌面云应用案例<br><small> 利用云计算弹性，实现多专业应用资源共享&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目简述
                        </h2> <p>
                            安徽城市管理职业学院成立于1981年，近年来办学实力日益增强，办学水平不断提高。学院一直致力于提高教学信息化程度，同时关注着现代化机房建设解决方案发展的趋势。云计算技术带来的资源弹性分配、管理的便捷引起了学院的浓厚兴趣，经多方考察学院在新建机房项目中采用了以云计算技术为基础的噢易教育桌面云解决方案。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            应用场景
                        </h2> <p>
                            学院采用云终端加显示器作为终端设备的方式在两个80座的机房里部署噢易教育桌面云，6台噢易云主机组成的服务器集群可负载160个虚拟桌面同时运行。创建3套教学场景分别安装win7系统、win2008系统、linux系统，在不同教学场景中安装相应的专业软件，不同专业学生上课时可自由选择本专业所需教学场景。<br>常用软件: Adobe Flash Player, Microsoft Office 2010,AutoCAD2010 , WinRAR, Microsoft Visual C++ 6.0,VC/VB/VF6.0，福昕阅读器，搜狗拼音输入法, 噢易多媒体网络教学系统。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            价值体现
                        </h2> <p>
                            1、应用先进的桌面虚拟化技术在云端部署机房终端使用的桌面环境，在云端对虚拟桌面进行集中管理、维护，先进的技术提升了学院信息化管理水平；<br>2、噢易教育桌面云为不同专业学生创建了不同的教学场景，教学场景按课程安排可自由切换，桌面云的多场景模式满足了不同专业教学需求，拥有多种教学环境的机房可承载多个专业学生的教学活动；<br>3、云终端加显示器代替传统PC机，节约了建设机房时采购终端设备的投资，而且云终端可直接挂在显示器背后，减小终端设备的占用空间，使机房环境整洁美观，显示出机房的先进性。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案配置
                        </h2> <p>            安徽城市管理职业学院教育桌面云硬件配置：<br> </p><br> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow">
                                    <td>
                                        设备名称
                                    </td>
                                    <td>
                                        详细参数
                                    </td>
                                    <td>
                                        数量
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        云服务器
                                    </td>
                                    <td>
                                        CPU：Intel 2路6核
                                    </td>
                                    <td rowspan="5" style=" text-align:center;  padding-top:85px;">
                                        6
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：128G DDR3
                                    </td>
                                </tr>
                                <tr> <td>                        硬盘：1<em>Intel 530 240G SSD</em> </td> </tr>
                                <tr>
                                    <td>
                                        600G 15K SAS
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        网卡：41000M
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        云终端
                                    </td>
                                    <td>
                                        CPU: Intel双核1.8GHz
                                    </td>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        160
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：2GB DDR3
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        硬盘：8GB SSD
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &amp;集显HD Graphics
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        接口：1HDMI接口，1VGA接口，1个网口，5*USB 2.0，Audio in/out
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        显示器
                                    </td>
                                    <td>
                                        宏碁19.5寸宽屏显示器
                                    </td>
                                    <td style=" text-align:center;">
                                        160
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        键盘鼠标
                                    </td>
                                    <td>
                                        USB键盘鼠标套装
                                    </td>
                                    <td style="text-align: center; word-break: break-all;">
                                        160
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <div class="oe-box-item">
                        <h2>
                            现场实景
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a53528ce1ec.jpg" title="安徽城职.jpg" alt="安徽城职.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户评价
                        </h2> <p>
                            安徽城市管理职业学院采用噢易教育桌面云解决方案建设的机房整洁美观、布局清晰，机房周老师反映他们管理机房的工作量减轻了很多，他说道：“以前任课老师上课需要新软件时，我们就要重传系统，现在通过管理平台就可以安装新软件并且批量更新教学桌面环境，免去了必须到机房安装软件的麻烦，而且我们还可以为不同专业的学生创建不同的教学环境，这样同一间机房就可供多个专业的学生上课使用。通过这段时间的使用体验，我们都觉得噢易教育桌面云这个产品很不错。”
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="~/home/Anli/高教"><h3>高教 <small>HIGHER EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/西华大学" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/四川师范大学" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/中国计量学院教育桌面云应用案例" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/上海应用技术大学教育桌面云应用案例" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
