@{ 
    ViewBag.Title = "安徽省无为县教育局";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域-->
    <!--banner区域-->
    <div class="oe-banner-area-style05 swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>安徽省无为县教育局<br><small>建设教育信息化精品工程，桌面云大有可为&nbsp;&nbsp;&nbsp;&nbsp;日期：2017-06-29</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目简述</h2><p>无为县，隶属于安徽省芜湖市，地处安徽省中南部。截至2011年末，无为县有中等职业教育学校5所、普通高 中16所、普通初中63所、⼩学325所，其中，无为中学成为全省唯一获得2013年北大校长实名推荐资格的县级中学，无为县亦跻身于“安徽省教育强县”行列。</p><p>随着信息化技术的发展，充分利用云计算和虚拟化提高教育信息化水平已经是教育信息化发展的必然趋势，教育部在《教育信息化十年发展规划（2011-2020年）》通知中强调“充分整合现有资源，采用云计算技术，形成资源配置与服务的集约化发展途径，构建稳定可靠、低成本的教育云服务模式”。</p><p>近年来，无为县教育局制定科学的发展规划，不断加大投入，深入推进教育信息化建设与应用。根据下属各级学校的实际需求，构建一套面向未来，面向高科技的云机房，实现学校从网络中心服务器、存储空间到机房终端的虚拟化，形成更适合学校的安全、绿色的云端教学环境，是目前信息化工作的重中之重；同时，通过部署云机房，也能进一步提高资源利用率，降低能耗，提升集中管理水平，实现教育信息化发展新目标。</p></div><div class="oe-box-item"><h2>应用场景</h2><p>本期无为县教育信息化工程涉及教育局下属84所中小学，平均每所学校一间云机房，机房规模不等，总计3688点云桌面。详细情况如下：</p><table class="table table-bordered table-hover"><tbody><tr class="firstRow"><td style="word-break: break-all;">机房规模</td><td style="word-break: break-all;">56点</td><td style="word-break: break-all;">48点</td><td style="word-break: break-all;">40点</td><td style="word-break: break-all;">32点</td></tr><tr><td style="word-break: break-all;">学校数量（所）<br></td><td style="word-break: break-all;">24<br></td><td style="word-break: break-all;">15</td><td style="word-break: break-all;">23</td><td style="word-break: break-all;">22</td></tr></tbody></table><p>每间云机房均采取1台服务器+XX点（机房规模）云终端+噢易教育桌面云软件+独立教师机+多媒体教学软件的形式进行部署，每间云机房创建有1套Windows7的教学场景，其上安装有常规教学所需的软件和多媒体教学软件。</p><p>常用软件：Office 2010、WinRAR、暴风影音、搜狗拼音输入法、金山词霸、金山画王、多媒体教学软件等。</p></div><div class="oe-box-item"><h2>体现价值</h2><p>1、通过云机房的部署，切实改善了教育局下属中小学的信息化教学环境，为日常教学提供了更灵活的桌面和更便捷的管理模式。同时，云模式下，IT设备使用周期更长，IT流程更加简化，使用效率更高，运维成本得以降低;</p><p>2、云终端设备平均功耗18w，差不多是传统PC机的1/15，且寿命比PC机更久，节省开支的同时大大减少电子垃圾，响应了国家倡导的绿色节能号召，同时从管理、维护、终端更新换代，业务扩展、终端用户持续增长等各方面综合考虑，长期投资回报率高;</p><p>3、通过片区式大规模的部署，开创了无为县教育信息化向云时代迈进的第一步，为无为县教育信息化的后续建设树立了范本及标杆，对于后续教育信息化建设具有非常大的示范意义。同时，也极大地加快了无为县教育信息化建设的进程。</p><p><br></p><p style="font-size:16px;font-weight:bold;">方案配置（以56+1为例）</p><table class="table table-bordered table-hover"><tbody><tr style=" text-align: center;font-weight: bold;font-size: 16px; color:#fff;background-color:#de3b0a;" class="firstRow"><td>设备名称</td><td style="word-break: break-all;">详细参数</td><td style="word-break: break-all;">数量</td></tr><tr><td rowspan="4" style="padding-top:65px;text-align:center;">云服务器</td><td style="word-break: break-all;">CPU：2*Intel E5-2690 V2</td><td rowspan="4" style="padding-top:65px;text-align:center;">1</td></tr><tr><td style="word-break: break-all;">内存：160G DDR3内存</td></tr><tr><td style="word-break: break-all;">存储：400G PCI-E SSD固态盘+1TB SATA3.0机械硬盘</td></tr><tr><td style="word-break: break-all;">其他：热插拨冗余电源，集成双千兆网卡和IPMI远程管理</td></tr><tr><td rowspan="3" style="padding-top:65px;text-align:center;">云终端<br></td><td style="word-break: break-all;">CPU：Intel 双核1.8GHz</td><td rowspan="3" style="padding-top:65px;text-align:center;">56</td></tr><tr><td style="word-break: break-all;">内存：2GB &nbsp;DDR3 &nbsp; 存储：16GB</td></tr><tr><td style="word-break: break-all;"><p>接口：集成千兆RJ45自适应网卡, 1*VGA1，1个HDMI接口，</p><p>4*USB2.0，3.5mm音频输入/输出接口，支持同步录音、放音</p></td></tr><tr><td style="text-align:center;">显示器</td><td style="word-break: break-all;">&nbsp;18.5寸LED显示器</td><td style="text-align:center;">56</td></tr><tr><td style="text-align:center;">键鼠</td><td style="word-break: break-all;">USB键鼠套装</td><td style="text-align:center;">56</td></tr><tr><td rowspan="4" style="text-align:center;padding-top:80px;">教师机</td><td style="word-break: break-all;"><p>CPU：酷睿四核I5-4590处理器 &nbsp; &nbsp; &nbsp; &nbsp;显卡：高性能集成显卡</p></td><td rowspan="4" style="text-align:center;padding-top:80px;">1</td></tr><tr><td style="word-break: break-all;"><p>主板：H81主板芯片 &nbsp; &nbsp; &nbsp; &nbsp; 显示器：19.5英寸宽屏显示器</p></td></tr><tr><td style="word-break: break-all;"><p>内存：4GB DDRIII &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 光驱：DVD刻录光驱</p></td></tr><tr><td style="word-break: break-all;"><p>硬盘：500G SATA3 &nbsp; &nbsp; &nbsp; &nbsp; WIN7专业版操作系统</p></td></tr></tbody></table></div><div class="oe-box-item"><h2>现场实景</h2><p><img src="../../Images/ztxhkj/AnLiDetail/5954ba9eddb1d.jpg" title="wuweix.jpg" alt="wuweix.jpg"></p></div><div class="oe-box-item"><h2>用户评语</h2><p>对于84所云机房，教育局分管信息化建设的冯主任说道：“现在这84所云机房都已经建成并投入了学校的日常教学使用，在前期部署阶段，我们也组织了各学校的老师参与厂家的培训。现在，所有的云机房都处于正常运转状态，也都交由各个学校自己去维护。到目前为止，我们还未收到过有学校反映不适应或出现故障无法解决的情况，局里对我们的工作很满意，认为我们这次的采购非常成功。县里现在对教育信息化这块的工作非常重视，因此，这次的成功采购，对我们今后的工作是很具有示范意义的，非常值得推广”。<br></p></div></div> </div>
            <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading">
                        <a href="~/home/Anli/高教"><h3>高教 <small>HIGHER EDUCATION</small></h3></a>
                    </div>
                    <div class="panel-body">
                        <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/西华大学" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/四川师范大学" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/中国计量学院教育桌面云应用案例" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/上海应用技术大学教育桌面云应用案例" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading">
                        <h3>最新案例</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span>
                            <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span>
                            <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span>
                            <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span>
                            <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span>
                            <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
