@{ 
    ViewBag.Title = "广州航海学院教育桌面云应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>广州航海学院教育桌面云应用案例<br><small> 建经管实训机房，教育桌面云来帮忙&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目简述
                        </h2> <p>
                            广州航海学院（Guangzhou Maritime Institute）前身为创办于1964年的交通部广州海运学校，1992年经国家教委批准，广州海运学校与武汉水运工程学院广州航海分部合并组建为交通部广州航海高等专科学校，1998年划转广东省政府管理。本次广州航海学院的教育桌面云项目为云机房建设，将原来的PC方案变更为桌面云方案。噢易教育桌面云即能保证与PC物理机相当的性能及用户体验，又能提高机房管理效率。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            应用场景
                        </h2> <p>
                            本次广州航海学院的教育桌面云项目为云实验室建设工程，终端授权数量为84点。 <br>实验机房内的教学桌面创建了1套场景，在网络不稳定时，可以使用本地真实系统，保证使用桌面云教学或办公的安全性。<br>安装的软件有千格源软件（实训模拟软件，有商业银行模拟教学软件，国际贸易进出口模拟外贸实训软件，保险实务模拟教学软件，office2010及基础软件）
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            价值体现
                        </h2> <p>
                            广州航海学院经管实训机房的环境无疑需要能够与经管类教学使用的软件都兼容，而噢易桌面云很好的做到这一点，能够保证相关软件稳定快速的运行。除此之外，使用桌面云所带来的灵活性，简单部署以及集中化的管理，则是传统PC所不能比的，况且噢易拥有比同类产品更为直观简单的管理平台，更是大大减少了管理员的工作量。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案配置
                        </h2> <p>            本次广州航海学院教育桌面云项目的硬件配置如下：<br> </p> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow">
                                    <td>
                                        设备名称
                                    </td>
                                    <td>
                                        详细参数
                                    </td>
                                    <td>
                                        数量
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        云服务器
                                    </td>
                                    <td>
                                        CPU：Intel 2路6核
                                    </td>
                                    <td rowspan="5" style=" text-align:center;  padding-top:85px;">
                                        3
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：96G DDR3
                                    </td>
                                </tr>
                                <tr> <td>                        硬盘：1<em>480G SSD</em> </td> </tr>
                                <tr>
                                    <td>
                                        1600G 15K SAS
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        网卡：4*1000M
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        终端设备
                                    </td>
                                    <td>
                                        ARM盒子+显示器
                                    </td>
                                    <td style="text-align: center; word-break: break-all;">
                                        84
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <div class="oe-box-item">
                        <h2>
                            现场实景
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a593ddea8ef.jpg" title="广州航海_01.jpg" alt="广州航海_01.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户评价
                        </h2> <p>
                            所有环境部署实施完后，学校的老师验收完毕，亲切地跟实施工程师说：“咱们这儿，虽然点数不多，里面的环境，软件，都是很复杂的，要是给我自己弄，得弄好久，真是多亏了你们啊，这么快就把我们的环境搭好了，噢易这公司确实不错，产品也贴近咱们学校的需求，公司的员工也是很有水平啊。”不管多苦多累，老师的笑容就是我们不断努力的动力。
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/24.html"><h3>高教 <small>HIGHER EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/343.html" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/342.html" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/335.html" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/57.html" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/56.html" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
