@{ 
    ViewBag.Title = "恩施班班通管理分析系统应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>恩施班班通管理分析系统应用案例<br><small> 简化上课登记流程，自动记录授课使用数据&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目背景
                        </h2> <p>
                            从2010到2014年，恩施市总投资近6000万元添置了“班班通”等信息技术设备，目前，全市243所中小学、74个教学点中，只有5所小学，39个教学点不具备互联网接入条件，互联网接入率（含教学点）71.6%,完小以上学校互联网接入率96.4%。为市一中、舞阳中学、施州民族小学等学校配备了多媒体班班通设备405套，标准化计算机网络教室10间，电子阅览室4间，教师办公用计算机624台，城区学校班班通设备实现了全覆盖；为农村中小学配备了多媒体班班通设备1004套，标准化计算机网络教室53间。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            面临挑战
                        </h2> <p>
                            随着硬件设备的逐步完善并投入使用，管理上的问题也随之而来。恩施市辖16个乡镇和街道办事处，学校地理位置分散，班班通数量巨大，管理过程中遇到如下问题：<br>• &nbsp; 学校数量多，地理位置分散，管理难度大，走访数据缺乏真实性 <br>• &nbsp; 教育信息化硬件装备投入较大、管理软件投入不足、缺乏管理机制，无法得知信息化设备使用情况 <br>• &nbsp; 教师信息化应用能力参差不齐，多数教师习惯传统模式教学，却无法得知真实、准确的数据情况 <br>• &nbsp; 当地教育信息化处于快速发展阶段，需要地区化的大数据支撑，使信息化建设进入新的平台 <br>采用《班班通使用情况登记本》对“班班通”课堂教学应用管理，学校授课老师使用一次就需要登记一次，这种管理方式管理起来十分麻烦弊端诸多，使用记录也不够真实，遇到检查时，总避免不了突击记录，走过场应付。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            价值体现
                        </h2> <ul class=" list-paddingleft-2">
                            <li>
                                <p>
                                    州教育局在恩施市试点利用“班班通管理平台”加强管理，掌握全市“班班通”教室使用情况，通过数据分析反应授课教师上课科目和授课次数，通过定时截图查看教师上课内容及教育资源使用情况，并将此作为各级考核的依据；
                                </p>
                            </li>
                            <li>
                                <p>
                                    教育局可通过市级服务器查看全市“班班通”设备实时状态，分析各乡镇、各学校的设备实时状况，学校利用校级服务器可查看本校设备使用实时状态，通过平台数据可以分析出各班级和每位专任教师的授课数据。
                                </p>
                            </li>
                            <li>
                                <p>
                                    恩施市运行“班班通管理平台”以来，设备管理的准确性、客观性、有效性显著提高。
                                </p>
                            </li>
                            <li>
                                <p>
                                    州教育局目前正在向其他县市推广此管理办法。——《湖北教育信息化工作简报》2014年第3期
                                </p>
                            </li>
                        </ul>
                    </div> <div class="oe-box-item">
                        <h2 style="white-space: normal;">
                            实施效果
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a5859f935a1.jpg" title="班班通（恩施）.jpg" alt="班班通（恩施）.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户评语
                        </h2> <p>
                            较以往采用《班班通使用情况登记本》对“班班通”课堂教学应用的管理，学校授课老师使用一次就登记一次，这种传统的管理方式不仅弊端诸多，而且完全无法跟“班班通”信息化教学方式匹配，使用记录也不够真实，遇到检查时，总避免不了突击记录，走过场应付。自从使用噢易班班通系统后，简化了老师上课登记的流程，授课使用的数据也能实时获取记录，对我们管理好“班班通”起到了良好的帮助作用。&nbsp;
                        </p> <p style="text-align: right;">
                            ——湖北恩施州恩施市电教装备站
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/25.html"><h3>普教 <small>GENERAL EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-pujiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/346.html" data-toggle="tooltip" title="浙江省德清县教育局">
                                        浙江省德清县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/30</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/345.html" data-toggle="tooltip" title="安徽省无为县教育局">
                                        安徽省无为县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/29</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/27.html" data-toggle="tooltip" title="桂林市班班通管理分析系统应用案例">
                                        桂林市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/26.html" data-toggle="tooltip" title="重庆市班班通管理分析系统应用案例">
                                        重庆市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/25.html" data-toggle="tooltip" title="张居正小学教育桌面云应用案例">
                                        张居正小学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
