@{ 
    ViewBag.Title = "恩施州警务综合应用系统升级与虚拟化改造案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>恩施州警务综合应用系统升级与虚拟化改造案例<br><small> &nbsp;&nbsp;&nbsp;&nbsp;日期：2016-08-03</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目背景</h2><p>恩施州警务信息综合应用平台（以下简称“警综平台”）是各级公安机关和民警开展警情处置、执法办案、治安管理、监督考核等业务的“一站式”工作平台，是基层民警开展基础信息采录和信息综合应用的主要途径，更是实现警种业务条线与基层综合业务融合的有效载体，在公安信息化整体架构中，具有综合性、基础性的重要作用。</p><p>警综平台自2008年推广应用以来，经过不断完善发展，逐步成为我州公安信息化体系中应用范围最广，应用人数最多的系统。当前，随着基础信息化工作的不断深化以及信息技术的发展，警综平台建设对系统运营环境的要求越来越高，现有运营环境资源已经不能满足需求，为进一步提升警综平台服务实战能力，湖北省公安厅结合全省执法工作的需要，在总结过去七年的应用需求和不足的基础上，下发了《关于开展全省警综平台运营支撑环境升级的通知》要求：充分运用云计算技术，将警综平台的各项业务功能与“湖北公安云”融合，着力打造“全警共享、数据准确、功能明晰、业务规范”的公安基础信息化综合应用平台。</p><p>为确保恩施州警综平台升级改造工作顺利推进，按照省厅下发的升级要求和升级标准，结合我州现有各类软硬件基础设施的具体情况，对原系统进行升级</p></div><div class="oe-box-item"><h2>用户需求</h2><p>按照省厅要求，建设和完善警综平台软硬件支撑环境，为警综平台升级改造工作的顺利完成提供可靠保障，主要包含以下建设目标：</p><ol class=" list-paddingleft-2" style="list-style-type: decimal;"><li><p>按照省厅下发的标准和要求，结合恩施州公安局实际情况，建设警综平台升级改造所需要的支撑环境。</p></li><li><p>完成州级平台和省厅平台的对接，包括数据方面的对接和系统对接。</p></li><li><p>预留州级业务系统的对接接口。</p></li><li><p>确保警综平台的历史数据向新平台进行完好迁移。</p></li><li><p>确保警综新老平台的顺利切换过渡。</p></li></ol></div><div class="oe-box-item"><h2>解决方案</h2><p>本次恩施市公安警综系统升级与虚拟化改造项目，充分利用现有机房IT基础信息化资源的基础上，根据《全省警综平台运行支撑环境升级标准》2档要求，配置必要的软硬件设备，完成机房IT基础运行环境的虚拟化升级改造，为满足恩施警综平台升级等业务系统对基础运行环境资源和性能的要求，以及业务系统的安全性和可用性的情况下，同时支撑公安未来2~3年的业务系统扩展和信息化发展的需求，并考虑未来虚拟化架构的扩展性和兼容性，要能够扩展至省公安云平台，实现与省厅互联互通。</p><p style="text-align: center;"><img src="../../Images/ztxhkj/AnLiDetail/57a571003f6e9.jpg" title="2016080608enshi.jpg" alt="2016080608enshi.jpg"></p><p style="text-align: center;">恩施州公安警综运行环境升级与虚拟化改造架构图</p><ol class=" list-paddingleft-2" style="list-style-type: decimal;"><li><p><strong>数据库服务器集群</strong>：3台数据库服务器组成集群，承载警综业务办理运行的OLTP业务型数据访问，例如执法办案、治安管理等核心业务应用，三台数据库服务器采用读写分离构建一主两从架构，考虑到数据库业务需要大量的计算资源，配合数据库RAC以及数据库管理系统可实现高可用性，故不放入到虚拟化环境。</p></li><li><p><strong>虚拟化服务器集群</strong>：通过在2台新购高性能应用服务器和利旧的服务器上部署虚拟化，将一台服务器虚拟层成多个各自独立，相互隔离的虚拟机，承担各自应用系统，或者相同的应用系统，配合负载均衡设备，实现让多个虚拟机支撑警综平台升级等业务系统对运行环境资源和性能的需求。</p></li><li><p><strong>虚拟机管理平台</strong>：通过虚拟化管理平台，管理员在办公室实现对整个数据中心虚拟化系统以及资源的管理和维护，包括计算资源管理、网络资源管理、存储资源管理、监控分析、负载均衡、高可用性策略制定等，提供全方位精细化管理，实现统一界面和业务入口，无需到机房现场。</p></li><li><p><strong>共享存储系统</strong>：配置基于光纤通道的统一存储系统，用于存放警综平台数据库资源和虚拟机镜像，确保数据安全、可靠，所有虚拟机中业务都集中存放在共享存储设备中。</p></li></ol></div><div class="oe-box-item"><h2>客户价值</h2><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">降低云数据中心运营成本</span></h3><p>从服务器硬件、数据中心空间成本、电力成本、管理人员成本、集成服务等多个方面整体降低了信息中心运营成本，数据中心服务器和业务规模越大，运营时间越长，所节省的成本就越高。</p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">提高服务器资源利用</span><span style="font-size: 17px; color: rgb(222, 59, 10);">率</span></h3><p>通过将多服务器资源动态划分，合理利用，并结合业务特点按需调配，平均将单台物理服务器利用率从15%-35%提升至65%-90%。</p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">保证警综平台业务的高可用性</span></h3><p>通过动态迁移，高可用性、负载均衡等自动化的服务方式，有效保证了终端业务访问的连续性和服务平台运行的稳定性。</p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">增强了IT架构弹性扩展</span></h3><p>云数据中心硬件设备可无限扩容，更新换代不影响业务运行，适应不断增长变化的业务架构，弹性扩展；虚拟机互相隔离的特点，使得新老业务兼容，消除“一台服务器一个应用程序”模式。</p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">简化管理，方便维护</span></h3><ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p><strong>快速部署业务环境</strong>：加快新服务器和应用的部署，大大降低服务器重建和应用加载时间。主动地提前规划资源增长，这样对客户和应用的需求响应快速。</p></li><li><p><strong>缩短维护时间</strong>：硬件维护需要数天/周的变更管理准备和1 - 3小时维护窗口，现在可以进行快速的硬件维护和升级。</p></li><li><p><strong>方便搭建试验环境</strong>：企业搭建生产应用环境，提前评估建立环境所需的资源，可在虚拟机环境进行试验，再正式扩展到生产环境，让IT风险降到最低。</p></li><li><p><strong>图形化Web界面</strong>：安装配置、管理全中文界面，提供了丰富的远程管理和控制界面，实现足不出户的管理，大幅度的简化了大量服务器的运维管理工作。</p></li></ul><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">提升数据能力和运行效率</span></h3><p>读写分离技术、数据库群集技术的应用大大提升数据库系统的数据吞吐能力和运行效率；数据库群集技术的应用大大提升的数据库系统的高可用性。整个数据库系统在性能和连续性上都有很大的提升。</p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">加强数据的容灾备份能力</span></h3><p>提供数据级别的容灾备份，当存储故障或者数据损坏，可以从第三方备份存储中恢复业务站点数据，减少业务中断时间，保障数据的完整性。</p></div></div> </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/22.html"><h3>公安 <small>PUBLIC SECURITY</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-shebao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/240.html" data-toggle="tooltip" title="鄂州警务综合应用系统升级与虚拟化改造案例">
                                        鄂州警务综合应用系统升级与虚拟化改造案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/08/03</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/238.html" data-toggle="tooltip" title="恩施州警务综合应用系统升级与虚拟化改造案例">
                                        恩施州警务综合应用系统升级与虚拟化改造案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/08/03</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/随州市公安云平台建设案例" data-toggle="tooltip" title="随州市公安云平台建设案例">
                                        随州市公安云平台建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/08/03</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/232.html" data-toggle="tooltip" title="湖北省公安厅公安云案例">
                                        湖北省公安厅公安云案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>