@{ 
    ViewBag.Title = "桂林市班班通管理分析系统应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域-->
    <!--banner区域-->
    <div class="oe-banner-area-style05 swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>桂林市班班通管理分析系统应用案例<br><small> 实现“班班通”设施的常态应用，充分发挥基础设施的效益&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目简述</h2><p>桂林市直属现十八所学校，660多个班级。桂林市的教育信息化工作一直走的比较靠前，“网络带宽校校通”和“优质资源班班通”已基本完成，现正在着手于提高教师信息化教学能力，并希望于2017年，18所市直学校均能完成“信息化达标”。 <br>为完成达标计划，桂林市电教站采用下发登记本的方式，让学校手动记录各班级多媒体设备配备情况、信息化设备使用情况、教师利用多媒体设备教学情况等，然后汇总反馈到电教站，想通过这种方式来了解各校信息化的整体情况。但660多个班级，上千名教师的授课情况，必然会出现统计工作量较大，数据不完善；手动填写信息，无法校验真实性等问题。</p></div><div class="oe-box-item"><h2>价值体现</h2><ul class=" list-paddingleft-2"><li><p>掌握信息化全局情况</p></li><li><p>提供教育信息化建设决策依据</p></li><li><p>促进教学模式向信息化转变</p></li><li><p>呈现完整、真实、有效的数据</p></li><li><p>远程协助、管理校园信息化终端</p></li><li><p>全面展示教育信息化建设成果</p></li></ul></div><div class="oe-box-item"><h2>实施效果</h2><p style="text-align: center;"><img src="../../Images/ztxhkj/AnLiDetail/57a58472f02e5.jpg" title="班班通(桂林市).jpg" alt="班班通(桂林市).jpg"></p></div><div class="oe-box-item"><h2>用户评语</h2><p>桂林市直属现十八所学校，660多个班级纳入到噢易班班通管理分析系统中，并在2015年5月23-25日全国中小学教学信息化应用展览活动进行展现装备使用成果。 <br>教育局可通过市级服务器查看全市“班班通”设备实时状态，实现“班班通”设施的常态应用，充分发挥基础设施的效益，掌握全市“班班通”教室使用情况，通过数据分析反映授课教师上课科目和授课次数，通过定时截图查看教师上课内容及教育资源使用情况，并将此作为各级考核的依据。</p></div></div> </div>
            <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading">
                        <a href="/list/index/id/24.html"><h3>高教 <small>HIGHER EDUCATION</small></h3></a>
                    </div>
                    <div class="panel-body">
                        <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/343.html" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/342.html" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/335.html" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/57.html" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/56.html" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading">
                        <h3>最新案例</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span>
                            <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span>
                            <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span>
                            <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span>
                            <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span>
                            <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
