@{ 
    ViewBag.Title = "武汉市蔡甸区新农中学教育桌面云应用案例";

    ViewBag.KeyWords = "北京中泰祥和科技有限公司,智慧校园,教育云,云平台,云桌面,桌面云,桌面虚拟化,云课堂,云教室,服务器虚拟化,云计算,虚拟化,武汉市蔡甸区新农中学教育桌面云应用案例";
    ViewBag.Description = "武汉市蔡甸新农中学机房电脑采购于2001年，由于配置低、性能差、管理维护困难，这些旧电脑已经无法承载正常的教学活动。学校期望以云计算技术为基础，实现终端桌面虚拟化，以便利用低配置的旧PC承担学校正常的教学应用和教学需求，满足学生上课和学习需要，开展信息化教学。噢易教育桌面云方案满足了新农中学的需求，延长了旧电脑使用年限，保护了学校投资。";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>武汉市蔡甸区新农中学教育桌面云应用案例<br><small> PC机旧貌换新颜，旧电脑登录桌面云&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目简述
                        </h2> <p>
                            武汉市蔡甸新农中学机房电脑采购于2001年，由于配置低、性能差、管理维护困难，这些旧电脑已经无法承载正常的教学活动。学校期望以云计算技术为基础，实现终端桌面虚拟化，以便利用低配置的旧PC承担学校正常的教学应用和教学需求，满足学生上课和学习需要，开展信息化教学。噢易教育桌面云方案满足了新农中学的需求，延长了旧电脑使用年限，保护了学校投资。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            应用场景
                        </h2> <p>
                            蔡甸新农中学机房利用原有旧电脑作为终端设备部署了50点的噢易教育桌面云。学生上课时通过旧电脑访问云服务器，使用部署在云服务器上安装了win7操作系统的高配置虚拟桌面。通过这种方式，学校可继续使用旧PC进行日常教学，不需要再采购新电脑，节省了办学投资。<br>常用软件:Office2007,Flash,WinRAR,暴风影音,搜狗拼音输入法。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            价值体现
                        </h2> <p>
                            噢易教育桌面云使用桌面虚拟化技术，将服务器上生成的高配置虚拟机交付给学生在低配置的旧电脑上使用，旧电脑也能流畅运行win7系统和各种教学软件，极大提升了旧电脑在教学活动中的使用体验，避免淘汰旧电脑给学校投资造成的损失；老师使用管理平台管理部署在云端的教学环境，终端旧电脑不再需要维护，使机房运维成本大幅降低。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案配置
                        </h2> <p>
                            新农中学教育桌面云硬件配置：
                        </p> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow">
                                    <td>
                                        设备名称
                                    </td>
                                    <td>
                                        详细参数
                                    </td>
                                    <td>
                                        数量
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        云服务器
                                    </td>
                                    <td>
                                        CPU：Intel 2路6核
                                    </td>
                                    <td rowspan="5" style=" text-align:center;  padding-top:85px;">
                                        2
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：64G DDR3
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        硬盘：1*Intel 530 240G SSD
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        600G 15K SAS
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        网卡：4*1000M
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        终端设备
                                    </td>
                                    <td>
                                        机房2001年采购的旧PC
                                    </td>
                                    <td style=" text-align:center;">
                                        50
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <div class="oe-box-item">
                        <h2>
                            现场实景
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a56ce7747ca.jpg" title="蔡甸.jpg" alt="蔡甸.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户评语
                        </h2> <p>
                            新农中学使用噢易教育桌面云之后，学校2001年采购的电脑可以顺畅运行win7系统，老师们反映旧电脑运行win7的速度甚至比他们办公使用的电脑还要快，校领导觉得噢易教育桌面云提高了学校教学信息化程度，而且利用面临淘汰的旧PC机进行教学，为学校节省了采购新电脑的大笔投资，给校方带来了实际的益处。
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="~/home/Anli/普教"><h3>普教 <small>GENERAL EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-pujiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/浙江省德清县教育局" data-toggle="tooltip" title="浙江省德清县教育局">
                                        浙江省德清县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/30</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/安徽省无为县教育局" data-toggle="tooltip" title="安徽省无为县教育局">
                                        安徽省无为县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/29</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/桂林市班班通管理分析系统应用案例" data-toggle="tooltip" title="桂林市班班通管理分析系统应用案例">
                                        桂林市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/重庆市班班通管理分析系统应用案例" data-toggle="tooltip" title="重庆市班班通管理分析系统应用案例">
                                        重庆市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/张居正小学教育桌面云应用案例" data-toggle="tooltip" title="张居正小学教育桌面云应用案例">
                                        张居正小学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>