@{ 
    ViewBag.Title = "武汉大学计算机学院软件开发实验室教育桌面云应用案例";

    ViewBag.KeyWords = "北京中泰祥和科技有限公司,智慧校园,教育云,云平台,云桌面,桌面云,桌面虚拟化,云课堂,云教室,服务器虚拟化,云计算,虚拟化,武汉大学计算机学院软件开发实验室教育桌面云应用案例";
    ViewBag.Description = "武汉大学溯源于1893年清末湖广总督张之洞奏请清政府创办的自强学堂，历经传承演变，1928年定名为国立武汉大学，是近代中国第一批国立大学。武汉大学计算机学院成立于2001年元月3日，它由原武汉大学、原武汉水利电力大学、原武汉测绘科技大学计算机系合并而成。<br>随着云计算技术的不断发展，学院领导在关注的同时，也积极的在教学过程中引入云计算这门新技术以提高学院办学水平，但是由于软件工程所需设备的特殊性：IDE环境的异构性，操作系统的异构性等，导致对于PC机的管理变得异常复杂。了解到噢易教育桌面云可以轻松解决并且对于教学场景有独到的处理方式后，学院决定使用桌面云方案构建一个技术领先的云实验室。";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>武汉大学计算机学院软件开发实验室教育桌面云应用案例<br><small> 打造简易的开放实验室，构建灵活的使用环境&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目简述
                        </h2> <p>
                            武汉大学溯源于1893年清末湖广总督张之洞奏请清政府创办的自强学堂，历经传承演变，1928年定名为国立武汉大学，是近代中国第一批国立大学。武汉大学计算机学院成立于2001年元月3日，它由原武汉大学、原武汉水利电力大学、原武汉测绘科技大学计算机系合并而成。<br>随着云计算技术的不断发展，学院领导在关注的同时，也积极的在教学过程中引入云计算这门新技术以提高学院办学水平，但是由于软件工程所需设备的特殊性：IDE环境的异构性，操作系统的异构性等，导致对于PC机的管理变得异常复杂。了解到噢易教育桌面云可以轻松解决并且对于教学场景有独到的处理方式后，学院决定使用桌面云方案构建一个技术领先的云实验室。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            应用场景
                        </h2> <p>
                            武汉大学计算机学院软件开发实验室包括100点终端，采用18.5寸一体机，利用噢易教育桌面云使用4台云主机构建2套教学场景，分别安装的Linux及Windows 7系统。不同的课程上课时，系统根据课表计划自动激活相应的教学场景，学生启动终端后可以自动进行虚拟云桌面。<br>安装的软件：<br>场景一：安装Red Hat(Linux)系统，安装 yum软件包管理器，GCC编译器，调试网络环境以保证能够正常上网；<br>场景二：安装Visual Studio 2010、SQL Server2008、VC++6.0、WinRAR, 风雷影音, 搜狗拼音输入法；
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            价值体现
                        </h2> <p>
                            <strong>课表计划——教学场景无忧切换</strong><br>武汉大学计算机学院共部署两套教学场景，主要是为了满足不同专业，不同方向学生的课程需求，通过噢易教育桌面云自带的课表计划策略，在上课之前系统会根据课表内容自动启动对应的场景，免去了以前上课提前准备的环节。<br>相对于其他相同产品，噢易教育桌面云更专注教育、更懂得教学实际情况的需求。在为学校节约人力成本的同时，也简化了整体环境的维护方式。<br> <strong>差异更新——更快捷的响应速度</strong><br>噢易教育桌面云采用差异更新的方式，让系统更新，软件版本更新等操作的速度更快，即便在课间休息时也能够完成。<br>经测试：100个桌面更新，1G左右的文件，约2分钟即可一键完成。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案配置
                        </h2> <p>            武汉大学计算机学院教育桌面云硬件配置：<br> </p> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow">
                                    <td>
                                        设备名称
                                    </td>
                                    <td>
                                        详细参数
                                    </td>
                                    <td>
                                        数量
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="4" style=" text-align:center; padding-top:65px;">
                                        云服务器
                                    </td>
                                    <td>
                                        CPU：Intel 2路6核
                                    </td>
                                    <td rowspan="4" style=" text-align:center;  padding-top:65px;">
                                        4
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：96G DDR3
                                    </td>
                                </tr>
                                <tr> <td>                        硬盘：1<em>Intel 730 480G SSD</em> </td> </tr>
                                <tr>
                                    <td>
                                        网卡：41000M
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        终端设备
                                    </td>
                                    <td>
                                        云终端一体机
                                    </td>
                                    <td style="text-align: center; word-break: break-all;">
                                        100
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <div class="oe-box-item">
                        <h2>
                            现场实景
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a591613c461.jpg" title="武汉大学_01.jpg" alt="武汉大学_01.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户评价
                        </h2> <p>
                            武汉大学计算机学院教学中心机房的噢易教育桌面云平台运行情况良好，能够与学院原有机房管理系统无缝衔接，课程相关软件均能够并发流畅运行。学院吴老师评价道：“在准备采用这个方案之前，最担心的还是原有的机房管理系统无法与你们的教育桌面云结合，还有就是专业软件并发启动是否流畅，我这边还是存疑的。因为之前也有厂家联系过我，但是在了解了我的需求之后要么是退却了，要么是实际的演示效果并不能达到我的要求。在部署了你们的教育桌面云之后，发现我前面的担心都是多余的，不仅原有的机房管理系统和上课所需的专业软件都能够正常流畅运行，并且对于机房维护也简便多了，以前需要一台一台操作的繁琐费时的过程，现在只需要在管理平台上简单的点几下就可以完成；实际使用中，学生不仅没有不良的反馈，相反的还有的学生认为机房更新了性能更好的设备，说运行的速度比以前的设备快多了，这是我之前完全没有预料到的。”
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="~/home/Anli/高教"><h3>高教 <small>HIGHER EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/西华大学" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/四川师范大学" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/中国计量学院教育桌面云应用案例" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/上海应用技术大学教育桌面云应用案例" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
