@{ 
    ViewBag.Title = "江苏省姜堰二中教育桌面云应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>江苏省姜堰二中教育桌面云应用案例<br><small> 共建技术领先，结构清晰的教学机房&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目简述
                        </h2> <p>
                            江苏省姜堰第二中学创办于1943年，2003年成为江苏省首批四星级学校。秉承先进的办学理念，学校一直关注着如何利用先进技术推进教育现代化与信息化。了解到以云计算技术为基础实现桌面虚拟化可实现资源弹性分配、机房环境集中管理等技术先进性之后，姜堰二中在新建教学机房项目中采用了噢易教育桌面云解决方案。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            应用场景
                        </h2> <p>
                            姜堰二中在两间80座的机房中部署了噢易教育桌面云，采用本地系统和虚拟系统共存的双系统模式，终端设备采用云终端加显示器。创建2套分别安装win7和XP系统的教学场景，不同年级的学生可选择适合的场景上课，虚拟桌面可流畅运行考试软件，老师使用考试软件创建、编辑和实际考试相似的测试环境，学生在测试环境中可进行考试练习。<br>常用的软件：Office 2003,Visual Cert Exam Suite, Photoshop CS4 WinRAR, 暴风影音，江苏省信息化考试软件，多媒体教学软件，搜狗拼音输入法。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            价值体现
                        </h2> <p>
                            姜堰二中新建机房部署噢易教育桌面云之后，原先真实的教学环境可平滑移动到虚拟环境中； 噢易教育桌面云使用的是先进的桌面虚拟化技术，终端设备使用的桌面环境部署在云服务器上，为教学环境的管理提供了极大方便，而且结构简单、节能环保的云终端没有风扇等高噪音、易损坏部件，因此终端设备可实现零维护；使用桌面云方案建设的机房布局清晰，管理维护便捷，体现了机房的技术先进性。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案配置
                        </h2> <p>
                            姜堰二中教育桌面云硬件配置：
                        </p> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow">
                                    <td>
                                        设备名称
                                    </td>
                                    <td>
                                        详细参数
                                    </td>
                                    <td>
                                        数量
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="6" style=" text-align:center; padding-top:85px;">
                                        云服务器
                                    </td>
                                    <td>
                                        CPU：Intel 2路8核
                                    </td>
                                    <td rowspan="6" style=" text-align:center;  padding-top:85px;">
                                        4
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：160G DDR3
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        硬盘：2*300GB 15K 2.5寸SAS硬盘
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        阵列控制器：Raid卡，512MB缓存
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        网卡：4*1000M
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        1*8Gb双口FC HBA卡
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="6" style=" text-align:center; padding-top:85px;">
                                        存储设备
                                    </td>
                                    <td>
                                        FC存储
                                    </td>
                                    <td rowspan="6" style=" text-align:center;  padding-top:85px;">
                                        1
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2个存储控制器，32GB缓存
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        支持横向扩展16个存储控制器
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        双控制器互为冗余提供故障切换功能，避免单点故障，控制器处理器为RISC 处理器
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        16*600G SAS 15K
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        4*400GB SSD固态硬盘
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="4" style=" text-align:center; padding-top:85px;">
                                        云终端
                                    </td>
                                    <td>
                                        CPU: Intel D525 双核
                                    </td>
                                    <td rowspan="4" style=" text-align:center; padding-top:85px;">
                                        160
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：2GB DDR3
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        硬盘：16GB SSD
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        网卡：10/100/1000以太网
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        显示器
                                    </td>
                                    <td>
                                        18.5寸LED背光宽屏
                                    </td>
                                    <td style=" text-align:center;">
                                        160
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        键盘鼠标
                                    </td>
                                    <td>
                                        USB键盘鼠标套装
                                    </td>
                                    <td style=" text-align:center;">
                                        160
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <div class="oe-box-item">
                        <h2>
                            现场实景
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a56bf24d17a.jpg" title="姜堰.jpg" alt="姜堰.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户评语
                        </h2> <p>
                            关于噢易教育桌面云的使用情况，机房吴老师给予了高度评价：“使用云服务器计算资源的云终端几乎不存在运维问题，单是这一点就极大减小了我们管理维护机房的工作量，多媒体软件在虚拟桌面中运行状况可媲美真实物理机，高清视频在虚拟环境中播放也很流畅，没有出现过卡顿现象。对于噢易教育桌面云的技术先进性我们体会很深，我相信噢易教育桌面云在教学机房中的应用会越来越广。”
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="~/home/Anli/普教"><h3>普教 <small>GENERAL EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-pujiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/浙江省德清县教育局" data-toggle="tooltip" title="浙江省德清县教育局">
                                        浙江省德清县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/30</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/安徽省无为县教育局" data-toggle="tooltip" title="安徽省无为县教育局">
                                        安徽省无为县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/29</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/桂林市班班通管理分析系统应用案例" data-toggle="tooltip" title="桂林市班班通管理分析系统应用案例">
                                        桂林市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/重庆市班班通管理分析系统应用案例" data-toggle="tooltip" title="重庆市班班通管理分析系统应用案例">
                                        重庆市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/张居正小学教育桌面云应用案例" data-toggle="tooltip" title="张居正小学教育桌面云应用案例">
                                        张居正小学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
