@{ 
    ViewBag.Title = "洪湖市中医院服务器虚拟化案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>洪湖市中医院服务器虚拟化案例<br><small> &nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目背景</h2><p>湖北省洪湖市中医医院创建于1977年，是一所集医疗、科研、教学、康复为一体的综合性三级甲等中医院。经过一代又一代医院人的不懈努力，已发展成为技术人才密集、临床学科齐全、仪器设备先进、医疗水平精湛的现代化医院。随着医院信息化的发展，医院内部使用的业务系统也逐步增加，HIS、LIS、EMR、门户、内部办公自动化、财务管理系统、资产管理、院长决策系统等已经得到广泛应用，软件系统的不断上线应用带来了医疗质量和患者满意度的提高，与此同时对繁多的系统进行部署、运维和管理也是医院面临的严峻挑战。当前洪湖市中医院内部应用模块超过36个，按传统单机部署应用的思路完全不符合当前医院的管理、维护需求，迫切需求改造原有数据中心，利用云计算、虚拟化的技术解决当前应用多、管理复杂、应用可用性底的问题。</p></div><div class="oe-box-item"><h2>客户需求</h2><ol class=" list-paddingleft-2"><li><p>建设云数据中心IT基础构架承载平台，基于云计算的模式，融入虚拟化等技术，在平台架构和技术形态上，实现高弹性、易扩展、高可用、统一管理调配的IT服务资源平台。</p></li><li><p>完善IT架构体系，破冰现有架构体系中多应用运行于同一硬件，解决“雪崩”式业务故障点，达到稳定、高可用目的。</p></li><li><p>将原有HIS、LIS、EMR、门户、内部办公自动化、财务管理系统、资产管理、院长决策系统等合计36个子功能模块无缝迁移到IAAS平台中，实现PTV平滑迁移，保障应用、业务无中断。</p></li><li><p>方便未来新增应用快速部署到云计算平台上，避免硬件采购、应用环境搭建、测试等环节大大缩短新系统上线时间。</p></li><li><p>通过服务管理层的扩展实现支持灾难恢复架构的IT基础设施交付能力。</p></li><li><p>建立统一、标准、简便的备份管理体系，满足医院对数据安全的需求。</p></li><li><p>通过降低成本、提升效率、节能减排，满足医院信息化发展要求。</p></li><li><p>满足医院未来2-3年内IT基础架构资源需求。</p></li></ol></div><div class="oe-box-item"><h2>解决方案</h2><p>利用新购4台高性能X86物理服务器构建云计算基础支撑IaaS平台，使用虚拟化技术将硬件以“资源池”的形式呈现，使应用摆脱对单一物理硬件资源的依赖，可以在整个资源池中实现动态迁移、高可用，满足用户对医院应用连续性、高可用性要求。<br>同时利用虚拟化动态资源调配、自动化计划任务等功能特性，构建软件平台基础架构的负载均衡能力，使用多台虚拟机处理同一应用（如：挂号管理、药品管理、收费管理等）解决医院每天上午8：00 至 11点业务高并发的老大难问题。<br>资源规划<br></p><table class="table table-bordered table-hover" width="860"><tbody><tr style=" text-align: center; background-color: red; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow"><td width="127">虚拟机名称</td><td width="55">vCPU</td><td width="60">DISK</td><td width="98">LUN</td><td width="60">RAM</td><td width="148">运行业务说明</td></tr><tr><td width="127">HISDB-1</td><td width="55">24</td><td width="60">120</td><td width="98">存储ALUN1</td><td width="60">64</td><td width="148">数据库（主）</td></tr><tr><td width="127">HISDB-1冷备系统</td><td width="55">24</td><td width="60">120</td><td width="98">存储BLUN2</td><td width="60">64</td><td width="148">数据库（备用）</td></tr><tr><td width="127">AD-1</td><td width="55">4</td><td width="60">2.2TB</td><td width="98">存储ALUN1</td><td width="60">8</td><td width="148">域服务器（主）</td></tr><tr><td width="127">AD-2</td><td width="55">4</td><td width="60">60</td><td width="98">存储ALUN1</td><td width="60">8</td><td width="148">域服务器（备用）</td></tr><tr><td width="127">标准中间层</td><td width="55">4</td><td width="60">60</td><td width="98">存储ALUN1</td><td width="60">8</td><td width="148">标准中间层用</td></tr><tr><td width="127">中间件备机层</td><td width="55">4</td><td width="60">60</td><td width="98">存储BLUN2</td><td width="60">8</td><td width="148">标准中间层备机</td></tr><tr><td width="127">测试机</td><td width="55">4</td><td width="60">60</td><td width="98">存储ALUN2</td><td width="60">8</td><td width="148">测试中间层</td></tr><tr><td width="127">住院1</td><td width="55">4</td><td width="60">60</td><td width="98">存储ALUN1</td><td width="60">8</td><td width="148">4.5.6</td></tr><tr><td width="127">住院2</td><td width="55">4</td><td width="60">60</td><td width="98">存储BLUN2</td><td width="60">8</td><td width="148">7,8,9</td></tr><tr><td width="127">住院3</td><td width="55">4</td><td width="60">60</td><td width="98">存储ALUN1</td><td width="60">8</td><td width="148">后2,3,4</td></tr><tr><td width="127">住院4</td><td width="55">4</td><td width="60">60</td><td width="98">存储BLUN2</td><td width="60">8</td><td width="148">后5+老</td></tr><tr><td width="127">住院5</td><td width="55">4</td><td width="60">60</td><td width="98">存储ALUN1</td><td width="60">8</td><td width="148">住院收费</td></tr><tr><td width="127">门诊1</td><td width="55">4</td><td width="60">60</td><td width="98">存储ALUN1</td><td width="60">8</td><td width="148">1,2</td></tr><tr><td width="127">门诊</td><td width="55">4</td><td width="60">60</td><td width="98">存储BLUN2</td><td width="60">8</td><td width="148">3+老</td></tr><tr><td width="127">门诊3</td><td width="55">4</td><td width="60">60</td><td width="98">存储ALUN1</td><td width="60">8</td><td width="148">其它（住院部门诊医生）</td></tr><tr><td width="127">门诊4</td><td width="55">4</td><td width="60">60</td><td width="98">存储BLUN2</td><td width="60">8</td><td width="148">门诊收费</td></tr><tr><td width="127">药库</td><td width="55">4</td><td width="60">60</td><td width="98">存储ALUN1</td><td width="60">8</td><td width="148">药库</td></tr><tr><td width="127">App-other1</td><td width="55">4</td><td width="60">60</td><td width="98">存储ALUN1</td><td width="60">8</td><td width="148">医技、物质、设备、人事、手术室、统计、病案、院长查询</td></tr><tr><td width="127">App-lis</td><td width="55">4</td><td width="60">60</td><td width="98">存储BLUN2</td><td width="60">8</td><td width="148">Lis</td></tr><tr><td width="127">App-other2</td><td width="55">4</td><td width="60">60</td><td width="98">存储ALUN1</td><td width="60">8</td><td width="148"><br></td></tr><tr><td width="127">App-other2</td><td width="55">4</td><td width="60">60</td><td width="98">存储ALUN1</td><td width="60">8</td><td width="148">纯净系统</td></tr><tr><td width="127">合计</td><td width="55">124</td><td width="60">3.52TB</td><td width="98"><br></td><td width="60">280GB</td><td width="148"><br></td></tr></tbody></table></div><div class="oe-box-item"><h2>实施效果</h2><p style="text-align: center;"><img src="../../Images/ztxhkj/AnLiDetail/57a5989a6ccc8.jpg" title="洪湖.jpg" alt="洪湖.jpg"></p></div></div> </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/21.html"><h3>医疗/卫生 <small>HEALTH CARE</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-yiliaoweisheng.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/330.html" data-toggle="tooltip" title="助推泰州市基本公共卫生服务信息系统升级">
                                        助推泰州市基本公共卫生服务信息系统升级
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/11/18</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/37.html" data-toggle="tooltip" title="湖北江陵卫计委虚拟化平台建设">
                                        湖北江陵卫计委虚拟化平台建设
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/36.html" data-toggle="tooltip" title="湖北荆州卫计委云数据中心案例">
                                        湖北荆州卫计委云数据中心案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/35.html" data-toggle="tooltip" title="湖北省孝感市卫生局云数据中心案例">
                                        湖北省孝感市卫生局云数据中心案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/34.html" data-toggle="tooltip" title="荆州市沙市区卫计局数据中心虚拟化改造">
                                        荆州市沙市区卫计局数据中心虚拟化改造
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>