@{ 
    ViewBag.Title = "浙江省德清县教育局";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域-->
    <!--banner区域-->
    <div class="oe-banner-area-style05 swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>浙江省德清县教育局<br><small>2015年9月，德清县教育技术保障中心首次尝试引入云机房，经各方考察和专家比较评定，噢易云教室在众多品牌中脱颖而出，获得了德清县的青睐。经过一年的使用检验，噢易教育桌面云得到了各个使用学校的一致好评，并于2016年8月再次中标德清县教育技术保障中心6所学校的云机房项目。&nbsp;&nbsp;&nbsp;&nbsp;日期：2017-06-30</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目简述</h2><p>德清县，位于浙江北部，东望上海、南接杭州、北连太湖、西枕天目山麓，处长三角腹地。该县一直以来都十分重视当地教育的发展，到目前为止，教育工程项目已完成投资2.5亿元，教育质量稳步提升，高考万人重点上线率位居省市前列，成为浙江全省首批基本实现教育现代化县，获评第四届全国教育改革创新唯一县级特别奖。2015年9月，德清县教育技术保障中心首次尝试引入云机房，经各放考察和专家比较评定，噢易云教室在众多品牌中脱颖而出，获得了德清县的青睐。经过一年的使用检验，噢易教育桌面云得到了各个使用学校的一致好评，并于2016年8月再次中标德清县教育技术保障中心6所学校的云机房项目。</p></div><div class="oe-box-item"><h2>应用场景</h2><p>2016年9月，赶在新学期开学前，德清县二期云机房也已完成全部建设并投入使用。截止到此，噢易云教室已覆盖德清县教育技术保障中心下属的10所学校共计10间机房，每间云机房均采取1台服务器+40~60点云终端+噢易云教室软件+独立教师机+多媒体教学软件的形式进行部署，每间云机房至少创建1套Windows7的教学场景，其上安装有常规教学所需的软件和多媒体教学软件。</p><p>常用软件：Office 2010、WinRAR、暴风影音、搜狗拼音输入法、金山词霸、PhotoShop3、多媒体教学软件等。</p><p>除此以外，在德清县教育技术保障中心里，噢易还搭建了一套“云教室分析系统”，收集并汇总所有学校云教学系统的数据，包括云服务器资源使用记录、云桌面登录次数统计、云桌面使用时长统计和远程运维，提供全区的云教学部署架构图等，放便教育局对全区内的云教学系统的投入及使用情况有⼀个清晰的了解，为教育局今后的信息化建设提供决策⽀持。</p></div><div class="oe-box-item"><h2>体现价值</h2><p>1、利用云计算技术打造的云机房，提升了校园信息化水平；终端低能耗，且数据保存在云端，让终端免维修，延长了终端的使用寿命；节省电力成本，绿色环保；</p><p>2、颠覆了传统的“点对点”管理模式，解决了中小学信息化教师人员有限，兼职现象突出等客观因素所带来的管理难题。其B/S架构的管理平台，方便管理员随时随地的对云教学系统进行管理或申请远程协助运维，建立了管理运维的新秩序；</p><p>3、独特的“云教室分析系统”，填补了市场上云教室系统的管理模式空白，将云教学系统由常见机房管理/校级管理模式扩展⾄教育局管理的层面，为教育局提供云教学资源的可视化管理，对硬件资产的投入一目了然；</p><p>4、“云教室分析系统”除了提供云教学资源的可视化管理外，还可以对资产的使用情况，包括主机状况、桌面登录次数和使用时长等进行数据统计，为今后的教育局的教育信息化发展提供辅助决策⽀持。</p><p>方案配置（以50点为例）<br></p><table class="table table-bordered table-hover"><tbody><tr style=" text-align: center;font-weight: bold;font-size: 16px; color:#fff;background-color:#de3b0a;" class="firstRow"><td style="width:81px;">设备名称</td><td>详细参数</td><td style="width:50px;">数量</td></tr><tr><td rowspan="5" style="padding-top: 90px;text-align: center;">云服务器</td><td style="word-break: break-all;">规格：19英寸工业标准2U机架式服务器</td><td rowspan="5" style="padding-top: 90px;text-align: center;">1</td></tr><tr><td style="word-break: break-all;">处理器：2颗Intel Xeon E5-2650 v3（10核/2.3GHz/25M缓存）</td></tr><tr><td style="word-break: break-all;">内存：160GB RDIMM ECC 2133 DDR4 内存</td></tr><tr><td style="word-break: break-all;">硬盘：1块300GB 10K 热插拔2.5⼨SAS硬盘(系统盘)，1块1T SATA3.0企业级硬盘，400GB热插拔SSD硬盘</td></tr><tr><td style="word-break: break-all;">接口：千兆以太网电 4个，console 1个，USB 2个</td></tr><tr><td rowspan="5" style="padding-top: 85px;text-align: center;">云终端<br></td><td style="word-break: break-all;">CPU：Intel(R) Celeron 2807 双核1.58GHZ</td><td rowspan="5" style="padding-top: 85px;text-align: center;">50</td></tr><tr><td style="word-break: break-all;">内存：1GB DDR3 1066/1333 &nbsp; &nbsp; &nbsp; 硬盘：8GB 固态硬盘</td></tr><tr><td style="word-break: break-all;">显卡：集成Intel HD Graphics显卡,支持DirectX 11, Open GL 3.1</td></tr><tr><td style="word-break: break-all;">声卡：集成声卡 &nbsp; &nbsp; &nbsp; 网卡：10/100/1000 以太网</td></tr><tr><td style="word-break: break-all;">I/O：3个USB 端口,1个VGA端口, 1个RJ45端口，1个音频输入口，1个音频输出口，1个HDMI端口</td></tr><tr><td style="text-align:center;">显示器</td><td style="word-break: break-all;">19寸宽屏LED液晶显示器</td><td style="text-align:center;">50</td></tr><tr><td style="text-align:center;">键鼠</td><td style="word-break: break-all;">USB键鼠套装<br></td><td style="text-align:center;">50</td></tr><tr><td rowspan="4" style="padding-top: 60px;text-align: center;">教师机</td><td style="word-break: break-all;">ATX立式机箱 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;500G &nbsp;SATA（7200转</td><td rowspan="4" style="padding-top: 60px;text-align: center;">1</td></tr><tr><td style="word-break: break-all;">酷睿i5 -4590处理器 &nbsp; &nbsp; &nbsp; &nbsp;DVD刻录机</td></tr><tr><td style="word-break: break-all;">Intel H81芯片组 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;集成显卡/声卡/千兆网卡</td></tr><tr><td style="word-break: break-all;">4G DDRIII &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;19寸或以上宽屏液晶显示器</td></tr></tbody></table></div><div class="oe-box-item"><h2>现场实景</h2><p><img src="../../Images/ztxhkj/AnLiDetail/5955ebe989f25.jpg" title="zhejiang.jpg" alt="zhejiang.jpg"></p></div><div class="oe-box-item"><h2>用户评语</h2><p>在二期建设完成后，德清县教育技术保障中心的孙主任说道：“去年我们建设了4所学校，这是我们县第一次使用云机房，整体来说是一次比较大胆的尝试，不过现在看来，我们当时的选择是正确的。在这一年的时间里，4所学校的维护工作量迅速下降，几乎接近于零维护，且从学校的反馈来看，使用效果上与传统机房基本没差别。正因为如此，今年我们依然采用了云机房的模式去建设另外的6所学校，而且，今年噢易还提供了一套分析系统，专门给我们保障中心用的，这套系统对我们全面了解各个学校的机房使用情况，提供了非常大的帮助”。</p></div></div> </div>
            <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading">
                        <a href="~/home/Anli/高教"><h3>高教 <small>HIGHER EDUCATION</small></h3></a>
                    </div>
                    <div class="panel-body">
                        <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/西华大学" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/四川师范大学" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/中国计量学院教育桌面云应用案例" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/上海应用技术大学教育桌面云应用案例" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading">
                        <h3>最新案例</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span>
                            <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span>
                            <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span>
                            <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span>
                            <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span>
                            <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
