@{ 
    ViewBag.Title = "湖北孝感中级人民法院虚拟化平台建设案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>湖北孝感中级人民法院虚拟化平台建设案例<br><small> 实现全省法院审判业务系统的统一管理和资源整合的目标，有效保障了全省法院审判流程管理系统的统一部署和升级的要求。&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目背景
                        </h2> <p>
                            孝感市中级人民法院根据湖北省高级人民法院关于《2014年湖北法院网络基础设施改造指导意见》的通知要求，拟将各基层法院的审判流程系统和审判业务数据集中迁移部署至市中院虚拟化服务器集群系统平台，通过中院专网再把数据汇聚至省高院数据中心，实现全省法院审判业务系统的统一管理和资源整合的目标，有效保障了全省法院审判流程管理系统的统一部署和升级的要求。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户需求
                        </h2> <ul class=" list-paddingleft-2">
                            <li>
                                <p>
                                    贯彻省高院审判管理业务系统的集中化和数据迁移的要求，至少配置2台高性能服务器，满足辖区内10个基层法院的审判管理相关业务系统集中部署到市平台数据中心的虚拟化服务器的要求。
                                </p>
                            </li>
                            <li>
                                <p>
                                    配置1套共享存储设备，必须支持存储区域网络（SAN）和网络连接式存储（NAS），可将其作为虚拟化平台的主存储，配合服务器虚拟化软件搭建虚拟化服务器集群系统平台，确保业务系统数据的安全性。
                                </p>
                            </li>
                            <li>
                                <p>
                                    采用虚拟化技术，搭建“云计算”的IT基础架构，利用高性能服务器配合虚拟化软件平台，搭建基础法院审判平台云系统，实现多个业务系统数据集中归档、统一存储、统一管理。
                                </p>
                            </li>
                            <li>
                                <p>
                                    为后续5-10年我省法院信息化发展提供可扩展的应用支持平台。
                                </p>
                            </li>
                        </ul>
                    </div> <div class="oe-box-item">
                        <h2>
                            解决方案
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a56922705a8.jpg" title="2016080607xiaogan.jpg" alt="2016080607xiaogan.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2 style="text-align: left;">
                            业务规划
                        </h2> <p style="text-align: left;">
                            孝感中院采用定制开发的“通达海审判框架系统”平台承载核心业务系统。审判流程管理系统、审判质量效率评估、办公自动系统、司法政务、法官绩效考核、风险防控、通达海框架系统、门户平台、委托鉴定系统9大核心业务系统运行在“通达海框架系统”中，由于平台业务的特殊性，9大应用必须部署在一个操作系统中，一个虚拟机无法承载整个业务系统负载要求，因此根据核心业务系统负载要求我们采用五台虚拟机组建负载均衡群集用于支撑核心业务系统。<br>注明：每个孝感法院综合平台包括9个应用系统。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案特点
                        </h2> <h3> <span style="font-size: 17px; color: rgb(222, 59, 10);">（1）应用负载均衡</span> </h3> <p>
                            配置应用负载利拟机共同支撑“通达海审判框架系统”平台外部并发访问，弹性分担资源压力。
                        </p> <p style="text-align: center;"> <br> <img src="../../Images/ztxhkj/AnLiDetail/57a5984f8d79e.png" title="孝感.png" alt="孝感.png"> </p> <h3> <span style="font-size: 17px; color: rgb(222, 59, 10);">（2）资产审计管理</span> </h3> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a5976d9e470.jpg" title="孝感资产审计管理.jpg" alt="孝感资产审计管理.jpg"> </p> <h3> <span style="font-size: 17px; color: rgb(222, 59, 10);">（3）功能定制开发</span> </h3> <ul class=" list-paddingleft-2"> <li> <p> <strong>应用负载定制</strong> </p> </li> </ul> <p>
                            结合“通达海审判综合平台”运行的工作原理，对VServer平台进行了二次定制开发，针对孝感法院“通达海”平台工作原理对负载均衡功能进行了修改，以满足“通达海”平台对负载均衡器的要求。
                        </p> <ul class=" list-paddingleft-2"> <li> <p> <strong>界面定制</strong> </p> </li> </ul> <p>
                            按试试效果感中院信息中心要求，为统一风格，提高业务平台整体集成度，我方针对本项目对VServer管理控制平台界面风格进行了定制，以满足用户需求。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            实施效果
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a5977a33df8.jpg" title="孝感资产实施效果图.jpg" alt="孝感资产实施效果图.jpg"> </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="~/home/Anli/法院"><h3>法院 <small>COURT</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gongjianfa.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/荆门中级人民法院虚拟化平台案例" data-toggle="tooltip" title="荆门中级人民法院虚拟化平台案例">
                                        荆门中级人民法院虚拟化平台案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/十堰中级人民法院虚拟化平台案例" data-toggle="tooltip" title="十堰中级人民法院虚拟化平台案例">
                                        十堰中级人民法院虚拟化平台案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/湖北孝感中级人民法院虚拟化平台建设案例" data-toggle="tooltip" title="湖北孝感中级人民法院虚拟化平台建设案例">
                                        湖北孝感中级人民法院虚拟化平台建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/随州中级人民法院虚拟化平台案例" data-toggle="tooltip" title="随州中级人民法院虚拟化平台案例">
                                        随州中级人民法院虚拟化平台案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/江汉中级人民法院虚拟化平台案例" data-toggle="tooltip" title="江汉中级人民法院虚拟化平台案例">
                                        江汉中级人民法院虚拟化平台案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
