@{ 
    ViewBag.Title = "湖北省孝感市卫生局云数据中心案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>湖北省孝感市卫生局云数据中心案例<br><small> &nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目背景
                        </h2> <p>
                            随着互联网+的提出和云计算产业的不断发展，孝感市卫生局相关业务数量呈爆发式增长。传统数据中心在扩展性、效率、运维、能耗、安全五大方向上正面临新的挑战，这主要源于传统数据中心的“固态”现状。传统数据中心多采用“专机专用”、存储设备堆集及专网连接的架构模式，这就导致数据中心的系统扩展性受限、效率不高、能耗浪费、运维费用高居不下、安全管理复杂等问题。<br>为响应国家号召以及解决当前单位业务中的困难点，孝感市卫生局决定建设统一、标准的云数据中心，通过云计算、虚拟化等技术改造原有信息中心机房，加速信心化建设步伐。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户需求
                        </h2> <p>
                            通过构建云数据中心，解决原有传统机房架构中的不足，促进卫生、计生信息化建设，包含如下内容：<br>1. &nbsp;建设统一的企业云数据中心IT基础构架承载平台，基于云计算的模式，融入虚拟化等技术，在平台架构和技术形态上，实现高弹性、易扩展、高可用、统一管理调配的IT服务资源平台<br>2. &nbsp;新购X86架构高性能物理服务器5台，利用虚拟化技术建立统一的计算资源池，解决原有应用上线慢、内部审批流程复杂的问题<br>3. &nbsp;打破原有“专机专用”的传统架构，提高单台物理服务器资源利用率，减少物理设备的投入，降低投资、耗能。<br>4. &nbsp;通过专业的P2V软件将原有应用系统迁移到虚拟化环境中，保障原有应用系统的正常运行<br>5. &nbsp;建立方便、简单、可视化的运维管理体系，简化运维难度。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            资源规划
                        </h2> <p>
                            根据原有应用系统的需求，建立6套虚拟机系统，资源规划如下：
                        </p> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr style=" text-align: center; background-color: red; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow">
                                    <td width="19%">
                                        虚拟机名称
                                    </td>
                                    <td width="17%">
                                        操作系统类型
                                    </td>
                                    <td width="14%">
                                        主磁盘
                                    </td>
                                    <td width="8%">
                                        内存
                                    </td>
                                    <td width="8%">
                                        vCPU
                                    </td>
                                    <td width="34%">
                                        vNet
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Win2008R2
                                    </td>
                                    <td>
                                        Win2008R2
                                    </td>
                                    <td>
                                        55G lun3
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        内网交换机2-1、专网交换机2-0
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Win2008R2备用1
                                    </td>
                                    <td>
                                        Win2008R2
                                    </td>
                                    <td>
                                        55G lun3
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        内网交换机1-1、专网交换机1-0
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Win2008R2备用2
                                    </td>
                                    <td>
                                        Win2008R2
                                    </td>
                                    <td>
                                        55G lun3
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        内网交换机1-1、专网交换机1-0
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Win2008R2备用3
                                    </td>
                                    <td>
                                        Win2008R2
                                    </td>
                                    <td>
                                        55G lun3
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        内网交换机1-1、专网交换机1-0
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Win2003R2
                                    </td>
                                    <td>
                                        Win2003R2
                                    </td>
                                    <td>
                                        45G lun3
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        内网交换机3-1、专网交换机3-0
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Win2003R2备用1
                                    </td>
                                    <td>
                                        Win2003R2
                                    </td>
                                    <td>
                                        45G lun3
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        内网交换机3-1、专网交换机3-0
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <div class="oe-box-item">
                        <h2>
                            实施效果
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a59915d64a4.jpg" title="孝感.jpg" alt="孝感.jpg"> </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/21.html"><h3>医疗/卫生 <small>HEALTH CARE</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-yiliaoweisheng.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/助推泰州市基本公共卫生服务信息系统升级" data-toggle="tooltip" title="助推泰州市基本公共卫生服务信息系统升级">
                                        助推泰州市基本公共卫生服务信息系统升级
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/11/18</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/湖北江陵卫计委虚拟化平台建设" data-toggle="tooltip" title="湖北江陵卫计委虚拟化平台建设">
                                        湖北江陵卫计委虚拟化平台建设
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/湖北荆州卫计委云数据中心案例" data-toggle="tooltip" title="湖北荆州卫计委云数据中心案例">
                                        湖北荆州卫计委云数据中心案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/湖北省孝感市卫生局云数据中心案例" data-toggle="tooltip" title="湖北省孝感市卫生局云数据中心案例">
                                        湖北省孝感市卫生局云数据中心案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/荆州市沙市区卫计局数据中心虚拟化改造" data-toggle="tooltip" title="荆州市沙市区卫计局数据中心虚拟化改造">
                                        荆州市沙市区卫计局数据中心虚拟化改造
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
