@{ 
    ViewBag.Title = "湖北省荆门市沙洋县卫计局居民健康卡云数据中心改造";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>湖北省荆门市沙洋县卫计局居民健康卡云数据中心改造<br><small> &nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目背景</h2><p>为响应卫生信息化建设的“4631-2工程”、国家卫生计生委和中医药管理局联合印发《关于加快推进人口健康信息化建设的指导意见》，沙洋县卫计局主力着手居民健康卡业务、卫生计生数据中心改造，该项目不仅需要满足全县现有医院（前置）、村卫医疗HIS、人口信息化平台等原有应用系统的正常迁移、本次居民健康卡业务系统的正常部署，同时需要改造原有机房环境，在网络安全、数据安全、应用安全、环境安全等多维度解决当前沙洋县卫计局信息化环境差的问题，并建议一套统一、标准、简便的安全运维管理体系，保障应用合理运行。</p></div><div class="oe-box-item"><h2>用户需求</h2><ol class=" list-paddingleft-2"><li><p>改造原有机房环境，从电力、空调、监控、安防、消防等多方面加固环境安全。</p></li><li><p>采用先进的云计算、虚拟化等技术改造现有“烟囱式”架构，替换原有不稳定的虚拟化系统。</p></li><li><p>构建居民健康卡卡管平台，满足全县发卡、用卡、管卡需求</p></li><li><p>构建现有医疗机构、村卫等系统前置应用，满足数据互联互通的需求</p></li><li><p>迁移现有应用（如：村卫、新农合、人口健康平台等）至虚拟化环境中，保障原有应用系统正常运行</p></li><li><p>改造原有本地数据存储的弊端，采用全新的双活存储架构构建全县数据存储系统，满足应用安全、连续性要求。</p></li><li><p>合理利用原有硬件，保护投资。</p></li></ol></div><div class="oe-box-item"><h2>解决方案</h2><p>我们通过对网络安全、数据安全、应用安全、备份系统等多方面考虑，我方推荐基于云计算、虚拟化为基础架构底层的综合解决方案。</p><p style="text-align: center;"><img alt="架构图" src="../../Images/ztxhkj/AnLiDetail/2016071849.png" width="560" height="385" style="width: 560px; height: 385px;"></p></div><div class="oe-box-item"><h2>实施效果</h2><p style="text-align: center;"><img src="../../Images/ztxhkj/AnLiDetail/57a59c69f1e72.jpg" title="沙洋.jpg" alt="沙洋.jpg"></p></div><div class="oe-box-item"><h2>方案特点</h2><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">部署简单</span></h3><p>1) &nbsp;虚拟化架构精简，一个安装组件，基于物理服务器裸机部署，精简管理架构，集成管理平台，<br>2) &nbsp;整个安装5步完成，全中文图形化操作界面，向导说明注释；<br>3) &nbsp;WEB管理平台，单一视图，管理操作简单，易理解；<strong><br></strong></p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">业务更连续、更可靠</span></h3><p>通过基础平台虚拟化、高可用、负载均衡、动态资源调度、双活存储搭建等技术手段，实现单位内部应用更连续、更可靠。<strong><br></strong></p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">新增业务快速上线</span></h3><p>1) &nbsp;新业务上线，在数据中心创建一个虚拟机即可，省去硬件采购周期，实现快速部署，大大缩短业务上线时间；<br>2) &nbsp;新老业务更换，可试运行评估资源使用情况，再切换到正式环境使用，降低风险；<br>3) &nbsp;方便搭建临时业务和测试业务，虚拟机不用资源可以回收释放；<strong><br></strong></p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">降低投资、提高资源利用率</span></h3><p>通过虚拟化技术有效的利用物理硬件的CPU、内存资源，有效的降低了物理硬件的投入，并且从数据中心空间成本、电力成本、管理人员成本、集成服务等多个方面整体降低了信息中心运营成本，降低投资。<strong><br></strong></p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">简化管理、方便维护</span></h3><p>1) &nbsp;通过虚拟化技术加快新应用的部署，大大降低服务器重建和应用上线时间。<br>2) &nbsp;通过虚拟化技术使硬件维护从原来数天/周变更成为1 - 3小时，大大简化了维护的难度，虚拟化管理软件提供了丰富的远程统一管理和控制界面，实现足不出户，大幅度的简化了大量服务器的运维管理工作。<strong><br></strong></p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">无缝扩展到云平台，不中断现有的业务运行</span></h3><p>1) &nbsp;虚拟化的IT架构可无限扩展；<br>2) &nbsp;支持从虚拟化的数据中心扩展到私有云平台，为区域内的组织结构和单位提供自助式的服务。<strong><br></strong></p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">本地化上门服务和技术支持</span></h3><p>1) &nbsp;结合用户业务特点，针对性培训系统管理员、虚拟化平台使用人员；<br>2) &nbsp;免费对数据中心网路整改规划，业务资源评估，业务迁移（PTV和VTV），保障业务至少4320小时不间断运行；<br>3) &nbsp;免费软件升级、7x24小时咨询服务、原厂商技术上门服务</p></div></div> </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/21.html"><h3>医疗/卫生 <small>HEALTH CARE</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-yiliaoweisheng.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/助推泰州市基本公共卫生服务信息系统升级" data-toggle="tooltip" title="助推泰州市基本公共卫生服务信息系统升级">
                                        助推泰州市基本公共卫生服务信息系统升级
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/11/18</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/湖北江陵卫计委虚拟化平台建设" data-toggle="tooltip" title="湖北江陵卫计委虚拟化平台建设">
                                        湖北江陵卫计委虚拟化平台建设
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/湖北荆州卫计委云数据中心案例" data-toggle="tooltip" title="湖北荆州卫计委云数据中心案例">
                                        湖北荆州卫计委云数据中心案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/湖北省孝感市卫生局云数据中心案例" data-toggle="tooltip" title="湖北省孝感市卫生局云数据中心案例">
                                        湖北省孝感市卫生局云数据中心案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/荆州市沙市区卫计局数据中心虚拟化改造" data-toggle="tooltip" title="荆州市沙市区卫计局数据中心虚拟化改造">
                                        荆州市沙市区卫计局数据中心虚拟化改造
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
