@{ 
    ViewBag.Title = "湖南大学工训中心教育桌面云应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>湖南大学工训中心教育桌面云应用案例<br><small> 从理论到实践，云计算工训中心完美落地&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目简述
                        </h2> <p>
                            湖南大学坐落在中国历史文化名城长沙，校区位于湘江之滨、岳麓山下，享有“千年学府，百年名校”之誉。她不仅是国家教育部直属的全国重点综合性大学，也是国家“211工程”、“985工程”重点建设的高水平大学。湖南大学工训中心承载着学生的计算机基础课程和部分专业课程的教学，目前机房在使用和管理过程中面临以下挑战：计算机由于配置过低运行教学软件速度很慢；不同专业学生使用机房时需要不同的软件；机房不排课时只能闲置，教学资源得不到充分利用；大量的计算机造成机房管理困难，系统更新、软件升级工作量大。湖南大学工训中心为了有效改善教学机房环境，采用了以云计算技术为基础的噢易教育桌面云来实现终端桌面虚拟化，建设和完善教学环境。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            应用场景
                        </h2> <p>
                            湖南大学工训中心采用全新规划，分别部署了3间教学机房，共计150点的噢易教育桌面云，分别用于计算机基础教学，金融等专业课上机实验，以及课余的科研和大数据处理。根据课程安排的不同，在云桌面管理平台激活相应的教学场景，学生打开终端电脑之后可自动进入该教学场景下的虚拟桌面；也可同时激活多个教学场景，不同专业的学生可自主选择，而且教学场景可自由切换。教学场景内的虚拟桌面关闭之后自动还原，保证纯净的教学环境。<br>教学常用软件:Office、 EVIEWS，MATLAB,SPSS,SAS，用友，WinRAR,搜狗输入法等应用，以及国泰安，博易大师，中信建投，湘财证券，通达信等金融软件客户端。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            价值体现
                        </h2> <p>
                            1、针对学校网络存在的不稳定性因素，特采用虚实双系统技术配合教学；<br>2、根据不同的教学应用创建相应的教学场景，满足计算机基础教学、金融等不同专业学生的上机实验；<br>3、机房没有排课时云端计算资源可集中分配给单台虚拟机，高性能的虚拟机可用于科研和大数据处理，提高机房资源的利用率；<br>4、与多媒体教学软件无缝集成，为教学环境提供屏幕广播、遥控监看、视频教学、影音直播、电子点名、文件传输、一键收取文件、黑屏肃静、播放语音文件、收发消息、电子举手、查看作业等教学功能；<br>5、针对用友ERP等系统教学时多人同时创建帐套的场景，优化桌面云系统及硬盘读写，提高并发创建帐套速度，改善课堂教学效率；<br>6、在管理平台远程管理机房教学环境，一键更新系统、升级软件，无需来到机房就可对机房环境进行管理维护，为实验中心的管理工作提供了极大便利。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案配置
                        </h2> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow">
                                    <td>
                                        设备名称
                                    </td>
                                    <td>
                                        详细参数
                                    </td>
                                    <td>
                                        数量
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="4" style=" text-align:center; padding-top:65px;">
                                        云服务器
                                    </td>
                                    <td>
                                        CPU：Intel 2路10核
                                    </td>
                                    <td rowspan="4" style=" text-align:center;  padding-top:65px;">
                                        12
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：256G DDR4
                                    </td>
                                </tr>
                                <tr> <td>                        硬盘：2<em>300G 15K SAS RAID 0</em> </td> </tr>
                                <tr>
                                    <td>
                                        网卡：41000M
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style=" text-align:center; padding-top:30px;">
                                        共享存储
                                    </td>
                                    <td>                        16<em>400G SSD</em> </td>
                                    <td rowspan="2" style=" text-align:center;  padding-top:30px;">
                                        1
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        16900G SAS RAID 5
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        终端设备
                                    </td>
                                    <td>
                                        AOC 18.5寸云一体机
                                    </td>
                                    <td style="text-align: center; word-break: break-all;">
                                        150
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <div class="oe-box-item">
                        <h2>
                            现场实景
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a59070e794d.jpg" title="湖南大学_01.jpg" alt="湖南大学_01.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户评价
                        </h2> <p>
                            湖南大学信息教学中心老师表示：“此次我们学校集中部署了204、401、402三间教室，共150个桌面，终端全部采用云一体机设备，有效提升了教学终端性能和课堂效率。在规划桌面云改造的初期，我们信息中心相关技术老师，曾对我们的网络是否适合桌面云部署存有很大的顾虑；金融专业的授课老师，对用友ERP等教学软件，能否在桌面云环境中多人同时创建帐套也表达过担忧…在部署完噢易教育桌面云并应用一段时间后，老师们和学生的总体反馈都十分良好，完全排除了我们前期的种种顾虑与担忧。噢易云计算在教育行业多年的成功经验，为我们学校带来了诸多价值，有效改善和提升了我校信息化教学水平。”
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="~/home/Anli/高教"><h3>高教 <small>HIGHER EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/西华大学" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/四川师范大学" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/中国计量学院教育桌面云应用案例" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/上海应用技术大学教育桌面云应用案例" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
