@{ 
    ViewBag.Title = "甘肃张掖市高台县第三中学云教室应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>甘肃张掖市高台县第三中学云教室应用案例<br><small> 移动桌面、统一管理、节能环保的云办公&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目简述
                        </h2> <p>
                            高台县第三中学以“建设高质量、现代化、富特色的全县示范初中，办人民满意的教育“为办学目标。学校拥有高标准学生计算机教室3个，多功能教室1个，红外线触摸屏教室28个，电子白板教室10个；并先后被命名为省级“节约型公共机构示范单位”、市级“绿色环保学校”、市级“节水型示范校”、市级“语言文字规范化示范校”、市级“交通安全示范学校”、市级“示范家长学校”、高台县“素质教育特色学校”、县级“文明单位”。2015年高台县三中采用“噢易云教室“方案用于教师办公，实现统一管理、节能环保、移动办公。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            应用场景
                        </h2> <p>
                            本次高台县第三中学的云教室项目一共75点的授权，可满足75名教师同时办公。终端设备采用云终端加显示器，瘦小的云终端很好的节省了办公空间。为满足教师办公需求，给每位教师分别配置了50G的系统盘和150G的数据盘，无还原设置，可保留个人数据；对于教师个性化的需求，资源可实现弹性分配。分布在不同办公室的终端，可通过浏览器进入“云管理平台“进行统一管理。 <br>基础设施：使用3台高性能服务器组成集群，提供云办公服务；使用75台瘦客户端，搭建信息化时代的绿色环保IT环境。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            价值体现
                        </h2> <ul class=" list-paddingleft-2">
                            <li>
                                <p>
                                    便于管理：高台县第三中学三中的电教老师非专职教师，为授课教师兼任管理员，通过“噢易云教室“实现不同办公室终端的统一管理，大大简化了终端桌面的管理维护量，教师办公的故障回应也更加及时；
                                </p>
                            </li>
                            <li>
                                <p>
                                    数据安全：“噢易云教室“数据保存在服务器端，可避免由于终端故障或者教师操作不当导致的数据丢失，有效保障了教师办公的数据安全。
                                </p>
                            </li>
                            <li>
                                <p>
                                    节能环保：高台县第三中学为全省的节能标兵单位，学校先后被命名为省级“节约型公共机构示范单位”、市级“绿色环保学校”、市级“节水型示范校”、市级“语言文字规范化示范校”、市级“交通安全示范学校”、市级“示范家长学校”、高台县“素质教育特色学校”、县级“文明单位”。能耗15W的云终端设备相对于300W的传统PC更加节能，同时超低的噪音，让办公室更加安静，真正实现绿色环保。
                                </p>
                            </li>
                            <li>
                                <p>
                                    移动办公：教师可通过自己的账号和密码在不同的办公室，登入自己的专属桌面进行办公，避免教师因更换公办场所造成的桌面环境变化，实现“桌面跟我走“的移动办公。
                                </p>
                            </li>
                        </ul>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案配置
                        </h2> <p>
                            高台县第三中学云教室项目主要硬件配置如下：
                        </p> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow">
                                    <td>
                                        设备名称
                                    </td>
                                    <td>
                                        详细参数
                                    </td>
                                    <td>
                                        数量
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        云服务器
                                    </td>
                                    <td>
                                        CPU：Intel 2路8核
                                    </td>
                                    <td rowspan="5" style=" text-align:center;  padding-top:85px;">
                                        3
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：96G DDR3
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        硬盘：2*240G SSD
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        600G 15K SAS
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        网卡：4*1000M
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        云终端
                                    </td>
                                    <td>
                                        CPU: Intel双核 1.58GHz
                                    </td>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        75
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：2GB DDR3
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        硬盘：8GB SSD固态盘
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        显卡：集成显卡
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        接口：1*HDMI接口，1*VGA接口，1个网口，3*USB 2.0
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        显示器
                                    </td>
                                    <td>
                                        18.5寸LED显示器
                                    </td>
                                    <td style=" text-align:center;">
                                        75
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <div class="oe-box-item">
                        <h2>
                            现场实景
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a56c2dbd31e.jpg" title="甘肃.jpg" alt="甘肃.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户评语
                        </h2> <p>
                            噢易云教室已在高台县第三中学中投入使用，对于使用效果，老师做出如下描述：<br>第一次尝试桌面虚拟化，噢易云教室给了我们很好的感受。从管理方面来说，之前几个办公室的电脑管理起来十分的不便，现在直接通过管理平台就可以解决大部分维护问题，减轻了很大的维护工作量；从使用上面来说，备课办公、视频播放等都达到了我们预期的效果，特别是移动办公，给我们带来了新颖的体验。
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/25.html"><h3>普教 <small>GENERAL EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('/data/upload//00000000/anli-pujiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/346.html" data-toggle="tooltip" title="浙江省德清县教育局">
                                        浙江省德清县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/30</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/345.html" data-toggle="tooltip" title="安徽省无为县教育局">
                                        安徽省无为县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/29</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/27.html" data-toggle="tooltip" title="桂林市班班通管理分析系统应用案例">
                                        桂林市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/26.html" data-toggle="tooltip" title="重庆市班班通管理分析系统应用案例">
                                        重庆市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/25.html" data-toggle="tooltip" title="张居正小学教育桌面云应用案例">
                                        张居正小学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
