@{ 
    ViewBag.Title = "荆门中级人民法院虚拟化平台案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>荆门中级人民法院虚拟化平台案例<br><small> 荆门市中级人民法院虚拟化平台主要用于承载通达海业务平台，平台包括：审判流程管理系统、档案系统、省委会系统等多个业务系统。&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目背景</h2><p>为贯彻最高人民法院提出的“科技强院”的要求，结合省政法网、法院系统四级专网全面建设大环境，荆门市中级人民法院计划实施新审判大楼信息化基础设施建设工程。项目根据《人民法院计算机网络系统建设管理规定》、《人民法院计算机信息网络系统建设规划》、《人民法院信息网络系统建设实施方案》、《国家“十二五”期间人民法院信息化发展规划》和《湖北法院信息化建设规划（2013-2015）》、《2014年全省法院信息化建设重点项目计划》等文件要求，同时结合荆门市中级人民法院新审判大楼信息化基础设施建设项目的具体特点进行规划设计。虚拟化平台建设作为审判法庭信息化系统集成建设项目的重要组成部分受到了院方领导的特别关注。虚拟化平台如何适应荆门市中级人民法院自身使用的需要，确保与其他系统实现无缝对接，同时保证有一定的系统先进性和冗余量，以保证今后发展的需要。使整个系统建设能够充分发挥现代信息技术对审判办公的无可替代的辅助作用， 并充分体现“科技服务审判”的建设宗旨，成为荆门市中级虚拟化建设的首要任务。</p></div><div class="oe-box-item"><h2>用户需求</h2><p>荆门市中级人民法院虚拟化平台主要用于承载通达海业务平台，平台包括：审判流程管理系统、档案系统、省委会系统等多个业务系统。通达海系统平台承载的核心业务系统与“通达海”平台紧密结合。当这套系统部署在虚拟化环境中，单台虚拟服务器无法承担所有应用负载，因此必须采用应用负载均衡的方式来分担访问压力，由多台虚拟服务器组建负载均衡群集共同对外提供服务。</p></div><div class="oe-box-item"><h2>解决方案</h2><p style="text-align: center;"><img src="../../Images/ztxhkj/AnLiDetail/57a5688f843d3.jpg" title="2016080607jingmen.jpg" alt="2016080607jingmen.jpg"></p><p>本次虚拟化平台建设全部采用新购硬件设备。采用3台高性能服务器安装OS-Easy vServer组建服务器虚拟化群集，采用FC SAN连接共享存储。共享存储在为服务器虚拟化群集提供共享存储空间的同时承担一体化备份工作。采用两台FC SAN存储光纤交换机冗余配置，确保存储数据链路的高可用性。</p></div><div class="oe-box-item"><h2>用户价值</h2><p>针对孝感法院“通达海”平台工作原理对负载均衡功能对OE-VServer虚拟化平台进行了二次定制开发，让“通达海”平台负载均衡机制发生了改变，当用户需要访问一个业务系统时，负载均衡器会按照策略分流首次访问请求，为其分配一个服务器响应，以满足“通达海”平台对负载均衡器的要求，<br>通达海业务平台迁移部署完成后，后续还会将现有的老服务器上：人事系统、文书纠错、屏蔽系统、科技法庭后台系统、学法用法系统、技术通信应用迁移到虚拟环境，同时为2015年新上线的业务做好资源准备。<br>虚拟化平台可以支撑48个轻型应用，24个中型应用，12个重型应用。<br>注：web应用为超轻型应用，一般应用为轻型应用，通达海为中型应用，数据库为重型应用。</p></div></div> </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="~/home/Anli/法院"><h3>法院 <small>COURT</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gongjianfa.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/荆门中级人民法院虚拟化平台案例" data-toggle="tooltip" title="荆门中级人民法院虚拟化平台案例">
                                        荆门中级人民法院虚拟化平台案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/十堰中级人民法院虚拟化平台案例" data-toggle="tooltip" title="十堰中级人民法院虚拟化平台案例">
                                        十堰中级人民法院虚拟化平台案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/湖北孝感中级人民法院虚拟化平台建设案例" data-toggle="tooltip" title="湖北孝感中级人民法院虚拟化平台建设案例">
                                        湖北孝感中级人民法院虚拟化平台建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/随州中级人民法院虚拟化平台案例" data-toggle="tooltip" title="随州中级人民法院虚拟化平台案例">
                                        随州中级人民法院虚拟化平台案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/江汉中级人民法院虚拟化平台案例" data-toggle="tooltip" title="江汉中级人民法院虚拟化平台案例">
                                        江汉中级人民法院虚拟化平台案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>