@{ 
    ViewBag.Title = "襄阳班班通管理分析系统应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>襄阳班班通管理分析系统应用案例<br><small> 实现班班通设备的高效管理，合理使用&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目简述</h2><p>襄阳市直属现十多所学校，490多个班级。490多个班级管理起来复杂，工作量大。襄阳市教育局现需建立一个数据中心，实现下属学校的集中管理。需要一种科学高效的班班通管理办法代替原有的人力手工的管理模式，利用新建数据中心实现班班通设备的高效管理，打通资源平台，合理化资源使用，实现资源的高效利用。</p></div><div class="oe-box-item"><h2>面临挑战</h2><ul class=" list-paddingleft-2"><li><p>教育信息化仍然是教育改革与发展中的薄弱环节，还存在较大差距。</p></li><li><p>教育信息化装备（硬件或软件）投入不足，且缺乏良好的规划。</p></li><li><p>需推动数字教育资源进行合理共享教育信息化的管理体系还有待整合和集成。</p></li><li><p>专业人员力量薄弱，信息技术学科教师专业素养不高，动手能力比较弱，兼职现象比较突出。</p></li></ul></div><div class="oe-box-item"><h2>价值体现</h2><ul class=" list-paddingleft-2"><li><p>筛选优质课堂教学资源</p></li><li><p>促进教学模式向信息化转变</p></li><li><p>强化信息化建设的管理机制</p></li><li><p>提供教育信息化建设决策依据</p></li><li><p>全面展示教育信息化建设成果</p></li></ul></div><div class="oe-box-item"><h2>项目截图</h2><p style="text-align: center;"><img src="../../Images/ztxhkj/AnLiDetail/57a5853375f63.jpg" title="班班通(襄樊).jpg" alt="班班通(襄樊).jpg"></p></div><div class="oe-box-item"><h2>用户评语</h2><p>随着大量教育信息化硬件的不断投入，如何管理好这些设备在信息化教学中的应用，成为了我们管理者主要的工作方向。要想用好，就得先从普及使用开始，我们通过噢易班班通系统，给每学期制定计划授课课时数、平均授课时长等标准，确保学校授课老师将信息化教学开展起来，实现了“班班通”教学应用常态化，发挥了班班通设备应有的价值。</p></div></div> </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/25.html"><h3>普教 <small>GENERAL EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('/data/upload//00000000/anli-pujiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/346.html" data-toggle="tooltip" title="浙江省德清县教育局">
                                        浙江省德清县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/30</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/345.html" data-toggle="tooltip" title="安徽省无为县教育局">
                                        安徽省无为县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/29</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/27.html" data-toggle="tooltip" title="桂林市班班通管理分析系统应用案例">
                                        桂林市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/26.html" data-toggle="tooltip" title="重庆市班班通管理分析系统应用案例">
                                        重庆市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/25.html" data-toggle="tooltip" title="张居正小学教育桌面云应用案例">
                                        张居正小学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
