@{ 
    ViewBag.Title = "襄阳四中教育桌面云应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>襄阳四中教育桌面云应用案例<br><small> 采用云计算新技术，继续领跑信息化建设&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目简述
                        </h2> <p>
                            随着教育信息化进程的推进，在校领导了解应用桌面虚拟化建设教学机房为学校带来的益处之后，襄阳四中在新建教学机房项目实施过程中摒弃了传统PC部署的方案，采用了噢易教育桌面云解决方案，实现了机房集中管理，为学校节省了大量的机房管理维护投入和电力资源，提高了学校教学工作的信息化程度。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            应用场景
                        </h2> <p>
                            襄阳四中在教学机房中部署了80点的噢易教育桌面云，终端设备采用美观时尚的一体机。创建win7系统的教学场景，安装了常用的教学软件和噢易多媒体网络教学系统学生端，另外配置一台PC作为噢易多媒体网络教学系统教师端，方便老师进行多媒体教学。<br>常用的软件：Microsoft Office Professional Plus 2010, Cisco Packet Tracer, WinRAR, 福昕阅读器，风雷影音，搜狗拼音输入法，噢易多媒体网络教学系统。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            价值体现
                        </h2> <p>
                            噢易教育桌面云方案中，终端设备只用来显示桌面影像和传输信号指令，而所有的桌面环境都由云服务器负载，因此管理云服务器即可完成所有终端应用环境的管理维护，当终端使用的虚拟桌面系统需要打补丁或者安装新软件时，不再需要操作终端设备，这就使得教学环境的部署更加高效；桌面云使用一体机代替了传统的PC机，而一体机的能耗约是PC机的1/15, 不仅节能环保、而且美观时尚，在节约了机房能耗的同时提高了机房的整体美感，使机房环境处处都体现着现代化。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案配置
                        </h2> <p>            襄阳四中教育桌面云硬件配置：<br> </p> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow">
                                    <td>
                                        设备名称
                                    </td>
                                    <td>
                                        详细参数
                                    </td>
                                    <td>
                                        数量
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        云服务器
                                    </td>
                                    <td>
                                        CPU：Intel 2路6核
                                    </td>
                                    <td rowspan="5" style=" text-align:center;  padding-top:85px;">
                                        3
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：96G DDR3
                                    </td>
                                </tr>
                                <tr> <td>                        硬盘：1<em>Intel 530 240G SSD</em> </td> </tr>
                                <tr>
                                    <td>
                                        600G 15K SAS
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        网卡：41000M
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="7" style=" text-align:center; padding-top:85px;">
                                        云终端一体机
                                    </td>
                                    <td>
                                        CPU: Intel®Celeron赛扬双核1037U/1.8GHz
                                    </td>
                                    <td rowspan="7" style=" text-align:center; padding-top:85px;">
                                        80
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：2GB DDR3 1066/1333
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        硬盘：8GB 固态盘
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        显示屏：18.5英寸LED背光宽屏
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        网卡：10/100/1000 以太网
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        接口：1<em>HDMI接口，1</em>VGA接口，1个网口，4*USB 2.0
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        功耗：节能低功耗，小于38瓦
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        鼠标键盘
                                    </td>
                                    <td>
                                        USB键盘鼠标套装
                                    </td>
                                    <td style=" text-align:center;">
                                        80
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        交换机
                                    </td>
                                    <td>
                                        24口前兆交换机
                                    </td>
                                    <td style=" text-align:center;">
                                        4
                                    </td>
                                </tr>
                            </tbody>
                        </table> <p> <br> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            现场实景
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a56c6fb2284.jpg" title="襄阳.jpg" alt="襄阳.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户评语
                        </h2> <p>
                            噢易教育桌面云在襄阳四中运行一段时间后，机房的李老师做了如下评价：<br>安装部署完成之后，桌面云运行很稳定，相对于传统PC，噢易教育桌面云实现了教学环境真正的集中管理，云终端一体机几乎不存在维护的问题，多媒体教学系统在虚拟桌面中的使用与真实PC中几乎没有差别，云终端一体机的功耗比传统PC大幅减小，就算不计算管理运维成本，仅电费一项就能节省不少钱。我觉得噢易教育桌面云不仅给我们管理机房提供了方便，还为学校节省很多的资源，体现了我们机房的先进性，确实给学校带来了很大的便利。
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/25.html"><h3>普教 <small>GENERAL EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-pujiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/346.html" data-toggle="tooltip" title="浙江省德清县教育局">
                                        浙江省德清县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/30</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/345.html" data-toggle="tooltip" title="安徽省无为县教育局">
                                        安徽省无为县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/29</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/27.html" data-toggle="tooltip" title="桂林市班班通管理分析系统应用案例">
                                        桂林市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/26.html" data-toggle="tooltip" title="重庆市班班通管理分析系统应用案例">
                                        重庆市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/25.html" data-toggle="tooltip" title="张居正小学教育桌面云应用案例">
                                        张居正小学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>