@{ 
    ViewBag.Title = "西华大学";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域-->
    <!--banner区域-->
    <div class="oe-banner-area-style05 swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>西华大学<br><small>近年来，云计算技术的逐渐成熟为解决实验中心机房、教学机房面临的问题提供了方法，为了创建可集中管理、节能环保的教学环境，西华大学两个学院选择了噢易教育桌面云方案来建设新机房，为未来实现整体校园云建设打下了坚实基础。&nbsp;&nbsp;&nbsp;&nbsp;日期：2017-06-13</small></h1>
                <div class="oe-content-style01"><div class="oe-box-item"><h2>项⽬简述</h2><p>西华大学是经教育部批准合并组建的省属重点综合性大学，是教育部本科教学工作水平评估优秀高校，拥有博士后科研工作站。随着学院对教学信息化要求的提高，2014年，数学与计算机学院实验中心部署了300点的噢易教育桌面云产品，2015年，数学与计算机学院追加了96点，应用技术学院再次选择噢易教育桌面云，部署了215点的噢易教育桌面云产品，解决了这两个学院的教学机房管理维护困难、计算机等级考试环</p><p>境部署工作量大、电脑功耗高噪音大等突出问题。</p><p>近年来，云计算技术的逐渐成熟为解决实验中心机房、教学机房面临的问题提供了方法，为了创建可集中管理、节能环保的教学环境，两个学院选择了噢易教育桌面云方案来建设新机房，为未来实现整体校园云建设打下了坚实基础。</p></div><div class="oe-box-item"><h2>应用场景</h2><p><strong>第一个应用场景为西华大学数学与计算机学院（396点）</strong></p><p>实验中心在7间的机房内部署了360点噢易教育桌面云和36点教师办公桌面，终端设备采用云终端加显示器。根据不同的使用需求创建2套教学场景，学院所有学生的大学计算机基础课程全都安排在新建机房，学生使用虚拟桌面学习基础的编程和设计。除了基础的教学之外，计算机等级考试也安排在新建机房内。</p><p>常用的软件:Office2010,Autocad2010,VC/VB/VF6.0,Matlab7.0,Winrar,PDF阅读器，极品五笔输入法，搜狗拼音输入法。</p><p><strong>第二个应用场景为西华大学应用技术学院（215）</strong></p><p>应用技术学院共有2间教学机房和65间多媒体教室，部署了噢易教育桌面云。教学机房终端设备采用云终端加显示器，而多媒体教室使用的是原有的旧PC，该学院所有的与计算机相关的课程都安排在教学机房和多媒体教室。</p></div><div class="oe-box-item"><h2>体现价值</h2><p>1、根据不同的应用创建不同的教学场景，教学场景按课程安排可自由切换，满足不同专业学生上课使用，管理员老师不用频繁更换终端系统或软件，简化了不同教学环境的管理，在B/S架构的管理平台上集中管理虚拟桌面，对桌面环境进行维护、软件升级、系统更新等，真正实现了机房的集中管理；</p><p>2、在管理平台可进行批量修改虚拟桌面IP、系统登录名、终端计算机名等操作，达到快速部署计算机等级考试环境的目的；</p><p>3、数学与计算机学院的桌面云机房，在2015年已经使用过计算机等级考试、全国大学生数学建模大赛等多种考试及竞赛的应用场景。</p></div><div class="oe-box-item"><h2>方案配置</h2><p><strong>西华大学数学与计算机学院</strong></p><table class="table table-bordered table-hover"><tbody><tr style=" text-align: center; background-color: #de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow"><td>设备名称</td><td>详细参数</td><td>数量</td></tr><tr><td rowspan="4">云服务器</td><td>CPU：Intel 2路6核/2路8核</td><td rowspan="4">6+3<br></td></tr><tr><td>内存：160G DDR3</td></tr><tr><td>硬盘：2*300G 10K SAS</td></tr><tr><td>网卡：4*1000M</td></tr><tr><td rowspan="6">存储设备</td><td>PowerPC 750GL 800MHz CPU</td><td rowspan="6">1</td></tr><tr><td>2个存储控制器</td></tr><tr><td>8*8Gb FC端口</td></tr><tr><td>4*1Gb ISCSI 端口</td></tr><tr><td>10*240GB SSD固态硬盘</td></tr><tr><td>32*600GB 15k SAS硬盘</td></tr><tr><td rowspan="6" colspan="1">云终端</td><td>CPU: Intel X86架构1.8GHz双核</td><td rowspan="6" colspan="1">369</td></tr><tr><td>内存：2G DDR3</td></tr><tr><td>硬盘：8G</td></tr><tr><td>网卡：10/100/1000千兆口</td></tr><tr><td>4个 USB接口</td></tr><tr><td>支持双屏双显</td></tr><tr><td>键盘鼠标</td><td>键盘鼠标套装</td><td>396</td></tr><tr><td>显示器</td><td>19英寸液晶宽屏显示器</td><td>396</td></tr><tr><td rowspan="2">交换机<br></td><td>48网口千兆交换机<br></td><td>2</td></tr><tr><td>24网口千兆交换机</td><td>19</td></tr></tbody></table><p><br></p><p><strong>西华大学应用技术学院</strong></p><table class="table table-bordered table-hover"><tbody><tr style=" text-align: center; background-color: #de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow"><td>设备名称</td><td>详细参数</td><td>数量</td></tr><tr><td rowspan="4">云服务器</td><td style="word-break: break-all;">CPU：Intel 2路6核</td><td rowspan="4" style="word-break: break-all;">7<br></td></tr><tr><td style="word-break: break-all;">内存：96G DDR3</td></tr><tr><td style="word-break: break-all;">硬盘：5*600G 10K SAS &nbsp; 2*480G SSD</td></tr><tr><td style="word-break: break-all;">网卡：2*1000M</td></tr><tr><td rowspan="6" colspan="1" style="word-break: break-all;">云终端</td><td>CPU: Intel X86架构1.8GHz双核</td><td rowspan="6" colspan="1" style="word-break: break-all;">150</td></tr><tr><td>内存：2G DDR3</td></tr><tr><td>硬盘：8G</td></tr><tr><td>网卡：10/100/1000千兆口</td></tr><tr><td>4个 USB接口</td></tr><tr><td>支持双屏双显</td></tr><tr><td>键盘鼠标</td><td>键盘鼠标套装</td><td style="word-break: break-all;">150</td></tr><tr><td style="word-break: break-all;">利旧终端<br></td><td style="word-break: break-all;">旧PC</td><td style="word-break: break-all;">65</td></tr><tr><td rowspan="2">交换机<br></td><td>48网口千兆交换机<br></td><td style="word-break: break-all;">1</td></tr><tr><td>24网口千兆交换机</td><td style="word-break: break-all;">6</td></tr></tbody></table></div><div class="oe-box-item"><h2>现场实景</h2><p><img src="../../Images/ztxhkj/AnLiDetail/593fa53d45fe3.jpg" title="xh-shijing.jpg" alt="xh-shijing.jpg"></p></div><div class="oe-box-item"><h2>用户评语</h2><p>西华大学数学与计算机学院实验中心祝老师对噢易教育桌面云评价很高，他说：“使用桌面云之后，我们可以根据课程安排管理不同的教学环境，学生上课需要什么样的教学环境，我们把相应的教学场景激活就行了，再不用经常重传系统了；以往计算机等级考试的时候就是我们最累的时候，加班是常有的事，现在使用桌面云布置等考环境比原先方便多了，噢易教育桌面云的这些特点极大减小了我们管理机房的工作量”。</p></div></div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading">
                        <a href="/list/index/id/24.html"><h3>高教 <small>HIGHER EDUCATION</small></h3></a>
                    </div>
                    <div class="panel-body">
                        <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/343.html" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/342.html" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/335.html" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/57.html" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/56.html" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading">
                        <h3>最新案例</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span>
                            <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span>
                            <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span>
                            <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span>
                            <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span>
                            <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
