@{ 
    ViewBag.Title = "郑州科技学院教育桌面云应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>郑州科技学院教育桌面云应用案例<br><small> 云计算技术打造管理便捷、技术领先云实验中心&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目简述
                        </h2> <p>
                            郑州科技学院创建于1988年，原名为中原职业大学，于2008年升格为本科院校，并更名为郑州科技学院。学院领导很关注信息化教学的发展趋势，同时积极在教学过程中引入先进的技术以提高学院办学水平。近年来云计算技术的发展为学院实现终端桌面虚拟化提供了解决方案，了解到噢易教育桌面云可实现资源集中管理、终端节能环保等特点，学院实验中心决定使用桌面云方案建设技术领先的云实验室。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            应用场景
                        </h2> <p>
                            郑州科技学院实验中心新建机房包括84点终端，采用云终端加显示器，利用噢易教育桌面云使用3台云服务器，创建2套win7系统的教学场景，1套用于艺术设计专业学生上机实验，1套用于全院学生计算机基础教学和软件技术专业学生编程练习。不同专业学生上课时激活相应的教学场景，学生启动终端后自动进入虚拟桌面。<br>安装的软件：<br>场景一: Office2010，CAD2010，Photoshop_CS4，Flash_CS4，Dreamweaver_CS4，Fireworks_CS4，CorelDRAW_X3，WinRAR, 风雷影音,搜狗拼音输入法。<br>场景二:Office2010, Visual Studio2010, SQL Server2008，VC++6.0, Java, Eclipse, WinRAR, 风雷影音, 搜狗拼音输入法。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            价值体现
                        </h2> <p>
                            桌面多场景和课表结合的技术，保证了不同专业学生上课时，终端可根据课表定时启动各专业专属的教学场景，学生打开终端机器之后自动进入该场景下的虚拟桌面，相对于其他同类产品来说，桌面切换更加贴合教学实际应用；<br>灵活便捷的管理方式，噢易教育桌面云不但提供WEB管理界面，更提供移动APP管理端，相对于其他同类产品来说管理更加便捷和智能化，随时随地掌控机房状态；<br>在多种教学场景集中管理维护方面，特别是最常用的桌面软件升级，噢易教育桌面云采用差异化数据更新方式，百余终端更新时间可控制在几分钟内，速度远远快于其他同类产品。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案配置
                        </h2> <p>            郑州科技学院教育桌面云项目的硬件配置如下：<br> </p> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow">
                                    <td>
                                        设备名称
                                    </td>
                                    <td>
                                        详细参数
                                    </td>
                                    <td>
                                        数量
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        云服务器
                                    </td>
                                    <td>
                                        CPU：Intel 2路6核
                                    </td>
                                    <td rowspan="5" style=" text-align:center;  padding-top:85px;">
                                        3
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：128G DDR3
                                    </td>
                                </tr>
                                <tr> <td>                        硬盘：1<em>Intel 530 480G SSD</em> </td> </tr>
                                <tr>
                                    <td>
                                        600G 15K SAS
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        网卡：41000M
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        云终端
                                    </td>
                                    <td>
                                        CPU: Intel双核1.8GHz
                                    </td>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        84
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：2GB DDR3
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        硬盘：8GB SSD
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &amp;集显HD Graphics
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        接口：1<em>HDMI接口，1</em>VGA接口，1个网口，5*USB 2.0，Audio in/out
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        显示器
                                    </td>
                                    <td>
                                        19.5英寸宽屏
                                    </td>
                                    <td style=" text-align:center;">
                                        84
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        键盘鼠标
                                    </td>
                                    <td>
                                        USB键盘鼠标套装
                                    </td>
                                    <td style="text-align: center; word-break: break-all;">
                                        84
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <div class="oe-box-item">
                        <h2>
                            现场实景
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a5919a6abf5.jpg" title="郑州科技学院_01.jpg" alt="郑州科技学院_01.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户评价
                        </h2> <p>
                            郑州科技学院噢易教育桌面云项目实施完成之后，桌面云运行稳定，对桌面云的使用体验，项目负责人卢老师说：“你们的桌面云很好的迎合教育行业的需求，由于机房用于不同专业、不同年级的学生上课，管理教学中桌面环境一直是机房老师很头疼的一个问题，噢易教育桌面云的多教学场景模式不仅方便了机房老师管理多种教学场景，而且在教学场景中安装新软件也颠覆了必须到机房操作的传统方法，现在机房老师的工作比以前轻松多了；桌面云终端设备比PC机节能环保，节约了实验中心的整体投资。我们都觉得噢易教育桌面云的应用前景很光明。”
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/24.html"><h3>高教 <small>HIGHER EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/343.html" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/342.html" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/335.html" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/57.html" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/56.html" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
