@{ 
    ViewBag.Title = "鄂州警务综合应用系统升级与虚拟化改造案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>鄂州警务综合应用系统升级与虚拟化改造案例<br><small> 着力打造“全警共享、数据准确、功能明晰、业务规范”的公安基础信息化综合应用平台&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-08-03</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目背景
                        </h2> <p>
                            鄂州市警务信息综合应用平台（以下简称“警综平台”）是各级公安机关和民警开展警情处置、执法办案、治安管理、监督考核等业务的“一站式”工作平台，是基层民警开展基础信息采录和信息综合应用的主要途径，更是实现警种业务条线与基层综合业务融合的有效载体，在公安信息化整体架构中，具有综合性、基础性的重要作用。
                        </p> <p>
                            警综平台自2008年推广应用以来，经过不断完善发展，逐步成为我公安信息化体系中应用范围最广，应用人数最多的系统。当前，随着基础信息化工作的不断深化以及信息技术的发展，警综平台建设对系统运营环境的要求越来越高，现有运营环境资源已经不能满足需求，为进一步提升警综平台服务实战能力，湖北省公安厅结合全省执法工作的需要，在总结过去七年的应用需求和不足的基础上，下发了《关于开展全省警综平台运营支撑环境升级的通知》要求：充分运用云计算技术，将警综平台的各项业务功能与“湖北公安云”融合，着力打造“全警共享、数据准确、功能明晰、业务规范”的公安基础信息化综合应用平台。
                        </p> <p>
                            鄂州市公安局按照省公安厅下发的升级要求和升级标准，结合现有各类软硬件基础设施的具体情况，采用技术领先的服务器虚拟化技术，搭建基于虚拟化、云计算架构的警综平台系统运营环境，实现鄂州市公安数据中心基础资源虚拟化改造，为最终实现鄂州市公市安云建设打下坚实的基础，并考虑未来虚拟化架构的扩展性和兼容性，要能够扩展至省公安云平台，实现与省厅互联互通。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户需求
                        </h2> <p>
                            采购全新的高性能软硬件设备，对鄂州公安机房现有IT基础进行升级扩容，提供至少可以创建20台虚拟服务器（16vCPU/64GB内存/400GB容量）的计算资源和存储资源能力，满足警综平台升级等业务系统部署要求，可以支撑鄂州公安未来2~3年的业务系统扩展和信息化发展的需求；
                        </p> <p>
                            采用虚拟化技术，对新购的高性能IT基础设备进行资源池化，搭建可弹性扩展的虚拟化IT基础资源平台，将新“警综应用平台”和6台较新配置的利旧服务器上的业务系统等逐步从物理环境到虚拟化环境部署，整个过程要保障业务系统的连续性，同时在虚拟环境中要保证这些业务运行环境的高可靠性、高性能运行、负载均衡、集中管理等需求；&nbsp;
                        </p> <p>
                            在完成业务系统迁移到虚拟化环境后，将原有的物理服务器进行充分利旧，选取配置较高、较新的高性能服务器等，通过升级扩容现有配置，达到部署虚拟化的最佳要求；通过采用虚拟化、云计算技术，将原有老旧服务器资源进行充分整合，减少机房服务器数量，减轻机房空间、配电制冷等配套设施压力，同时扩充IT基础运行虚拟资源容量，保护原有投资。完成鄂州公安数据中心基础资源管理平台建设，实现鄂州公安各警种、各部门的IT基础资源统一管理、信息资源共享、业务统一规划等目标，同时还必须满足后期与“湖北省公安云”进行对接与融合，实现“资源自治、信息共享、业务联动”的总体目标，将传统的项目型建设模式转化成基于公安云平台的IT云基础资源服务运营模式。
                        </p> <p>
                            实现在云计算平台上部署大数据分析软件，引入大数据技术，在数据归集整合的基础上，为警综平台、治安、交警监控、视频库等海量结构化和非结构化数据提供存储、处理和分析能力，为上层应用提供数据支撑服务。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            解决方案
                        </h2> <p>
                            本次鄂州市公安局警综平台升级虚拟化改造项目，是在充分考虑警综平台升级等业务系统对基础运行环境资源和性能的要求，以及业务系统的安全性和可用性的情况下，全新采购高性能硬件设备，部署虚拟化技术和基础资源管理平台，共同构建功能较为完整的鄂州市公安警综虚拟化改造IT基础资源服务平台，建设总体逻辑架构图如下图所示：
                        </p> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a162900af72.png" title="鄂州.png" alt="鄂州.png" width="522" height="454" style="width: 522px; height: 454px;"> </p> <p style="text-align: center;">
                            鄂州市公安警综运行环境升级与虚拟化改造架构图
                        </p> <p>
                            <strong>1)数据库服务器集群</strong>：高性能物理服务器组成集群，用于承载警综业务库，三台数据库服务器采用读写分离构建一主两从架构，考虑到数据库业务需要大量的计算资源，配合数据库RAC以及数据库管理系统可实现高可用性，故不放入到虚拟化环境。
                        </p> <p> <br> </p> <p>
                            <strong>2)虚拟化服务器集群</strong>：通过在服务器上部署虚拟化，将一台服务器虚拟层成多个各自独立，相互隔离的虚拟机，承担各自应用系统，或者相同的应用系统，配合负载均衡设备，实现让多个虚拟机支撑警综平台升级等业务系统对运行环境资源和性能的需求。
                        </p> <p> <br> </p> <p>
                            <strong>3)虚拟机管理平台</strong>：通过虚拟化管理平台，管理员在办公室实现对整个数据中心虚拟化系统以及资源的管理和维护，包括计算资源管理、网络资源管理、存储资源管理、监控分析、负载均衡、高可用性策略制定等，提供全方位精细化管理，实现统一界面和业务入口，无需到机房现场。
                        </p> <p> <br> </p> <p>
                            <strong>4)共享存储系统</strong>：配置基于光纤通道的统一存储系统，用于存放警综平台数据库资源和虚拟机镜像，确保数据安全、可靠，所有虚拟机中业务都集中存放在共享存储设备中。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            客户价值
                        </h2> <h3> <span style="font-size: 17px; color: rgb(222, 59, 10);">降低信息中心机房的运营成本</span> </h3> <p>
                            从服务器硬件、数据中心空间成本、电力成本、管理人员成本、集成服务等多个方面整体降低了信息中心运营成本，数据中心服务器和业务规模越大，运营时间越长，所节省的成本就越高。
                        </p> <h3> <span style="font-size: 17px; color: rgb(222, 59, 10);">充分利旧基础资源，提高资源利用率</span> </h3> <p>
                            充分利用现有服务器、网络及存储等资源，以及新采购设备，整合搭建虚拟化平台，实现资源按需分配，让所资源物尽其用，提高数据中心整体资源利用率，保障“警综平台”高效运行。
                        </p> <h3> <span style="font-size: 17px; color: rgb(222, 59, 10);">整合服务器资源，提高资源利用率</span> </h3> <p>
                            通过将多服务器资源动态划分，合理利用，并结合业务特点按需调配，平均将单台物理服务器利用率从15%-35%提升至65%-90%。
                        </p> <h3> <span style="font-size: 17px; color: rgb(222, 59, 10);">保障警务业务高可用性和扩展性</span> </h3> <p>
                            通过虚拟机在线迁移，高可用性、负载均衡、资源调配等自动化的服务方式，有效保证了终端业务访问的连续性和服务平台运行的稳定性。
                        </p> <p>
                            同时，云数据中心硬件设备可无限扩容，更新换代不影响业务运行，适应不断增长变化的业务架构，弹性扩展；虚拟机互相隔离的特点，使得新老业务兼容，消除“一台服务器一个应用程序”模式。
                        </p> <h3> <span style="font-size: 17px; color: rgb(222, 59, 10);">加速新警综等业务系统的上线速度</span> </h3> <p>
                            快速部署业务环境：加快新服务器和应用的部署，大大降低服务器重建和应用加载时间。主动地提前规划资源增长，这样对客户和应用的需求响应快速。
                        </p> <h3> <span style="font-size: 17px; color: rgb(222, 59, 10);">增强业务数据的容灾备份能力</span> </h3> <p>
                            通过复制虚拟机、保存操作系统和应用的镜像模板、快照等多种方式备份虚拟机；针对一台服务器运行多个应用系统，可能会出现服务器宕机导致的业务中断问题，虚拟环境中的业务可以做到快速备份与恢复，保障系统安全。
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/22.html"><h3>公安 <small>PUBLIC SECURITY</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-shebao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/240.html" data-toggle="tooltip" title="鄂州警务综合应用系统升级与虚拟化改造案例">
                                        鄂州警务综合应用系统升级与虚拟化改造案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/08/03</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/238.html" data-toggle="tooltip" title="恩施州警务综合应用系统升级与虚拟化改造案例">
                                        恩施州警务综合应用系统升级与虚拟化改造案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/08/03</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/随州市公安云平台建设案例" data-toggle="tooltip" title="随州市公安云平台建设案例">
                                        随州市公安云平台建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/08/03</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/232.html" data-toggle="tooltip" title="湖北省公安厅公安云案例">
                                        湖北省公安厅公安云案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>