@{ 
    ViewBag.Title = "重庆市班班通管理分析系统应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>重庆市班班通管理分析系统应用案例<br><small> 实现教育信息化、装备标准化管理&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目简述</h2><p>2014年，重庆市“教学点数字教育资源全覆盖”项目工程，已经全部安装调试完成，为了提高应用效益，保证各教学点能利用教学点设备接收教育资源进行授课，需要建立一套完整科学的管理平台，掌握各个教学点教育装备的使用情况。<br>重庆市教学点数量多，并且地理位置较为分散，甚至会分布到一些很偏僻的乡镇。当项目实施完成后，在设备运行阶段，很难获取到班班通装备的运行情况和实际效果，既无法了解投入使用的硬件使用情况和生命周期，也无法获取软件及教学资源使用情况的真实数据，难以为今后的教育建设决策提供真实而有效的数据。<br>根据当前现状，重庆市教育局采用噢易班班通管理分析系统对所有教学点的教育装备使用情况进行统计与分析。</p></div><div class="oe-box-item"><h2>价值体现</h2><ul class=" list-paddingleft-2"><li><p><span style="color: rgb(222, 59, 10); font-size: 17px;">提高认识，加强领导</span></p></li></ul><p>通过实现信息化管理平台，充分认识项目实施的重要意义，高度重视项目管理和教学应用工作，切实加强领导，充分发挥设备资源的优势，强化管理和应用，努力提升教育信息化水平，切实提高教育质量，高度重视设备的教学应用和管理工作。</p><ul class=" list-paddingleft-2"><li><p><span style="color: rgb(222, 59, 10); font-size: 17px;">完善制度建设，加强项目管理</span></p></li></ul><p>通过完善的制度建设，制定项目设备管理使用制度，做到真实数据实时展现；同时做好项目设备固定资产管理，对于教育装备的新增、维修、报废整个生命周期实施记录到平台中；充分发挥项目管理技术人员的作用，明确其工作职责，建立考核评价及奖惩机制。</p><ul class=" list-paddingleft-2"><li><p><span style="color: rgb(222, 59, 10); font-size: 17px;">强化培训，推进应用及研究</span></p></li></ul><p>各区县在加强县级培训的同时要指导教学点做好培训、提升一线教师的教育装备使用能力。通过数字教育资源设备和资源应用工作培训计划，根据教学点师资实际情况开展形式多样的培训活动，每次培训活动要做好记录，并做到“四定”，即定时间、定内容、定人员、定考核。</p><ul class=" list-paddingleft-2"><li><p><span style="color: rgb(222, 59, 10); font-size: 17px;">指导教学点的教学应用</span></p></li></ul><p>将教学点数字教育资源应用工作纳入学校年度考核，并要求每校教师应用面不得低于70％，在日常教学中，特别要注重对音乐、美术、英语、科学、体育等学科资源的使用，同时注重归纳推广适合于本校实际的教学应用途径和模式。</p></div><div class="oe-box-item"><h2>用户评语</h2><p>通过噢易班班通管理分析系统，充分实现教育信息化、装备标准化管理。通过应用驱动、投入与管理充分融合，以信息化的管理方式提高教育质量，实现教育创新，整体推进全市技装事业更好发展，实现教育公平，促进城乡教育均衡发展。</p><p style="text-align: right;">-----重庆市教育信息技术与装备中心</p></div></div> </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/25.html"><h3>普教 <small>GENERAL EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-pujiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/浙江省德清县教育局" data-toggle="tooltip" title="浙江省德清县教育局">
                                        浙江省德清县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/30</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/安徽省无为县教育局" data-toggle="tooltip" title="安徽省无为县教育局">
                                        安徽省无为县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/29</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/桂林市班班通管理分析系统应用案例" data-toggle="tooltip" title="桂林市班班通管理分析系统应用案例">
                                        桂林市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/重庆市班班通管理分析系统应用案例" data-toggle="tooltip" title="重庆市班班通管理分析系统应用案例">
                                        重庆市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/张居正小学教育桌面云应用案例" data-toggle="tooltip" title="张居正小学教育桌面云应用案例">
                                        张居正小学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>