@{ 
    ViewBag.Title = "陕西国际商贸学院教育桌面云应用案例";

    ViewBag.KeyWords = "北京中泰祥和科技有限公司,智慧校园,教育云,云平台,云桌面,桌面云,桌面虚拟化,云课堂,云教室,服务器虚拟化,云计算,虚拟化,";
    ViewBag.Description = "陕西国际商贸学院是经教育部批准的具有学士学位授予权的全日制民办本科高校，是陕西省8所具有招收本科生的民办大学之一。学院始终坚持面向基层和企业生产、管理一线，培养德智体美全面发展、专业基础扎实、实践能力强、具有创新精神和创业能力的高级应用型人才。经管类综合实验室作为学院重要信息化教学场所，肩负着培养高端人才的任务，使用先进技术搭建信息化时代的实验室装备成为学院关注的重点。";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>陕西国际商贸学院教育桌面云应用案例<br><small> 云计算打造信息化经济管理综合实验实训中心&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目简述
                        </h2> <p>
                            陕西国际商贸学院是经教育部批准的具有学士学位授予权的全日制民办本科高校，是陕西省8所具有招收本科生的民办大学之一。学院始终坚持面向基层和企业生产、管理一线，培养德智体美全面发展、专业基础扎实、实践能力强、具有创新精神和创业能力的高级应用型人才。经管类综合实验室作为学院重要信息化教学场所，肩负着培养高端人才的任务，使用先进技术搭建信息化时代的实验室装备成为学院关注的重点。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            应用场景
                        </h2> <p>
                            使用对象：经管类综合实验室。<br>应用内容：为了满足教学需求，该项目将“虚拟企业（沙盘类）”、“信息化企业（U8类）”与“虚拟商业社会环境（VBSE）”和创新金融的实训分层级引入到了实践体系建设之中，涵盖了企业内部经营与管理、供应链管理、创业管理、协同办公、企业商务环境模拟等多个教学领域。整体来说，该套系统是一个涵盖多个知识领域的综合性实验平台，可实现学生从入学到结业的流水线演练。<br>基础设施：使用12台高性能服务器组成集群，提供桌面云服务；使用179台云计算一体机和106台瘦客户端，搭建信息化时代的绿色环保IT环境。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            价值体现
                        </h2> <p>
                            将“虚拟企业”、“信息化企业”、“虚拟商业社会环境VBSE”、“创新创业实训”、“全球金融信息分析系统”、“虚拟交易所”等不同培养阶段的体系内容引入到教学中，“噢易教育桌面云”可根据不同的业务类型和要求，搭建不同的桌面场景环境，在云环境下提高对学生知识应用、业务处理、交际沟通、组织协调、协同、创新等能力的培养。<br>与市面上大众的桌面虚拟化相比，“噢易教育桌面云”可提供多种桌面使用模式，教学桌面可用于公共教学，直接登录使用，桌面可灵活还原到初始状态；个人桌面相当于给学生一个从入学到结业期间的独立桌面环境，实现学生从入学到结业的流水线演练，数据可保存；两种桌面模式很好的保证了陕西国际商贸学院经管类综合实验室的教学需求。<br>终端使用更低能耗，更小体积的云终端设备，包括一体机和瘦客户端，建设节能环保的IT基础环境，其全新免维护的设计，大幅提高了终端使用周期。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案配置
                        </h2> <p>            陕西国际商贸学院教育桌面云项目主要硬件配置如下：<br> </p> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow">
                                    <td>
                                        设备名称
                                    </td>
                                    <td>
                                        详细参数
                                    </td>
                                    <td>
                                        数量
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        云服务器
                                    </td>
                                    <td>
                                        CPU：Intel 2路8核
                                    </td>
                                    <td rowspan="5" style=" text-align:center;  padding-top:85px;">
                                        12
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：128G DDR3
                                    </td>
                                </tr>
                                <tr> <td>                        硬盘：1<em>Intel 480G SSD</em> </td> </tr>
                                <tr>
                                    <td>
                                        600G 15K SAS
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        网卡：41000M
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="9" style=" text-align:center; padding-top:85px;">
                                        云计算一体机
                                    </td>
                                    <td>
                                        CPU: Intel 双核1.8GHz
                                    </td>
                                    <td rowspan="9" style=" text-align:center; padding-top:85px;">
                                        179
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：1GB DDR3
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        硬盘：8GB SSD
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        显卡：集成显卡
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        显示屏：19.5英寸LED背光宽屏
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        网卡：10/100/1000 以太网
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        接口：1<em>HDMI接口，1</em>VGA接口，1个网口，4*USB 2.0
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        功耗：节能低功耗,小于38瓦
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        一体成型PAD外观,钢化玻璃外屏保护
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        显示器
                                    </td>
                                    <td>
                                        19寸LED显示器
                                    </td>
                                    <td style=" text-align:center;">
                                        106
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        交换机
                                    </td>
                                    <td>
                                        2台汇聚交换机，12台接入交换机
                                    </td>
                                    <td style="text-align: center; word-break: break-all;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <div class="oe-box-item">
                        <h2>
                            现场实景
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a592f5acb50.jpg" title="陕西国际商贸学院桌面云案例.jpg" alt="陕西国际商贸学院桌面云案例.jpg"> </p> <div class="oe-banner-area-style06 swiper-container-horizontal"> <div class="swiper-wrapper" style="transform: translate3d(-751px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" style="background-image: url(&quot;../../Images/ztxhkj/AnLiDetail/2016071924.jpg&quot;); width: 751px;" data-swiper-slide-index="3"></div> <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;../../Images/ztxhkj/AnLiDetail/2016071921.jpg&quot;); width: 751px;" data-swiper-slide-index="0"></div> <div class="swiper-slide swiper-slide-next" style="background-image: url(&quot;../../Images/ztxhkj/AnLiDetail/2016071922.jpg&quot;); width: 751px;" data-swiper-slide-index="1"></div> <div class="swiper-slide" style="background-image: url(&quot;../../Images/ztxhkj/AnLiDetail/2016071923.jpg&quot;); width: 751px;" data-swiper-slide-index="2"></div> <div class="swiper-slide" style="background-image: url(&quot;../../Images/ztxhkj/AnLiDetail/2016071924.jpg&quot;); width: 751px;" data-swiper-slide-index="3"></div> <div class="swiper-slide swiper-slide-duplicate" style="background-image: url(&quot;../../Images/ztxhkj/AnLiDetail/2016071921.jpg&quot;); width: 751px;" data-swiper-slide-index="0"></div></div> <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div> </div>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户评价
                        </h2> <p>
                            对于“噢易教育桌面云”的使用效果，陕西国际商贸学院经管类综合实验室的老师给予了肯定：“云终端的精简设计确实比传统PC美观很多，没有凌乱的连接线，实验室显得十分整洁；管理界面设计非常人性化，功能简单易懂，方便操作，远程、统一的维护管理带来了很多便捷性；多个桌面场景很好的满足了经管类的专业需求，对于不同的业务类型我们可以设置针对性的桌面环境，给了学生很好的上课体验。”
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="~/home/Anli/高教"><h3>高教 <small>HIGHER EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/西华大学" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/四川师范大学" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/中国计量学院教育桌面云应用案例" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/上海应用技术大学教育桌面云应用案例" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
