@{ 
    ViewBag.Title = "陕西扶风三小云教室应用案例";

    ViewBag.KeyWords = "北京中泰祥和科技有限公司,智慧校园,教育云,云平台,云桌面,桌面云,桌面虚拟化,云课堂,云教室,服务器虚拟化,云计算,虚拟化,陕西扶风三小云教室应用案例";
    ViewBag.Description = "陕西省扶风县第三小学一直关注着信息化教学的发展。为提高教学效率，学校计划建设信息化微机室。经过多方考察了解到噢易云教室方案中使用的低能耗云终端相比传统PC机无需管理维护而且节省资源，可降低机房的总体建设和运维管理成本，于是校方决定采用噢易云教室建设节能环保的微机室。";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>陕西扶风三小云教室应用案例<br><small> 建设绿色节能环保微机室&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目简述
                        </h2> <p>
                            陕西省扶风县第三小学一直关注着信息化教学的发展。为提高教学效率，学校计划建设信息化微机室。经过多方考察了解到噢易云教室方案中使用的低能耗云终端相比传统PC机无需管理维护而且节省资源，可降低机房的总体建设和运维管理成本，于是校方决定采用噢易云教室建设节能环保的微机室。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            应用场景
                        </h2> <p>
                            扶风三小在微机室部署50点的噢易云教室，终端设备采用云终端加显示器。在桌面云中创建win7系统的教学场景用于教学。学生上机时可使用教学桌面练习打字，学习画图，老师还可以使用软件进行多媒体教学，增强上课时与学生的互动，提高教学效率。<br>安装的软件: PS，金山打字，金山词霸，金山画王，Frontpage，搜狗拼音输入法，噢易多媒体网络教学系统。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            价值体现
                        </h2> <p>
                            部署“噢易云教室”之后，扶风三小微机室的管理工作再不像以前那么繁琐了，老师在桌面云管理平台就可以实时查看学生上机使用桌面的情况，控制学生使用U盘，防止学生操作不当损坏机房教学环境；微机室建成以后低功耗的终端设备为学校节省了大量的电费，而且云终端不像只要3-5年就必须更换的PC机，它具有更长的使用年限，避免淘汰硬件给学校投资造成的损失，使新建的微机室不但管理运维成本低而且更加节能环保省投资。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案配置
                        </h2> <p>
                            扶风三小云教室硬件配置：
                        </p> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow">
                                    <td>
                                        设备名称
                                    </td>
                                    <td>
                                        详细参数
                                    </td>
                                    <td>
                                        数量
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        云服务器
                                    </td>
                                    <td>
                                        CPU：Intel 2路6核
                                    </td>
                                    <td rowspan="5" style=" text-align:center;  padding-top:85px;">
                                        2
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：96G DDR3
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        硬盘：1*Intel 530 240G SSD
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        600G 15K SAS
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        网卡：4*1000M
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        云终端
                                    </td>
                                    <td>
                                        CPU: Intel 双核 1.8GHz
                                    </td>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        50
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：2GB DDR3
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        硬盘：8GB SSD
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        集显HD Graphics
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        接口：1*HDMI接口，1*VGA接口，1个网口，5*USB 2.0，Audio in/out
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        显示器
                                    </td>
                                    <td>
                                        宽屏显示器
                                    </td>
                                    <td style=" text-align:center;">
                                        50
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        键盘鼠标
                                    </td>
                                    <td>
                                        USB键盘鼠标套装
                                    </td>
                                    <td style=" text-align:center;">
                                        50
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <div class="oe-box-item">
                        <h2 style="white-space: normal;">
                            现场实景
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a56cd398697.jpg" title="扶风.jpg" alt="扶风.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户评语
                        </h2> <p>
                            噢易云教室在扶风三小投入使用后，机房负责人田主任对桌面云运行情况评价很好，我们进行客户回访时田主任说：“我们原先打算采购一批新电脑，不过考虑到学校的办学投资和建设节能环保微机室的目标，我们选择了你们的桌面云解决方案，从使用效果来看，你们的产品确实达到了我们的预期，这次建设微机室选择云教室方案证明是正确的选择。”
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="~/home/Anli/普教"><h3>普教 <small>GENERAL EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-pujiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/浙江省德清县教育局" data-toggle="tooltip" title="浙江省德清县教育局">
                                        浙江省德清县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/30</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/安徽省无为县教育局" data-toggle="tooltip" title="安徽省无为县教育局">
                                        安徽省无为县教育局
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/29</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/桂林市班班通管理分析系统应用案例" data-toggle="tooltip" title="桂林市班班通管理分析系统应用案例">
                                        桂林市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/重庆市班班通管理分析系统应用案例" data-toggle="tooltip" title="重庆市班班通管理分析系统应用案例">
                                        重庆市班班通管理分析系统应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/张居正小学教育桌面云应用案例" data-toggle="tooltip" title="张居正小学教育桌面云应用案例">
                                        张居正小学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
