@{ 
    ViewBag.Title = "随州中级人民法院虚拟化平台案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>随州中级人民法院虚拟化平台案例<br><small> 达到随州市中院数据中心高效率、高性价比、智能化管理和信息安全等要求，为后续5-10年随州中院信息化发展提供可扩展的硬件支持平台&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目背景</h2><p>随州市中级人民法院根据湖北省高级人民法院关于《2014年湖北法院网络基础设施改造指导意见》的通知要求，为保障全省法院审判业务系统的统一部署和升级，拟将各基层法院的审判业务数据集中迁移部署至中院统一存储管理，通过法院专网把数据汇聚至省高级人民法院数据中心，实现全省法院业务系统的统一管理、资源整合的目标。随着信息化建设与应用业务的不断发展，越来越多的业务系统即将部署使用，现有数据中心基础设施已无法满足上述应用的需要，急需进行机房升级改造。随着信息化技术的快速发展，云计算技术越来越受到政企行业关注，为了促进信息化建设，此项目中计划采用先进的虚拟化技术，搭建“云计算”的IT基础架构，利用高性能服务器配合虚拟化软件平台，搭建基础政务云系统，实现多个业务系统数据集中归档、统一存储、统一管理，最大限度满足随州市中级法审判业务系统的IT应用环境和信息化管理等要求，并为后续5-10年随州市法院信息化发展提供可扩展的应用支持平台。</p></div><div class="oe-box-item"><h2>项目需求</h2><p>为进一步加强随州市中级人民法院信息化基础设施建设，保障各基层法院审判业务系统安全、稳定、高效运行，规划建设虚拟化服务器集群系统云平台，从而可以有效保障各业务系统高可用性、业务连续性和信息安全性、智能化管理等要求，通过服务器虚拟化集群解决方案，充分利用高性能服务器和FC共享存储的资源，在少量高性能服务器上部署更多的业务应用系统，从而有效提高了资源的利用率、业务的灵活性，降低了设备采购成本；同时还可以快速部署和维护审判业务相关的各项系统，保障新业务系统的快速上线，从而有效提高 IT 管理维护工作效率；部署虚拟化集群后，使得新一代数据中心设备具有更高的效率和可用性，能够根据法院业务系统不同阶段的需求，弹性分配计算和存储资源，从而提高业务系统稳定性和扩展性，同时对于共享存储上的虚拟机文件和生产数据，还可以通过备份一体机进行集中备份和恢复，保证业务系统的连续性和安全性。采用虚拟化整合后的需要如下：<br>1、通过服务器虚拟化平台来实现成本节约和运维效率的提升。<br>2、通过集中管理平台，实现对物理服务器、虚拟服务器和业务系统进行统一管理。<br>3、所有业务数据要求保证信息的安全性和可用性，实现业务的不中断，数据不丢失，通过对业务系统部署的双机热备，负载均衡等策略保证业务系统可用性，，以及通过对共享存储的生成数据、数据库数据、用户数据进行集中备份，并能够快速恢复。</p></div><div class="oe-box-item"><h2>解决方案</h2><p>利用高性能服务器集群配合噢易服务器虚拟化软件，配置共享高效存储系统和一体化备份系统，将审判信息综合系统、案件查询系统、数字审委会系统、科技法庭、文书屏蔽系统、文书校对系统、人事管理系统等系统整合到虚拟化云平台中。通过配置服务器虚拟化群集和备份恢复等高级功能，以实现群集计算、统一存储、统一备份、集中管理、资源弹性扩展、易于维护升级等目标。从而达到随州市中院数据中心高效率、高性价比、智能化管理和信息安全等要求，为后续5-10年随州中院信息化发展提供可扩展的硬件支持平台。</p><p style="text-align: center;"><img src="../../Images/ztxhkj/AnLiDetail/57a56936d7268.jpg" title="2016080607suizhou.jpg" alt="2016080607suizhou.jpg"></p><p style="text-align: center;">服务器虚拟化系统逻辑架构图</p><p>噢易服务器虚拟化管理平台（OS-Easy vServer）负责支撑数据中心对外提供云计算服务，其核心服务运行在一台控制节点服务器上，主要功能是服务器虚拟化及相关的资源管理。管理平台将数据中心的物理资源虚拟化，构成一个资源池。从而实现资源的统一管理、动态缩放，以及对用户进行按需配给。同时还负责对资源的可用性、安全性、可靠性提供保障；IT管理员在办公室用普通的PC机，通过浏览器直接登录到云数据中心管理平台，实现对数据中心的远程管理和维护。</p><p>计算资源池由多个物理服务器群集构成，每个计算节点提供虚拟机管理器，负责虚拟机实例的运行，并实时监控虚拟机实例的运行状态，将监控数据上报给运行在控制节点上的管理平台。计算资源池内的计算节点服务器可根据业务量，按需增加或减少。</p><p>存储资源池由磁盘阵列构成，为计算资源池中运行的应用系统提供统一存储服务。实现数据的集中存储，集中备份和按需动态扩容。</p><p>高性能备份一体机是集数据存储和备份与一体的设备，提供高性能的业务效率、高可用持续数据服务保护，高安全性的数据存储备份机制，能快速备份虚拟机文件、数据库数据和系统数据等重要信息数据，为整个业务系统提供了完善的数据安全保障和业务的连续性。</p></div><div class="oe-box-item"><h2>方案价值</h2><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">提高服务器资源利用率</span></h3><p>通过将多服务器资源动态划分，合理利用，并结合业务特点按需调配，平均将单台物理服务器利用率从15%-35%提升至65%-90%。</p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">降低数据中心运营成本</span></h3><p>从服务器硬件、数据中心空间成本、电力成本、管理人员成本、集成服务等多个方面整体降低了信息中心运营成本，数据中心服务器和业务规模越大，运营时间越长，所节省的成本就越高。参考成本对比分析：</p><table class="table table-bordered table-hover" width="860"><tbody><tr class="firstRow" style="background-color:#de3a0b; color:#fff;"><th width="15%" scope="col" style="text-align:center;">对比项</th><th width="42%" scope="col" style="text-align:center;">虚拟化前</th><th width="43%" scope="col" style="text-align:center;">虚拟化后</th></tr><tr><th scope="row">服务器数量</th><td class="active" width="230">9台服务器</td><td class="active" width="236">新购3台物理按照1:10的比例可虚拟出30台虚拟服务器</td></tr><tr><th scope="row">资源利用率</th><td class="active" width="230">不同服务器资源利用不均，平均在35%</td><td class="active" width="236">资源整合，按需分配，服务器资源利用率提高到80%</td></tr><tr><th scope="row">应用部署速度性</th><td width="230">新应用安装上线时，需要采购新服务器、安装操作系统，系统补丁、安装应用、配置服务、进行安全设置，部署周期在3-5工作日。</td><td width="236">预先制定好的各种操作系统、应用模板和自部署向导或拷贝虚拟机，半个小时完成新应用上线</td></tr><tr><th scope="row">业务连续性</th><td class="active" width="230">服务器硬件故障，数据丢失、停机维护，业务中断</td><td class="active" width="236">在线迁移虚拟机到其他物理服务器，业务正常开展</td></tr><tr><th scope="row">管理维护</th><td width="230">应用部署、环境搭建、网络配置等，工作量大，需要机房现场维护， 10台服务器/1管理员。</td><td width="236">远程管理数据中心机房，无需到现场，100服务器/1管理员</td></tr><tr><th scope="row">耗电量</th><td class="active" width="230">一般服务器（4CPU）650瓦<em>24</em>30=468度电/月，约250元电费；<br>10台=2500元/每年<br></td><td class="active" width="236">绿色节能，节省占地空间，机柜数量减少<br>3台=750元/每年</td></tr></tbody></table><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">保证业务的连续性</span></h3><p>通过动态迁移，高可用性、负载均衡等自动化的服务方式，有效保证了终端业务访问的连续性和服务平台运行的稳定性。</p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">弹性扩展的IT架构，适应不断增长变化的业务</span></h3><p>云数据中心硬件设备可无限扩容，更新换代不影响业务运行，适应不断增长变化的业务架构，弹性扩展；虚拟机互相隔离的特点，使得新老业务兼容，消除“一台服务器一个应用程序”模式。</p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">简化管理，方便维护</span></h3><ol class=" list-paddingleft-2" style="list-style-type: decimal;"><li><p><strong>快速部署业务环境</strong>：加快新服务器和应用的部署，大大降低服务器重建和应用加载时间。主动地提前规划资源增长，这样对客户和应用的需求响应快速。</p></li><li><p><strong>缩短维护时间</strong>：硬件维护需要数天/周的变更管理准备和1~3小时维护窗口，现在可以进行快速的硬件维护和升级。</p></li><li><p><strong>方便搭建试验环境</strong>：企业搭建生产应用环境，提前评估建立环境所需的资源，可在虚拟机环境进行试验，再正式扩展到生产环境，让IT风险降到最低。</p></li><li><p><strong>图形化Web界面</strong>：安装配置、管理全中文界面，提供了丰富的远程管理和控制界面，实现足不出户的管理，大幅度的简化了大量服务器的运维管理工作。</p></li></ol></div></div> </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/20.html"><h3>法院 <small>COURT</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gongjianfa.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/64.html" data-toggle="tooltip" title="荆门中级人民法院虚拟化平台案例">
                                        荆门中级人民法院虚拟化平台案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/63.html" data-toggle="tooltip" title="十堰中级人民法院虚拟化平台案例">
                                        十堰中级人民法院虚拟化平台案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/62.html" data-toggle="tooltip" title="湖北孝感中级人民法院虚拟化平台建设案例">
                                        湖北孝感中级人民法院虚拟化平台建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/61.html" data-toggle="tooltip" title="随州中级人民法院虚拟化平台案例">
                                        随州中级人民法院虚拟化平台案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/59.html" data-toggle="tooltip" title="江汉中级人民法院虚拟化平台案例">
                                        江汉中级人民法院虚拟化平台案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>