@{ 
    ViewBag.Title = "黄冈国土“原有业务”和“不动产业务”完美切换至云端";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>黄冈国土“原有业务”和“不动产业务”完美切换至云端<br><small>建设提供以基础设施服务(IaaS)层次的云计算服务，即底层虚拟化平台，将底层资源“池”化，实现以按需交付，简化掉调研、申请、审批、招标等冗长的业务流，加快新业务部署周期。&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-09-05</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目背景</h2><p style="text-indent: 2em; margin-bottom: 10px;"><strong>黄冈市国土资源局</strong>是主管全市、9个区县内土地、矿产等自然资源的规划、管理、保护、合理利用和测绘事业的市人民政府工作机构，经过多年的信息化建设，在业务上已经形成以GIS一张图为基础核心的矿政一张图平台、光谷一张图平台、执法检测平台、电子政务系统、内网门户网站等。</p><p style="text-indent: 2em; margin-bottom: 10px;">应《省国土资源厅关于印发&lt;2016年不动产统一登记工作要点&gt;的通知》（鄂土资函[2016]176号）文件的要求，黄冈市国土资源局着手开展市不动产登记基础平台建设。</p><p style="text-indent: 2em;">然而，传统的构建方式已经不能适应当前应用的需求，依据《不动产登记暂行条例》（以下简称《条例》）、以及《国土不动产总体建设方案》的指导，黄冈国土资源局决定以云数据中心模式改造并新建不动产登记平台。</p></div><div class="oe-box-item"><h2>用户需求</h2><p>1、采用云计算模式，改造当前现有机房，形成以资源池模式提供服务，简化未来应用上线的流程，加快应用上线。</p><p>2、为不动产应用平台上线，填补原有网络安全的不足。</p><p>3、新建对外服务平台DMZ，实现权利人公网业务访问需求。</p><p>4、优化当前存储模式，解决存储故障下的应用连续性问题。</p><p>5、考虑未来建设异地数据、应用容灾需求的情况下，增加备份容灾机制。</p><p>6、合理保护原有投资、做好利旧，简化管理、提高效率。</p></div><div class="oe-box-item"><h2 style="font-size:14px; line-height:20px;">方案架构设计</h2><p style="text-align: center;"><img src="../../Images/ztxhkj/AnLiDetail/57cce0b3dd5ac.png" title="黄冈国土技术方案0905.png" alt="黄冈国土技术方案0905.png"></p></div><div class="oe-box-item"><h2>方案内容</h2><p>1、建设提供以基础设施服务(IaaS)层次的云计算服务，即底层虚拟化平台，将底层资源“池”化，实现以按需交付，简化掉调研、申请、审批、招标等冗长的业务流，加快新业务部署周期。</p><p>2、核心内网增加IPS、负载均衡、防火墙等安全设备，提高网络防护需求。</p><p>3、通过扩容原有服务器硬件、新购物理服务器方式，扩充虚拟化资源，使其满足国土未来三年应用对资源的需求。</p><p>4、以双活存储架构替代原有单存储模式，增加存储的容错率，同时考虑黄冈国土的异地容灾需求，采用“镜像”级双活模式。</p><p>5、采用网闸等安全等保设备，新建DMZ规划，同时考虑网络安全性，增加IPS、WAF、审计等设备，强化防御来自Internet的攻击。</p><p>6、采用P2V模式迁移原有电子政务、门户、执法检测平台、矿政一张图平台、光谷一张图以及新建的不动产登记平台至虚拟化环境中，利用高可用、负载均衡、动态资源调整、DRS、存储多路径、虚拟机故障检测等功能，解决服务器故障、链路故障、操作系统层面故障，实现应用的自我修复，提高应用连续性。</p><p>7、充分考虑数据备份容灾需求，利用备份一体机实现虚拟化平台、数据层、应用层备份，并利用备份一体机自带的CDP保护不动产应用、一张图等关键应用，解决最坏情况下的业务可用。</p><p>8、新建统一运维、监控、管理平台，做到故障提前预警、自动化恢复措施、合理健全的统计分析，简化管理员的操作，提高运维管理效率。</p><p>9、提供原厂三年金牌服务支持，提供按客户需求原厂工程师2小时至现场提供服务。</p></div><div class="oe-box-item"><h2>建设效果</h2><p>1、实现了数据中心云化，加快了新应用上线的周期。</p><p>2、增强了数据中心的安全防护能力，为将来三级等保做好了铺垫。</p><p>3、建立了不动产登记平台，完成了省级交代的任务。</p><p>4、迁移了原有应用至虚拟化平台，提高了应用连续性、安全性。</p><p>5、构建了双活架构，为将来构建异地数据、应用容灾做了铺垫。</p><p>6、构建了运维管理体系，降低了运维难度，提高管理效率。</p><p>7、原厂及时的售后服务体系，保障系统正常运行。</p></div></div> </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/23.html"><h3>更多行业 <small>OTHERS</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-guotu.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/黄冈国土“原有业务”和“不动产业务”完美切换至云端" data-toggle="tooltip" title="黄冈国土“原有业务”和“不动产业务”完美切换至云端">
                                        黄冈国土“原有业务”和“不动产业务”完美切换至云端
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/09/05</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/黄石劳动就业管理局公共就业服务平台建设案例" data-toggle="tooltip" title="黄石劳动就业管理局公共就业服务平台建设案例">
                                        黄石劳动就业管理局公共就业服务平台建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/08/02</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/咸宁国土不动产业务系统建设案例" data-toggle="tooltip" title="咸宁国土不动产业务系统建设案例">
                                        咸宁国土不动产业务系统建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/08/02</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/咸宁公积金业务管理系统虚拟化建设案例" data-toggle="tooltip" title="咸宁公积金业务管理系统虚拟化建设案例">
                                        咸宁公积金业务管理系统虚拟化建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/08/02</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/湖北荆州社保虚拟化数据中心建设案例" data-toggle="tooltip" title="湖北荆州社保虚拟化数据中心建设案例">
                                        湖北荆州社保虚拟化数据中心建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>