@{ 
    ViewBag.Title = "黄石劳动就业管理局公共就业服务平台建设案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content"> <h1>黄石劳动就业管理局公共就业服务平台建设案例<br><small> 本次黄石劳动就业局公共就业创业在线生态链信息化服务平台IT基础支撑运行环境虚拟化系统建设，将提升黄石市劳动就业局的公共就业服务能力和服务水平，实现更高效便捷的服务与响应，实现更精细的管理和更科学的决策，最终为民生保障和改善奠定坚实基础。&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-08-02</small></h1> <div class="oe-content-style01"><div class="oe-box-item"><h2>项目概述</h2><p style="text-indent:28px">国务院办公厅发86号文件提出了简化优化公共服务流程方便基层群众办事创业的要求。公共服务已经成为我国政府的核心职能和主要特征，用信息化手段提升公共服务水平是发展的趋势。</p><p style="text-indent:28px">黄石劳动就业局依照“统一入口，业务协同，数据共享”的建设原则，在黄石市公共就业服务平台（一期）软硬件建设的基础上，根据黄石公共就业服务的实现发展和需求，需对服务平台进一步拓展和完善，全面提升黄石市公共就业服务能力和服务水平，最终为民生保障和改善奠定坚实基础。</p><p style="text-indent:28px">本次黄石劳动就业局公共就业创业在线生态链信息化服务平台IT基础支撑运行环境虚拟化系统建设，计划采用先进的云计算、虚拟化等信息化技术，在充分考虑利用现有机房IT基础设施的情况下，采购一批必要的高性能配置服务器、存储和网络等设备，进一步加强现有机房IT基础运行环境支撑能力，全面增强劳动就业局公共就业创业信息化服务平台系统的高可用性、安全性和稳定性，提高机房整体IT基础硬件设备（服务器、共享存储）的利用率，提升业务应用系统的上线速度，降低机房运营管理成本，简化技术人员维护工作，提高故障处理的响应速度，减少故障恢复的时间，从而提升黄石市劳动就业局的公共就业服务能力和服务水平，实现更高效便捷的服务与响应，实现更精细的管理和更科学的决策，最终为民生保障和改善奠定坚实基础。</p></div><div class="oe-box-item"><h2>建设目标</h2><p style="text-indent:28px">本项目主要建设目标是实现黄石市劳动就业局公共就业创业在线生态链信息化服务平台IT基础运行环境的虚拟化基础平台搭建，即物理层基础设备（服务器、存储、网络）的安装、服务器虚拟化软件部署与虚拟化资源管理平台配置等；</p><p style="text-indent:28px">具体建设目标如下：</p><p style="text-indent:28px">1）采用新购5台4路高性能服务器， 1台光纤交换机、1台共享存储等硬件基础设施，搭建一个可弹性扩展的IT基础设施虚拟化平台，应充分考虑本次公共就业服务平台各业务系统对资源和性能的要求，保证把现有物理环境下的业务系统迁移到虚拟化环境后，不影响业务性能，关键数据丢失。</p><p style="text-indent:28px">2）虚拟化平台至少创建40台应用虚拟机（4vCPU/16GB内存/200GB容量），虚拟机资源配置可以在线动态调整，满足本次项目公共就业创业信息化服务平台包括：</p><ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p style="text-indent:28px">黄石公共就业服务平台（一期）应用场景及业务拓展</p></li><li><p style="text-indent:28px">公共就业创业移动招聘会平台</p></li><li><p style="text-indent:28px">公共就业创业智能导引服务平台</p></li><li><p style="text-indent:28px">公共就业创业个人业务自助服务平台</p></li></ul><p style="text-indent:28px">四个服务平台对IT基础运行环境资源和性能的部署要求。</p><p style="text-indent:32px">3）虚拟业务系统可以保存为镜像模板，并可以通过虚拟机模板快速部署或创建新业务系统，虚拟机之间相互隔离，相互独立，可以安装不同的操作系统（windows、Linux、UNIX）和应用程序。</p><p style="text-indent:32px">4）可以根据业务系统发展，按需动态扩容资源，实现资源的弹性伸缩和按需分配，量化业务应用使用资源，有效降低单位基础资源建设成本，实现信息化应用系统基础运行环境的虚拟化升级改造。</p><p style="text-indent:32px">5）虚拟化平台的计算和存储资源应考虑30%的冗余和未来2~3年的业务增长对资源的需求。</p><p style="text-indent:32px">6）为确保系统先进性，基础设施虚拟化层，采用扩展性强的IT技术架构，满足未来3~5年技术演进。</p></div><div class="oe-box-item"><h2>架构图</h2><p style="text-indent:28px">根据本次项目的建设目标和要求，黄石市劳动就业局公共就业创业在线生态链信息化服务平台IT基础运行环境虚拟化平台的总体逻辑架构图，如下图所示。主要包括虚拟化服务器集群、虚拟机管理平台、虚拟化备份系统。<span style="text-align: center;">&nbsp;&nbsp;</span></p><p style="text-align: center;"><img src="../../Images/ztxhkj/AnLiDetail/57a1494abfe61.png" title="黄石.png" alt="黄石.png" width="424" height="407" style="width: 424px; height: 407px;"></p><p style="text-align: center;">黄石市劳动就业局信息中心虚拟化系统架构图</p><p style="text-indent:28px"><strong>1)</strong><strong>虚拟化服务器集群：</strong>通过在服务器上部署噢易服务器虚拟化软件，将一台服务器虚拟层成多个各自独立，相互隔离的虚拟机，承担各自应用系统，或者相同的应用系统，配合负载均衡设备，实现让多个虚拟机支撑一个“业务系统”运行计算需求。</p><p style="text-indent:28px"><strong>2)</strong><strong>虚拟机管理平台：</strong>通过虚拟化管理平台，管理员在办公室实现对整个数据中心资源的集中管理和维护，可以远程操作服务器、部署虚拟机业务，配置网络，挂载存储，配置高可用、负载均衡策略等，无需到机房现场。</p><p style="text-indent:28px"><strong>3)</strong><strong>本地共享存储系统：</strong>配置基于光纤通道+本地共享存储系统，用于存放所有业务系统虚拟机文件、虚拟机镜像，确保数据安全、可靠，所有虚拟机中业务都集中存放在共享存储设备中。</p><p style="text-indent:28px"><strong>4)</strong><strong>虚拟化备份系统：</strong>本期考虑利用数据备份存储设备，可通过虚拟化环境下的备份平台，实现对所有虚拟机中业务数据进行集中备份，并存放在现有的共享存储上，进行数据级的备份，当存储故障或者数据损坏，可以通过数据备份存储上的数据进行恢复系统。</p></div><div class="oe-box-item"><h2>建设方案</h2><p style="text-indent:28px">噢易vServer服务器虚拟化系统是打造IT基础运行环境虚拟化平台的核心软件，通过虚拟化技术对硬件基础资源进行整合，形成一个对外提供对资源的池化管理（包括网络池、服务器池、存储池等），同时通过云数据中心管理平台，对外提供运行环境等基础服务，包括对平台所有虚拟资源）进行全面管控，可以进行虚拟机生命周期管理、镜像管理、模板管理、存储资源管理、虚拟网络资源管理、虚拟机的资源调整、动态迁移、快照恢复、虚拟机状态监控分析等操作，从而实现虚拟资源的动态分配、部署和回收，按需弹性资源扩展，以及自动化管理，改善IT资源的使用效率和管理能力。</p><p style="text-indent:28px">具体实现功能如下:</p><p style="margin-left:28px">1.资源整合，构建虚拟化IT基础资源池</p><p style="margin-left:28px">2.根据各业务系统特点，按需规划分配资源</p><p style="margin-left:28px">3.数据集中存储，保障应用数据安全</p><p style="margin-left:28px">4.全中文、图形化的远程集中管理门户</p><p style="margin-left:28px">5.虚拟机可以实现动态迁移</p><p style="margin-left:28px">6.业务高可用性、连续性保障</p><p style="margin-left:28px">7.高峰期业务和资源负载均衡</p><p style="margin-left:28px">8.虚拟机备份和恢复</p><p style="margin-left:28px">9.应用资产管理和统计</p><p style="margin-left:28px">10. 虚拟化备份系统</p></div><div class="oe-box-item"><h2>建设价值</h2><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">升级改造时间短，本地化售后服务</span></h3><p>噢易vServer服务器虚拟化系统的安装部署简单，虚拟化功能齐全：单一产品安装组件，无需安装功能模块插件，平台直接显示所有功能模块，安装部署快捷、对维护管理人员技能要求不高，而且提供原厂商本地化上门技术服务和支持，7*24在线电话咨询服务。</p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">降低云数据中心运营成本、提高服务器资源利用率</span></h3><ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p style="text-indent: 0em;">从服务器硬件、数据中心空间成本、电力成本、管理人员成本、集成服务等多个方面整体降低了信息中心运营成本，数据中心服务器和业务规模越大，运营时间越长，所节省的成本就越高。</p></li><li><p style="text-indent: 0em;">通过将多服务器资源动态划分，合理利用，并结合业务特点按需调配，平均将单台物理服务器利用率从15%-35%提升至65%-90%。</p></li></ul><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">迁移过程中应用系统不中断</span></h3><p>整个迁移过程中，在保现有机房的各应用系统的可用性、安全性和连续性，原有存储系统数据可用性的前提下，对现有虚拟化系统进行逐步升级改造。</p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">保障业务系统的高可用性</span></h3><p>通过动态迁移，高可用性、负载均衡等自动化的服务方式，有效保证了终端业务访问的连续性和服务平台运行的稳定性。</p><p>同时后端采用本地存储的双活部署，极大程度的保障了业务系统访问的连续性和高可用性。</p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">简化管理，方便维护</span></h3><p style="text-indent:32px"><strong>快速部署业务环境</strong>：加快新服务器和应用的部署，大大降低服务器重建和应用加载时间。主动地提前规划资源增长，这样对客户和应用的需求响应快速。</p><p style="text-indent:32px"><strong>缩短维护时间</strong>：硬件维护需要数天/周的变更管理准备和1 - 3小时维护窗口，现在可以进行快速的硬件维护和升级。</p><p style="text-indent:32px"><strong>方便搭建试验环境</strong>：企业搭建生产应用环境，提前评估建立环境所需的资源，可在虚拟机环境进行试验，再正式扩展到生产环境，让IT风险降到最低。</p><p style="text-indent:32px"><strong>图形化Web界面</strong>：安装配置、管理全中文界面，提供了丰富的远程管理和控制界面，实现足不出户的管理，大幅度的简化了大量服务器的运维管理工作。</p><h3><span style="font-size: 17px; color: rgb(222, 59, 10);">数据的容灾备份能力</span></h3><p style="text-indent: 0em;">提供数据级别的本地双活容灾和备份，当新购主存储故障或者数据损坏，不影响虚拟机业务系统访问，同时还可以从第三方备份存储中恢复业务站点数据，减少业务中断时间，保障数据的完整性!</p></div></div> </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="~/home/Anli/更多行业"><h3>更多行业 <small>OTHERS</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-guotu.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/黄冈国土“原有业务”和“不动产业务”完美切换至云端" data-toggle="tooltip" title="黄冈国土“原有业务”和“不动产业务”完美切换至云端">
                                        黄冈国土“原有业务”和“不动产业务”完美切换至云端
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/09/05</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/黄石劳动就业管理局公共就业服务平台建设案例" data-toggle="tooltip" title="黄石劳动就业管理局公共就业服务平台建设案例">
                                        黄石劳动就业管理局公共就业服务平台建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/08/02</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/咸宁国土不动产业务系统建设案例" data-toggle="tooltip" title="咸宁国土不动产业务系统建设案例">
                                        咸宁国土不动产业务系统建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/08/02</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/咸宁公积金业务管理系统虚拟化建设案例" data-toggle="tooltip" title="咸宁公积金业务管理系统虚拟化建设案例">
                                        咸宁公积金业务管理系统虚拟化建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/08/02</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="~/home/AnLiDetail/湖北荆州社保虚拟化数据中心建设案例" data-toggle="tooltip" title="湖北荆州社保虚拟化数据中心建设案例">
                                        湖北荆州社保虚拟化数据中心建设案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="~/home/AnLiDetail/浙江省德清县教育局">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="~/home/AnLiDetail/安徽省无为县教育局">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="~/home/AnLiDetail/西华大学">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="~/home/AnLiDetail/四川师范大学">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="~/home/AnLiDetail/广东工业大学实验教学部桌面云应用案例">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>