@{ 
    ViewBag.Title = "黑龙江东方学院教育桌面云应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>黑龙江东方学院教育桌面云应用案例<br><small> 大头机四两拨千斤，用最老的机器跑最新的系统&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目简述
                        </h2> <p>
                            黑龙江东方学院1992年建校，始称东方大学。是改革开放后由几位离退休教育家创办的黑龙江省第一所民办普通高校。学院计算机学部的公共教学机房在建设之初，机房内的计算机配置很低，好多都还是大头机，当时的即刷案及性能已经完全满足不了正常的教学需求，面临淘汰状况。<br>同时随着云计算在高校机房建设中的兴起，应用越来越广，学院建设云实验室的需求越发迫切。为充分利用现有的资源，减少投资，学院运用噢易教育桌面云在机房内实现了终端桌面虚拟化，使用云计算技术将普通教学机房改造成了云实验室。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            应用场景
                        </h2> <p>
                            此次黑龙江东方学院计算机学部在公共机房使用旧电脑作为终端设备部署120点噢易教育桌面云，创建win7和XP的教学场景，安装所需的公共教学软件和噢易多媒体网络教学系统。全院各个专业的学生都在计算机学部公共机房进行计算机基础上机实验，机房部署噢易教育桌面云之后，学生上课时，120台旧电脑并发启动可快速完成从开机到登录虚拟桌面的全部过程。<br>常用软件office2010，Adobe Flash Player，WinRAR，搜狗输入法，五笔输入法，暴风影音等。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            价值体现
                        </h2> <p>
                            随着系统厂家逐渐对XP，Vista等老旧系统的不支持，以及老旧设备对新系统的运行严重吃力，现在高校很多机房都出现了尴尬的状况，噢易桌面云完美的突破了这个困境。东方学院两个机房现在都是512M内存的大头机，单就参数而言，现在手机的运存都比这个高，目前机房装不了win7，但是学校的教学需要用到win7，全新更换所有设备硬件是一笔不小的开支。学校经过多方面的考察比较，最终选择了噢易，因其利旧的解决方案恰如其分的消除了这个难题。使用噢易教育桌面云之后，机房的大头机旧电脑使用服务器的计算资源可以流畅的运行win7系统和常用的教学软件。实现了原有资源的重新利旧，保护了学校的办学投资，提升新校区的整体形象。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案配置
                        </h2> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow">
                                    <td>
                                        设备名称
                                    </td>
                                    <td>
                                        详细参数
                                    </td>
                                    <td>
                                        数量
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        云服务器
                                    </td>
                                    <td>
                                        CPU：Intel 2路6核
                                    </td>
                                    <td rowspan="5" style=" text-align:center;  padding-top:85px;">
                                        4
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：96G
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        硬盘：240G SSD
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        1T SAS
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        网卡：4*1000M
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        终端设备
                                    </td>
                                    <td>
                                        采购机房旧PC
                                    </td>
                                    <td style="text-align: center; word-break: break-all;">
                                        120
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <div class="oe-box-item">
                        <h2>
                            现场实景
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a591d2486e2.jpg" title="黑龙江东方学院_01.jpg" alt="黑龙江东方学院_01.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户评价
                        </h2> <p>
                            噢易教育桌面云在东方学院实施完成后，我们在回访时赵主任说道：“噢易教育桌面云实施之后，运行很稳定，原来任课老师经常吐槽机房运行卡的不行不行的，现在老师们反映在虚拟桌面内使用这些软件很流畅，而且现在维护量也大大降低，不用逐台进行维护，不用跑到机房就可以远程进行系统升级、软降升级、集中统一管理。公共机房升级到云实验室之后，不但充分利用了学院原有资源而且方便了我们队对机房的运维管理，后期打算扩容，将其他机房也朝这个模式改造。”
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/24.html"><h3>高教 <small>HIGHER EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/343.html" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/342.html" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/335.html" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/57.html" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/56.html" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>