@{ 
    ViewBag.Title = "黑龙江大学教育桌面云应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>黑龙江大学教育桌面云应用案例<br><small> 13年前的焕然一新，13年后的脱胎换骨&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目简述
                        </h2> <p>
                            黑龙江大学简称黑大，坐落于北国冰城哈尔滨，教育部、国家国防科技工业局与黑龙江省人民政府重点共建的综合性研究教学型大学。国家首批“中西部高校基础能力建设工程”、“卓越法律人才教育培养计划”、“卓越新闻传播人才教育培养计划”、“海外高层次人才引进计划(千人计划)”入选高校。<br>其信息科学与技术学院承载着全校大部分的计算机基础课程，但大部分PC机年代久远，其中不乏2002年的老旧电脑还在使用，随着专业软件的更新，其性能已经明显跟不上教学的需求。东北高教的云计算领域相对南方稍慢一点，学校领导经过反复的测试和考证，最后决定采用噢易教育桌面云，充分利用现有的资源，减少投资，来打造一套全新的云实验室，为促进我国信息化教育的发展做出一些作用。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            应用场景
                        </h2> <p>
                            此次信息科学与技术学院在公共机房使用旧电脑作为终端设备部署60点噢易教育桌面云，创建WindowsXP的教学场景，安装所需的公共教学软件和噢易多媒体网络教学系统。全院各个专业的学生都在信息科学与技术学院公共机房进行计算机基础上机实验，机房部署噢易教学桌面云之后，学生上课时，60台旧电脑并发启动可快速完成从开机到登录虚拟桌面的全部过程。<br>常用软件CAD，Photoshop，Office，Flash，Matlab，考试系统，搜狗输入法等。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            价值体现
                        </h2> <p>
                            建设信息化校园一直是校领导关注的焦点，此次的噢易教育桌面云是领导为学校的云建设做出的一步行动。此次建设的机房全部是13年前的台式机，虽然学校一直对其保养和维护工作做的一丝不苟，但是13年的时光已经让很多硬件开始“崩溃”，有几台“钉子户”一定会在运行时卡死或者黑屏，对此机房管理员也心有余而力不足。<br>在2015年的高教展领导接触了桌面云，随后开始计划建设云实验室，在经过几家的测试比较后，领导一致认为，噢易教育桌面云对学校的现状才是对症下药，最终决定，采用噢易的利旧方案，进行全新改造。使用噢易教育桌面云之后，机房N年前的旧电脑使用服务器的计算资源可以毫无压力的跑XP和win7系统以及常用的基础软件和专业软件，实现现有资源的重新利用，更重要的是让13年前的电脑脱胎换骨。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案配置
                        </h2> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow">
                                    <td>
                                        设备名称
                                    </td>
                                    <td>
                                        详细参数
                                    </td>
                                    <td>
                                        数量
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        云服务器
                                    </td>
                                    <td>
                                        CPU：Intel 2路6核
                                    </td>
                                    <td rowspan="5" style=" text-align:center;  padding-top:85px;">
                                        2
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        内存：96G
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        硬盘：480G SSD
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        600G 15K SAS
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        网卡：4*1000M
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        终端设备
                                    </td>
                                    <td>
                                        采购机房旧PC
                                    </td>
                                    <td style="text-align: center; word-break: break-all;">
                                        60
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <div class="oe-box-item">
                        <h2>
                            现场实景
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a5912c41bc2.jpg" title="黑龙江大学.jpg" alt="黑龙江大学.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户评价
                        </h2> <p>
                            噢易教育桌面云在黑龙江大学搭建后，院长说道：“云计算是一个发展趋势，在老师们使用噢易教育桌面云后，运行很稳定，反馈良好，管理员现在也不用每天泡机房了，学生使用虚拟机与真实机的体验一样。学院还有很多机房都是年代较久远的PC机，此次的使用比想象中要好很多，后期将继续改造其他机房，建设云实验室。“
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/24.html"><h3>高教 <small>HIGHER EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/343.html" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/342.html" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/335.html" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/57.html" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/56.html" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
