@{ 
    ViewBag.Title = "黑龙江民族职业技术学院教育桌面云应用案例";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-detail">
    <!--banner区域--> <!--banner区域--> <div class="oe-banner-area-style05 swiper-container"> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item" style="background-image: url('../../Images/ztxhkj/AnLiDetail/57b2b98c5e4b2.jpg')"></div> </div> <div class="swiper-pagination"></div> </div> <div class="container">
        <div class="row oe-margin-bottom-30 oe-margin-top-30">
            <div class="col-md-9 oe-content">
                <h1>黑龙江民族职业技术学院教育桌面云应用案例<br><small> 进军云计算领域，打造信息化校园&nbsp;&nbsp;&nbsp;&nbsp;日期：2016-07-28</small></h1> <div class="oe-content-style01">
                    <div class="oe-box-item">
                        <h2>
                            项目简述
                        </h2> <p>
                            黑龙江民族职业技术学院，是经黑龙江省政府批准，国家教育部备案，由国家公办的黑龙江省唯一的一所全日制的少数民族学院，坐落在北国冰城哈尔滨，其前身最早可追溯到1928年张学良创办的东北蒙旗师范学校。<br>随着学院对教学信息化的追求，公共教学机房管理麻烦，维护繁琐，等级考试环境部署费时费力，PC机损坏率很高，更新周期也短等缺点越来越明显，机房在提高信息化程度的过程中困难重重。近年来，云计算技术的逐渐成熟为解决试验中心机房的困境提供了解决方案，为创建高效，简便的教学环境，学院最终确定，使用噢易教育桌面云建设新机房。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            应用场景
                        </h2> <p>
                            机房内部署50点噢易教育桌面云，终端设备采用瘦客户机加显示器的形式。根据教学需求，创建了win7和XP的教学场景，目前学院大部分的基础课都在这里上。<br>常用的软件：PDF阅读器，office2010，Adobe Flash Player，WinRAR，搜狗输入法，五笔输入法等。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            价值体现
                        </h2> <p>
                            1、 &nbsp;终端设备相对不容易损坏，寿命长，维护方便，功耗低，噪音小，空间占用小等特点，这种部署方式在提高机房技术先进性的同时，使机房超节能，超安静，节省大量电费，节省学校投资。<br>2、 &nbsp;根据不同的教学需要，创建不同的教学场景，教学场景按课表安排自动切换桌面，满足不同专业学生的上课使用。<br>3、 &nbsp;在B/S架构的管理平台可集中管理所有虚拟桌面，对桌面环境进行维护、软件升级、系统更新等，真正实现机房的集中管理。
                        </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            方案配置
                        </h2> <table class="table table-bordered table-hover">
                            <tbody>
                                <tr style=" text-align: center; background-color:#de3a0b; color: #fff; font-size: 16px; font-weight: bold;" class="firstRow">
                                    <td>
                                        设备名称
                                    </td>
                                    <td>
                                        详细参数
                                    </td>
                                    <td>
                                        数量
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5" style=" text-align:center; padding-top:85px;">
                                        云服务器
                                    </td>
                                    <td>
                                        CPU：Intel 2路12核
                                    </td>
                                    <td rowspan="5" style=" text-align:center;  padding-top:85px;">
                                        1
                                    </td>
                                </tr>
                                <tr> <td>                        内存：12<em>16G</em> </td> </tr>
                                <tr>
                                    <td>
                                        硬盘：1400G SSD
                                    </td>
                                </tr>
                                <tr> <td>                        1<em>600G 15K SAS</em> </td> </tr>
                                <tr>
                                    <td>
                                        网卡：41000M
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        云终端
                                    </td>
                                    <td>
                                        瘦客户端
                                    </td>
                                    <td style=" text-align:center;">
                                        50
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" text-align:center;">
                                        显示器
                                    </td>
                                    <td>
                                        19.5寸显示屏
                                    </td>
                                    <td style="text-align: center; word-break: break-all;">
                                        50
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <div class="oe-box-item">
                        <h2>
                            现场实景
                        </h2> <p style="text-align: center;"> <img src="../../Images/ztxhkj/AnLiDetail/57a593305be44.jpg" title="黑龙江民族职业技术学院_01.jpg" alt="黑龙江民族职业技术学院_01.jpg"> </p>
                    </div> <div class="oe-box-item">
                        <h2>
                            用户评价
                        </h2> <p>
                            噢易教育桌面云在黑龙江民族职业技术学院使用一段时间后，主任表示：“使用桌面云之后，安装更新软件快得很，几分钟就能搞定一整个机房，再也不用像以前一样累一整天碰到各种问题，还不知道搞不搞得完，加班加点经常发生。现在使用桌面云部署新环境又方便又快速，噢易教育桌面云真没有愧对‘教育’这两个字！”
                        </p>
                    </div>
                </div>
            </div> <div class="col-md-3">
                <div class="panel panel-default oe-case-right-list">
                    <div class="panel-heading"> <a href="/list/index/id/24.html"><h3>高教 <small>HIGHER EDUCATION</small></h3></a> </div> <div class="panel-body"> <div class="oe-banner-area" style="background-image: url('../../Images/ztxhkj/AnLiDetail/anli-gaojiao.jpg')"></div> </div> <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/article/index/id/343.html" data-toggle="tooltip" title="西华大学">
                                        西华大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/342.html" data-toggle="tooltip" title="四川师范大学">
                                        四川师范大学
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2017/06/13</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/335.html" data-toggle="tooltip" title="广东工业大学实验教学部桌面云应用案例">
                                        广东工业大学实验教学部桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/12/07</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/57.html" data-toggle="tooltip" title="中国计量学院教育桌面云应用案例">
                                        中国计量学院教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/article/index/id/56.html" data-toggle="tooltip" title="上海应用技术大学教育桌面云应用案例">
                                        上海应用技术大学教育桌面云应用案例
                                    </a>
                                </td>
                                <td class="table-datetime-td-width">2016/07/28</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <div class="panel panel-default oe-case-right-list-new">
                    <div class="panel-heading"> <h3>最新案例</h3> </div> <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">1</span> <a href="/article/index/id/346.html">
                                浙江省德清县教育局
                            </a><br>
                            2017/06/30
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span> <a href="/article/index/id/345.html">
                                安徽省无为县教育局
                            </a><br>
                            2017/06/29
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span> <a href="/article/index/id/343.html">
                                西华大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">4</span> <a href="/article/index/id/342.html">
                                四川师范大学
                            </a><br>
                            2017/06/13
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span> <a href="/article/index/id/335.html">
                                广东工业大学实验教学部桌面云应用案例
                            </a><br>
                            2016/12/07
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
