@{
    Layout = "~/Views/shared/_CloudServiceLayout.cshtml";
    ViewBag.Title = "产品介绍";
}
<style>
    body {
        background: url(../images/ztxhkj/jy-pdt-bg.jpg) no-repeat left top #cdcdcd;
    }
</style>
@Styles.Render("~/Content/nav.css")
<div class="col-md-offset-3 col-md-9">
    <!--col-md-offset-3--> <div class="row" style="width:80%;"><!--标题 开始--> <div class="col-md-12"> <div class="oe-chanpin-name"> <span class="oe-chanpin-jies"><a href="chanpin.html">产品介绍</a></span> <span style="padding-left:5px;"><a href="yingjian.html">硬件配置</a></span> </div> </div> </div><!--标题 结束--> <div class="row" style=" width:80%;"> <div class="col-md-12"> <div style="background:url(../../Images/ztxhkj/cloudservice/jy-ptn-banner.jpg) no-repeat center top; height:198px; width:100%; margin-top:20px;"></div> </div> </div> <div class="row" style="width:80%; margin-top:70px;">
        <div class="col-md-8"> <div class="oe-chanpin-jianjie"> <p>噢易云计算教育桌面云软件V3.1（简称：E-VDI）是采用桌面虚拟化技术，用虚拟的桌面来替换传统PC， 统一集中存放在云端，让终端设备通过网络连接，可随时随地获取桌面环境。E-VDI可以让桌面环境，部署更快速、管理更集中、维护更简单、数据更安全以及能耗更低廉。</p> </div> </div> <div class="col-md-4"> <div style="width:100%; background:url(../../Images/ztxhkj/cloudservice/chanpin-shipin.jpg) no-repeat center top; height:188px;"></div> </div>

        <div class="col-md-12"> <div class="oe-chanpin-chanpinjiagou"> 
            <h3>产品架构</h3> <div style="background:url(../../Images/ztxhkj/cloudservice/jy-ptn-chanpjg.jpg) no-repeat center center; height:314px; margin-top:50px;"></div> </div> </div> <div class="col-md-12"> <div class="oe-chanpin-jiemianguanli"> <h3>界面管理</h3> <div style="background:url(../../Images/ztxhkj/cloudservice/jy-ptn-guanlijm.jpg) no-repeat center center; height:341px; margin-top:50px;"></div> </div> </div>
    </div>
</div>