@{
    Layout = "~/Views/shared/_CloudServiceLayout.cshtml";
        ViewBag.Title = "关键参数";
}
<style>
    body {
        background: url(../images/ztxhkj/jiejuefangan-beijing.jpg) no-repeat left top #cdcdcd;
    }
    #listp p {
        width: 100%;
    }
    *{
        list-style:disc;
    }
</style>@Styles.Render("~/Content/nav.css")
<div class="clear"></div>
<div class="col-md-offset-3 col-md-9"><!--col-md-offset-3--> <div class="row" style="width:80%;"><!--标题 开始--> <div class="col-md-12" style="margin-top:100px;"> </div> </div><!--标题 结束--> <div class="row" style=" width:80%;"> <div class="col-md-12"> <div style="background:url(../../Images/ztxhkj/cloudservice/170724.jpg) no-repeat center top; height:198px; width:100%; margin-top:20px;"></div> </div> </div> <div class="row" style="width:80%; margin-top:50px;"> <h3 style="margin-bottom:20px;">关键参数</h3> <div class="col-md-12"> <ul style="padding-bottom:25px; border-bottom:1px solid; margin-bottom:25px;"> <li><p>单一的Web浏览器管理控制台，支持WindowsXP/7/8/10/Linux等主流系统，能够单点登录完成所有桌面、桌面池、用户、课表、监控等管理操作，全中文化管理界面，易于操作；</p></li> <li><p>桌面具备设置桌位号排序功能，能够将桌面与教室的座位排定顺序关联，分自动排序和手动排序，可以通过客户端设置座位号，也可以通过服务端设置座位号，座位号能够显示到终端桌面中；</p></li> <li><p>E-VDI提供主从集群中心功能，能够将多个云教室物理主机聚合成一个云教室，单一的管理界面能够管理聚合的所有云教室；</p></li> <li><p>云教室主机的CPU、内存和网络资源使用情况可实时监控，CPU使用按仪表盘标识，内存图形化方式表示出已占用内存、空闲内存。图形化的方式的仪表盘显示，可以在同一界面查看十分钟内CPU、内存、网络流速的使用详情;</p></li> <li><p>支持批量化一次部署40个虚拟桌面,桌面虚拟化自带链接克隆组件功能，不需要另外增加组件，也不需依赖第三方脚本或软件;</p></li> <li><p>可以直接部署在裸架构服务器上或虚拟机上，不需要依赖第三方软件或操作系统，系统可根据客户使用数，实现一键式部署，按序选择下一步，输入虚拟机数量即可配置好环境，操作过程完全自动化。无需依赖于AD域控部署，可直接部署桌面虚拟化方案；</p></li> <li><p>能够一键进入考试模式，默认还原模式，虚拟机重启还原，一键设置进入考试模式后，虚拟机不需要重启，虚拟机可保证完整的考试数据，系统及数据不还原，保障学生考试时，误操作数据不丢失；</p></li> <li><p>自带课堂秩序管理功能，能够对学生的上网行为进行管理，禁止和恢复学生桌面的网络访问，通过黑白名单设置，使学生不能随意浏览网页，不需要借助第三设备或软件；</p></li> <li><p>学生课堂活动全程监控、可实现学生机运行程序的监看及控制、对学生进行远程辅导；</p></li> <li><p>可以按照教室实际座位布局，对学生图标进行排列，具有针对学生桌面，可以选择在底部显示桌面名称、桌面IP、终端IP、登录名称、座位号信息等；</p></li> <li><p>软件默认提供作业布置、批改、管理组件，支持HA功能，服务器宕机或故障后，教师可正常授课；</p></li> </ul> <ul style="padding-bottom:25px;"> <li><p>老师在作业空间可为多个或单个班级的学生布置作业，支持各种文件格式。老师可以对作业上交截止时间限制，老师可以随时更改作业的内容。学生端可以看到老师布置完的作业；</p></li> <li><p>作业空间内置网盘功能，学生可通过作业空间账号直接登录，学生没有做完的作业或文件，可以上传到在作业空间中独立的存储空间中，方便下次上课使用;</p></li> <li><p>支持通过教学管理软件实现一键禁止所有学生或部分学生上网，禁网同时仍然可以屏幕广播、屏幕查看等正常教学应用；</p></li> <li><p>系统的安全性有保证，可支持老师禁止学生连接存储设备，包括U盘、移动硬盘等，但不影响鼠标键盘等操作， U盘连接支持只读模式和读写模式，教师端统一设置；</p></li> <li><p>教师上课期间，通过教师端，可以将学生私有数据盘一键清空、一键初始化，方便每节课程环境维护；</p></li> <li><p>提供多种模式使用，当选用全虚拟化VDI，全部使用服务器资源；选用VOI模式时，则充分利用本地终端硬件资源。终端可配置本地windows系统，可以通过软件实现VDI、VOI、本地系统三种模式相互切换，能适应各种场景使用，同时还支持多频道系统功能；</p></li> <li><p>提供UPS联动检测设置，保障服务器安全可靠使用，断电后根据UPS策略联动供电；</p></li> <li><p>学生端故意禁用网卡或禁用网卡驱动后，终端不会断开连接，仍然支持屏幕高清广播、屏幕查看等正常教学；</p></li> <li><p>能够实名或匿名签到，签到后显示签到时间及备注信息，通过签到的方式可以自动建立班级学生信息和通过花名册模板可以提前导入班级学生信息;</p></li> <li><p>通过服务器能够一键全局升级客户端版本，并进行集中化管理;</p></li> <li><p>支持一键上下课快速切换教学环境，支持快速克隆；</p></li> <li><p>已有桌面在使用时，可同时创建其他学生桌面，不影响已有桌面的正常使用；</p></li> <li><p>在服务器集中管理部署模式下提供虚拟教室功能，可以根据物理教室规模在服务器上灵活创建虚拟教室，便于统一管理和维护，实现教室内多主机及管理中心到教室间模板同步；</p></li> <li><p>云主机自带DHCP服务和终端过滤功能，对网络中所有终端进行过滤认证，能够严格控制终端接入；</p></li> </ul> </div> </div> </div>