@{
    Layout = "~/Views/shared/_CloudServiceLayout.cshtml";
    ViewBag.Title = "实验室";
}
<style>
    body {
        background: url(../../images/ztxhkj/jiejuefangan-beijing.jpg) no-repeat left top #cdcdcd;
    }

    #listp p {
        width: 100%;
    }
</style>
@Styles.Render("~/Content/nav.css")
<div class="col-md-offset-3 col-md-9">
    <!--col-md-offset-3--> <div class="row"><!--标题 开始--> <div class="col-md-12" style="width:80%;"> <div class="oe-chanpin-name" style=" border-bottom:none;"> <span class="oe-chanpin-jies"><a href="#">解决方案</a></span> <span style="padding-left:5px; "><a href="case-shiyanshi.html">云实验室</a></span> </div> </div> </div><!--标题 结束--> <div class="row">
        <div class="col-md-12" style="margin-top:10px; margin-bottom:30px; width:80%;"> <div style="background:url(../../Images/ztxhkj/cloudservice/yunshiyanshi-banner.gif) no-repeat center top; width:100%; height:423px;"></div> </div> <div class="col-md-12" style="z-index:1; width:80%;">
            <div class="oe-fangan-name">
                <h3 style="background-image:url(../../Images/ztxhkj/cloudservice/yunshiyanshi-zi.gif)">云实验室</h3> <p>终端数量大，往往是并发启动；上课学生多,学生破坏性强；不同专业使用软件不一样，对系统环境要求也不一样；存在大量的管理维护工作……</p>
            </div>
        </div>
    </div> <div class="row"><!--现状 开始--> <div class="col-md-12" style="width:80%;"><!--现状 col-md-12 开始--> <div class="oe-jjfa-xianzhuang"> <h3>现状</h3> <div class="row"><!-- row 01开始--> <div class="col-md-4"> <div style="width:100%;"> <div class="oe-xianzhuang-one"> <img src="../../Images/ztxhkj/cloudservice/1.gif"> <span> 总体拥有成本高 </span> </div> <p style="padding-top:10px;">机房PC众多，日常维护工作繁杂：终端设备多、安装软件多，每年淘汰、更换设备，教学环境管理和设备维护工作繁杂</p> </div> </div> <div class="col-md-4"> <div style="width:100%;"> <div class="oe-xianzhuang-one"> <img src="../../Images/ztxhkj/cloudservice/2.gif"> <span style="font-size:17px;"> 教学系统部署、升级和维护困难 </span> </div> <p style="padding-top:10px;">由于教学需要，学期课程软件更新频繁，经常需要对现有教学系统进行升级或重新部署，需重新网络对传操作系统，费时费力；随着教学软件的不断更新，一些新的软件或操作系统就不能在现有计算机上安装，经常是实训机房的计算机用不了几年就会更新换代</p> </div> </div> <div class="col-md-4"> <div style="width:100%;"> <div class="oe-xianzhuang-one"> <img src="../../Images/ztxhkj/cloudservice/3.gif"> <span>临时搭建环境费时费力</span> </div> <p style="padding-top:10px;">学校安排的测试，或固定时间内的考试系统环境的搭建，往往需要临时搭建全新的操作系统和软件，并按考试要求逐一修改计算机配置（如计算机名，IP地址，系统用户名等），需要花费大量时间</p> </div> </div> </div><!-- row 01 结束--> <div class="row" style="margin-top:30px;"><!-- row02 开始--> <div class="col-md-4"> <div style="width:100%;"> <div class="oe-xianzhuang-one"> <img src="../../Images/ztxhkj/cloudservice/4.gif"> <span> 桌面系统软件多，兼容性差</span> </div> <p style="padding-top:10px;">不同专业需要不同的软件，往往各类软件装在一个桌面，造成系统臃肿</p> </div> </div> <div class="col-md-4"> <div style="width:100%;"> <div class="oe-xianzhuang-one"> <img src="../../Images/ztxhkj/cloudservice/5.gif"> <span>桌面安全隐患大</span> </div> <p style="padding-top:10px;">由于机房学生使用人数众多，操作习惯不一，且破坏性抢，往往会因为各种操作导致系统安全故障，影响教学使用，同时造成大量的管理维护工作</p> </div> </div> <div class="col-md-4"> <div style="width:100%;"> <div class="oe-xianzhuang-one"> <img src="../../Images/ztxhkj/cloudservice/6.gif"> <span style="font-size:16px;"> 机房PC众多，日常维护工作繁杂 </span> </div> <p style="padding-top:10px;">由于终端使用导致的硬件损坏，频繁更换快速，而随着年限的增加，实验室机房的PC如果每3-4年都更新一次，总体PC投入成本每年居高不下，再加上需要支持人员亲临现场来提供故障处理支持，总体运营成本不断增高杂</p> </div> </div> </div><!-- row 02 结束--> </div> </div> <!--现状 col-md-12 jies--> </div><!--现状 结束--> <div class="row">
        <div class="col-md-12" style="width:80%;">
            <div style="width:100%; background-color:#f2f2f2; padding-bottom:50px;">
                <div style="width:100%; background:url(../../Images/ztxhkj/cloudservice/yunshiyanshi-pc.png) no-repeat center top; height:315px; position: absolute; top: -258px;"></div> <div class="cor-md-12">
                    <!--解决方案 内容 开始--> <div class="oe-jjfa-title"> <h3>解决方案</h3> </div> <div style="width:100%; padding-top:35px;">
                        <div class="row"><!--第一行 开始--> <div class="col-md-6"></div> <div class="col-md-6"> <div style=" width:100%;	padding: 15px 50px 0px 50px;"> <div style="background:url(../../Images/ztxhkj/cloudservice/yunshiyanshi-wu.jpg) no-repeat -3px 0px; width:100px; height:100px; position: absolute; top:10px; left:-50px;"></div> <span style="font-size:20px; color:#df4526;">云端管控，分级管理</span> <p style="margin-top:10px;">基于WEB的图形化集中管理平台，用户可以在任意联网的终端设备上访问管理平台，实现远程集中管理；针对高校内的机房或实验室的管理，从角色上可从管理平台内勾选任意功能点进行搭配；从层级上，从校级、院系级到具体的教室，可分配给不同的管理员进行管理；完全遵循高校内的机房管理常用制度和方法</p> </div> </div> </div><!--第一行 结束--> <div class="row"><!--第二行 开始--> <div class="col-md-6"> <div style=" width:100%; padding:0px 50px;"> <div style="background:url(../../Images/ztxhkj/cloudservice/yunshiyanshi-wu.jpg) no-repeat -3px -163px; width:100px; height:100px; position: absolute; top:0px; right:-50px;"></div> <span style="font-size:20px; text-align:right; color:#df4526; display:block;">闪电部署，差异更新</span> <p style="margin-top:10px; ">提供优化的虚拟机链接克隆功能，可根据不同的专业需求闪电部署大量桌面；采用差异更新技术，可快速完成所有虚拟机的更新升级，无需到计算机中心机房对终端进行操作，用户登录即可获取一个新的桌面</p> </div> </div> <div class="col-md-6"></div> </div><!--第二行 结束--> <div class="row"><!--第三行 开始--> <div class="col-md-6"></div> <div class="col-md-6"> <div style=" width:100%; padding:35px 50px;"> <div style="background:url(../../Images/ztxhkj/cloudservice/yunshiyanshi-wu.jpg) no-repeat -3px -320px; width:100px; height:100px; position: absolute; top:30px; left:-50px;"></div> <span style="font-size:20px; color:#df4526;">考试环境快速部署</span> <p style="margin-top:10px;">噢易教育桌面云提供多种策略，可快速部署批量操作系统的同时，直接有序生成IP地址，计算机名，系统用户名，无需逐一修改，跟可以统一调整桌面配置信息，满足各类考试环境的快速部署</p> </div> </div> </div><!--第三行 结束--> <div class="row"><!--第4行 开始--> <div class="col-md-6"> <div style=" width:100%; padding:0px 50px;"> <div style="background:url(../../Images/ztxhkj/cloudservice/yunshiyanshi-wu.jpg) no-repeat -3px -505px; width:100px; height:100px; position: absolute; top:0px; right:-50px;"></div> <span style="font-size:20px; text-align:right; color:#df4526; display:block;">多教学场景，满足不同专业需求</span> <p style="margin-top:10px; ">可根据不同专业需求创建多套教学场景，且教学桌面场景可根据课表时间自动切换使用，省去学生或老师切换操作系统的麻烦，同时实现桌面独立，减少软件冲突，降低系统臃肿</p> </div> </div> <div class="col-md-6"></div> </div><!--第4行 结束--> <div class="row">
                            <!--第5行 开始--> <div class="col-md-6"></div> <div class="col-md-6">
                                <div style=" width:100%; padding: 55px 50px 0px 50px;">
                                    <div style="background:url(../../Images/ztxhkj/cloudservice/yunshiyanshi-wu.jpg) no-repeat -3px -670px; width:100px; height:100px; position: absolute; top:50px; left:-50px;"></div> <span style="font-size:20px; color:#df4526;">自定义还原</span> <p style="margin-top:10px;">在实验室和教学机房的应用场景里，操作系统每次还原是必备的条件。E-VDI的教学桌面不仅支持每次还原，还可根据实际应用情况调整还原策略为每天、每月等多种还原方式。即使桌面出现软件故障无法启动，都可以重置恢复，并且所有系统内设置信息，如计算机名、IP地址等保持不变</p>
                                </div>
                            </div>
                        </div><!--第5行 结束--> <div class="row"><!--第6行 开始--> <div class="col-md-6"> <div style=" width:100%; padding:0px 50px;"> <div style="background:url(../../Images/ztxhkj/cloudservice/yunshiyanshi-wu.jpg) no-repeat -1px -830px; width:100px; height:100px; position: absolute; top:0px; right:-50px;"></div> <span style="font-size:20px; text-align:right; color:#df4526; display:block;">绿色云终端</span> <p style="margin-top:10px; ">噢易选用更低能耗（15w左右），无需维护的瘦客户端或一体机设备，体积小，占用空间少，无需冷却风扇和硬盘，不产生普通电脑的运行噪声，使用年限更长久</p> </div> </div> <div class="col-md-6"></div> </div><!--第6行 结束-->
                    </div>
                </div><!--解决方案 内容 结束-->
            </div> <div class="row" style="margin-bottom:100px;">
                <!--价值滚动 row 开始--> <div class="col-md-12"> <div class="oe-jjfa-jiazhi"> <h3>价值</h3> </div> </div> <div class="col-md-12">
                    <!--价值滚动 开始-->
                    <div class="oe-zhsb-b" style="background-color:#FFF; ">
                        <div class="swiper-container swiper-container-horizontal">
                            <div class="swiper-wrapper" >
                                <div class="swiper-slide oe-jiazhi-sb" >
                                    <p>使学校机房教育装备、实验教学、实验机房管理上一个新台阶，建设成集中统一管理的云数据中心，更好的为教学实验服务，可使IT设备管理更加便捷，系统部署维护更加迅速，IT使用周期更长，使用效率更高</p>
                                </div> <div class="swiper-slide oe-jiazhi-bith swiper-slide-prev">
                                <p>使资源使用更加灵活，终端的CPU、内存、硬盘资源不再是固定的，系统也不是固定的，软硬件资源可根据不同专业需求交付和回收，可以根据应用需求不断调整，以适应不断更新的软件和教学需求</p></div> <div class="swiper-slide swiper-slide-active" >
                                <p>使整体运营成本大大降低，终端使用服务器计算能力，降低了自身损耗，且硬件资源可随时根据应用需求灵活调整，大大降低了因终端硬件不足造成的硬件替换，提高了终端使用周期，节省开支的同时大大减少电子垃圾，响应国家倡导的绿色节能号召，同时从管理、维护、终端更新换代，业务扩展、终端用户持续增长等各方面综合考虑，长期投资回报率高</p></div>
                            </div> <!-- Add Pagination --> <!--<div class="swiper-pagination"></div>--> <!-- Add Arrows --> <div class="swiper-button-next swiper-button-disabled"></div> <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div><!--价值滚动 结束-->
            </div> <!--价值滚动 row 结束-->
        </div>
    </div>
</div>