@{
    ViewBag.KeyWords = "二维码在线生成，二维码在线识别，条形码在线识别，条形码在线生成，URL在线编码，URL在线解码，MD5加密，图片/文档加水印，IP归属地查询";
    ViewBag.Description = "互联网开发工具是北京中泰祥和科技有限公司为互联网从业人员提供的在线便捷辅助开发工具，旨在服务于互联网从业者，服务内容包括：二维码在线生成，二维码在线识别，条形码在线识别，条形码在线生成，URL在线编码，URL在线解码，MD5加密，图片/文档加水印，IP归属地查询但不限制以上这些。";
    ViewBag.Title = "互联网开发工具";
}
<style>
    #tools {
        margin-top: 26px;
        width: 100%;
        min-height: 500px;
        background-color: beige;
        -moz-box-shadow: 10px 10px 5px #888888; /* 老的 Firefox */
        box-shadow: 10px 10px 5px #888888;
    }

        #tools ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            width: 100%;
            background-color: #bebebe;
        }

        #tools li {
            float: left;
        }

            #tools li a {
                height: 40px;
                padding-top: 10px;
            }

        #tools a:link, a:visited {
            display: block;
            width: 114px;
            font-weight: bold;
            color: #FFFFFF;
            background-color: #bebebe;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            border-right: 1px solid red;
        }

        #tools a:hover, a:active {
            background-color: #cc0000;
        }

    .colorblack {
        color: black
    }
</style>
<div id="tools">
    <ul>
        <li><a href="javascript: void(0)" onclick="javascript: TabSelected(this, 'QRCodeEncoder')">二维码生成</a></li>
        @*<li><a href="javascript: void(0)" onclick="javascript:TabSelected(this,'QRCodeDncoder')">二维码解码</a></li>*@
        <li><a href="javascript: void(0)" onclick="javascript:TabSelected(this,'UrlEncoder')">URL编码</a></li>
        @*<li><a href="javascript: void(0)" onclick="javascript:TabSelected(this,'UrlDncoder')">URL解码</a></li>*@
        <li><a href="http://www.json.cn" target="_blank">JSON格式校验</a></li>
        @*<li><a href="javascript: void(0)" onclick="javascript:TabSelected(this,'AddWaterMark')">图片/文档加水印</a></li>*@
        <li><a href="javascript: void(0)" onclick="javascript:TabSelected(this,'IPSource')">IP归属地查询</a></li>
        <li><a href="javascript: void(0)" onclick="javascript:TabSelected(this,'EnCrypt')">MD5加密</a></li>
        @*<li><a href="javascript: void(0)" onclick="javascript:TabSelected(this,'LeaveBoard')">留言</a></li>*@
    </ul>
    <div id="QRCodeEncoder" style="display:none">二维码生成页面加载……</div>
    <div id="QRCodeDncoder" style="display:none">二维码解码页面加载……</div>
    <div id="UrlEncoder" style="display:none">URL编码页面加载……</div>
    <div id="UrlDncoder" style="display:none">URL解码页面加载……</div>
    <div id="JsonFormat" style="display:none">JSON格式校验页面加载……</div>
    <div id="AddWaterMark" style="display:none">图片/文档加水印页面加载……</div>
    <div id="IPSource" style="display:none">IP归属地查询页面加载……</div>
    <div id="EnCrypt" style="display:none">MD5加密页面加载……</div>
    <div id="LeaveBoard" style="display:none">留言页面加载……</div>
    <div style="text-align:center;margin:50px;color: saddlebrown;font-size:20px">
        感谢使用北京中泰祥和科技有限公司提供工具，所有工具面向个人用户永久免费，如有兴趣，本公司可提供源码供彼此交流学习！
    </div>
</div>
<script>
    function TabSelected(obj, id) {
        $("#tools a").css('color', '#FFFFFF');
        $(obj).css('color', 'black');
        $("#tools > div").hide();
        $("#" + id).show();
        if ($("#" + id).html().length < 100) {
            $.ajax({
                url: "@Url.Content("~/Tools/")" + id,
                type: "post",
                success: function (data) {
                    $("#" + id).html(data);
                }
            });
        }
        return false;
    }
</script>
