@{
    ViewBag.Title = "关于我们";
    ViewBag.Message = "公司介绍：";
    ViewBag.KeyWords = "北京中泰祥和科技有限公司,智慧校园,教育云,云平台,云桌面,桌面云,桌面虚拟化,云课堂,云教室,服务器虚拟化,云计算,虚拟化";
    ViewBag.Description = "北京中泰祥和科技有限公司成立于2005年6月，注册资金200万人名币，凭借在计算机维护领域的专业水平和成熟的技术，在计算机维护领域迅速崛起。北京中泰祥和科技有限公司，是专业的计算机运行维护与管理服务提供商，依靠科技求发展，不断为用户提供满意的高科技机房维护管理产品，是我们始终不变的追求。在充分引进吸收先进技术的基础上，不断向用户推出PNS&nbsp;教育版，PNS&nbsp;企业版等云维护产品。以一流的产品质量和精湛的技术服务受到了用户的一致好评。";
}
<h2>&nbsp;</h2>
<h3>@ViewBag.Message</h3>

<style>
    body {
        background-image: url(../Images/ztxhkj/bg1.jpg);
    }
    p,h3 {
    color:white;
    }
</style>
<p></p><p>　　北京中泰祥和科技有限公司，是专业的计算机运行维护与管理服务提供商，位于北京中关村高科技园区,是江波(PNS)公司在北京地区的分部暨核心合作伙伴。</p>
<br><p>　　公司成立于2005年6月，注册资金200万人名币，凭借在计算机维护领域的专业水平和成熟的技术，在计算机维护领域迅速崛起。</p>
<br><p>　　依靠科技求发展，不断为用户提供满意的高科技机房维护管理产品，是我们始终不变的追求。在充分引进吸收先进技术的基础上，不断向用户推出PNS&nbsp;教育版，PNS&nbsp;企业版等云维护产品。以一流的产品质量和精湛的技术服务受到了用户的一致好评。</p>
<br><p>　　公司在发展的过程中,不断与国内多个公司及科研机构交流合作，以优质的服务和安全、高效、可靠地产品受到业界的好评。</p>
<br><p>　　中泰祥和的员工永远奉行“求实&nbsp;诚信&nbsp;创新&nbsp;和谐”的方针，不断开拓创新，以技术为核心、视质量为生命、奉用户为上帝，竭诚为您提供性价比最高的维护产品、高质量的解决方案及无微不至的售后服务。</p>
<br><p>　　虽然还很年轻，但充满朝气、充满活力；正以诚实、开拓、进取的企业精神，以优质的产品、优质的服务，为学校电脑公用机房的维护和管理贡献自己的微薄力量。</p>
<br><p>　　公司欢迎您的光临，您的关注是对我们最大的支持，愿我们携手共创企业辉煌！</p><p></p>

<h3>服务理念：</h3>
<p>　　您的难题就是我们创新的课题</p>
<p>　　您的埋怨就是我们最好的礼物</p>
<p>　　您的满意就是我们工作的标准</p>
<p>　　能够长期为您服务是我们追求的目标</p>

<h3>一站式服务流程：</h3>
<p>　　尊敬的用户，不论您有何种需求</p>
<p>　　只需您拨打中泰祥和统一服务热线：15801473663剩下的事情由我们来做</p>
<p>　　如需要，我们会安排优秀的服务工程师按您约定的时间准时上门</p>
<p>　　工程师提供优质服务的同时，将向您详细讲解产品工作原理及操作流程</p>
<p>　　中泰祥和客户服务中心会进行跟踪回访，确保您的满意</p>
