@{
    ViewBag.Title = "案例";
}
<style>
    body {
        background-image: url(../../Images/ztxhkj/cloudservice/case-bj-img02.jpg);
    }
</style>
@Styles.Render("~/content/product.css")
<div class="oe-case-2j">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="~/home">
                            <i class="fa fa-home">
                            </i> 首页
                        </a>
                    </li>
                    <li class="active">案例</li>
                </ol>
            </div>
        </div>
    </div> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="oe-case-2j" current_term_id="20">
                    @*<div class="col-md-2 visible-md-block visible-lg-block">
                            <a class="btn btn-default active" href="~/home/Anli/法院">法院</a><br><a class="btn btn-default " href="~/home/Anli/医疗卫生">医疗/卫生</a><br><a class="btn btn-default " href="~/home/Anli/公安">公安</a><br><a class="btn btn-default " href="~/home/Anli/高教">高教</a><br><a class="btn btn-default " href="~/home/Anli/普教">普教</a><br><a class="btn btn-default " href="~/home/Anli/更多行业">更多行业</a><br>
                        </div>*@
                    <div class="row visible-xs-block visible-sm-block">
                        <div class="col-md-12">
                            <a class="btn btn-default active" href="~/home/Anli/法院">法院</a>
                            <a class="btn btn-default " href="~/home/Anli/医疗卫生">医疗/卫生</a>
                            <a class="btn btn-default " href="~/home/Anli/公安">公安</a>
                            <a class="btn btn-default " href="~/home/Anli/高教">高教</a>
                            <a class="btn btn-default " href="~/home/Anli/普教">普教</a>
                            <a class="btn btn-default " href="~/home/Anli/更多行业">更多行业</a>
                        </div>
                    </div> <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-8"></div> <div class="col-md-4" style="padding:0">
                                <form class="" action="~/home/SearchAnLi/" method="post" target="_blank">
                                    <div class="input-group">
                                        <input type="text" name="keyword" class="form-control" placeholder="请输入关键词" required=""> <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-search">Search</i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                </form>
                            </div><!-- /.col-lg-6 -->
                        </div> <div class="oe-box-container"> <div class="row oe-box-item"> <a href="~/home/product/荆门中级人民法院虚拟化平台案例" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57abec27ab3b2.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="~/home/product/荆门中级人民法院虚拟化平台案例">荆门中级人民法院虚拟化平台案例</a> </h1>  荆门市中级人民法院虚拟化平台主要用于承载通达海业务平台，平台包括：审判流程管理系统、档案系统、省委会系统等多个业务系统。									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>1704</span> </div> </div> <div class="row oe-box-item"> <a href="~/home/product/十堰中级人民法院虚拟化平台案例" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57abf244d1007.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="~/home/product/十堰中级人民法院虚拟化平台案例">十堰中级人民法院虚拟化平台案例</a> </h1> </div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>1200</span> </div> </div> <div class="row oe-box-item"> <a href="~/home/product/湖北孝感中级人民法院虚拟化平台建设案例" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57abf26d35e70.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="~/home/product/湖北孝感中级人民法院虚拟化平台建设案例">湖北孝感中级人民法院虚拟化平台建设案例</a> </h1>  实现全省法院审判业务系统的统一管理和资源整合的目标，有效保障了全省法院审判流程管理系统的统一部署和升级的要求。									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>1078</span> </div> </div> <div class="row oe-box-item"> <a href="~/home/product/随州中级人民法院虚拟化平台案例" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57abf316601db.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="~/home/product/随州中级人民法院虚拟化平台案例">随州中级人民法院虚拟化平台案例</a> </h1>  达到随州市中院数据中心高效率、高性价比、智能化管理和信息安全等要求，为后续5-10年随州中院信息化发展提供可扩展的硬件支持平台									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>1268</span> </div> </div> <div class="row oe-box-item"> <a href="~/home/product/江汉中级人民法院虚拟化平台案例" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57abf3e33592d.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="~/home/product/江汉中级人民法院虚拟化平台案例">江汉中级人民法院虚拟化平台案例</a> </h1>  保证中院及基层人民法院审判管理业务系统和数据存储的高可用性和安全稳定，提高服务器设备的资源利用率，自动化管理维护									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>902</span> </div> </div> </div> <nav> <ul class="pager"><!-- 共有文章 5 篇 --></ul> </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
