@{
    ViewBag.Title = "联系我们";
    ViewBag.Message= "联系方式";
}
<h2> &nbsp;</h2>
<h3>@ViewBag.Message :</h3>

<address>
    地址：北京市通州区台湖北里29号楼11层1125室。<br />
    Q Q ： 350692542<br />
    电话：15801473663<br />
    邮箱： zgnzw@126.com<br />
    经理： 聂立     <br />
</address>

<address>
    <strong>发送邮件:</strong>   <a href="mailto: zgnzw@126.com"> zgnzw@126.com</a><br />
    <strong>发送邮件:</strong> <a href="mailto:350692542@qq.com">350692542@qq.com</a>
</address>