@{
    ViewBag.Title = "联系我们";
    ViewBag.Message= "联系方式";
}
<h2> &nbsp;</h2>
<h3>@ViewBag.Message :</h3>
<style>
    body {
        background-image: url(../Images/ztxhkj/LX.jpg);
    }
    address, h3 {
        color: white;
    }
    a:hover {
        color: white;
      text-decoration:none;
    }
</style>
<address>
    地址：北京市通州区台湖北里29号楼3层328室。<br />
    Q Q ： 350692542<br />
    座机：010-59432225<br />
    电话：15801473663<br />
    邮箱：zgnzw@zgztxh.com<br />
    经理： 聂智文     <br />
</address>

<address>
    <strong>发送邮件:</strong>   <a href="mailto:zgnzw@zgztxh.com">zgnzw@zgztxh.com</a><br />
    <strong>发送邮件:</strong> <a href="mailto:ztxh@zgztxh.com">ztxh@zgztxh.com</a>
</address>

    <style>
        /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
        ::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            background-color: #f1f1f1;
        }
        /*定义滑块 内阴影+圆角*/
        ::-webkit-scrollbar-thumb {
            background-color: #b2b2b2;
            width: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            border-radius: 16px;
        }
    </style>


    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=BPPrdn0rN6iz2l1o97PohYt2Q7aOT9lW"></script>
    <script type="text/javascript">
function initBaiduMap(){
	var mapZoom 	= 17 ,
		winInfo = "北京中泰祥和科技有限公司" ,//输入的内容作为JS的字符串需要调用这个方法 by jser
		mapX 		= 116.64905 ,
		mapY        = 39.843569 ,
		overlayX    = 116.64905 ,
		overlayY    = 39.843569 ;

	var map = new BMap.Map("mapContainer310"); // map实例
	var point = new BMap.Point( mapX, mapY); 			 // 坐标点
	map.centerAndZoom( point, mapZoom );

	var oPoint = new BMap.Point(overlayX ,  overlayY );
	var marker = new BMap.Marker(oPoint);

	map.enableScrollWheelZoom();				// 启用滚轮放大缩小
	map.disableDoubleClickZoom();				// 禁止双击放大
	map.addOverlay(marker);						// 添加一个小圆点
	//marker.enableDragging(true);				// 设置标注可拖拽
	var bMapNavigation = new BMap.NavigationControl();
	map.addControl( bMapNavigation );										// 添加一条鱼骨

	initInfoWindow(marker, winInfo);//添加信息窗

	function initInfoWindow(mMarker, infomation){
		if(!infomation){ return }
		//设置为0可以高度自适应
		var infoWindow = new BMap.InfoWindow( addScrollWrap( infomation ) , { width:236, height:0, title:'', enableAutoPan: false });						// 创建信息窗口对象
		mMarker.openInfoWindow(infoWindow);
		mMarker.addEventListener('click', function(e) {
			if( infoWindow.isOpen() ){
				this.closeInfoWindow();
			} else {
				this.openInfoWindow(infoWindow);
			}
		});
	}
}
function addScrollWrap(info){//2.0的信息弹窗不支持滚动条，手工包装一个可以带滚动条的容器 by jser

	if(info){
		info =  ('<div style="word-wrap:break-word;padding:0 7px;">'+ info +'</div>');
	}

	return info;
}
function initGoogleMap(){
	//获取承载谷歌地图的容器
	var container = document.getElementById('mapContainer310');
	var myLatLng = new google.maps.LatLng( 113.33254255767213,23.133158856784426);
	var myOverLatLng = new google.maps.LatLng( 113.33254255767213,23.133158856784426);
	//创建谷歌地图
	var googleMap = new google.maps.Map(container,
					{draggable : true,
					scrollwheel : false,
					zoom : 16,
					streetViewControl: false,
					center:myOverLatLng,
					scaleControl: true,
					mapTypeId : google.maps.MapTypeId.ROADMAP});
	//创建标记
	marker = new google.maps.Marker({map : googleMap,position:myLatLng,animation: google.maps.Animation.DROP,
										draggable : true});
	marker.setMap(googleMap);
	var infoWin = new google.maps.InfoWindow({content:"北京中泰祥和科技有限公司",width:"auto",height:"auto"});
	infoWin.open(googleMap,marker);
}
function loadMapError(){
	var mapContainer = $('#mapContainer310');
	mapContainer.css({ color: 'red', position: 'relative', textAlign: 'center' });
	var msg = $('<div>').css({ position: 'absolute', top:'50%', width:'100%' }).text('加载地图失败，请刷新重试');
	mapContainer.append( msg );
}
$(function(){
	var hasCatchExp = false,
		mapType     = 1,
		useGoogle   = (mapType == 2),
		useBaidu    = (mapType == 1);

	if (hasCatchExp) {
		Fai.ing("当前设置的坐标数据有问题，为保证百度API正常使用，现已重置为默认坐标。请您联系客服处理。", true);
	}

	if(useBaidu){
		if( typeof BMap == 'undefined' ){
			loadMapError();
		}else{
			initBaiduMap();
		}
	}

	if(useGoogle){
		var G = window.google,
			googleExist = !!( G && G.maps && G.maps.Map );//转boolean值，否则会在google下会拿到一个obj by jser 2017-9-11

		if( !googleExist ){
			loadMapError();
		}else{
			initGoogleMap();
		}
	}

});
    </script>

    <div id="mapContainer310" style="height:300px; width:750px;"></div>
