@{
    ViewBag.Title = "北京中泰祥和科技有限公司";
}
<style>
    img {
        max-height: 388px;
        max-width:100%;
        min-height:206px;
    }
    #anli img {
        max-width: 180px;
        max-height: 120px;
        float: left;
        padding: 6px 10px 10px 0px
    }
</style>
<script>
    setInterval(function () {
        $("#banner > div").toggle();
    }, 6666);
    function getMore(sid, obj)
    {
        $("#" + sid).toggle();
        if ($("#" + sid).is(":hidden")) { 
            $(obj).html("查看更多 &raquo;");
        }
        else
        {
            $(obj).html("收起 &laquo;");
        }
    }
</script>
@*<div class="jumbotron" >
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
<div id="banner" style="padding-top:61px;text-align:center;">
    <div style="display:none">
        <img src="~/Images/ztxhkj/oseasy.png" />
    </div>
    <div>
        <img src="~/Images/ztxhkj/中泰祥和安全云桌面.jpg" />
    </div>
   
</div>
<h1>成功案例：</h1>
<hr />
<div id="anli" class="row">
    <div class="col-md-4">
        <h3>高校桌面云机房管理完美解决方案</h3>
        <p>
           <img src="~/Images/ztxhkj/机房.jpg" />&nbsp; &nbsp;&nbsp;   2012年11月底，我公司凭借一流的技术设计方案，已经完善的售后服务体系赢得了专家们和用户的信赖，建设了当时高校桌面云管理最智能的解决方案---北京联合大学五个机房由服务器统一管理的建设项目。<br />
            <div id="more1" style="display:none">
                整个项目硬件包括4台服务器，2台高端光纤存储器，1台核心以太网交换机，310个客户端，实现了集中部署和统一运维，让机房管理变得如此简单。<br />
                中泰祥和桌面云价值：<br />
                1， 大规模统一部署电脑系统，提高部署效率，降低部署成本；<br />
                2， 集中进行软件安装和维护管理，极大地提高维护管理的快捷性，降低维护运营时间。<br />
            </div>
        </p>
        <p><a href="javascript:void(0)" onclick="getMore('more1', this)" class="btn btn-default">查看更多 &raquo; </a></p>
    </div>
    <div class="col-md-4">
        <h3>中医药研究所服务器虚拟化系统</h3>
        <p>
            <img src="~/Images/ztxhkj/云桌面虚拟化网络架构.jpg" />&nbsp; &nbsp;&nbsp; 
            我司与2011年11月份为中国中医药研究所建设了服务器虚拟化系统，该院原来的IT系统是基于传统pc，不方便集中存储备份。随着信息系统的建设，桌面计算以成为信息系统架构中的瓶颈。因此为了简化客户端环境，实施集中化部署、管理和运维，vmwaerview桌面虚拟化是有效解决方案。
           
    </div>
    <div class="col-md-4">
        <h3>中国气象局</h3>
        <p>
            <img src="~/Images/ztxhkj/服务器.jpg" />&nbsp; &nbsp;&nbsp;  
            我司与2011年承接气象局ibm服务器采购项目。
           
    </div>
</div>
<hr />
<h1>合作院校：</h1>
@Html.Partial("wenziyun")