


@Styles.Render("~/Content/product.css")
@{
    ViewBag.Title = "OS-Easy vPC";
    ViewBag.KeyWords = "北京中泰祥和科技有限公司,智慧校园,教育云,云平台,云桌面,桌面云,桌面虚拟化,云课堂,云教室,服务器虚拟化,云计算,虚拟化，OS-Easy vPC";
    ViewBag.Description = "噢易云PC是一种基于云计算技术的办公桌面使用方式，用户可以通过任意云终端设备，随时、随地的访问在云端的办公桌面，突破了传统办公模式，实现了“灵活办公、高效办公、安全办公“的创新办公模式；噢易云PC能够提供专业的办公桌面云解决方案，可以满足政府、军队、公安、教育、金融、医疗、电信等行业，以及分支机构、呼叫中心等场景的办公需求，从而让用户IT管理更简单，办公更灵活。";
}
<div class="oe-product-detail">
    <div class="container">
        <div class="row"> <div class="col-md-12"> <ol class="breadcrumb"> <li><a href="@Url.Content("~/home/index")"><i class="fa fa-home"></i> 首页</a></li> <li><a href="@Url.Content("~/home/product")">产品</a></li> <li class="active">OS-Easy vPC</li> </ol> </div> </div> <div class="row">
            <div class="col-md-12 oe-container">
                <div class="oe-banner-area">
                    <div class="col-md-6 oe-overview">
                        <h1>OS-Easy vPC</h1> <hr>
                        噢易云PC是一种基于云计算技术的办公桌面使用方式，用户可以通过任意云终端设备，随时、随地的访问在云端的办公桌面，突破了传统办公模式，实现了“灵活办公、高效办公、安全办公“的创新办公模式；噢易云PC能够提供专业的办公桌面云解决方案，可以满足政府、军队、公安、教育、金融、医疗、电信等行业，以及分支机构、呼叫中心等场景的办公需求，从而让用户IT管理更简单，办公更灵活。
                    </div> <div class="oe-photo-frame01 hidden-xs"> <div class="oe-banner-item" style="background-image: url('../../Images/ztxhkj/product/57985486f1a1d.jpg')"></div> </div>
                </div> <div class="oe-content">
                    <div class="col-md-12">
                        <h2 data-anchor-id="qqt2" id="架构及组件" style="white-space: normal; widows: 1;">
                            架构图
                        </h2> <p data-anchor-id="votm" style="white-space: normal; widows: 1;"> <img src="~/Images/ztxhkj/product/57a43754be974.jpg" title="云PC-架构图.jpg" alt="云PC-架构图.jpg"> </p> <h2 data-anchor-id="0o69" id="应用场景" style="white-space: normal; widows: 1;">
                            应用场景
                        </h2> <p data-anchor-id="h9gb" style="white-space: normal; widows: 1;"> <img src="~/Images/ztxhkj/product/57a4376292062.jpg" title="云PC-应用场景.jpg" alt="云PC-应用场景.jpg"> </p> <h2 data-anchor-id="c5xf" id="客户价值" style="widows: 1;">
                            产品特点
                        </h2> <table align="center">
                            <tbody>
                                <tr class="firstRow">
                                    <td valign="middle" style="word-break: break-all; border-color: rgb(221, 221, 221);" align="center"> <p> <img src="~/Images/ztxhkj/product/57a40b7eda1ab.jpg" title="云PC_01 .jpg" alt="云PC_01 .jpg"> </p> </td>
                                    <td valign="middle" style="word-break: break-all; border-color: rgb(221, 221, 221); padding-left:100px; width:100%;" width="634" align="left">
                                        <p style="margin-bottom:6px;">
                                            —终端无数据：桌面数据存放于数据中心，终端只是画面显示和鼠标键盘的输入。
                                        </p> <p style="margin-bottom:6px;">
                                            <span class="Apple-tab-span" style="white-space:pre"></span>—外设接口管控：支持终端USB接口的管理，防止数据拷贝外泄。
                                        </p> <p style="margin-bottom:6px;">
                                            <span class="Apple-tab-span" style="white-space:pre"></span>—桌面备份恢复：支持桌面操作系统和用户数据的备份恢复，保证桌面安全性。
                                        </p> <p style="margin-bottom:6px;">
                                            <span class="Apple-tab-span" style="white-space:pre"></span>—内外网隔离：支持内外网办公桌面的逻辑隔离、物理隔离等多种部署方式。
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table> <table align="center" style=" margin-top:22px;">
                            <tbody>
                                <tr class="firstRow">
                                    <td valign="middle" style="word-break: break-all; border-color: rgb(221, 221, 221);" align="center"> <img src="~/Images/ztxhkj/product/57a40b87cbe3a.jpg" title="云PC_02.jpg" alt="云PC_02.jpg"> </td>
                                    <td valign="middle" style="word-break: break-all; border-color: rgb(221, 221, 221); padding-left:100px; width:100%;" width="634" align="left">
                                        <p style="margin-bottom:6px;">                    —支持多种终端：支持瘦客户端、笔记本电脑、传统PC等多种终端设备接入。<br> </p> <p style="margin-bottom:6px;">
                                            —随时随地接入：只要在办公网覆盖的地方，就能接入工作桌面办公。
                                        </p> <p style="margin-bottom:6px;">
                                            —单用户多桌面：一个用户可拥有多个不同的桌面，桌面间无需关机就可以切换。
                                        </p> <p>
                                            —多种桌面模式：提供专属桌面和公共桌面，满足个性化和标准化办公需求。
                                        </p> <p style="margin-bottom:6px;">
                                            —按需灵活扩容：可以根据用户需求，灵活的分配资源，保障用户体验。
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table> <table align="center" style=" margin-top:23px;">
                            <tbody>
                                <tr class="firstRow">
                                    <td valign="middle" style="word-break: break-all; border-color: rgb(221, 221, 221);" align="center"> <img src="~/Images/ztxhkj/product/57a40b918f0c7.jpg" title="云PC_03.jpg" alt="云PC_03.jpg"> </td>
                                    <td valign="middle" style="word-break: break-all; border-color: rgb(221, 221, 221); padding-left:100px; width:100%" width="634" align="left">
                                        <p style="margin-bottom:6px;">                    —高效运维：所有运维管理操作均可在单一的图形化管理平台完成，无需现场支持。<br> </p> <p style="margin-bottom:6px;">
                                            —闪电部署：采用标准办公模板，通过链接克隆技术快速创建用户所需桌面。
                                        </p> <p style="margin-bottom:6px;">
                                            —快速交付：根据用户桌面需求，通过网络快速把桌面交付给终端用户。
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table> <table align="center" style=" margin-top:48px;">
                            <tbody>
                                <tr class="firstRow">
                                    <td valign="middle" style="word-break: break-all; border-color: rgb(221, 221, 221);" align="center"> <img src="~/Images/ztxhkj/product/57a40b98ba899.jpg" title="云PC_04 .jpg" alt="云PC_04 .jpg"> </td>
                                    <td valign="middle" style="word-break: break-all; border-color: rgb(221, 221, 221); padding-left:100px; width:100%;" width:634="" align="left">
                                        <p style="margin-bottom:6px;">                    —降低能耗：低功耗云终端（15W）相比传统PC（250W），能耗节约90%。<br> </p> <p style="margin-bottom:6px;">
                                            —终端生命周期更长：云终端设备生命周期可达6-10年，传统设备则为3-5年。
                                        </p> <p style="margin-bottom:6px;">
                                            —绿色环保：云终端采用无风扇设计，无噪音，辐射小，打造绿色办公环境。&nbsp;
                                        </p> <p style="margin-bottom:6px;">
                                            —整体运维成本：云终端采用最先进的硬件设计，免维护，减少运维人力和物力成本。
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table> <h2 data-anchor-id="c5xf" id="客户价值" style="white-space: normal;">
                            产品优势
                        </h2> <div class="oe-product-vpc"> <div class="oe-vpc-youshi"> <span style="  display: block;  background-color: #de3a0b;  width: 15px;  height: 15px;  border-radius: 26px; position: absolute; top:0px; left:-7px;"></span> <p style="color:#db3b0b; font-size:16px; margin:0px; padding-bottom: 10px;">国产自主研发</p> <p style="margin:0px;">噢易致力于国产虚拟化软件的自主研发，树立云产品自主品牌，拥有百多人的专业研发和技术团队，从而全面保障了产品的创新性、稳定性和可靠性。</p> </div> <div class="oe-vpc-youshi"> <span style="  display: block;  background-color: #de3a0b;  width: 15px;  height: 15px;  border-radius: 26px; position: absolute; top:0px; left:-7px;"></span> <p style="color:#db3b0b; font-size:16px; margin:0px; padding-bottom: 10px;">外设兼容性强</p> <p style="margin:0px;">噢易产品基于Linux底层的开源平台开发，完美继承了linux对外设的驱动支持能力，相对于同类产品能更好地与各种通用外接设备兼容。</p> </div> <div class="oe-vpc-youshi"> <span style="  display: block;  background-color: #de3a0b;  width: 15px;  height: 15px;  border-radius: 26px; position: absolute; top:0px; left:-7px;"></span> <p style="color:#db3b0b; font-size:16px; margin:0px; padding-bottom: 10px;">定制化开发</p> <p style="margin:0px;">噢易拥有本地化的研发和技术支持团队，可以根据客户的不同需求进行定制化的开发，相对于竞争对手具有更大的灵活性。</p> </div> <div class="oe-vpc-youshi"> <span style="  display: block;  background-color: #de3a0b;  width: 15px;  height: 15px;  border-radius: 26px; position: absolute; top:0px; left:-7px;"></span> <p style="color:#db3b0b; font-size:16px; margin:0px; padding-bottom: 10px;">整体解决方案</p> <p style="margin:0px;">噢易提供整体化办公桌面云解决方案，完全以客户需求为中心，本着为客户解决问题的态度，为客户提供前期咨询规划、基础硬件（云服务器、瘦终端/云终端一体机）、桌面虚拟化软件部署等，并提供与现有业务业务系统的联调服务。</p> </div> <div class="oe-vpc-youshi"> <span style="  display: block;  background-color: #de3a0b;  width: 15px;  height: 15px;  border-radius: 26px; position: absolute; top:0px; left:-7px;"></span> <p style="color:#db3b0b; font-size:16px; margin:0px; padding-bottom: 10px;">原厂售后服务</p> <p style="margin:0px;">噢易以“对客户负责”的原则，通过规范化的服务流程，完善的售后服务体系，为客户提供高效、优质、及时的原厂服务，保证用户使用过程的服务需求。</p> </div> </div>
                    </div>
                </div> <div class="clearfix"></div> <div class="col-md-2"> </div>
            </div>
        </div>
    </div>
</div>