

@Styles.Render("~/Content/product.css")
@{
    ViewBag.Title = "OS-Easy BI";
}
<div class="oe-product-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="@Url.Content("~/home/index")"><i class="fa fa-home"></i> 首页</a></li>
                    <li><a href="@Url.Content("~/home/product")">产品</a></li>
                    <li class="active">OS-Easy BI</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 oe-container">
                <div class="oe-banner-area">
                    <div class="col-md-6 oe-overview">
                        <h1>OS-Easy BI</h1>
                        <hr>
                        OEBI大数据分析展示平台（OS-Easy Business Intelligence）是一个可轻松搭建面向企业的决策分析平台，整合各项企业需求，提供全方位而又灵活的数据分析应用解决方案。我们的平台提供了强大高效的图形化报表功能，业务关键数据监控的管理看板（Dashboard）和随时随地的移动报表应用，以及全局的机构角色管理、报表样式管理、数据管理、资源管理与权限控制等平台管理功能，可充分满足企业用户对业务数据灵活分析与决策辅助的需求。
                    </div>
                    <div class="oe-photo-frame01 hidden-xs">
                        <div class="oe-banner-item" style="background-image: url('../../Images/ztxhkj/product/5860b926b6452.jpg')"></div>
                    </div>
                </div>
                <div class="oe-content">
                    <div class="col-md-12">
                        <h2>平台特点<br></h2><table style="margin:20px 0px;"><tbody><tr class="firstRow"><td><img style="width:100%;margin-top:-35px;" src="../../Images/ztxhkj/product/5939f6cf0479a.png" title="01-1.png" alt="01-1.png"></td><td style="padding: 0px 15px; word-break: break-all;"><p><strong>简单交付 极致易用</strong></p>成本和上线周期仅为传统BI的四分之一，100M安装程序可在几分钟内安装完成；打破传统BI软件建⼆次表、Cube、复杂模型的漫长流程，直接基于细节数据，通过人性化拖拽快速生成分析报表。</td><td style="width:50px;"><br></td><td><img style="width:100%;margin-top:-35px;" src="../../Images/ztxhkj/product/5939fc4608b8e.png" title="01-1.png" alt="01-1.png"></td><td style="padding: 0px 15px; word-break: break-all;"><p><strong>移动跨屏</strong></p>五缝支持 PC、iPhone、iPad和Android，并在这些终端设备上保持一致、易用的用户体验。您可以随时随地通过移动设备进行数据分析，从而做出正确决策。基于H5的前端框架可与微信集成<span style="color:#f7f8fa;">123456</span></td></tr><tr><td colspan="5" style="height:35px;"><br></td></tr><tr class="firstRow"><td><img style="width:100%;margin-top:-35px;" src="../../Images/ztxhkj/product/5939fdfdc4fdd.png" title="01-1.png" alt="01-1.png"></td><td style="padding: 0px 15px; word-break: break-all;"><p><strong>轻松上手的深度分析</strong></p>无需技术背景，业务人员可自服务完成深度分析需求。通过聚类、分类、回归、时序等算法进行数据预测和数据关联性洞察，实现对数据含义和价值的深度挖掘。<span style="color:#f7f8fa;">123456</span></td><td style="width:50px;"><br></td><td><img style="width:100%;margin-top:-35px;" src="../../Images/ztxhkj/product/5939fe3e4ef00.png" title="01-1.png" alt="01-1.png"></td><td style="padding: 0px 15px;"><p><strong>令人惊讶的高性能</strong></p>秒级计算，最久的时间来自于您的眨眼；可单机部署，亦可基于PC服务器进行分布式扩展，利用列存储和内存计算，实现从千万到百亿级数据分析的秒级响应；如此卓越的性能，为您支撑更多的分析维度和更大的数据范围。</td></tr></tbody></table><h2>平台优势</h2><p style="text-align: center;"><img src="../../Images/ztxhkj/product/59390bc34b3e7.png" title="平台优势.png" alt="平台优势.png"></p><h2>系统功能<br></h2><p style="text-align: center; margin-bottom: 50px;"><img src="../../Images/ztxhkj/product/59390cda5b5ff.png" title="系统功能.png" alt="系统功能.png"></p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>

