

@Styles.Render("~/Content/product.css")
@{
    ViewBag.Title = "OS-Easy ETL";
}
<div class="oe-product-detail">
    <div class="container">
        <div class="row"> <div class="col-md-12"> <ol class="breadcrumb"> <li><a href="@Url.Content("~/home/index")"><i class="fa fa-home"></i> 首页</a></li> <li><a href="@Url.Content("~/home/product")">产品</a></li> <li class="active">OS-Easy ETL</li> </ol> </div> </div> <div class="row">
            <div class="col-md-12 oe-container">
                <div class="oe-banner-area">
                    <div class="col-md-6 oe-overview">
                        <h1>OS-Easy ETL</h1> <hr>
                        OEETL大数据采集交互平台（OS-Easy Extract-Transform-Load）， 是⼀款能够对来自不同数据源和不同结构形成的海量数据进行实时采集、 传输、 处理加工与交互整合的高效工具。 主要应用在数据采集抽取、 数据容灾、 数据集中与分发、 实时数据共享交换等工作场景。 能够对结构化和非结构化数据， 进行自动化的传输和加工转换。 对收集的数据进行清洗、 富集、 提取、 解析， 真正有效为用户解决现有信息化系统中的多源异构数据融合的问题。
                        大数据采集交互平台具有业界最强的多源异构数据实时采集交互能力，架构上采用非侵入式，集中管控，对业务系统无干扰，大幅度降低运维难度和成本，是目前业内领先的数据传输和采集产品。同时大数据采集交互平台具有可视化的统⼀管理运维界面，所见即所得，提供高易用、低成本的管理运维体验。
                    </div> <div class="oe-photo-frame01 hidden-xs"> <div class="oe-banner-item" style="background-image: url('../../Images/ztxhkj/product/593a1650c0533.jpg')"></div> </div>
                </div> <div class="oe-content"> <div class="col-md-12"> <h2>平台特点</h2><p style="text-align: center;"><br></p><table><tbody><tr class="firstRow"><td><p style="text-align:center"><img src="../../Images/ztxhkj/product/593a06fecb8d0.png" title="特点01.png" alt="特点01.png"></p></td><td style="width:50px;"><br></td><td><p style="text-align:center"><img src="../../Images/ztxhkj/product/593a0720b4c4c.png" title="特点02.png" alt="特点02.png"></p></td></tr><tr><td><p style="text-align:center;"><strong>实时、高速、海量数据交互</strong></p><p>实时感知数据源数据变化，秒级数据同步，在用户真实业务环境下可达100GB/小时高速实时交互，有效提高数据流通的时效性。既可运行于物联网的小型数据源，也可运行当前企业数据中的大型集群，能够有效支持DT时代下的数据整合与数据预处理。</p></td><td><br></td><td><p style="text-align:center;"><strong>全源、异构数据支撑</strong></p><p>全面支持结构化、非结构化及半结构化数据类型。数据源不仅可以支持绝大多数关系型数据库，还支持来自不同格式、架构、协议、速度和大小的动态、异类和分布式数据源。例如机器/传感器、地理位置设备、点击流、文件、社交订阅源、日志文件、图片和视频等。</p></td></tr><tr><td colspan="3" style="height:35px;"><br></td></tr><tr class="firstRow"><td><p style="text-align:center"><img src="../../Images/ztxhkj/product/593a072e2f4be.png" title="特点03.png" alt="特点03.png"></p></td><td><br></td><td><p style="text-align:center"><img src="../../Images/ztxhkj/product/593a073bcbbdd.png" title="特点04.png" alt="特点04.png"></p></td></tr><tr><td><p style="text-align:center;"><strong>无插件、非侵入、安全无干扰</strong></p><p>大数据采集交互平台采取中间部署架构，所有相关组件均运行在独立的服务器中，不在数据源端和目标端安装任何插件。只要网络可达，即可实现数据捕获与装载，对网络宽带需求低。无需进行定制化二次接口开发，对生产坏境改造少，对业务系统几乎没有影响和干扰。</p></td><td style="width:50px;"><br></td><td><p style="text-align:center;"><strong>全程可视化实现“眼神运维”</strong></p><p>大数据采集交互平台提供统一的数据管理配置平台，在可视化界面中对所有数据流转流程进行拖拽式的配置与管理，所见即所得。提供多维度可视化监控界面，自动错误告警及处理机制让用户做到“眼神运维”。从源端到目标端的安全型路由，提供用户授权和详细的实时可视化监管链与元数据。</p></td></tr></tbody></table><p style="text-align: center; margin: 60px 0px;"><img src="../../Images/ztxhkj/product/593a17a147480.png" title="001.png" alt="001.png"></p> </div> </div> <div class="clearfix"></div> <div class="col-md-2"> </div>
            </div>
        </div>
    </div>
</div>

