
@Styles.Render("~/Content/product.css")
@{
    ViewBag.Title = "OS-Easy Cloud";
}
<div class="oe-product-detail">
    <div class="container">
        <div class="row"> <div class="col-md-12"> <ol class="breadcrumb"> <li><a href="@Url.Content("~/home/index")"><i class="fa fa-home"></i> 首页</a></li> <li><a href="@Url.Content("~/home/product")">产品</a></li> <li class="active">OS-Easy Cloud</li> </ol> </div> </div> <div class="row">
            <div class="col-md-12 oe-container">
                <div class="oe-banner-area">
                    <div class="col-md-6 oe-overview">
                        <h1>OS-Easy Cloud</h1> <hr>
                        噢易云管理平台（简称：OS-Easy Cloud）提供运营管理、用户自助门户，帮助数据中心整合管理异构虚拟化资源池和分级单位的资源池，集中将这些资源（主机、硬盘、网络、防火墙、IP地址、交换机等）以服务的方式按需交付给用户使用，并按使用量和时间进行计量计费，实现IT基础设施层的私有云。
                        为政府、医疗、教育、企事业单位私有云用户提供按需定制、动态高效、灵活扩展、全面管理、稳定可靠的新一代超融合云计算IT业务部署和服务交付平台。
                    </div> <div class="oe-photo-frame01 hidden-xs"> <div class="oe-banner-item" style="background-image: url('../../Images/ztxhkj/product/579856ea28e9e.jpg')"></div> </div>
                </div> <div class="oe-content">
                    <div class="col-md-12">
                        <h2 data-anchor-id="bw39" id="os-easy-cloud解决的核心问题" style="white-space: normal;">
                            OS-Easy Cloud解决的核心问题"
                        </h2> <p style="margin:0px;"> <img src="~/Images/ztxhkj/product/57a45ffdbcb9e.jpg" style="" title="云管理平台-核心问题-01.jpg"> </p> <p style="margin:0px;"> <img src="~/Images/ztxhkj/product/57a45ffddb8d3.jpg" style="" title="云管理平台-核心问题-02.jpg"> </p> <p style="margin:0px;"> <img src="~/Images/ztxhkj/product/57a45ffdde93c.jpg" style="" title="云管理平台-核心问题-03.jpg"> </p> <h2 data-anchor-id="g4wr" id="服务器虚拟化和云平台区别" style="white-space: normal;">
                            服务器虚拟化和云平台区别
                        </h2> <p style="white-space: normal; text-align: center;"> <img src="~/Images/ztxhkj/product/57a93d3a1c3b3.jpg" title="噢易云管理平台_03.jpg" alt="噢易云管理平台_03.jpg"> </p> <h2 data-anchor-id="osze" id="os-easy-cloud介绍" style="white-space: normal;">
                            产品架构图
                        </h2> <p data-anchor-id="37h1" style="white-space: normal; text-align:center;"> <img src="~/Images/ztxhkj/product/57a46274edb47.jpg" title="云管理平台-产品架构.jpg" alt="云管理平台-产品架构.jpg"> </p> <h2 data-anchor-id="3zm4" id="os-easy-cloud产品特点" style="white-space: normal;">
                            OS-Easy Cloud产品特点
                        </h2> <table data-sort="sortDisabled" width="1098">
                            <tbody>
                                <tr class="firstRow"> <td style="padding-right:65px;" valign="top" rowspan="2" colspan="1" width="91"> <img src="~/Images/ztxhkj/product/57a4538c4a45f.jpg" title="云管理平台-遵循Openstack架构扩展.jpg" alt="云管理平台-遵循Openstack架构扩展.jpg"> </td> <td width="100%" valign="top" style="word-break: break-all; padding-left:20px;"> <strong style="color: rgb(227, 108, 9); white-space: normal;">遵循Openstack架构扩展</strong> </td> </tr>
                                <tr>
                                    <td width="615" valign="top" style="word-break: break-all;">
                                        <ul class=" list-paddingleft-2" style="list-style-type: disc;">
                                            <li>
                                                <p>
                                                    <strong>底层技术</strong>：基于开源OpenStack云架构J版本开发，紧跟技术潮流，持续扩展支持架构的新特性功能
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <strong>存储虚拟化</strong>：支持块存储（主流的IP SAN、FC SAN）、对象存储，以及分布式存储架构
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <strong>高可靠性</strong>：采用分布式设计核心模块，分布式部署扩展
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <strong>多区域支持</strong>：在云管理平台切换显示多个区域数据中心运行详细；各分部数据中心云平台可作为子云接入上级单位云平台，实现分布式管理。
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <strong>兼容性</strong>：核心技术不受厂商锁定，具有持续广泛的兼容性
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <strong>大规模集群支持</strong>：平滑扩张和缩减，支持超过1000台服务器、5000个虚拟机规模
                                                </p>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table> <table style="width:100%; margin-top:30px;" data-sort="sortDisabled" width="1098">
                            <tbody>
                                <tr class="firstRow"> <td style="padding-right:65px;" valign="top" rowspan="2" colspan="1" width="108"> <img src="~/Images/ztxhkj/product/57a4539d03884.jpg" title="云管理平台-异构虚拟化资源管理.jpg" alt="云管理平台-异构虚拟化资源管理.jpg"> </td> <td width="615" valign="top" style="word-break: break-all; padding-left:20px;"> <strong style="color: rgb(227, 108, 9); white-space: normal;"><strong style="color: rgb(227, 108, 9); white-space: normal;">异构虚拟化资源管理</strong></strong> </td> </tr>
                                <tr>
                                    <td width="100%" valign="top" style="word-break: break-all;">
                                        <ul class=" list-paddingleft-2" style="list-style-type: disc;">
                                            <li>
                                                <p>
                                                    将噢易服务器虚拟化作为底层计算节点，对外提供计算服务，并能充分利用高可用性（HA）功能。
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    可以接管VMware虚拟化资源池，以及KVM、Xen异构的虚拟化资源
                                                </p>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table> <table style="width:100%; margin-top:30px;" data-sort="sortDisabled" width="1098">
                            <tbody>
                                <tr class="firstRow"> <td style="padding-right:65px;" valign="top" rowspan="2" colspan="1" width="108"> <img src="~/Images/ztxhkj/product/57a453a93d80f.jpg" title="云管理平台-集中的门户视图.jpg" alt="云管理平台-集中的门户视图.jpg"> </td> <td valign="top" style="word-break: break-all; width:100%; padding-left:20px;" width="615"> <strong style="color: rgb(227, 108, 9); white-space: normal;"><strong style="color: rgb(227, 108, 9); white-space: normal;">集中的门户视图</strong></strong> </td> </tr>
                                <tr>
                                    <td valign="top" style="word-break: break-all; width:100%;" width="615">
                                        <ul class=" list-paddingleft-2" style="list-style-type: disc;">
                                            <li>
                                                <p>
                                                    统一管理门户：简化部署，提供统一运营管理平台，界面操作更友好，架构更稳定
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    两种类型租户门户：提供组织租户门户、个人租户门户两种视图门户，满足所有租户都有自己的一朵云
                                                </p>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table> <table style="width: 100%; margin-top:30px;" data-sort="sortDisabled" width="1098">
                            <tbody>
                                <tr class="firstRow"> <td style="padding-right:65px;" valign="top" rowspan="2" colspan="1" width="108"> <img src="~/Images/ztxhkj/product/57a453b188609.jpg" title="云管理平台-精准的运维服务.jpg" alt="云管理平台-精准的运维服务.jpg"> </td> <td valign="top" style="word-break: break-all; width: 100%; padding-left:20px;" width="615"> <strong style="color: rgb(227, 108, 9); white-space: normal;"><strong style="color: rgb(227, 108, 9); white-space: normal;">精准的运维服务</strong></strong> </td> </tr>
                                <tr>
                                    <td valign="top" style="word-break: break-all; width: 100%;" width="615">
                                        <ul class=" list-paddingleft-2" style="list-style-type: disc;">
                                            <li>
                                                <p>
                                                    <strong>多维度的资源概况</strong>：从管理员、租户对中维度分析，提供仪表盘、图表多种方式展现资源的现状
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <strong>资源监控</strong>：监控云主机的各项资源使用，并设置阈值报警，并通知管理员
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <strong>资源报表</strong>：按租户统计资源分配情况、资源使用率情况、用户产品使用情况，并可以导出Excel报表
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <strong>手机短信报警通知</strong>：提供邮件、手机短信、平台通知列表多种方式报警通知
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <strong>日志</strong>：操作日志、异常错误日志、登录日志
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <strong>工单受理</strong>：受理所有租户提交的工单支持
                                                </p>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table> <table style="width: 100%; margin-top:30px;" data-sort="sortDisabled" width="1098">
                            <tbody>
                                <tr class="firstRow"> <td style="padding-right:65px;" valign="top" rowspan="2" colspan="1" width="108"> <img src="~/Images/ztxhkj/product/57a453c656041.jpg" title="云管理平台-运营中心模块.jpg" alt="云管理平台-运营中心模块.jpg"> </td> <td valign="top" style="word-break: break-all; width: 100%; padding-left:20px;" width="615"> <strong style="color: rgb(227, 108, 9); white-space: normal;"><strong style="color: rgb(227, 108, 9); white-space: normal;">运营中心模块</strong></strong> </td> </tr>
                                <tr>
                                    <td valign="top" style="word-break: break-all; width: 100%;" width="615">
                                        <ul class=" list-paddingleft-2" style="list-style-type: disc;">
                                            <li>
                                                <p>
                                                    <strong>审批和流程管理</strong>：审批所有租户提交的资源审批，并自定义审批流程
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <strong>产品管理</strong>：产品编排和管理，维护租户的产品资源
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <strong>计费管理</strong>：资源定价、计费策略制定
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <strong>消费管理</strong>：管理有租户的资源消费情况和消费记录
                                                </p>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table> <table style="width: 100%; margin-top: 30px; margin-bottom: 45px;" data-sort="sortDisabled" width="1098">
                            <tbody>
                                <tr class="firstRow"> <td style="word-break: break-all; padding-right:65px; " valign="top" rowspan="2" colspan="1" width="91"> <img src="~/Images/ztxhkj/product/57a453dfbae41.jpg" title="云管理平台-灵活定制化借口.jpg" alt="云管理平台-灵活定制化借口.jpg"> </td> <td valign="top" style="word-break: break-all; width: 100%; padding-left:20px;" width="650"> <strong style="color: rgb(227, 108, 9); white-space: normal;"><strong style="color: rgb(227, 108, 9); white-space: normal;">灵活定制化接口</strong></strong> </td> </tr>
                                <tr>
                                    <td valign="top" style="word-break: break-all; width: 100%;" width="650">
                                        <ul class=" list-paddingleft-2" style="list-style-type: disc;">
                                            <li>
                                                <p>
                                                    按需定制：按行业和业务特性灵活定制功能，包括：资源审批流程、身份认证、单点登录、权限管理、资源报表、计费方式、结算方式、产品管理、一卡通等
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    项目整合交付速度：项目整合和定制处理的迭代周期短，交付速度在同行业类最快
                                                </p>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> <div class="clearfix"></div> <div class="col-md-2"> </div>
            </div>
        </div>
    </div> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="oe-banner-area-style03 swiper-container-horizontal">
                    <h2>相关案例</h2> <div class="swiper-wrapper">
                                      <a href="~/home/AnLiDetail/随州市公安云平台建设案例">
                                          <div class="oe-pic-container" style="width: 308.333px;background-image: url('../../Images/ztxhkj/product/57ac0a2414524.jpg')"></div> <h3>随州市公安云平台建设案例</h3>
                                      </a>
                         </div> <div class="swiper-button-next swiper-button-disabled"></div> <div class="swiper-button-prev swiper-button-disabled"></div>
                </div>
            </div>
        </div>
    </div>
</div>