

@Styles.Render("~/Content/product.css")
@{
    ViewBag.Title = "OS-Easy vServer";
}
<div class="oe-product-detail">
    <div class="container">
        <div class="row"> <div class="col-md-12"> <ol class="breadcrumb"> <li><a href="@Url.Content("~/home/index")"><i class="fa fa-home"></i> 首页</a></li> <li><a href="@Url.Content("~/home/product")">产品</a></li> <li class="active">OS-Easy vServer</li> </ol> </div> </div> <div class="row">
            <div class="col-md-12 oe-container">
                <div class="oe-banner-area">
                    <div class="col-md-6 oe-overview">
                        <h1>OS-Easy vServer</h1> <hr>
                        采用服务器虚拟化技术，将基础架构资源进行整合，实现了计算资源、存储资源、网络资源的虚拟化，并通过统一的WEB视图接口，对这些虚拟资源进行集中管理和调度，构建高弹性、高集中、高稳定的IT基础架构。
                    </div> <div class="oe-photo-frame01 hidden-xs"> <div class="oe-banner-item" style="background-image: url('../../Images/ztxhkj/product/57985cb460a45.jpg')"></div> </div>
                </div> <div class="oe-content">
                    <div class="col-md-12">
                        <h2 data-anchor-id="xpvo" id="os-easy-vserver解决的核心问题" style=" white-space: normal;">
                            OS-Easy vServer解决的核心问题
                        </h2> <table width="-800" align="center">
                            <tbody>
                                <tr class="firstRow">
                                    <td width="400" valign="top" style="word-break: break-all;">
                                        <ul class=" list-paddingleft-2" style="list-style-type: disc;">
                                            <li>
                                                <p>
                                                    解决服务器资源分散，管理维护困难问题；
                                                </p>
                                            </li>
                                            <li>
                                                <p style="white-space: normal;">
                                                    解决服务器不断老化无法支撑新型业务需求问题；
                                                </p>
                                            </li>
                                            <li>
                                                <p style="white-space: normal;">
                                                    解决数据中心资源使用率不均衡问题；
                                                </p>
                                            </li>
                                            <li>
                                                <p style="white-space: normal;">
                                                    解决单服务器单应用，资源浪费问题；
                                                </p>
                                            </li>
                                            <li>
                                                <p style="white-space: normal;">
                                                    解决由于硬件故障，导致业务中断和数据丢失问题；
                                                </p>
                                            </li>
                                            <li>
                                                <p style="white-space: normal;">
                                                    解决高峰期业务自动负载均衡问题；
                                                </p>
                                            </li>
                                        </ul>
                                    </td>
                                    <td width="400" valign="top" style="word-break: break-all;">
                                        <ul class=" list-paddingleft-2" style="list-style-type: disc;">
                                            <li>
                                                <p style="white-space: normal;">
                                                    解决远程操作和维护，不用去机房排查的问题；
                                                </p>
                                            </li>
                                            <li>
                                                <p style="white-space: normal;">
                                                    解决新业务上线，部署周期长的问题
                                                </p>
                                            </li>
                                            <li>
                                                <p style="white-space: normal;">
                                                    解决核心数据存储安全和容灾备份问题
                                                </p>
                                            </li>
                                            <li>
                                                <p style="white-space: normal;">
                                                    解决资源集中监控、业务运行使用瓶颈评估的问题
                                                </p>
                                            </li>
                                            <li>
                                                <p style="white-space: normal;">
                                                    解决硬件、软件、业务升级扩展的问题
                                                </p>
                                            </li>
                                            <li>
                                                <p style="white-space: normal;">
                                                    ……
                                                </p>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table> <p style="text-align: center;"> <br> </p> <p style="text-align:center;"> <img src="~/Images/ztxhkj/product/57a2fb373c988.jpg" style="" title="vServer-传统数据中心.jpg"> </p> <p style="text-align: center; margin-top:80px; margin-bottom:40px;"> <img src="~/Images/ztxhkj/product/57ba604ad9508.jpg" title="虚拟化数据中心.jpg" alt="虚拟化数据中心.jpg"> </p> <table border="0" width="90%;" style="margin:40px auto;">
                            <tbody>
                                <tr class="firstRow">
                                    <td rowspan="2" scope="col" style="width:80px;"> <img src="~/Images/ztxhkj/product/57b812913089c.png" title="abc.png" alt="abc.png"> </td>
                                    <td style=" font-size: 16px; color: #de3a0b; font-weight: bold;">
                                        规范
                                    </td>
                                    <td rowspan="2" scope="col" style="width:80px;"> <img src="~/Images/ztxhkj/product/57b8178987756.jpg" title="集中.jpg" alt="集中.jpg"> </td>
                                    <td style=" font-size: 16px; color: #de3a0b; font-weight: bold;">
                                        集中
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:345px;">
                                        所有服务器、存储、网络、安全设备规划整齐有序
                                    </td>
                                    <td>
                                        远程集中管控，设备、网络、业务和资产信息一目了然
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2"> <img src="~/Images/ztxhkj/product/57b8179ca6dee.jpg" title="稳定.jpg" alt="稳定.jpg"> </td>
                                    <td style=" font-size: 16px; color: #de3a0b; font-weight: bold;">
                                        稳定
                                    </td>
                                    <td rowspan="2"> <img src="~/Images/ztxhkj/product/57b817accf13a.jpg" title="防御.jpg" alt="防御.jpg"> </td>
                                    <td style=" font-size: 16px; color: #de3a0b; font-weight: bold;">
                                        防御
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        IT架构稳定可靠，业务连续、数据可恢复
                                    </td>
                                    <td>
                                        有应急预案措施，容灾备份体系
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2"> <img src="~/Images/ztxhkj/product/57b817bc67bfc.jpg" title="弹性.jpg" alt="弹性.jpg"> </td>
                                    <td style=" font-size: 16px; color: #de3a0b; font-weight: bold;">
                                        弹性
                                    </td>
                                    <td rowspan="2"> <img src="~/Images/ztxhkj/product/57b817cae2e8b.jpg" title="扩展.jpg" alt="扩展.jpg"> </td>
                                    <td style=" font-size: 16px; color: #de3a0b; font-weight: bold;">
                                        扩展
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        资源弹性调度，按需取用
                                    </td>
                                    <td>
                                        满足业务更新换代和数据爆发的需求
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2"> <img src="~/Images/ztxhkj/product/57b817dc59fb5.jpg" title="自动化.jpg" alt="自动化.jpg"> </td>
                                    <td style=" font-size: 16px; color: #de3a0b; font-weight: bold;">
                                        自动
                                    </td>
                                    <td rowspan="2">
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        自动化处理故障，无需人为干预
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table> <!--<p style="text-align:center; margin-top:55px;"> <img src="~/Images/ztxhkj/product/57a2fb3753107.jpg" style="" title="vServer-虚拟化数据中心.jpg"/> </p>--> <h2 data-anchor-id="lp6a" id="os-easy-vserver介绍" style=" white-space: normal;">
                            OS-Easy vServer介绍
                        </h2> <p data-anchor-id="z9dd" style=" font-size: 14px; white-space: normal;">
                            噢易服务器虚拟化平台（简称：OS-Easy vServer）是完整的服务器虚拟化和工作负载交付管理软件，包含了虚拟化的所有重要因素，采用虚拟化技术，将硬件资源进行整合，实现了计算资源、存储资源、网络资源的虚拟化。并通过集中统一的GUI入口，对这些虚拟资源进行集中管理和调度，协助IT机构和管理部门构建高效、安全、稳定、更简易的虚拟化数据中心。产品由两个部分组成：
                        </p> <ul class=" list-paddingleft-2" style="list-style-type: disc;">
                            <li>
                                <p>
                                    计算节点（Computing Node）
                                </p>
                            </li>
                            <li>
                                <p>
                                    以内核虚拟机技术KVM为基础，为其专门定制精简的底层平台，部署在实体物理服务器上，对外提供计算资源服务。
                                </p>
                            </li>
                            <li>
                                <p>
                                    控制节点（Control Node）
                                </p>
                            </li>
                            <li>
                                <p>
                                    相当于数据中心的主控中心，运行着核心服务，主导着整个资源的调度和执行。对IT管理员提供了单一的GUI入口（虚拟化管理平台），可实现对资源池、服务器、虚拟机、数据存储、网络等功能组件进行管理，远程实现对整个数据中心的运维。
                                </p>
                            </li>
                        </ul> <p data-anchor-id="z9dd" style=" white-space: normal; text-align: center;"> <img src="~/Images/ztxhkj/product/57a2fc9a5dd85.jpg" title="vServer-介绍.jpg" alt="vServer-介绍.jpg"> </p> <h2 data-anchor-id="n9t6" id="os-easy-vserver产品优势">
                            OS-Easy vServer产品优势
                        </h2> <h1 style="margin-left:25px"> <span style="font-size:21px;line-height:240%;"></span> </h1> <p> <span style="color: rgb(222, 59, 10); font-size: 17px;">基本优势：保证虚拟化功能完整</span> </p> <p>
                            覆盖中、大型数据中心所有应用和管理需求，包括：虚拟化计算、虚拟化网络、虚拟化存储、容灾备份、在线迁移、安全管理、虚拟机HA、负载均衡、实时监控、资源统计、告警策略和日志、提醒通知、分级权限管理等各个方面。
                        </p> <p> <span style="color: rgb(222, 59, 10); font-size: 17px;">经过了5年的市场验证，至少26280小时无故障运行</span> </p> <p>
                            OS-Easy vServer是国内屈指可数、最早一批自主研发、并到现在还持续保持产品更新的一款服务器虚拟化产品，从2011年第一个项目，已支撑了高教、企业、卫生医疗、政府各行业用户的核心系统运行考验。
                        </p> <p> <span style="color: rgb(222, 59, 10); font-size: 17px;">足够简单，却又不简单</span> </p> <p>
                            设计简单、部署简单、运维操作简单、升级扩展简单、性能指标简单。
                        </p> <p> <span style="color: rgb(222, 59, 10); font-size: 17px;">不断验证和挖掘，我们发现数据中心需要这些</span> </p> <p>
                            1)<span class="Apple-tab-span" style="white-space:pre"></span>在部署完虚拟化后，能有一个全局视图，呈现物理和虚拟环境网络拓扑图，连接配置一目了然
                        </p> <p>
                            2)<span class="Apple-tab-span" style="white-space:pre"></span>多屏幕显示虚拟机中运行的web应用画面，对接投影到大屏不断刷新，故障及时发现
                        </p> <p>
                            3)<span class="Apple-tab-span" style="white-space:pre"></span>在高峰时间段，能够让多台物理主机支撑一个应用运行，在高峰期过后，自动关机释放资源
                        </p> <p>
                            4)<span class="Apple-tab-span" style="white-space:pre"></span>监控到虚拟机中运行的应用进程和服务，显示资源使用率，定位谁在吃内存
                        </p> <p>
                            5)<span class="Apple-tab-span" style="white-space:pre"></span>能查询虚拟机中已安装的应用软件详情，服务器上无需贴标签，直接导出Excel报表
                        </p> <p>
                            6)<span class="Apple-tab-span" style="white-space:pre"></span>能查询虚拟机中新增、卸载软件、操作系统升级的历史维护记录
                        </p> <p>
                            7)<span class="Apple-tab-span" style="white-space:pre"></span>直接挂载裸设备给虚拟机，单个磁盘至少能支持16TB以上
                        </p> <p>
                            8)<span class="Apple-tab-span" style="white-space:pre"></span>能随时将本地办公PC上的操作系统ISO上传到服务器上，在虚拟机控制台加载使用
                        </p> <p>
                            9)<span class="Apple-tab-span" style="white-space:pre"></span>能随时将本地办公PC上文件（如：应用安装程序、文档等）上传到虚拟机中运行安装
                        </p> <p>
                            10)<span class="Apple-tab-span" style="white-space:pre"></span>每周无需人为干预，按业务关联和优先级定时重启虚拟机
                        </p> <p>
                            11)<span class="Apple-tab-span" style="white-space:pre"></span>需要图表和报表并存，能导出所有运行业务系统资源使用率排名Excel报表
                        </p> <p>
                            12)<span class="Apple-tab-span" style="white-space:pre"></span>通过手机短信报警通知，但是不要重复通知
                        </p> <p>
                            13)<span class="Apple-tab-span" style="white-space:pre"></span>能兼容多种USB加密狗设备，接口从USB1.0、1.1、2.0、3.0都能被虚拟机识别
                        </p> <p>
                            14)<span class="Apple-tab-span" style="white-space:pre"></span>虚拟机故障迁移时间秒级，业务无中断
                        </p> <p>
                            15)<span class="Apple-tab-span" style="white-space:pre"></span>任何一台计算节点主机都可以切换为控制节点
                        </p> <p>
                            16)<span class="Apple-tab-span" style="white-space:pre"></span>能提供虚拟化环境的备份一体化软件，实现虚拟机业务数据灾备&nbsp;
                        </p> <p>
                            &nbsp;..............
                        </p> <p> <span style="color: rgb(222, 59, 10); font-size: 17px;">三分建设，七分运维</span> </p> <p>
                            提供本地化上门服务，负责工程实施（环境调研和分析、实施方案拟定、资源规划、PTV迁移等），并在业务上线后，配合应用厂商进行调优，处理各种兼容问题；发现问题，第一时间帮助全面排查，并定期巡检。
                        </p> <h2 data-anchor-id="qf03" id="虚拟化前后对比" style=" white-space: normal;">
                            虚拟化前后对比
                        </h2> <table class="table table-bordered table-hover" width="1098" style="width: 860px;">
                            <tbody>
                                <tr class="firstRow">
                                    <th width="15%" scope="col" style="background-color:#df4627; text-align:center; color:#fff !important; border: 2px solid #fff; border-left-color:#f7f8fa;  text-align:center;">
                                        对比项目
                                    </th>
                                    <th width="42%" scope="col" style="background-color:#df4627; text-align:center; color:#fff !important; border: 2px solid #fff;   text-align:center;">
                                        虚拟化前
                                    </th>
                                    <th width="43%" scope="col" style="background-color:#df4627; text-align:center; color:#fff !important; border: 2px solid #fff; border-right-color:#f7f8fa;  text-align:center;">
                                        虚拟化后
                                    </th>
                                </tr>
                                <tr>
                                    <td scope="row" style="background-color:#f1f1f1; text-align:center; border:2px solid #fff; border-left-color:#f7f8fa; ">
                                        服务器数量
                                    </td>
                                    <td class="active" width="304" style="background-color:#f1f1f1;  border:2px solid #fff; ">
                                        20多台旧服务器，支持30多个应用
                                    </td>
                                    <td class="active" width="310" style="background-color:#f1f1f1;  border:2px solid #fff; border-right-color:#f7f8fa; ">
                                        6台服务器，虚拟出48个虚拟机，支持原有系统运行，还能扩展10多个应用扩展
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" style="background-color:#f1f1f1; text-align:center; border:2px solid #fff; border-left-color:#f7f8fa; ">
                                        服务器费用
                                    </td>
                                    <td width="304" style="background-color:#f1f1f1;  border:2px solid #fff; ">
                                        更换旧服务器，20*5万=100万
                                    </td>
                                    <td width="310" style="background-color:#f1f1f1;  border:2px solid #fff; border-right-color:#f7f8fa; ">
                                        6*10万=60万，节省40万
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" style="background-color:#fef7e6; text-align:center; border:2px solid #fff;  border-left-color:#f7f8fa;">
                                        资源利用率
                                    </td>
                                    <td class="active" width="304" style="background-color:#fef7e6;  border:2px solid #fff; ">
                                        资源平均利用率20-35%灵活
                                    </td>
                                    <td class="active" width="310" style="background-color:#fef7e6; text-align:center; border:2px solid #fff;  border-right-color:#f7f8fa;">
                                        资源整合，充分利旧保护现有投资，资源利用率提高到60%
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" style="background-color:#fef7e6; text-align:center; border:2px solid #fff;  border-left-color:#f7f8fa;">
                                        应用部署速度性
                                    </td>
                                    <td width="304" style="background-color:#fef7e6;  border:2px solid #fff; ">
                                        新应用上线，需要采购新服务器，安装操作系统，系统补丁、安装应用、配置服务、进行安全设置，部署周期在3-5工作日
                                    </td>
                                    <td width="310" style="background-color:#fef7e6;  border:2px solid #fff;  border-right-color:#f7f8fa;">
                                        预先定制好的各种操作系统，应用模板和自部署向导或克隆业务，30分钟完成应用上线
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" style="background-color:#f1f1f1; text-align:center; border:2px solid #fff; border-left-color:#f7f8fa; ">
                                        业务连续性
                                    </td>
                                    <td class="active" width="304" style="background-color:#f1f1f1;  border:2px solid #fff; ">
                                        服务器故障，停机维护，业务中断
                                    </td>
                                    <td class="active" width="310" style="background-color:#f1f1f1;  border:2px solid #fff; border-right-color:#f7f8fa; ">
                                        故障自动迁移虚拟机到其他服务器，业务正常运行
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" style="background-color:#f1f1f1; text-align:center; border:2px solid #fff; border-left-color:#f7f8fa; ">
                                        数据安全性
                                    </td>
                                    <td width="304" style="background-color:#f1f1f1;  border:2px solid #fff; ">
                                        硬件故障导致业务数据丢失，需要对每台服务器做冗余备份，系统故障，手动恢复或重新安装操作系统
                                    </td>
                                    <td width="310" style="background-color:#f1f1f1;  border:2px solid #fff; border-right-color:#f7f8fa; ">
                                        <ol class=" list-paddingleft-2">
                                            <li>
                                                <p>
                                                    业务数据集中存储在远端共享存储，数据安全性更高
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    在线业务快照，备份多个业务点，系统故障随时恢复
                                                </p>
                                            </li>
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" style="background-color:#fef7e6; text-align:center; border:2px solid #fff; border-left-color:#f7f8fa; ">
                                        管理维护
                                    </td>
                                    <td class="active" width="304" style="background-color:#fef7e6;  border:2px solid #fff; ">
                                        应用组件复杂，环境部署，网络配置，工作繁琐，需要机房现场维护排查问题，10服务器/1管理员维护
                                    </td>
                                    <td class="active" width="310" style="background-color:#fef7e6;  border:2px solid #fff; border-right-color:#f7f8fa; ">
                                        远程集中监管数据中心，不用去现场，提供全面监控数据和报警提醒，100服务器/1管理员维护
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" style="background-color:#fef7e6; text-align:center; border:2px solid #fff; border-left-color:#f7f8fa; ">
                                        运维成本
                                    </td>
                                    <td width="304" style="background-color:#fef7e6;  border:2px solid #fff; ">
                                        <ol class=" list-paddingleft-2">
                                            <li>
                                                <p>
                                                    机房占地空间需要扩大一倍
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    增加空调制冷，电费不断上升
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    购买新的维护费
                                                </p>
                                            </li>
                                        </ol>
                                    </td>
                                    <td width="310" style="background-color:#fef7e6;  border:2px solid #fff; border-right-color:#f7f8fa; ">
                                        <ol class=" list-paddingleft-2">
                                            <li>
                                                <p>
                                                    无需扩容机房，节省空间，降低耗电
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    延长设备使用年限，减少维修成本
                                                </p>
                                            </li>
                                        </ol>
                                    </td>
                                </tr>
                            </tbody>
                        </table> <p> <br> </p> <h2 data-anchor-id="a5mq" id="如何快速部署一个虚拟机业务" style=" white-space: normal;">
                            如何快速部署一个虚拟机业务
                        </h2> <p data-anchor-id="frzc" style=" white-space: normal; text-align: center; height:75px;"> <img src="~/Images/ztxhkj/product/57a2fcb846f30.jpg" title="vServer-虚拟机业务.jpg" alt="vServer-虚拟机业务.jpg"> </p> <p data-anchor-id="frzc" style=" white-space: normal; text-align: left; height:20px;">
                            <br><span style="font-size:15px; font-weight:bold; color:#de3a0b;"> 第一步：</span>管理员登陆虚拟化管理平台，添加数据存储，配置连接共享的存储设备，让其在平台上可见可使用。可添加ISCSI、FC、NFS接口的存储设备。&nbsp;
                        </p> <p data-anchor-id="frzc" style=" white-space: normal; text-align: left; height:20px;">
                            <br> <span style="font-size:15px; font-weight:bold; color:#de3a0b;">第二步：</span>新建资源池，建立多个服务器的集群管理单元，可以将多个服务器放入到一个资源池中。
                        </p> <p data-anchor-id="frzc" style=" white-space: normal; text-align: left; height:20px;">
                            &nbsp;<br> <span style="font-size:15px; font-weight:bold; color:#de3a0b;">第三步：</span>添加服务器，将部署了虚拟化软件的虚拟机加入到管理平台上，让其可见可管理，主要用来支撑虚拟机运行计算。&nbsp;
                        </p> <p data-anchor-id="frzc" style=" white-space: normal; text-align: left; height:20px;">
                            <br> <span style="font-size:15px; font-weight:bold; color:#de3a0b;">第四步：</span>创建虚拟机，选择支撑虚拟机运行计算的服务器，根据向导完成虚拟机的配置（CPU、内存、磁盘、网卡），启动虚拟机。&nbsp;
                        </p> <p data-anchor-id="frzc" style=" white-space: normal; text-align: left; height:35px;">
                            <br><span style="font-size:15px; font-weight:bold; color:#de3a0b;">第五步：</span>在平台上选择一台服务器，通过“上传ISO”功能，将本地终端PC机上的操作系统镜像文件上传至服务器上。进入虚拟机控制台，加载本地ISO启动安装操作系统。&nbsp;
                        </p> <p data-anchor-id="frzc" style=" white-space: normal; text-align: left; height:35px;">
                            <br> <span style="font-size:15px; font-weight:bold; color:#de3a0b;">第六步：</span>在虚拟机控制台，上传本地应用程序安装文件至虚拟机中，在虚拟机的虚拟光驱中可点击运行安装，完成业务部署。
                        </p> <p> <br> </p>
                    </div>
                </div> <div class="clearfix"></div> <div class="col-md-2"> </div>
            </div>
        </div>
    </div> <div class="container"> <div class="row"> <div class="col-md-12"> <div class="oe-banner-area-style03 swiper-container-horizontal"> <h2>相关案例</h2> <div class="swiper-wrapper">
    <div class="swiper-slide swiper-slide-active"  style="float:left;width: 308.333px; margin-right: 20px;"> <div class="oe-pic-container" style="background-image: url('../../Images/ztxhkj/product/57abfa739d029.jpg')" title="鄂州警务综合应用系统升级与虚拟化改造案例"></div> <h3 title="鄂州警务综合应用系统升级与虚拟化改造案例">鄂州警务综合应用系统升级与虚拟化改造案例</h3> 着力打造“全警共享、数据准确、功能明晰、业务规范”的公安基础信息化综合应用平台						
        </div> <div class="swiper-slide swiper-slide-next"  style="float:left;width: 308.333px; margin-right: 20px;"> <div class="oe-pic-container" style="background-image: url('../../Images/ztxhkj/product/57abfaa47dc8b.jpg')" title="恩施州警务综合应用系统升级与虚拟化改造案例"></div> <h3 title="恩施州警务综合应用系统升级与虚拟化改造案例">恩施州警务综合应用系统升级与虚拟化改造案例</h3>
    </div> <div class="swiper-slide"  style="float:left;width: 308.333px; margin-right: 20px;"> <div class="oe-pic-container" style="background-image: url('../../Images/ztxhkj/product/57ac11678a15c.jpg')"  title="黄石劳动就业管理局公共就业服务平台建设案例"></div> <h3 title="黄石劳动就业管理局公共就业服务平台建设案例">黄石劳动就业管理局公共就业服务平台建设案例</h3> 本次黄石劳动就业局公共就业创业在线生态链信息化服务平台IT基础支撑运行环境虚拟化系统建设，将提升黄石市劳动就业局的公共就业服务能力和服务水平，实现更高效便捷的服务与响应，实现更精细的管理和更科学的决策，最终为民生保障和改善奠定坚实基础。						
    </div> <div class="swiper-slide" style="float:left;width: 308.333px; margin-right: 20px;"> <div class="oe-pic-container" style="background-image: url('../../Images/ztxhkj/product/57ac1183bb6b6.jpg')"  title="咸宁国土不动产业务系统建设案例"></div> <h3 title="咸宁国土不动产业务系统建设案例">咸宁国土不动产业务系统建设案例</h3>咸宁国土资源局主管全市土地、矿产等自然资源的规划、管理、保护、合理利用和测绘事业。为完成“服务型政府”和“智慧国土”建设的总体目标，咸宁市国土局拟定建设不动产登记管理平台。经过半年的研究、测试、选型，最终采用噢易云的整体解决方案。						
      </div> <div class="swiper-slide" style="float:left;width: 308.333px; margin-right: 20px;"> <div class="oe-pic-container" style="background-image: url('../../Images/ztxhkj/product/57ac119aa95b6.jpg')"  title="咸宁公积金业务管理系统虚拟化建设案例"></div> <h3 title="咸宁公积金业务管理系统虚拟化建设案例">咸宁公积金业务管理系统虚拟化建设案例</h3> 遵照住建部“住房公积金综合服务平台系统”建设要求，打造一个全国地市级城市住房公积金管理中心最为先进的住房公积金管理系统。						
           </div></div> <div class="swiper-button-next"></div> <div class="swiper-button-prev swiper-button-disabled"></div> </div> </div> </div> </div>
</div>