


@Styles.Render("~/Content/product.css")

<script>
    $(function () {
        $(".list-paddingleft-2>li").mouseover(function () {

            $(".list-paddingleft-2>li").removeClass("active");
            $(this).addClass("active");
            $("#oe-banner-item1>div").hide();
            $("#oe-banner-item1>div").eq($(this).index()).show();;
        });
    });
</script>
@{
    ViewBag.Title = "OS-Easy EVDI";
    ViewBag.KeyWords = "北京中泰祥和科技有限公司,智慧校园,教育云,云平台,云桌面,桌面云,桌面虚拟化,云课堂,云教室,服务器虚拟化,云计算,虚拟化,OS-Easy EVDI";
    ViewBag.Description = "噢易教育桌面云（简称：E-VDI）采用桌面虚拟化技术，用虚拟的桌面来替换传统PC，统一集中存放在云端，让终端设备通过网络连接，可随时随地获取桌面环境。E-VDI主要适用于教育行业的计算机机房、图书馆、多媒体教室及教师办公等多种场景，E-VDI可以让桌面环境，部署更快速、管理更集中、维护更简单、数据更安全以及能耗更低廉。";
}
<div class="oe-product-detail">
    <div class="container">
        <div class="row"> <div class="col-md-12"> <ol class="breadcrumb"> <li><a href="@Url.Content("~/home/index")"><i class="fa fa-home"></i> 首页</a></li> <li><a href="@Url.Content("~/home/product")">产品</a></li> <li class="active">OS-Easy E-VDI</li> </ol> </div> </div> <div class="row">
            <div class="col-md-12 oe-container">
                <div class="oe-banner-area">
                    <div class="col-md-6 oe-overview">
                        <h1>OS-Easy E-VDI</h1> <hr>
                        噢易教育桌面云（简称：E-VDI）采用桌面虚拟化技术，用虚拟的桌面来替换传统PC，统一集中存放在云端，让终端设备通过网络连接，可随时随地获取桌面环境。E-VDI主要适用于教育行业的计算机机房、图书馆、多媒体教室及教师办公等多种场景，E-VDI可以让桌面环境，部署更快速、管理更集中、维护更简单、数据更安全以及能耗更低廉。
                    </div> <div class="oe-photo-frame01 hidden-xs"> <div class="oe-banner-item" style="background-image: url('../../Images/ztxhkj/product/57972f1517ceb.jpg')"></div> </div>
                </div> <div class="oe-content">
                    <div class="col-md-12">
                        <h2>
                            产品架构图
                        </h2> <p> <img src="~/Images/ztxhkj/product/57a2a66f5b1b6.jpg" title="E-vdi-架构图.jpg" alt="E-vdi-架构图.jpg"> </p> <p style="text-align: center;"> <br> </p> <h2>
                            应用场景
                        </h2> <div class="oe-content-swiper swiper-container-horizontal">
                            <ul class="oe-swiper-page-btn list-paddingleft-2">
                                <li class="active">
                                    <p>
                                        教师办公
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        图书馆
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        多媒体教室
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        实验室
                                    </p>
                                </li>
                            </ul> <div class="swiper-wrapper">
                                <div id="oe-banner-item1">
                                    <div class="swiper-slide oe-banner-item swiper-slide-active" style="background-image:  url(&quot;../../Images/ztxhkj/product/57a18d0c60761.jpg&quot;); width: 990px;"></div>
                                    <div class="swiper-slide oe-banner-item swiper-slide-next" style="display:none;background-image:  url(&quot;../../Images/ztxhkj/product/57a198ee29055.jpg&quot;); width: 990px;"></div>
                                    <div class="swiper-slide oe-banner-item" style="display:none;background-image:  url(&quot;../../Images/ztxhkj/product/57a19854bd58a.jpg&quot;); width: 990px;"></div>
                                    <div class="swiper-slide oe-banner-item" style="display:none;background-image:  url(&quot;../../Images/ztxhkj/product/57a198a720731.jpg&quot;); width: 990px;"></div>
                                </div>
                            </div>
                        </div> <h2>
                            E-VDI与传统PC对比
                        </h2> <table class="table table-border table-hover" width="860">
                            <tbody>
                                <tr class="firstRow">
                                    <th width="10%" scope="col" style="background-color:#df4627; text-align:center; color:#fff !important; border: 2px solid #fff; border-left-color:#f7f8fa;">
                                        项目
                                    </th>
                                    <th width="28%" scope="col" style="background-color:#df4526; color:#fff !important; text-align:center;">
                                        传统PC
                                    </th>
                                    <th width="62%" scope="col" style="background-color:#df4627; text-align:center; color:#fff !important; border: 2px solid #fff; border-right-color:#f7f8fa;">
                                        噢易教育桌面云（OS-Easy E-VDI）
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#f1f1f1; text-align:center; border: 2px solid #fff; border-left-color:#f7f8fa;">
                                        部署管理
                                    </th>
                                    <td class="active" style="background-color:#f1f1f1; border: 2px solid #fff; " width="193">
                                        200台PC，部署系统环境需1-2周
                                    </td>
                                    <td class="active" style="background-color:#f1f1f1; border: 2px solid #fff; border-right-color:#f7f8fa;" width="427">
                                        200台桌面系统环境部署，只需1天
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#f1f1f1; text-align:center; border: 2px solid #fff; border-left-color:#f7f8fa;">
                                        维护升级
                                    </th>
                                    <td style="background-color:#f1f1f1; border: 2px solid #fff; " width="193">
                                        操作系统升级：逐个终端更新系统补丁和应用；终端升级：逐个更换硬件配置
                                    </td>
                                    <td style="background-color:#f1f1f1; border: 2px solid #fff; border-right-color:#f7f8fa;" width="427">
                                        一键更新系统、批量更换硬件配置；终端免维护
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#fef7e6; text-align:center; border: 2px solid #fff; border-left-color:#f7f8fa;">
                                        硬件配置
                                    </th>
                                    <td class="active" style="background-color:#fef7e6; border: 2px solid #fff; " width="193">
                                        配置固定，资源分配不灵活
                                    </td>
                                    <td class="active" style="background-color:#fef7e6; border: 2px solid #fff; border-right-color:#f7f8fa;" width="427">
                                        按需规划，弹性扩展CPU/内存/网络/磁盘
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#fef7e6; text-align:center; border: 2px solid #fff; border-left-color:#f7f8fa;">
                                        系统安全性
                                    </th>
                                    <td style="background-color:#fef7e6; border: 2px solid #fff; " width="193">
                                        硬件故障，易导致所有数据丢失；容易遭到病毒攻击造成系统损坏
                                    </td>
                                    <td style="background-color:#fef7e6; border: 2px solid #fff; border-right-color:#f7f8fa;" width="427">
                                        数据集中存储在云端、安全性更高；硬件故障，虚拟桌面自动迁移；提供系统备份和恢复机制
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#f1f1f1; text-align:center; border: 2px solid #fff; border-left-color:#f7f8fa;">
                                        系统稳定性
                                    </th>
                                    <td class="active" style="background-color:#f1f1f1; border: 2px solid #fff; " width="193">
                                        无保护还原机制，系统越用越卡
                                    </td>
                                    <td class="active" style="background-color:#f1f1f1; border: 2px solid #fff; border-right-color:#f7f8fa;" width="427">
                                        个性化的还原机制，保障操作系统的纯净与稳定
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#f1f1f1; text-align:center; border: 2px solid #fff; border-left-color:#f7f8fa;">
                                        教室环境
                                    </th>
                                    <td style="background-color:#f1f1f1; border: 2px solid #fff; " width="193">
                                        线路布局杂乱、空间利用率低；主机整体噪音大、温度高；能耗高（单台300w），碳排放高
                                    </td>
                                    <td style="background-color:#f1f1f1; border: 2px solid #fff; border-right-color:#f7f8fa;" width="427">
                                        空间：节省空间，工作环境整洁；环境：无噪音、无热量；能耗：能耗低（15-20w），碳排放低
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#fef7e6; text-align:center; border: 2px solid #fff; border-left-color:#f7f8fa;">
                                        办公教学
                                    </th>
                                    <td class="active" style="background-color:#fef7e6; border: 2px solid #fff; " width="193">
                                        通过U盘拷贝课件，容易造成系统中毒，影响使用
                                    </td>
                                    <td class="active" style="background-color:#fef7e6; border: 2px solid #fff; border-right-color:#f7f8fa;" width="427">
                                        为每位教师分配一个桌面，教师可以在学校任意地点通过账号访问，实现移动办公教学
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#fef7e6; text-align:center; border: 2px solid #fff; border-left-color:#f7f8fa;">
                                        移动灵活性
                                    </th>
                                    <td style="background-color:#fef7e6; border: 2px solid #fff; " width="193">
                                        只能固定位置和人使用
                                    </td>
                                    <td style="background-color:#fef7e6; border: 2px solid #fff; border-right-color:#f7f8fa;" width="427">
                                        终端只是接入设备，可通过账号随时登录自己的个人桌面
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#f1f1f1; text-align:center; border: 2px solid #fff; border-left-color:#f7f8fa;">
                                        扩展终端数
                                    </th>
                                    <td class="active" style="background-color:#f1f1f1; border: 2px solid #fff; " width="193">
                                        采购主机、显示器、键鼠标准全套机，周期长
                                    </td>
                                    <td class="active" style="background-color:#f1f1f1;" width="427">
                                        主机上创建一个虚拟机即可，10分钟完成
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#f1f1f1; text-align:center; border: 2px solid #fff; border-left-color:#f7f8fa;">
                                        更新换代
                                    </th>
                                    <td style="background-color:#f1f1f1; border: 2px solid #fff; " width="193">
                                        旧PC只能报废，需重新采购，一般PC生命周期在3-5年
                                    </td>
                                    <td style="background-color:#f1f1f1; border: 2px solid #fff; border-right-color:#f7f8fa;" width="427">
                                        只需升级服务器配置，或者新增服务器，使用年限至少6-10年
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#fef7e6; text-align:center; border: 2px solid #fff; border-left-color:#f7f8fa;">
                                        电费成本
                                    </th>
                                    <td class="active" style="background-color:#fef7e6; border: 2px solid #fff; " width="193">
                                        采购主机、显示器、键鼠标准全套机，周期长
                                    </td>
                                    <td class="active" style="background-color:#fef7e6; border: 2px solid #fff; border-right-color:#f7f8fa;" width="427">
                                        主机上创建一个虚拟机即可，10分钟完成
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="background-color:#fef7e6; text-align:center; border: 2px solid #fff; border-left-color:#f7f8fa;">
                                        人力成本
                                    </th>
                                    <td style="background-color:#fef7e6; border: 2px solid #fff; " width="193">
                                        旧PC只能报废，需重新采购，一般PC生命周期在3-5年
                                    </td>
                                    <td style="background-color:#fef7e6; border: 2px solid #fff; border-right-color:#f7f8fa;" width="427">
                                        只需升级服务器配置，或者新增服务器，使用年限至少6-10年
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> <div class="clearfix"></div> <div class="col-md-2"> </div>
            </div>
        </div>
    </div> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="oe-banner-area-style03 swiper-container-horizontal">
                    <h2>相关案例</h2> <div class="swiper-wrapper">
                        <a href="~/home/AnLiDetail/东华大学旭日工商管理学院教育桌面云应用案例" class="swiper-slide swiper-slide-active" style="float:left;width: 308.333px; margin-right: 20px;">
                            <div class="oe-pic-container" style="background-image: url('../../Images/ztxhkj/product/57ac2cea4540f.jpg')" title="东华大学旭日工商管理学院教育桌面云应用案例"></div> <h3 title="东华大学旭日工商管理学院教育桌面云应用案例">东华大学旭日工商管理学院教育桌面云应用案例</h3>多场景自由切换，双系统让教学办公更有保障
                        </a>
                        <a  href="~/home/AnLiDetail/中国计量学院教育桌面云应用案例"  class="swiper-slide swiper-slide-next" style="float:left;width: 308.333px; margin-right: 20px;">
                            <div class="oe-pic-container" style="background-image: url('../../Images/ztxhkj/product/57ac2caf2f7b5.jpg')" title="中国计量学院教育桌面云应用案例"></div> <h3 title="中国计量学院教育桌面云应用案例">中国计量学院教育桌面云应用案例</h3>欲使机房入云端，新建利旧总相宜
                        </a>
                        <a href="~/home/AnLiDetail/中国矿业大学计算机中心教育桌面云应用案例"  class="swiper-slide" style="float:left;width: 308.333px; margin-right: 20px;">
                            <div class="oe-pic-container" style="background-image: url('../../Images/ztxhkj/product/57ac2d4b8f445.jpg')" title="中国矿业大学计算机中心教育桌面云应用案例"></div> <h3 title="中国矿业大学计算机中心教育桌面云应用案例">中国矿业大学计算机中心教育桌面云应用案例</h3> 走进公共机房，噢易桌面云带来教学新变化
                        </a>
                        <a href="~/home/AnLiDetail/山东青年政治学院教育桌面云应用案例"  class="swiper-slide" style="float:left;width: 308.333px; margin-right: 20px;">
                            <div class="oe-pic-container" style="background-image: url('../../Images/ztxhkj/product/57ac2d18ecb0c.jpg')" title="山东青年政治学院教育桌面云应用案例"></div> <h3 title="山东青年政治学院教育桌面云应用案例">山东青年政治学院教育桌面云应用案例</h3> 新技术、新形式，打造全新的教学模式
                        </a>
                        <a href="~/home/AnLiDetail/湖南大学工训中心教育桌面云应用案例"  class="swiper-slide" style="float:left;width: 308.333px; margin-right: 20px;">
                            <div class="oe-pic-container" style="background-image: url('../../Images/ztxhkj/product/57ac2d04205b6.jpg')" title="湖南大学工训中心教育桌面云应用案例"></div> <h3 title="湖南大学工训中心教育桌面云应用案例">湖南大学工训中心教育桌面云应用案例</h3> 从理论到实践，云计算工训中心完美落地
                        </a>
                    </div> <div class="swiper-button-next"></div> <div class="swiper-button-prev swiper-button-disabled"></div>
                </div>
            </div>
        </div>
    </div>
</div>