@{
    ViewBag.Title = "公司产品";
    ViewBag.Message = "电子元器件列表：";
}
<style>
    ul {
        list-style:none;
       
    }
    ul li{
        float:left;
        padding:5px;
        text-align:left;
    }
        ul li>div {
            border: 1px dotted #d0cdcd;
        }
   img {
       max-height:216px;
    }
</style>
<h2>&nbsp;</h2>
<h3>@ViewBag.Message</h3>
<div id="product">
    <ul>
       <li>
           <div  >
               <img src="~/Images/ztxhkj/product/646.jpg" />
               <div>制造商：<i title="北京中泰祥和科技有限公司">bj-ztxhkj</i></div>
           </div>
       </li>
        <li>
            <div  >
                <img src="~/Images/ztxhkj/product/m74vh.jpg" />
                <div>制造商：<i title="北京中泰祥和科技有限公司">bj-ztxhkj</i></div>
            </div>
        </li>
        <li>
            <div  >
                <img src="~/Images/ztxhkj/product/max.jpg" />
                <div>制造商：<i title="北京中泰祥和科技有限公司">bj-ztxhkj</i></div>
            </div>
        </li>
        <li>
            <div  >
                <img src="~/Images/ztxhkj/product/646.jpg" />
                <div>制造商：<i title="北京中泰祥和科技有限公司">bj-ztxhkj</i></div>
            </div>
        </li>
        <li>
            <div  >
                <img src="~/Images/ztxhkj/product/m74vh.jpg" />
                <div>制造商：<i title="北京中泰祥和科技有限公司">bj-ztxhkj</i></div>
            </div>
        </li>
        <li>
            <div  >
                <img src="~/Images/ztxhkj/product/646.jpg" />
                <div>制造商：<i title="北京中泰祥和科技有限公司">bj-ztxhkj</i></div>
            </div>
        </li>
        <li>
            <div  >
                <img src="~/Images/ztxhkj/product/max.jpg" />
                <div>制造商：<i title="北京中泰祥和科技有限公司">bj-ztxhkj</i></div>
            </div>
        </li>
        <li>
            <div  >
                <img src="~/Images/ztxhkj/product/m74vh.jpg" />
                <div>制造商：<i title="北京中泰祥和科技有限公司">bj-ztxhkj</i></div>
            </div>
        </li>
        <li>
            <div  >
                <img src="~/Images/ztxhkj/product/max.jpg" />
                <div>制造商：<i title="北京中泰祥和科技有限公司">bj-ztxhkj</i></div>
            </div>
        </li>

    </ul>
</div>
<div class="clearfix"> </div>
<hr />
<h3>服务器产品列表：</h3>
<div>
    <ul>
        <li>
            <div  >
                <img src="~/Images/ztxhkj/product/yingjian-yi-arm.gif" />
                <div>
                    噢易一体机OX21U-XXX<br />

                    CPU:Intel(R) Celeron 双核1.8GHZ<br />

                    内存:2G/4G DDR3L<br />

                    硬盘:8G/64G SSD<br />

                    显示器:19.5寸/21.5寸<br />

                    I/O:USB2.0 * 6 、VGA接口*1 HDMI接口*1<br />MIC*1 Audio out*1<br />
                </div>
            </div>
        </li>
        <li>
            <div  >
                <img src="~/Images/ztxhkj/product/yingjian-yi-x86.gif" />
                <div>
                    噢易一体机OA21R-XXX<br />

                    CPU: ARM Cortex A9 1.6GHz, 4 Cores<br />

                    内存:DDR3 1GB<br />

                    硬盘:4GB/8GB<br />

                    显示器:19.5/21.5寸<br />

                    I/O:USB2.0 * 4、VGA接口*1<br /> MIC*1、Audio out<br />
                </div>
            </div>
        </li>
        <li>
            <div  >
                <img src="~/Images/ztxhkj/product/yingjian-zhong-x86.gif" />
                <div>
                    噢易云终端OX47-XXX<br />

                    CPU:Intel(R) Celeron 双核1.8GHZ<br />

                    内存:2G/4G DDR3L<br />

                    硬盘:16G/64G SSD<br />
                    防盗:提供防盗锁孔<br />

                    VESA:支持通过VESA接口挂在显示器上<br />

                    支持协议:RAP\Microsoft RDP<br />Citrix ICA、VMwarePCoIP<br />

                    I/O:USB2.0 * 2 USB3.0*2 、VGA接口*1<br />HDMI接口*1 MIC*1、Audio out*1<br />


                </div>
            </div>
        </li>
    </ul>
</div>
<div class="clearfix"> </div>