@{
    ViewBag.Title = "案例检索";
    string keyword = ViewBag.keyword;
    List<string> searchlist = ViewBag.list as List<string>;
}
<style>
    body {
        background-image: url(../../Images/ztxhkj/cloudservice/case-bj-img02.jpg);
    }
</style>
@Styles.Render("~/content/product.css")
<div class="oe-case-2j" style="min-height:500px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="~/home">
                            <i class="fa fa-home">
                            </i> 首页
                        </a>
                    </li>
                    <li class="active">案例检索</li>
                </ol>
            </div>
        </div>
    </div> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="oe-case-2j" current_term_id="20">
                    <div class="row visible-xs-block visible-sm-block">
                        <div class="col-md-12">
                            <a class="btn btn-default " href="~/home/Anli/法院">法院</a>
                            <a class="btn btn-default " href="~/home/Anli/医疗卫生">医疗/卫生</a>
                            <a class="btn btn-default " href="~/home/Anli/公安">公安</a>
                            <a class="btn btn-default " href="~/home/Anli/高教">高教</a>
                            <a class="btn btn-default " href="~/home/Anli/普教">普教</a>
                            <a class="btn btn-default " href="~/home/Anli/更多行业">更多行业</a>
                        </div>
                    </div> <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-8"></div> <div class="col-md-4" style="padding:0">
                                <form class="" action="~/home/SearchAnLi/" method="post" target="_blank">
                                    <div class="input-group">
                                        <input type="text" name="keyword" class="form-control" placeholder="请输入关键词" required=""> <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-search">Search</i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                </form>
                            </div><!-- /.col-lg-6 -->
                        </div>
                        <div class="oe-box-container">
                            <div class="row oe-box-item" style="background-color:transparent;padding-left:50px">

                                @{
                                    if (searchlist == null || searchlist.Count == 0)
                                    {
                                        <h1>
                                            <span style='color:red'>检索结果为空</span>
                                        </h1>
                                    }
                                    else
                                    {
                                        int i = 1;
                                        foreach (string name in searchlist)
                                        {
                                            if (i > 1)
                                            {
                                                <hr />
                                            }
                                            <h1>
                                                <a href="~/home/AnLiDetail/@name">@Html.Raw((i++) +". "+name.Replace(keyword, "<span style='color:red'>" + keyword + "</span>"))</a>
                                            </h1>
                                           
                                        }
                                    }
                                }


                            </div>
                        </div>
                        <nav> <ul class="pager"><!-- 共有文章 5 篇 --></ul> </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
