@{ Layout = null;}
@*@Scripts.Render("~/Scripts/zg69/wenziyun.js")*@
@*<style>
    #tagbox {
        position: relative;
        margin: 20px auto 0px;
        max-width: 1000px;
        height: 50px;
    }

        #tagbox a {
            font-family: Microsoft YaHei;
            color: #fff;
            TOP: 0px;
            font-weight: bold;
            text-decoration: none;
            left: 0px
        }

            #tagbox a:hover {
                border: #eee 1px solid;
                background: #000;
            }

        #tagbox .blue {
            color: blue
        }

        #tagbox .red {
            color: red
        }

        #tagbox .yellow {
            color:brown
        }
</style>*@
<style>
    #tagbox > a {
    padding-left:10px;
    padding-right:5px;
    }
</style>
<div id="tagbox">
    <a  target="ztxhkj" style="padding-left:50px; font-size:12px;font-weight:600;color:cornflowerblue"  href="http://www.tsinghua.edu.cn/publish/newthu/index.html">清华大学</a>
    <a  target="ztxhkj" style=" font-size:16px;font-weight:700;color:aquamarine"  href="http://www.pku.edu.cn/">北京大学</a>
    <a  target="ztxhkj" style=" font-size:13px;font-weight:600;color:cornflowerblue" href="http://www.bjfu.edu.cn/" >北京林业大学</a>
    <a  target="ztxhkj" style=" font-size:18px;font-weight:900;color:red" href="http://cglx.bfsu.edu.cn/">北京外国语大学</a>
    <a  target="ztxhkj" style=" font-size:12px;font-weight:700;color:black" href="http://www.bucm.edu.cn/">北京中医药大学</a>
    <a  target="ztxhkj" style=" font-size:26px;font-weight:800;color:cornflowerblue" href="http://www.bigc.edu.cn/">北京印刷学院</a>
    <a  target="ztxhkj" style=" font-size:13px;font-weight:600;color:blueviolet" href="http://www.ncut.edu.cn/">北方工业大学</a>
    <a  target="ztxhkj" style=" font-size:20px;font-weight:500;color:brown" href="http://www.bistu.edu.cn/">北京信息科技大学</a>
    <a  target="ztxhkj" style=" font-size:17px;font-weight:400;color:cornflowerblue" href="http://www.cufe.edu.cn/">中央财经大学</a>
    <a  target="ztxhkj" style="padding-left:150px; font-size:18px;font-weight:600;color:rebeccapurple" href="http://www.catcm.ac.cn/">中国中医药科学院</a>
    <a  target="ztxhkj" style=" font-size:15px;font-weight:600;color:cornflowerblue" href="http://www.cma.gov.cn/">中国气象局</a>
    <a  target="ztxhkj" style=" font-size:16px;font-weight:800;color:darkmagenta" href="http://www.shehuiwang.cn/">中国社会报社</a>
    <a  target="ztxhkj" style=" font-size:14px;font-weight:600;color:crimson" href="http://www.nlc.cn/">国家图书馆</a>
</div>
