@{
    ViewBag.Title = "诚聘英才";
    ViewBag.Message = "招聘职位：";
}
<h2>&nbsp;</h2>

<style>
    body {
        background-image: url(../Images/ztxhkj/ZP.jpg);
    }

    p, div {
        color: white;
    }

    .title {
        font-size: 16px;
        font-weight: bold;
        line-height: 30px;
    }

    .detail {
        margin-left: 22px;
    }
    a:hover {
        color: white;
        text-decoration: none;
    }
</style>

<div style="color: #247cea;font-size: 20px;">
    <p>客户经理</p>
</div>
<div class="requirement">
    <div class="title">岗位职责：</div>
    <div class="detail">
        <p>通过电话联系客户，并回访客户</p>
    </div>
    <div class="requirement">
        <div class="title">任职要求：</div>
        <div class="detail">
            <p>大专及以上学历</p>
            <p>普通话标准</p>
            <p>有面向学校销售经验优先</p>
        </div>
    </div>
    <div class="requirement">
        <div class="title">福利待遇：</div>
        <div class="detail">
            <p>五险一金           </p>
            <p>基本工资+销售额20%提成            </p>
            <p>上班时间自由，弹性制工作              </p>
            <p>一天工作7小时，不打卡 </p>
            <p>客户主要面向学校，学校放假后可提前下班 </p>
        </div>
    </div>
    <div class="requirement">
        ztxh@zgztxh.com
        <div class="title">招聘电话：</div>
        <div class="detail">
            <p>010-5943 2225</p>
        </div>
    </div>
    <div class="requirement">
        
        <div class="title">简历投递邮箱：</div>
        <div class="detail">
            <p><a href="mailto:ztxh@zgztxh.com">ztxh@zgztxh.com</a></p>
        </div>
    </div>
</div>


