@{
    ViewBag.Title = "公安";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-2j">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="~/home">
                            <i class="fa fa-home">
                            </i> 首页
                        </a>
                    </li>
                    <li class="active">案例</li>
                </ol>
            </div>
        </div>
    </div> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="oe-case-2j" current_term_id="20">
                    @*<div class="col-md-2 visible-md-block visible-lg-block">
                            <a class="btn btn-default active" href="/list/index/id/20.html">法院</a><br><a class="btn btn-default " href="/list/index/id/21.html">医疗/卫生</a><br><a class="btn btn-default " href="/list/index/id/22.html">公安</a><br><a class="btn btn-default " href="/list/index/id/24.html">高教</a><br><a class="btn btn-default " href="/list/index/id/25.html">普教</a><br><a class="btn btn-default " href="/list/index/id/23.html">更多行业</a><br>
                        </div>*@
                    <div class="row visible-xs-block visible-sm-block">
                        <div class="col-md-12">
                            <a class="btn btn-default " href="~/home/Anli/法院">法院</a>
                            <a class="btn btn-default " href="~/home/Anli/医疗卫生">医疗/卫生</a>
                            <a class="btn btn-default active" href="~/home/Anli/公安">公安</a>
                            <a class="btn btn-default " href="~/home/Anli/高教">高教</a>
                            <a class="btn btn-default " href="~/home/Anli/普教">普教</a>
                            <a class="btn btn-default " href="~/home/Anli/更多行业">更多行业</a>
                        </div>
                    </div> <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-8"></div> <div class="col-md-4" style="padding:0">
                                <form class="" action="" method="post" target="_blank">
                                    <div class="input-group">
                                        <input type="text" name="keyword" class="form-control" placeholder="请输入关键词" required=""> <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-search">Search</i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                </form>
                            </div><!-- /.col-lg-6 -->
                        </div>
                               <div class="oe-box-container"> <div class="row oe-box-item"> <a href="/article/index/id/240.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57abfa739d029.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/240.html">鄂州警务综合应用系统升级与虚拟化改造案例</a> </h1>  着力打造“全警共享、数据准确、功能明晰、业务规范”的公安基础信息化综合应用平台									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/08/03</span> <span><i class="fa fa-eye"></i>1363</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/238.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57abfaa47dc8b.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/238.html">恩施州警务综合应用系统升级与虚拟化改造案例</a> </h1> </div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/08/03</span> <span><i class="fa fa-eye"></i>1173</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/237.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac0a2414524.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/237.html">随州市公安云平台建设案例</a> </h1> </div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/08/03</span> <span><i class="fa fa-eye"></i>1379</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/232.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac0a38ab9bf.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/232.html">湖北省公安厅公安云案例</a> </h1> </div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>1659</span> </div> </div> </div> 
                    <nav> <ul class="pager"><!-- 共有文章 5 篇 --></ul> </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
