@{
    ViewBag.Title = "医疗/卫";
}
@Styles.Render("~/content/product.css")
<style>
    body {
        background-image: url(../../Images/ztxhkj/cloudservice/case-bj-img02.jpg);
    }
</style>
<div class="oe-case-2j">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="~/home">
                            <i class="fa fa-home">
                            </i> 首页
                        </a>
                    </li>
                    <li class="active">案例</li>
                </ol>
            </div>
        </div>
    </div> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="oe-case-2j" current_term_id="20">
                    @*<div class="col-md-2 visible-md-block visible-lg-block">
                            <a class="btn btn-default active" href="/list/index/id/20.html">法院</a><br><a class="btn btn-default " href="/list/index/id/21.html">医疗/卫生</a><br><a class="btn btn-default " href="/list/index/id/22.html">公安</a><br><a class="btn btn-default " href="/list/index/id/24.html">高教</a><br><a class="btn btn-default " href="/list/index/id/25.html">普教</a><br><a class="btn btn-default " href="/list/index/id/23.html">更多行业</a><br>
                        </div>*@
                    <div class="row visible-xs-block visible-sm-block">
                        <div class="col-md-12">
                            <a class="btn btn-default " href="~/home/Anli/法院">法院</a>
                            <a class="btn btn-default active" href="~/home/Anli/医疗卫生">医疗/卫生</a>
                            <a class="btn btn-default " href="~/home/Anli/公安">公安</a>
                            <a class="btn btn-default " href="~/home/Anli/高教">高教</a>
                            <a class="btn btn-default " href="~/home/Anli/普教">普教</a>
                            <a class="btn btn-default " href="~/home/Anli/更多行业">更多行业</a>
                        </div>
                    </div> <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-8"></div> <div class="col-md-4" style="padding:0">
                                <form class="" action="~/home/SearchAnLi/" method="post" target="_blank">
                                    <div class="input-group">
                                        <input type="text" name="keyword" class="form-control" placeholder="请输入关键词" required=""> <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-search">Search</i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                </form>
                            </div><!-- /.col-lg-6 -->
                        </div>
                        <div class="oe-box-container">
                            <div class="row oe-box-item">
                                <a href="/article/index/id/330.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/582e70d8a24ec.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/330.html">助推泰州市基本公共卫生服务信息系统升级</a> </h1> 泰州市疾控中心自采用OS-Easy vServer对基本公共卫生服务系统IT基础架构升级改造后，不仅日常管理维护更高效便捷，业务系统的可用性和连续性也得到保障，能更好地应对各类基本公共卫生紧急突发事件，业务安全性更高。									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/11/18</span> <span><i class="fa fa-eye"></i>888</span> </div>
                            </div>
                            <div class="row oe-box-item"> 
                            <a href="/article/index/id/37.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57abf89e1c4fe.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/37.html">湖北江陵卫计委虚拟化平台建设</a> </h1> </div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>1023</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/36.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57abf8ddca0f6.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/36.html">湖北荆州卫计委云数据中心案例</a> </h1> </div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>1148</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/35.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57abfa03bc1c4.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/35.html">湖北省孝感市卫生局云数据中心案例</a> </h1> </div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>1043</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/34.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57abf933a6dd6.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/34.html">荆州市沙市区卫计局数据中心虚拟化改造</a> </h1> </div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>996</span> </div> </div>
                         <div class="row oe-box-item"> <a href="/article/index/id/33.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57abf959b3181.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/33.html">湖北省荆门卫计委数据中心虚拟化改造</a> </h1> </div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>834</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/32.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57abf991a489b.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/32.html">湖北应城居民健康卡虚拟化支撑平台案例</a> </h1> </div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>397</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/31.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57abf9b612e92.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/31.html">洪湖市中医院服务器虚拟化案例</a> </h1> </div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>447</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/30.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57abf9d2af7c8.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/30.html">仙桃市卫计委居民健康卡业务系统虚拟化建设</a> </h1> </div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>444</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/29.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57abf9ec3c5d6.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/29.html">湖北省荆门市沙洋县卫计局居民健康卡云数据中心改造</a> </h1> </div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>500</span> </div> </div> </div>
                        <nav> <ul class="pager"><!-- 共有文章 5 篇 --></ul> </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
