


@Styles.Render("~/Content/product.css")
@{
    ViewBag.Title = "噢易BOSS系统";
    ViewBag.KeyWords = "北京中泰祥和科技有限公司,智慧校园,教育云,云平台,云桌面,桌面云,桌面虚拟化,云课堂,云教室,服务器虚拟化,云计算,虚拟化,噢易BOSS机房管理系统";
    ViewBag.Description = "噢易BOSS机房管理系统是噢易云计算针对机房的统一管理和维护所提出的一套完整的解决方案，其核心思想源于电信行业的BOSS系统——业务操作支撑系统。噢易BOSS机房管理系统以“业务运行流程”为驱动，围绕机房各种业务（教学、实验、考试、竞赛、课程设计、毕业设计、业余开放、备课、教学研究、实习实践等）的开展，提供了自动化、规范化、标准化的操作支持手段，大幅度减轻了管理负担，有效提高了机房的管理水平，也让有限的教学资源得到了最有效的利用。";
}
<script>
    $(function () {
        $(".list-paddingleft-2>li").mouseover(function () {

            $(".list-paddingleft-2>li").removeClass("active");
            $(this).addClass("active");
            $("#oe-banner-item1>div").hide();
            $("#oe-banner-item1>div").eq($(this).index()).show();
        });
    });
</script>
<div class="oe-product-detail">
    <div class="container">
        <div class="row"> <div class="col-md-12"> <ol class="breadcrumb"> <li><a href="@Url.Content("~/home/index")"><i class="fa fa-home"></i> 首页</a></li> <li><a href="@Url.Content("~/home/product")">产品</a></li> <li class="active">噢易BOSS机房管理系统</li> </ol> </div> </div> <div class="row">
            <div class="col-md-12 oe-container">
                <div class="oe-banner-area">
                    <div class="col-md-6 oe-overview">
                        <h1>噢易BOSS机房管理系统</h1> <hr>
                        噢易BOSS机房管理系统是噢易云计算针对机房的统一管理和维护所提出的一套完整的解决方案，其核心思想源于电信行业的BOSS系统——业务操作支撑系统。
                        噢易BOSS机房管理系统以“业务运行流程”为驱动，围绕机房各种业务（教学、实验、考试、竞赛、课程设计、毕业设计、业余开放、备课、教学研究、实习实践等）的开展，提供了自动化、规范化、标准化的操作支持手段，大幅度减轻了管理负担，有效提高了机房的管理水平，也让有限的教学资源得到了最有效的利用。
                    </div> <div class="oe-photo-frame01 hidden-xs"> <div class="oe-banner-item" style="background-image: url('../../Images/ztxhkj/product/579b3d5da36f5.jpg')"></div> </div>
                </div> <div class="oe-content"> <div class="col-md-12"> <h2 data-anchor-id="ktxy" id="系统流程图" style="white-space: normal;">系统流程图</h2><p style="white-space: normal; text-align: left;"><img src="~/Images/ztxhkj/product/57a3e94880a5c.jpg" title="BOSS-系统流程图.jpg" alt="BOSS-系统流程图.jpg"> </p><h2 data-anchor-id="i8kb" id="应用场景" style="white-space: normal;">应用场景</h2><div class="oe-content-swiper swiper-container-horizontal">
                <ul class="oe-swiper-page-btn list-paddingleft-2">
                <li class="active"><p>图书馆电子阅览室</p></li>
                <li><p>专业实验室</p></li>
                <li><p>计算机中心/基础实验室</p>
                    </li></ul>
                <div id="oe-banner-item1" class="swiper-wrapper"><div class="swiper-slide oe-banner-item swiper-slide-active" style="background-image: url(&quot;../../Images/ztxhkj/product/57bbb61377c22.jpg&quot;); width: 990px;"></div><div class="swiper-slide oe-banner-item swiper-slide-next" style="background-image: url(&quot;../../Images/ztxhkj/product/57bbb6137a619.jpg&quot;); width: 990px;"></div><div class="swiper-slide oe-banner-item" style="background-image: url(&quot;../../Images/ztxhkj/product/57bbb61375d9e.jpg&quot;); width: 990px;"></div></div></div><h2 data-anchor-id="ue5a" id="产品价值" style="white-space: normal;">产品价值</h2><p data-anchor-id="m3hx" style="white-space: normal;"><span style="color: rgb(227, 108, 9);"></span> </p><table align="center"><tbody><tr class="firstRow"><td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);"><strong style="color: rgb(227, 108, 9); white-space: normal;">提高资源利用率</strong> </td><td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);"><span style="color: rgb(227, 108, 9);"><strong>为机房建设决策提供数据支持</strong></span>&nbsp;</td></tr><tr><td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);"><ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p>根据上机业务合理调配资源，充分发挥机房利用率，让设备物尽其用。&nbsp;</p></li><li><p>通过单系统多频道将系统环境利用最大化，满足各类实验课程的应用教学。</p></li><li><p>根据时间段自动切换上机模式，实现多元化的机房管理模式。&nbsp;</p></li></ul></td><td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);"><ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p>实时查询机房课程安排、学生上机记录、机器使用率、设备故障率等信息。</p></li><li><p>自动生成各项数据报表，查询、存档、即时打印随心所欲。</p></li><li><p>针对机房33大项目数据统计，为机房管理提供强有力的数据支持。</p></li></ul></td></tr><tr><td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);"><strong style="color: rgb(227, 108, 9); white-space: normal;">规范学生行为、提高教学质量</strong> </td><td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);"><span style="color: rgb(227, 108, 9);"><strong>外接设备完美对接</strong></span>&nbsp;</td></tr><tr><td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);"><ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p>完善的机房过滤程序，从各个方面规范学生上机行为。</p></li><li><p>自动进入指定的操作系统，帮助学生选择正确的上课系统。&nbsp;</p></li></ul></td><td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);"><ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p>为各类一卡通对接预留接口，提供给学生智能化刷卡上机方式。</p></li><li><p>支持与LED大屏幕完美对接，方便师生了解各机房的课程安排详情。</p></li></ul></td></tr><tr><td valign="top" style="word-break: break-all; border-color: rgb(221, 221, 221);"><strong style="color: rgb(227, 108, 9); white-space: normal;">提供强有力的机房维护手段</strong> </td><td valign="top" style="border-color: rgb(221, 221, 221);"><br></td></tr><tr><td valign="top" colspan="1" rowspan="1" style="word-break: break-all; border-color: rgb(221, 221, 221);"><ul class=" list-paddingleft-2" style="list-style-type: disc;"><li><p>快速部署机房应用环境，轻松应对各种上机业务的需要。</p></li><li><p>软件批量安装及统一注册，为管理员维护机房教学软件提高效率。</p></li><li><p>强大的系统和网络保护能力，将维护工作最小化。&nbsp;</p></li></ul></td><td valign="top" colspan="1" rowspan="1" style="border-color: rgb(221, 221, 221);"><br></td></tr></tbody></table><p data-anchor-id="m3hx" style="white-space: normal;"><br> </p> </div> </div> <div class="clearfix"></div> <div class="col-md-2"> </div>
            </div>
        </div>
    </div>
</div>