
@Styles.Render("~/Content/product.css")
@{
    ViewBag.Title = "噢易桌面云运维管理系统";
}
<div class="oe-product-detail">
    <div class="container">
        <div class="row"> <div class="col-md-12"> <ol class="breadcrumb"> <li><a href="@Url.Content("~/home/index")"><i class="fa fa-home"></i> 首页</a></li> <li><a href="@Url.Content("~/home/product")">产品</a></li> <li class="active">噢易桌面云运维系统</li> </ol> </div> </div> <div class="row">
            <div class="col-md-12 oe-container">
                <div class="oe-banner-area">
                    <div class="col-md-6 oe-overview">
                        <h1>噢易桌面云运维系统</h1> <hr>
                        噢易桌面云运维管理系统是一款针对虚拟桌面的日常运维管理软件，为桌面云运行使用过程提供完善的运维支持，适用于对大规模虚拟桌面进行集中的远程操作、行为管控、网络管控、资产审计和统计查询。
                        通过噢易桌面云运维管理系统，针对不同专业学生上课过程，配置不同的管控策略，提高老师教学质量，规范教学次序，并极大的减少管理员维护工作量，该系统已成为云机房建设管理必不可少的运维工具。
                    </div> <div class="oe-photo-frame01 hidden-xs"> <div class="oe-banner-item" style="background-image: url('../../Images/ztxhkj/product/579b3d49a4f0f.jpg')"></div> </div>
                </div> <div class="oe-content">
                    <div class="col-md-12">
                        <p style="text-align: center;"></p> <p> <img src="~/Images/ztxhkj/product/57a4217042595.png" title="桌面云运维管理.png" alt="桌面云运维管理.png"> </p> <h2>
                            架构图
                        </h2> <p style="text-align: center;"> <br> </p> <h3></h3> <p> <img src="~/Images/ztxhkj/product/57a455005e5af.jpg" title="桌面云运维管理-架构图.jpg" alt="桌面云运维管理-架构图.jpg"> </p> <h2>
                            应用场景
                        </h2> <div class="oe-content-swiper swiper-container-horizontal">
                            <ul class="oe-swiper-page-btn list-paddingleft-2">
                                <li class="active">
                                    <p>
                                        图书馆
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        多媒体教室
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        云实验室
                                    </p>
                                </li>
                            </ul> <div class="swiper-wrapper"> <div class="swiper-slide oe-banner-item swiper-slide-active" style="background-image: url(&quot;~/Images/ztxhkj/product/57b11d99ad054.jpg&quot;); width: 990px;"></div> <div class="swiper-slide oe-banner-item swiper-slide-next" style="background-image: url(&quot;~/Images/ztxhkj/product/57b11d99ab5a0.jpg&quot;); width: 990px;"></div> <div class="swiper-slide oe-banner-item" style="background-image: url(&quot;~/Images/ztxhkj/product/57b11d99ba9c0.jpg&quot;); width: 990px;"></div> </div>
                        </div>
                    </div>
                </div> <div class="clearfix"></div> <div class="col-md-2"> </div>
            </div>
        </div>
    </div>
</div>