

@Styles.Render("~/Content/product.css", "~/Content/nav.css")

@{
    ViewBag.Title = "噢易云服务器";
}
<style>
    .col-md-4 {
        padding: 0px 2px 0px 0px;
    }

    #listp p {
        width: 210px;
    }
</style>
<div class="row" id="listp">
    <div id="oe-nav" class="oe-nav-wrapper oe-nav-bg">
        <div class="oe-nav-inner">
            <div class="oe-nav-header"></div>
            <div class="oe-nav-body">
                <div>
                    <ul><text style="text-align:center;color:white;padding: 18px 20px;">*云计算与大数据提供商*</text>
                        <li class="selected zhuye"><a href="http://www.os-easy.com/edu-cloud/" data-id="home" data-page-id="home"><span class="title">主页</span></a></li>
                        <li class=" zhuye">
                            <a href="http://www.os-easy.com/edu-cloud/chanpin.html"><span class="title">产品介绍</span></a>
                            <ul>
                                <li><a href="http://www.os-easy.com/edu-cloud/chanpin.html"><span class="title">产品介绍</span></a></li>
                                <li><a href="http://www.os-easy.com/edu-cloud/yingjian.html"><span class="title">硬件配置</span></a></li>
                                <li><a href="http://www.os-easy.com/edu-cloud/canshu.html"><span class="title">关键参数</span></a></li>
                            </ul>
                        </li>
                        <li  class=" zhuye">
                            <a href="http://www.os-easy.com/edu-cloud/case-tushuguan.html"><span class="title">解决方案</span></a>
                            <ul>
                                <li><a href="http://www.os-easy.com/edu-cloud/case-shiyanshi.html"><span class="title">实验室</span></a></li>
                                <li><a href="http://www.os-easy.com/edu-cloud/case-tushuguan.html"><span class="title">图书馆</span></a></li>
                                <li><a href="http://www.os-easy.com/edu-cloud/case-duomeiti.html"><span class="title">多媒体教室</span></a></li>
                                <li><a href="http://www.os-easy.com/edu-cloud/case-jiaoshibangong.html"><span class="title">教师办公</span></a></li>
                            </ul>
                        </li>
                        <li  class=" zhuye">
                            <a href="http://www.os-easy.com/edu-cloud/jisuanjixueyuan.html"><span class="title">典型案例</span></a>
                            <ul>
                                <li><a href="http://www.os-easy.com/edu-cloud/jisuanjixueyuan.html"><span class="title">计算机学院类实验室</span></a></li>
                                <li><a href="http://www.os-easy.com/edu-cloud/gonggongjifang.html"><span class="title">公共机房类</span></a></li>
                                <li><a href="http://www.os-easy.com/edu-cloud/jingguanyuan.html"><span class="title">经管院实验室</span></a></li>
                                <li><a href="http://www.os-easy.com/edu-cloud/duomeiti.html"><span class="title">多媒体教室</span></a></li>
                                <li><a href="http://www.os-easy.com/edu-cloud/tushuguan.html"><span class="title">图书馆</span></a></li>
                                <li><a href="http://www.os-easy.com/edu-cloud/hunheyingyong.html"><span class="title">混合应用</span></a></li>
                            </ul>
                        </li>
                        <li  class=" zhuye">
                            <a href="http://www.os-easy.com/edu-cloud/youshi.html"><span class="title">方案优势</span></a>
                            <ul>
                                <li><a href="http://www.os-easy.com/edu-cloud/youshi.html"><span class="title">快</span></a></li>
                                <li><a href="http://www.os-easy.com/edu-cloud/yingjian.html#zhun"><span class="title">准</span></a></li>
                                <li><a href="http://www.os-easy.com/edu-cloud/yingjian.html#wen"><span class="title">稳</span></a></li>
                                <li><a href="http://www.os-easy.com/edu-cloud/yingjian.html#ling"><span class="title">零</span></a></li>
                            </ul>
                        </li>
                        <li  class=" zhuye"><a href="http://www.os-easy.com/edu-cloud/help.html"><span class="title">帮助</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <div class="col-md-offset-3 col-md-9">
        <!--col-md-offset-3--> <div class="row" style="width:80%;"><!--标题 开始--> <div class="col-md-12"> <div class="oe-chanpin-name"> <span class="oe-chanpin-jies"><a href="http://www.os-easy.com/edu-cloud/yingjian.html">硬件配置</a></span> <span style="padding-left:5px;"><a href="http://www.os-easy.com/edu-cloud/chanpin.html">产品介绍</a></span> </div> </div> </div> <!--标题 结束--> <div class="row" style=" width:80%;"> <div class="col-md-12"> <div style="background:url(../../Images/ztxhkj/product/jy-ptn-yjpzbanner.jpg) no-repeat center top; width:100%; height:199px; margin-top:20px;"></div> </div> </div> <div class="row" style=" width:80%;"> <div class="col-md-12"><!--噢易云服务器 开始--> <div style="width:100%; text-align:center; background:url(../../Images/ztxhkj/product/cloud-line.gif) no-repeat center bottom; padding-bottom:10px;"> <h3 style="padding-right: 78px;">噢易云服务器OIXXXX-XXXX</h3> </div> <div class="row" style=" margin-top:60px;"> <div class="col-md-4"><!--型号01 开始--> <div style="width:100%; background:url(../../Images/ztxhkj/product/yingjian-xinghao01.gif) no-repeat center top; height:409px;"></div> </div> <!--型号02 结束--> <div class="col-md-4"><!--型号01 开始--> <div style="width:100%; background:url(../../Images/ztxhkj/product/yingjian-xinghao02.gif) no-repeat center top; height:409px;"></div> </div> <!--型号02 结束--> <div class="col-md-4"><!--型号03 开始--> <div style="width:100%; background:url(../../Images/ztxhkj/product/yingjian-xinghao03.gif) no-repeat center top; height:409px;"></div> </div> <!--型号03 结束--> </div> </div> <!--噢易云服务器 结束--> </div> <div class="row" style="width: 80%;">
            <div class="col-md-12" style="margin-top:100px;">
                <!--噢易云终端 开始--> <div style="width:100%; text-align:center; background:url(../../Images/ztxhkj/product/cloud-line.gif) no-repeat center bottom; padding-bottom:10px;"> <h3 style="padding-right: 78px;">噢易云终端</h3> </div> <div class="row" style="margin-top:50px;">
                    <div class="col-md-4">
                        <!--终端01 开始--> <div style="width:100%;">
                            <div style="background:url(../../Images/ztxhkj/product/yingjian-zhong-x86.gif) no-repeat center center; width:100%; height:228px;margin-bottom:50px"></div> <div style="margin-top:20px; width: 310px; margin-left:auto; margin-right:auto;"> <p style="font-size:18px; font-weight:blod;">噢易云终端OX47-XXX</p> <p><span style="padding-right:20px;">CPU:</span>Intel(R) Celeron	双核1.8GHZ</p> <p><span style="padding-right:20px;">内存:</span>2G/4G DDR3L</p> <p><span style="padding-right:20px;">硬盘:</span>16G/64G SSD</p> <p><span style="padding-right:20px;">I/O:</span>USB2.0&nbsp;*&nbsp;2	USB3.0*2 、VGA接口*1、HDMI接口*1	MIC*1、Audio out*1</p> <p><span style="padding-right:20px;">防盗:</span>提供防盗锁孔</p> <p><span style="padding-right:20px;">VESA:</span>支持通过VESA接口挂在显示器上</p> <p><span style="padding-right:20px;">支持协议:</span>RAP\Microsoft RDP 、Citrix ICA、VMwarePCoIP</p> </div>
                        </div>
                    </div><!--终端01 结束--> <div class="col-md-4"><!--终端01 开始--> <div style="width:100%;"> <div style="background:url(../../Images/ztxhkj/product/yingjian-zhong-x8602.gif) no-repeat center center; width:100%; height:258px;"></div> <div style="margin-top:20px; width: 310px; margin-left:auto; margin-right:auto;"> <p style="font-size:18px; font-weight:blod;">噢易云终端OX47-355</p> <p><span style="padding-right:20px;">CPU:</span>Intel赛扬J1900  2.0GHz四核/酷睿i5 5200U 2.2GHz 双核</p> <p><span style="padding-right:20px;">内存:</span>2G/4G DDR3L</p> <p><span style="padding-right:20px;">硬盘:</span>8G/64G SSD</p> <p><span style="padding-right:20px;">I/O:</span>USB2.0&nbsp;*&nbsp;4	USB3.0*1 、VGA接口*1、HDMI接口*1	MIC*1、Audio out*1</p> <p><span style="padding-right:20px;">显卡:</span>GPUIntelHDGraphics显卡</p> <p><span style="padding-right:20px;">最大分辨率:</span>1920*1080</p> <p><span style="padding-right:20px;">卡槽:</span>SD*1、IF*1</p> <p><span style="padding-right:20px;"></span>金属外壳/挂架/塑料底座</p> <p><span style="padding-right:20px;"></span>可内置无线wifi模块 1*10/100/1000M自适应网口</p> </div> </div> </div><!--终端01 结束--> <div class="col-md-4"><!--终端03 开始--> <div style="width:100%;"> <div style="background:url(../../Images/ztxhkj/product/yingjian-zhong-arm.jpg) no-repeat center center; width:100%; height:258px;"></div> <div style="width: 310px; margin: 0px auto;"> <p style="font-size:18px; font-weight:blod; margin-top:20px;">噢易云终端OAR1-XXX</p> <p><span style="padding-right:20px;">CPU:</span>ARM Cortex A9 1.6GHz, 4 Cores</p> <p><span style="padding-right:20px;">内存:</span>DDR3	1GB</p> <p><span style="padding-right:20px;">硬盘:</span>4GB/8GB </p> <p><span style="padding-right:20px;">I/O:</span>USB2.0 * 4 、VGA接口*1	HDMI接口*1、MIC*1	Audio out*1</p> <p><span style="padding-right:20px;">防盗:</span>提供防盗锁孔</p> <p><span style="padding-right:20px;">VESA:</span>支持通过VESA接口挂在显示器上</p> </div> </div> </div><!--终端03 结束-->
                </div>
            </div><!--噢易云终端 结束-->
        </div> <div class="row"> <div class="col-md-12" style="margin-top:100px; width:80%; padding-bottom:50px;"><!--噢易云一体机 开始--> <div style="width:100%; text-align:center; background:url(../../Images/ztxhkj/product/cloud-line.gif) no-repeat center bottom; padding-bottom:10px;"> <h3 style="padding-right: 78px;">噢易云一体机</h3> </div> <div class="row" style="margin-top:50px;"> <div class="col-md-6"><!--一体机01 开始--> <div style="width:100%;"> <div style="background:url(../../Images/ztxhkj/product/yingjian-yi-x86.gif) no-repeat center center; width:100%; height:319px;"></div> <div style="padding-left:9px;	margin-top:30px; width: 310px; margin: 0px auto;"> <p style="font-size:18px; font-weight:blod;">噢易一体机OX21U-XXX</p> <p><span style="padding-right:20px;">CPU:</span>Intel(R) Celeron	双核1.8GHZ</p> <p><span style="padding-right:20px;">内存:</span>2G/4G DDR3L</p> <p><span style="padding-right:20px;">硬盘:</span>8G/64G	SSD</p> <p><span style="padding-right:20px;">显示器:</span>19.5寸/21.5寸</p> <p><span style="padding-right:20px;">I/O:</span>USB2.0&nbsp;*&nbsp;6 、VGA接口*1	HDMI接口*1、MIC*1	Audio out*1</p> </div> </div> </div><!--一体机01 结束--> <div class="col-md-6"><!--一体机02 开始--> <div style="width:100%; "> <div style="background:url(../../Images/ztxhkj/product/yingjian-yi-arm.gif) no-repeat center center; width:100%; height:330px;"></div> <div style="padding-left:9px;	margin-top:30px; width: 310px; margin: 0px auto;"> <p style="font-size:18px; font-weight:blod;">噢易一体机OA21R-XXX</p> <p><span style="padding-right:20px;">CPU:</span> ARM Cortex A9 1.6GHz, 4 Cores</p> <p><span style="padding-right:20px;">内存:</span>DDR3	1GB</p> <p><span style="padding-right:20px;">硬盘:</span>4GB/8GB</p> <p><span style="padding-right:20px;">显示器:</span>19.5/21.5寸</p> <p><span style="padding-right:20px;">I/O:</span>USB2.0&nbsp;*&nbsp;4、VGA接口*1	MIC*1、Audio out</p> </div> </div> </div><!--一体机02 结束--> </div> </div><!--噢易云一体机 结束--> </div>
    </div>
</div>
<script>
    var swiper = new Swiper('.swiper-container', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        pagination: '.swiper-pagination',
        paginationType: 'fraction'
    });
</script>
