@{
    ViewBag.Title = "普教";
}
@Styles.Render("~/content/product.css")
<div class="oe-case-2j">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="~/home">
                            <i class="fa fa-home">
                            </i> 首页
                        </a>
                    </li>
                    <li class="active">案例</li>
                </ol>
            </div>
        </div>
    </div> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="oe-case-2j" current_term_id="20">
                    @*<div class="col-md-2 visible-md-block visible-lg-block">
                            <a class="btn btn-default active" href="/list/index/id/20.html">法院</a><br><a class="btn btn-default " href="/list/index/id/21.html">医疗/卫生</a><br><a class="btn btn-default " href="/list/index/id/22.html">公安</a><br><a class="btn btn-default " href="/list/index/id/24.html">高教</a><br><a class="btn btn-default " href="/list/index/id/25.html">普教</a><br><a class="btn btn-default " href="/list/index/id/23.html">更多行业</a><br>
                        </div>*@
                    <div class="row visible-xs-block visible-sm-block">
                        <div class="col-md-12">
                            <a class="btn btn-default " href="~/home/Anli/法院">法院</a>
                            <a class="btn btn-default " href="~/home/Anli/医疗卫生">医疗/卫生</a>
                            <a class="btn btn-default " href="~/home/Anli/公安">公安</a>
                            <a class="btn btn-default " href="~/home/Anli/高教">高教</a>
                            <a class="btn btn-default active" href="~/home/Anli/普教">普教</a>
                            <a class="btn btn-default " href="~/home/Anli/更多行业">更多行业</a>
                        </div>
                    </div> <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-8"></div> <div class="col-md-4" style="padding:0">
                                <form class="" action="" method="post" target="_blank">
                                    <div class="input-group">
                                        <input type="text" name="keyword" class="form-control" placeholder="请输入关键词" required=""> <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-search">Search</i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                </form>
                            </div><!-- /.col-lg-6 -->
                        </div>
                        <div class="oe-box-container">
                            <div class="row oe-box-item"> <a href="/article/index/id/346.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/59561d311465f.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/346.html">浙江省德清县教育局</a> </h1> 2015年9月，德清县教育技术保障中心首次尝试引入云机房，经各方考察和专家比较评定，噢易云教室在众多品牌中脱颖而出，获得了德清县的青睐。经过一年的使用检验，噢易教育桌面云得到了各个使用学校的一致好评，并于2016年8月再次中标德清县教育技术保障中心6所学校的云机房项目。									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2017/06/30</span> <span><i class="fa fa-eye"></i>188</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/345.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/5954c817d9238.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/345.html">安徽省无为县教育局</a> </h1> 建设教育信息化精品工程，桌面云大有可为									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2017/06/29</span> <span><i class="fa fa-eye"></i>169</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/27.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac2aeb51b07.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/27.html">桂林市班班通管理分析系统应用案例</a> </h1>  实现“班班通”设施的常态应用，充分发挥基础设施的效益									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>1244</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/26.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac2b035a4d1.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/26.html">重庆市班班通管理分析系统应用案例</a> </h1>  实现教育信息化、装备标准化管理									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>1127</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/25.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac2b192e973.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/25.html">张居正小学教育桌面云应用案例</a> </h1>  老师轻松管理教学进程，课堂质量和效率显著提升									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>1063</span> </div> </div> 
                            <div class="row oe-box-item"> <a href="/article/index/id/24.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac2b3144f1c.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/24.html">襄阳班班通管理分析系统应用案例</a> </h1>  实现班班通设备的高效管理，合理使用									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>1196</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/23.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac2b4882bc7.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/23.html">恩施班班通管理分析系统应用案例</a> </h1>  简化上课登记流程，自动记录授课使用数据									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>1183</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/22.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac2b5dad032.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/22.html">厦门同安区班班通管理分析系统应用案例</a> </h1>  运用现代教育技术上好每一堂公开课									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>634</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/21.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac2b768d3d2.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/21.html">咸丰云教室应用案例</a> </h1>  35所学校、1295点，噢易云教室落地咸丰									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>442</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/20.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac2b94ebd52.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/20.html">江苏省姜堰二中教育桌面云应用案例</a> </h1>  共建技术领先，结构清晰的教学机房									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>534</span> </div> </div>
                            <div class="row oe-box-item"> <a href="/article/index/id/19.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac2baf66c87.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/19.html">甘肃张掖市高台县第三中学云教室应用案例</a> </h1>  移动桌面、统一管理、节能环保的云办公									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>524</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/18.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac2bc67ad94.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/18.html">襄阳四中教育桌面云应用案例</a> </h1>  采用云计算新技术，继续领跑信息化建设									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>627</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/17.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac2c24d2bef.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/17.html">陕西扶风三小云教室应用案例</a> </h1>  建设绿色节能环保微机室									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>629</span> </div> </div> <div class="row oe-box-item"> <a href="/article/index/id/16.html" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac2c36aac4f.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="/article/index/id/16.html">武汉市蔡甸区新农中学教育桌面云应用案例</a> </h1>  PC机旧貌换新颜，旧电脑登录桌面云									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>669</span> </div> </div>
                        </div> 
                    <nav> <ul class="pager"><!-- 共有文章 5 篇 --></ul> </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
