@{
    ViewBag.Title = "更多行业";
}
@Styles.Render("~/content/product.css")
<style>
    body {
        background-image: url(../../Images/ztxhkj/cloudservice/case-bj-img02.jpg);
    }
</style>
<div class="oe-case-2j">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="~/home">
                            <i class="fa fa-home">
                            </i> 首页
                        </a>
                    </li>
                    <li class="active">案例</li>
                </ol>
            </div>
        </div>
    </div> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="oe-case-2j" current_term_id="20">
                    @*<div class="col-md-2 visible-md-block visible-lg-block">
                            <a class="btn btn-default active" href="~/home/Anli/法院">法院</a><br><a class="btn btn-default " href="~/home/Anli/医疗卫生">医疗/卫生</a><br><a class="btn btn-default " href="~/home/Anli/公安">公安</a><br><a class="btn btn-default " href="~/home/Anli/高教">高教</a><br><a class="btn btn-default " href="~/home/Anli/普教">普教</a><br><a class="btn btn-default " href="~/home/Anli/更多行业">更多行业</a><br>
                        </div>*@
                    <div class="row visible-xs-block visible-sm-block">
                        <div class="col-md-12">
                            <a class="btn btn-default " href="~/home/Anli/法院">法院</a>
                            <a class="btn btn-default " href="~/home/Anli/医疗卫生">医疗/卫生</a>
                            <a class="btn btn-default " href="~/home/Anli/公安">公安</a>
                            <a class="btn btn-default " href="~/home/Anli/高教">高教</a>
                            <a class="btn btn-default " href="~/home/Anli/普教">普教</a>
                            <a class="btn btn-default active" href="~/home/Anli/更多行业">更多行业</a>
                        </div>
                    </div> <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-8"></div> <div class="col-md-4" style="padding:0">
                                <form class="" action="~/home/SearchAnLi/" method="post" target="_blank">
                                    <div class="input-group">
                                        <input type="text" name="keyword" class="form-control" placeholder="请输入关键词" required=""> <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-search">Search</i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                </form>
                            </div><!-- /.col-lg-6 -->
                        </div>
                               <div class="oe-box-container"> <div class="row oe-box-item"> <a href="~/home/product/黄冈国土“原有业务”和“不动产业务”完美切换至云端" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57cce8c55896b.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="~/home/product/黄冈国土“原有业务”和“不动产业务”完美切换至云端">黄冈国土“原有业务”和“不动产业务”完美切换至云端</a> </h1> 建设提供以基础设施服务(IaaS)层次的云计算服务，即底层虚拟化平台，将底层资源“池”化，实现以按需交付，简化掉调研、申请、审批、招标等冗长的业务流，加快新业务部署周期。									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/09/05</span> <span><i class="fa fa-eye"></i>1036</span> </div> </div> <div class="row oe-box-item"> <a href="~/home/product/黄石劳动就业管理局公共就业服务平台建设案例" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac11678a15c.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="~/home/product/黄石劳动就业管理局公共就业服务平台建设案例">黄石劳动就业管理局公共就业服务平台建设案例</a> </h1>  本次黄石劳动就业局公共就业创业在线生态链信息化服务平台IT基础支撑运行环境虚拟化系统建设，将提升黄石市劳动就业局的公共就业服务能力和服务水平，实现更高效便捷的服务与响应，实现更精细的管理和更科学的决策，最终为民生保障和改善奠定坚实基础。									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/08/02</span> <span><i class="fa fa-eye"></i>1158</span> </div> </div> <div class="row oe-box-item"> <a href="~/home/product/咸宁国土不动产业务系统建设案例" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac1183bb6b6.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="~/home/product/咸宁国土不动产业务系统建设案例">咸宁国土不动产业务系统建设案例</a> </h1> 咸宁国土资源局主管全市土地、矿产等自然资源的规划、管理、保护、合理利用和测绘事业。为完成“服务型政府”和“智慧国土”建设的总体目标，咸宁市国土局拟定建设不动产登记管理平台。经过半年的研究、测试、选型，最终采用噢易云的整体解决方案。									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/08/02</span> <span><i class="fa fa-eye"></i>1099</span> </div> </div> <div class="row oe-box-item"> <a href="~/home/product/咸宁公积金业务管理系统虚拟化建设案例" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac119aa95b6.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="~/home/product/咸宁公积金业务管理系统虚拟化建设案例">咸宁公积金业务管理系统虚拟化建设案例</a> </h1>  遵照住建部“住房公积金综合服务平台系统”建设要求，打造一个全国地市级城市住房公积金管理中心最为先进的住房公积金管理系统。									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/08/02</span> <span><i class="fa fa-eye"></i>1055</span> </div> </div> <div class="row oe-box-item"> <a href="~/home/product/湖北荆州社保虚拟化数据中心建设案例" class="col-md-4 oe-pic-container" style="background-image: url('../../Images/ztxhkj/anli/57ac11afbf457.jpg');background-color:#F0F0F0;"></a> <div class="col-md-8 oe-content"><h1><a href="~/home/product/湖北荆州社保虚拟化数据中心建设案例">湖北荆州社保虚拟化数据中心建设案例</a> </h1>  本项目通过在6台服务器上部署噢易服务器虚拟化软件，构建易扩展、高可用的虚拟化IT架构，承载荆州市人力资源和社会保障信息中心的就业、社保、电子政务、触摸屏和社保卡五个应用系统。									</div> <div class="col-md-8 oe-box-bottom col-md-offset-4"> <span><i class="fa fa-calendar"></i>发布于：2016/07/28</span> <span><i class="fa fa-eye"></i>986</span> </div> </div> </div>
                    <nav> <ul class="pager"><!-- 共有文章 5 篇 --></ul> </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
